<div class="goodList_left" onscroll="left()">
    <ul>
        {if $hotGoods}
        <li type="2" roomId="d2"  class="active" >
            <a href="#d2">{$res.hot_name.value}</a>
        </li>
        {/if}
        {foreach  from=$room  item=val key=k name="foo"}
        <li  type="3" roomId="{$val.id}" {if !$hotGoods &&  $smarty.foreach.foo.index  == 0}class="active"{/if}>
        <a href="#{$val.id}">{$val.type_name}</a>
        </li>
        {/foreach}
    </ul>
</div>
<div class="good_container" onscroll="container()">
    {if $hotGoods}
    <div id="d2" class="louceng goodList_right active ">
        {foreach from=$hotGoods item=v}
        <div class="goodDetail">
            <div class="list_img">
                <a href="wx.php?app=goods&act=goodInfo&storeid={$mrstoreid}&gid={$v.id}&lang=29&auxiliary=0&source=0&cid=0"><img src="{$v.original_img}" alt="" data-id="{$v.id}" data-ids="0"/></a>
                {if $v.goods_storage<=0}
                <div class="soldOut">
                    <img src="{$STATIC_URL}/phone/images/soldOut.png" alt=""/>
                </div>
                {/if}
            </div>
            <div class="list_detail">
                <h2 style="width: 100%"  style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: .8rem;white-space: normal;">{$v.goods_name}</h2>
                <p style="font-size: .26rem;margin-top: .35rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;white-space: normal;height: .7rem;white-space: normal;width: 100%;color: #8e8e8e">{$v.goods_remark}</p>
                <div style="width: 100%">
                    <button class="s2 type" data-id="{$v.id}" data-ids="{$v.goods_id}">{$langdata.specification}</button>
                </div>
            </div>
            <div class="priceContainer">
                <div>
                    零售价:<span>{$symbol}{$v.market_price}</span>
                </div>
                <div>
                    折扣价:<span>{$symbol}{$v.shop_price}</span>
                </div>
                <div>
                    会员价:<span>{$symbol}{$v.member_price}起</span>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    {/if}
    {foreach  from=$goods  item=val key=k name="fo"}
    <div id="{$k}"  class="louceng goodList_right {if !$hotGoods && $smarty.foreach.fo.index  == 0}active{/if}">
        <div class="title">
            <b>_____</b>
            &nbsp;
            <span>{$val.0.room_name}</span>
            &nbsp;
            <b>______</b>
        </div>
        {foreach from=$val  item=v}
        <div class="goodDetail">
            <div class="list_img">
                <a href="wx.php?app=goods&act=goodInfo&storeid={$mrstoreid}&gid={$v.id}&lang=29&auxiliary=0&source=0&cid=0"><img src="{$v.basic.original_img}" alt="" data-id="{$v.id}" data-ids="0"/></a>
                {if $v.basic.goods_storage<=0}
                <div class="soldOut">
                    <img src="{$STATIC_URL}/phone/images/soldOut.png" alt=""/>
                </div>
                {/if}
            </div>
            <div class="list_detail">
                <h2 style="width: 100%"  style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: .8rem;white-space: normal;">{$v.basic.goods_name}</h2>
                <p style="font-size: .26rem;margin-top: .35rem;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;white-space: normal;height: .7rem;white-space: normal;width: 100%;color: #8e8e8e">{$v.basic.goods_remark}</p>
                <div style="width: 100%">
                    <button class="s2 type" data-id="{$v.basic.id}" data-ids="{$v.basic.goods_id}">{$langdata.specification}</button>
                </div>
            </div>
            <div class="priceContainer">
                <div>
                    零售价:<span>{$symbol}{$v.basic.market_price}</span>
                </div>
                <div>
                    折扣价:<span>{$symbol}{$v.basic.shop_price}</span>
                </div>
                <div>
                    会员价:<span>{$symbol}{$v.basic.member_price}起</span>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    {/foreach}
</div>
