<div class="dia-goods-title">
	<p>{$goodInfo.goods_name}</p>
</div>
<div class="spec-content" id="modal">
	<ul>
		{foreach from=$spec key=key item=item}
		<li class="spec-c-clist">
			<p class="spec-c-stitle">{$key}:</p>
			<div class="spec-content-list modalContent1">
				<ul>
					{foreach from=$item item=i}
					<li name="spec[]" data-id="{$i.item_id}" class="spec-c-slist " style="cursor: pointer;">{$i.item}</li>
					{/foreach}
				</ul>
			</div>
		</li>
		{/foreach}
	</ul>
</div>
<div class="spec-bottom">
	<div class="spec-b-l price">
		<p>￥{$goodInfo.shop_price}</p>
	</div>
	<span class="spec-stock">库存:{$goodInfo.goods_storage}</span>
	<div class="spec-b-r">
		<span class="add-cart" style="cursor: pointer;">加入购物车</span>
		<p class="spec-count-box">
			<span class="reduce count-button" style="cursor: pointer;">-</span>
			<span class="spec-num">1</span>
			<span class="add count-button" style="cursor: pointer;">+</span>
		</p>
	</div>
</div>
<div class="close-button" style="cursor: pointer;">
	<span>X</span>
</div>
<input name="old_pirce" value='{$goodInfo.shop_price}' type="hidden" id="old_price"/>
<input name="old_num" value='{$goodInfo.goods_storage}' type="hidden" id="old_num"/>
<input name="spec_arr" id="spec_arr" value="" type="hidden"/>
<input name="id" value='{$goodInfo.goods_id}' type="hidden" />
<input name="goods_price" value='{$goodInfo.shop_price}' type="hidden" />
<input name="spec_price" value="" type="hidden" id="spec_price"/>
<input name="spec_key" value="" type="hidden" id="spec_key"/>
<input name="order_from" value="2" type="hidden"/>
<input name="store_goods_id" value='{$goodInfo.goods_id}' type="hidden"/>
<input name="store_id" value='{$goodInfo.store_id}' type="hidden"/>
<input name="shorthand" value='{$lang}' type="hidden"/>
<input name="count"  value="" type="hidden">
<input name="shipping_price" value='{$goodInfo.shipping_price}' type="hidden">
<input name="store_arr" value='{$store_arr}' type="hidden">

