<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>支付方式</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="{$STATIC_URL}/wx/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css" />
    <link href="{$STATIC_URL}/wx/base.css?_t={$web_redis_time}" rel="stylesheet" type="text/css" />
    <link href="{$STATIC_URL}/wx/rechargeAmount/payment/payment.css?_t={$web_redis_time}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="rechargerecord">
    <div class="ss-nav">
        <a href="javascript:window.history.back(-1);" class="ss-nav-back backimg"></a>
        <div class="ss-nav-title">选择支付方式</div>
    </div>
    <div class="height90" style="height:0.9rem"></div>
    <!--选择支付-->
    <div class="paymentData">
        <p class="paysuccess">订单提交成功，请尽快付款！</p>
        <div class="paymentMain">
            <p class="clearfix paymoney">
                <span class="fl">应付金额</span>
                <a href="##" class="fr"><span>￥{$orderInfo.order_amount}</span>元</a>
            </p>
            <!-- <p class="tips">请您在24小时内完成支付，否则订单会被自动消失。</p>-->
        </div>
    </div>

    <ul class="payWay">
        <!--有余额-->
        {if $display!=1}
        {if $orderInfo.order_amount !=0}
        <li class="clearfix" type="1" style="cursor: pointer">
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/balance.png" alt="" class="fl"/>
            <p class="fl">余额<span>（当前余额：￥{$userData.amount}）</span></p>
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/selected1.png" alt="" class="fr paywayselect"/>
        </li>
        <li class="clearfix" type="2" style="cursor: pointer">
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/weixin.png" alt="" class="fl"/>
            <p class="fl">微信支付</p>
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/selected1.png" alt="" class="fr paywayselect"/>
        </li>
        {else}
        <li class="clearfix" type="3" style="cursor: pointer">
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/weixin.png" alt="" class="fl"/>
            <p class="fl">免费兑换</p>
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/selected1.png" alt="" class="fr paywayselect"/>
        </li>
        {/if}
        {else}
        <!--没有余额-->
        {if $orderInfo.order_amount !=0}
        <li class="clearfix" type="2" style="cursor: pointer">
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/weixin.png" alt="" class="fl"/>
            <p class="fl">微信支付</p>
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/selected1.png" alt="" class="fr paywayselect"/>
        </li>
        <li class="clearfix" type="1" style="cursor: pointer">
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/balance1.png" alt="" class="fl noenough"/>
            <div class="fl">
                <p class='blance'>余额（余额：￥{$userData.amount}）</p>
                <p class='blance'>余额不足</p>
            </div>
        </li>
        {else}
        <li class="clearfix" type="3" style="cursor: pointer">
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/weixin.png" alt="" class="fl"/>
            <p class="fl">免费兑换</p>
            <img src="{$STATIC_URL}/wx/rechargeAmount/payment/images/selected1.png" alt="" class="fr paywayselect"/>
        </li>
        {/if}
        {/if}
    </ul>

    <div class="goPay" id="pay" style="cursor:pointer;">
        <a href="##" >去支付</a>
    </div>
</div>
<input type="hidden" name="order_id" value="{$order_id}">
<input type="hidden" name="lang" value="{$lang}">
<input type="hidden" name="storeid" value="{$storeid}">
<input type="hidden" name="store_id" value="{$store_id}">
<input type="hidden" name="auxiliary" value="{$auxiliary}">
<script src="{$STATIC_URL}/wx/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/wx/common.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/front/plus/layer/layer.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/wx/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/wx/rechargeAmount/payment/payment.js?_t={$web_redis_time}>" type="text/javascript"></script>
</body>
</html>
