<!DOCTYPE html>
<html style="background-color: #ffffff;">

<head>
    <meta charset="UTF-8">
    <title>充值中心</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css" />
    <link href="{$STATIC_URL}/phone/css/style.css" rel="stylesheet" type="text/css" />
    <link href="{$STATIC_URL}/wx/rechargeAmount/index/rechargeAmount.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="rechargerecord">
    <div class="ss-nav">
        <a href="javascript:window.history.back(-1);" class="ss-nav-back backimg"></a>
        <div class="ss-nav-title">充值中心</div>
        <a href="wx.php?app=rechargeAmount&act=amountLog" class="record">历史充值</a>
    </div>
    <div class="height123"></div>
    <!--充值中心-->
    <div class="rechargeData clearfix">
    
          <img src="{$userData.headimgurl}" alt="" class="fl"/>
        <div class="fl rechargeInfo">
            <p class="title">{$userData.username}</p>
            <div class="second">
                <p  class="firstnum">余额:<span>￥{$userData.amount}</span></p>
                <p>积分抵扣比例:<span>{$userData.percent}%</span></p>
            </div>
            <p>累计充值：<span>￥{$userData.accumulativeRecharge}</span></p>
        </div>    
    </div>
    <div class="rechargemoney">
        <div class="clearfix rechargeTab">
            <a style="cursor: pointer;"><span class="active">选择充值金额</span></a>
            <a style="cursor: pointer;"><span>使用充值券</span></a>
        </div>
        <div class="rechargeList">
            <!--充值金额-->
         <div class="rechargeItem active">
        <ul>
            {foreach from=$ruleData item=item}
            <li class="clearfix" data-id="{$item.id}" style="cursor: pointer;">
                <span class="fl">￥{$item.c_money}</span>
                <p class="fl">送￥{$item.s_money}；送{$item.integral}积分，获得{$item.percent}%积分抵扣比例。</p>
                <img src="{$STATIC_URL}/phone/images/selected.png" alt="" />
            </li>
            {/foreach}
        </ul>
             <div class="confirmpay clearfix">
                 <a href="##" id="point" style="cursor: pointer;" class="recharge1 fl">微信充值</a>
                 <a href="##" id="cash" class="recharge1 fl" style="background-color: #FFFFFF;color: #bea58c;cursor: pointer;">线下支付</a>
             </div>
         </div>
            <!--充值券-->
            <div class="rechargeItem">
                <input type="text" name="sn" class="snnn" placeholder="请输入充值券码" style="padding-left: .3rem;cursor: pointer" />
                <div class="userule">
                    使用规则：
                    <p>1.请仔细核对充值劵号码；</p>
                    <p>2.此活动解释权归艾美瑞平台所有；</p>
                </div>
                <div class="confirmpay clearfix" id="recharge-coupon" style="cursor: pointer">
                    <a class="recharge1 fl" style="width: 100%;">充值</a>

                </div>
            </div>
    </div>


    <div class="height110"></div>
</div>
<input type="hidden" value="{$userId}" name="userId">
<input type="hidden" value="{$storeId}" name="storeId">
<script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/front/plus/layer/layer.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
{literal}
<script type="text/javascript">
    $('.snnn').bind('focus',function(){
        var u = navigator.userAgent;
        var IOSflag;
        var myFunction;
        var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        if (true) {
            // alert(909)
            window.scrollTo({ top: 0, left: 0, behavior: "smooth" })
            console.log(2222)
            $(document).on('focusin', function () {
                IOSflag = true;
                clearTimeout(myFunction);
            });

            $(document).on('focusout', function () {
                IOSflag = false;
                if (!IOSflag) {
                    myFunction = setTimeout(function () {
                        window.scrollTo({ top: 0, left: 0, behavior: "smooth" })//重点  =======当键盘收起的时候让页面回到原始位置(这里的top可以根据你们个人的需求改变，并不一定要回到页面顶部)

                    }, 200);
                } else {
                    return
                }
            });
        } else {

        }
    })
    $('.snnn').bind('blur',function(){
        var u = navigator.userAgent;
        var IOSflag;
        var myFunction;
        var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        if (true) {
            window.scrollTo({ top: 0, left: 0, behavior: "smooth" })
            // alert(909)
            console.log(2222)
            $(document).on('focusin', function () {
                IOSflag = true;
                clearTimeout(myFunction);
            });

            $(document).on('focusout', function () {
                IOSflag = false;
                if (!IOSflag) {
                    myFunction = setTimeout(function () {
                        window.scrollTo({ top: 0, left: 0, behavior: "smooth" })//重点  =======当键盘收起的时候让页面回到原始位置(这里的top可以根据你们个人的需求改变，并不一定要回到页面顶部)

                    }, 200);
                } else {
                    return
                }
            });
        } else {

        }
    })
    // plus.webview.currentWebview().setStyle({softinputMode: "adjustResize"});
    //选择充值金额
    $(document).on('click','.rechargemoney li',function(){
//    $('.rechargemoney li').on('click',function(){
        $(this).css({'border':'1px solid #bea58c','color':'#bea58c'}).children('p').css({'border-left':'1px solid #bea58c'})
        $(this).children('img').show().parent().siblings('li').children('img').hide().parent().css({'border':'1px solid #919191','color':'#919191'}).children('p').css({'border-left':'1px solid #919191'})
    });
    //点击切换
    $(document).on('click','.rechargemoney .rechargeTab a',function(){
//    $(".rechargemoney .rechargeTab a").click(function() {
        $(this).children('span').addClass("active").parent().siblings('a').children('span').removeClass("active");
        $(this).parent().next().children('.rechargeItem').eq($(this).index()).show().siblings().hide()
    });
</script>
{/literal}
{literal}
<script type="text/javascript">
    $(function(){
        var active=false;
        $(document).on('click','#point',function(){
//        $('#point').click(function(){
            if(active){
                layer.alert('您有尚未付款的充值记录，请勿重复提交', {
                    icon: 0,
                    btn: false,
                    title: false,
                    closeBtn: 0,
                    time: 2000,
                    skin: 'alt-layer'
                });
                return false;
            }
            active = true;
            var rule_id=$('.rechargemoney li').children('img:visible').parent().attr('data-id');
            var userId=$('input[name=userId]').val();
            var storeId=$('input[name=storeId]').val();
            $.ajax({
                url: 'wx.php?app=rechargeAmount&act=amountOrder',
                type: 'POST',
                data: {'rule_id':rule_id,'userId':userId,'storeId':storeId},
                async: false,
                error: function() {
                    active = false;
                    alert('error');
                },
                success: function(data) {
                    var data = eval("(" + data + ")");
                    if (data.status == 1) {
                        layer.alert(data.message, {
                            icon: 6,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                        setTimeout(function () {
                            window.location.href = data.info.url;
                        }, 1000);
                    } else {
                        active = false;
                        layer.alert(data.message,{
                            icon: 0,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                    }
                }
            })
        })
    })
</script>
<script type="text/javascript">
    $(function(){
        var active=false;
        $(document).on('click','#cash',function(){
//        $('#cash').click(function(){
            if(active){
                layer.alert('您有尚未审核的充值记录，请勿重复提交', {
                    icon: 0,
                    btn: false,
                    title: false,
                    closeBtn: 0,
                    time: 2000,
                    skin: 'alt-layer'
                });
                return false;
            }
            active = true;
            var rule_id=$('.rechargemoney li').children('img:visible').parent().attr('data-id');
            var userId=$('input[name=userId]').val();
            var storeId=$('input[name=storeId]').val();
            var ordersn=$('input[name=ordersn]').val();
            $.ajax({
                url: 'wx.php?app=rechargeAmount&act=cashPayment',
                type: 'POST',
                data: {'rule_id':rule_id,'userId':userId,'storeId':storeId,'ordersn':ordersn},
                async: false,
                error: function() {
                    active = false;
                    alert('error');
                },
                success: function(data) {
                    var data = eval("(" + data + ")");
                    if (data.status == 1) {
                        layer.alert(data.message, {
                            icon: 6,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                        setTimeout(function () {
                            window.location.href = data.info.url;
                        }, 1000);
                    } else {
                        active = false;
                        layer.alert(data.message,{
                            icon: 0,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                    }
                }
            })
        });

        // 充值券充值
        $(document).on('click', '#recharge-coupon', function () {
            var sn = $('input[name=sn]').val();
            var url = 'wx.php?app=rechargeAmount&act=rechargeCouponPay';

            if (!sn) {
                layer.alert('券码不能为空',{
                    icon: 0,
                    btn: false,
                    title: false,
                    closeBtn: 0,
                    time: 2000,
                    skin: 'alt-layer'
                });
                return false;
            }

            $.ajax({
                url: url,
                type: 'POST',
                data: {'sn':sn},
                dataType: 'json',
                success: function (res) {
                    if (res.status == 1) {
                        layer.alert(res.message, {
                            icon: 6,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {
                        layer.alert(res.message,{
                            icon: 0,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                    }
                }
            });
        });

    })
</script>
{/literal}
</body>
</html>
