<form class="form-horizontal" id="form1"  action="?app=balanceRechargeCoupon&act=doAdd">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 金额 </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="金额大于0"  name="money"  >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 条数 </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="每次可添加1～99条"  name="times"  >
        </div>
    </div>
</form>