<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->

        <!-- Main content -->
        <section class="content index">
            <div class="row indexbox2">
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <form class="" id="form-goodsadd">
                            <div class="nav-tabs-custom tabs-new">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#basic" data-toggle="tab">余额充值统计</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="active tab-pane" id="basic">
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3 class="mt60 j-pic2">余额充值统计：
                                                        <span type="submit" class="btn btn-primary btn-sm ch-btn active" name="month" cla="month">本月</span>
                                                        <span type="submit" class="btn btn-primary btn-sm ch-btn" name="year" cla="year">本年</span>
                                                        <span type="submit" class="btn btn-primary btn-sm ch-btn" cla="setting">自定义</span>
                                                        <span id="total-amount">金额：{$monthTotalAmount['total_amount']}</span>
                                                    </h3>
                                                    <div class="clearfix j-pic2-sousuo" style="display: none">
                                                        <form class="form-inline  col-md-8 col-md-offset-1">
                                                            <input type="hidden" name="setting" value="setting">
                                                            <div class="form-group form-group-sm form-mar">
                                                                <small class="control-label">开始时间：</small>
                                                                <input type="text" class="form-control" id="datepicker1" name="start_time" value="{$startTime}" readonly>
                                                            </div>
                                                            <div class="form-group form-group-sm form-mar">
                                                                <small class="control-label">结束时间：</small>
                                                                <input type="text" class="form-control" id="datepicker2" name="end_time" value="{$endTime}" readonly>
                                                            </div>
                                                            <div class="form-group form-group-sm form-mar">
                                                                <a class="btn btn-primary btn-sm" style="color: #fff!important;" id="search2">
                                                                    搜索 <i class="fa fa-search"></i>
                                                                </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!--<input type="text" id="coupon-data" value="{$addCoupon}">-->
                                                    <!--{var_dump($addCoupon)}-->
                                                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                                                    <div id="main2" style="width: 1000px;height:400px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.nav-tabs-custom -->
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- ./wrapper -->
{include file="public/footer.html"}
<script>

    //清空浏览器历史记录
    pushHistory();
    //监听浏览器后退事件
    window.addEventListener("popstate",
        function(e) {
            //转向指定的URL
            location.href=document.referrer; document.referrer;
        }, false);
    //清空浏览器历史记录
    function pushHistory() {
        var url = "#";
        var state = {
            title: "title",
            url: "#"
        };
        window.history.pushState(state, "title", "#");
    }

    $('#datepicker1').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
        clearBtn: true
    });
    $('#datepicker2').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd',
        clearBtn: true
    });

    var myChart3 = echarts.init(document.getElementById('main2'));
    // 指定图表的配置项和数据
    option3 = {
        title : {
            text: ' ',
            subtext: '',
            x:'center'
        },
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : {$xAxis},
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value',
                minInterval : 1,
            }
        ],
        series : [
            {
                name:'新增数',
                type:'bar',
                barWidth: '40%',
                data:{$num}
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option3);

    $('#basic .j-pic2 span').click(function() {

        if( $(this).index() == 2 ){
            $('.j-pic2-sousuo').show();
        } else {
            $('.j-pic2-sousuo').hide();
        }
        $('.indexbox2 .j-pic2 span').removeClass('active');
        $(this).addClass('active');
        var cla = $(this).attr('cla');

        if( $(this).index() != 2 ) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "?app=balanceRechargeCoupon&act=count&opDay=" + cla,
                success: function (obj) {
                    // console.log(obj)
                    var __info = obj.info.topInfo;

                    if (obj.info.totalAmount == null) {
                        obj.info.totalAmount = 0;
                    }
                    $('#total-amount').text('金额：' + obj.info.totalAmount);

                    // 指定图表的配置项和数据
                    option3 = {
                        title : {
                            text: ' ',
                            subtext: '',
                            x:'center'
                        },
                        color: ['#3398DB'],
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type : 'category',
                                data : __info.xAxis,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value',
                                minInterval : 1,
                            }
                        ],
                        series : [
                            {
                                name:'用户量',
                                type:'bar',
                                barWidth: '40%',
                                data:__info.num
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart3.setOption(option3);
                }
            });
        }
    });

    $('#search2').click(function(){
        var startTime = $('#datepicker1').val();
        var endTime   = $('#datepicker2').val();
        if( startTime > endTime ){
            alert('开始时间不能大于结束时间！');
            return false;
        }
        if( !startTime || !endTime ){
            alert('开始时间或结束时间不能为空！');
            return false;
        }
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "?app=balanceRechargeCoupon&act=count&opDay=setting&start_time="+startTime+"&end_time="+endTime,
            success: function (obj) {
                // console.log(obj)
                var __info = obj.info.topInfo;
                if (obj.info.totalAmount == null) {
                    obj.info.totalAmount = 0;
                }
                $('#total-amount').text('金额：' + obj.info.totalAmount);
                // 指定图表的配置项和数据
                option3 = {
                    title : {
                        text: ' ',
                        subtext: '',
                        x:'center'
                    },
                    color: ['#3398DB'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : __info.xAxis,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            minInterval : 1,
                        }
                    ],
                    series : [
                        {
                            name:'用户量',
                            type:'bar',
                            barWidth: '40%',
                            data:__info.num
                        }
                    ]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart3.setOption(option3);
            }
        });
    });
</script>
</body>
</html>
