<!DOCTYPE html>
<html>
<head>

    {include file="public/header.html"}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                编辑活动
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">网站管理</li>
                <li class="active">编辑活动</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" data-type="ajax" method="post" id="form-add">
                            <div class="box-body">
                                <input type="hidden" name="id" value="{$info.id}">
                                <div class="form-group" >
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->activity_name}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="name" value="{$info.name}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span>{$language2->start_time}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control datepicker inblock" name="begin_time" autocomplete="off" value="{$info.begin_time}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language2->end_time}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control datepicker inblock" name="end_time" autocomplete="off" value="{$info.end_time}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->activity_desc}：</label>
                                    <div class="col-sm-7 col-md-6 col-lg-5">
                                        <div class="editor">
                                            <textarea name="description" style="width: 700px;height: 250px;">{$info.description}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="admin.php?app=activity&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                                        <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> {$language2->save}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}

</div>

<script type="text/javascript">
    $(function(){
        //Date picker
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
        });
    });
</script>
</body>
</html>


