<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
        <style>

        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            {if $lang_id ==1}
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Distribution and presentation
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="store.php?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Distribution management</li>
                        <li class="active">Distribution and presentation</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding">
                                        <input type='hidden' name='app' value='fxcash'>
                                        <input type='hidden' name='act' value='cashlist'>
                                        <input type="hidden" name = "lang_id" value="{$lang_id}">

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">Real name：</small>
                                            <input type="text" class="form-control" name="real_name" value="{$real_name}">
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">Present status：</small>
                                            <select class="form-control" name="status"  >
                                                <option value="0" >--Please choose--</option>
                                                <option value="1" {if $status ==1}selected{/if} >--Being dealt with--</option>
                                                <option value="2" {if $status ==2}selected{/if} >--Bring up success--</option>
                                                <option value="3" {if $status ==3}selected{/if} >--Cash in failure--</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                Search <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="col-sm-2  col-md-1 no-padding">
                                    </div>
                                </div>

                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding ">
                                        <table id="example-advanced" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Serial number</th>
                                                    <th>Member ID</th>
                                                    <th>Real name</th>
                                                    <th>Phone number</th>
                                                    <th>Account opening bank</th>
                                                    <th>Bank account</th>
                                                    <th>Application amount</th>
                                                    <th>State</th>
                                                    <th>Application time</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {foreach from=$res item=v}
                                                <tr>
                                                    <td>{$v.sort_id}</td>
                                                    <td>{$v.user_id}</td>
                                                    <td>
                                                        {$v.real_name}
                                                    </td>

                                                    <td>
                                                        {$v.telephone}
                                                    </td>
                                                    <td>
                                                        {$v.bank_name}
                                                    </td>
                                                    <td>
                                                        {$v.bank_account}
                                                    </td>
                                                    <td>
                                                        {$symbol}{$v.apply_money}
                                                    </td>
                                                    <td>
                                                        {if  $v.status == 1} <span class="bg-no">Being dealt with</span>
                                                        {elseif  $v.status == 2 }  <span class="bg-had">Bring up success</span>
                                                        {else}  <span class="bg-fail">Cash in failure</span>
                                                        {/if}

                                                    </td>
                                                    <td>
                                                        {$v.add_time|date_format:"%Y-%m-%d"}
                                                    </td>
                                                    <td>
                                                        {if  $v.status == 1}
                                                        <a href="?app=fxcash&act=cash&lang_id={$lang_id}&id={$v.id}&p={$p}&store_id={$v.store_id}" data-toggle="tooltip" title="" class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;"  >Processing and presentation</a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"   onclick="notcash('{$v.id}');"  > Refusing to present </a>
                                                        {/if}
                                                    </td>
                                                </tr>

                                                {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="box-footer clearfix">
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
            {else}
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        分销提现
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="store.php?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li class="active">分销管理</li>
                        <li class="active">分销提现</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding">
                                        <input type='hidden' name='app' value='fxcash'>
                                        <input type='hidden' name='act' value='cashlist'>
                                        <input type="hidden" name = "lang_id" value="{$lang_id}">

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">真实姓名：</small>
                                            <input type="text" class="form-control" name="real_name" value="{$real_name}">
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">提现状态：</small>
                                            <select class="form-control" name="status"  >
                                                <option value="0" >--请选择--</option>
                                                <option value="1" {if $status ==1}selected{/if} >--正在处理--</option>
                                                <option value="2" {if $status ==2}selected{/if} >--提现成功--</option>
                                                <option value="3" {if $status ==3}selected{/if} >--提现失败--</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">提现来源：</small>
                                            <select class="form-control w160 j_select j-source" name="source">
                                                <option value="0">请选择</option>
                                                {foreach from=$sourceList  item=item key=key}
                                                <option value='{$key}'  {if $key == $source} selected {/if}  >{$item}</option>
                                                {/foreach}
                                            </select>
                                            <input type="hidden" class="j-source-v" value="{$source}">
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                搜索 <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="col-sm-2  col-md-1 no-padding">
                                    </div>
                                </div>

                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding ">
                                        <table id="example-advanced" class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>会员id</th>
                                                    <th>真实姓名</th>
                                                    <th>手机号码</th>
                                                    <th>开户银行</th>
                                                    <th>银行帐号</th>
                                                    <th>申请金额</th>
                                                    <th>状态</th>
                                                    <th>申请时间</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {foreach from=$res item=v}
                                                <tr>
                                                    <td>{$v.sort_id}</td>
                                                    <td>{$v.user_id}</td>
                                                    <td>
                                                        {$v.real_name}
                                                    </td>

                                                    <td>
                                                        {$v.telephone}
                                                    </td>
                                                    <td>
                                                        {$v.bank_name}
                                                    </td>
                                                    <td>
                                                        {$v.bank_account}
                                                    </td>
                                                    <td>
                                                        {$symbol}{$v.apply_money}
                                                    </td>
                                                    <td>
                                                        {if  $v.status == 1} <span class="bg-no">正在处理</span>
                                                        {elseif  $v.status == 2 }  <span class="bg-had">提现成功</span>
                                                        {else}  <span class="bg-fail">提现失败</span>
                                                        {/if}

                                                    </td>
                                                    <td>
                                                        {$v.add_time|date_format:"%Y-%m-%d"}
                                                    </td>
                                                    <td>
                                                        {if  $v.status == 1}
                                                        <a href="?app=fxcash&act=cash&lang_id={$lang_id}&id={$v.id}&p={$p}&store_id={$v.store_id}" data-toggle="tooltip" title="" class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;"  >处理提现</a>
                                                        <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"   onclick="notcash('{$v.id}');"  > 拒绝提现 </a>
                                                        {/if}
                                                    </td>
                                                </tr>

                                                {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="box-footer clearfix">
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}   
            {/if}
        </div>


        <script type="text/javascript">

            function  notcash(id) {

                var url = '?app=fxcash&act=ajaxNotCash&id=' + id;
                $.get(url, function(res) {

                    if (res.status) {
                        window.location.reload();
                    } else {
                        alert('网络错误!');
                    }

                }, 'json');
            }


        </script>


    </body>
</html>
