<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{$langdata.Distribution_code}</title><!--个人资料-->
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="persondata-wrap">
            <div class="ss-nav">
                <a href="wx.php?app=default&act=index&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="ss-nav-back"></a>
                <div class="ss-nav-title">{$langdata.Apply_Become}</div><!--申请成为分销人员-->
            </div>
            <div class="height90" style="height:0.9rem"></div>
            <div class="persondata-list mt20">
                <form  id="myform" >
                    <ul class="my-section">

                        <!--<li>-->
                        <!--<a href="##" class="clearfix">-->
                        <!--<span class="lab">基本信息</span>-->
                        <!--</a>-->
                        <!--</li>-->

                        <li>
                            <a href="javascript:;" class="clearfix">
                                <span class="lab">{$langdata.Apply_name}:</span><!--真实姓名-->
                                <span class="mr4">  <input type="text" name="realname" value="{$info['real_name']}" style="text-align: left;" /></span>

                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="clearfix">
                                <span class="lab">{$langdata.Apply_phone}:</span><!--手机号码-->
                                <span class="mr4"><input type="text" name="telephone" value="{$info['phone']}" style="text-align: left;"/></span>

                            </a>
                        </li>

                        <!--<li>-->
                        <!--<a href="javascript:;" class="clearfix">-->
                        <!--<span class="lab">{$langdata.Apply_Situation}:</span>&lt;!&ndash;分销情况&ndash;&gt;-->
                        <!--<span class="fr mr4">-->
                        <!--<input type="radio" name="is_fx" value="1" checked/>{$langdata.Apply_distributor}&lt;!&ndash;我想成为分销商&ndash;&gt;-->
                        <!--<input type="radio" name="is_fx" value="2"/>{$langdata.Apply_Recommend}&lt;!&ndash;其他人推荐&ndash;&gt;-->
                        <!--</span>-->
                        <!--</a>-->
                        <!--</li>-->

                        <li  id="fxcode">
                            <a href="javascript:;" class="clearfix">
                                <span class="lab">{$langdata.Apply_Distributioncode}:</span><!--推荐人分销码-->
                                <span class=" mr4"> <input type="text" name="fx_code" value="{$info['parent_code']}" style="text-align: left;"/> </span>
                            </a>
                        </li>
                        <!--<li>-->
                        <!--<a href="##" class="clearfix">-->
                        <!--<span class="lab">账户信息</span>-->
                        <!--</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" class="clearfix">
                                <span class="lab">{$langdata.Apply_Bank}:</span><!--开户银行-->
                                <span class=" mr4"> <input type="text" name="bank_name" value="{$info['bank_name']}" style="position: relative;top: -.05rem;text-align: left;"/> </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="clearfix">
                                <span class="lab">{$langdata.Apply_accounts}:</span><!--银行帐号-->
                                <span class=" mr4"> <input type="text" name="bank_account" value="{$info['bank_account']}" style="position: relative;top: -.05rem;text-align: left;"/> </span>
                            </a>
                        </li>
                        <input type="hidden" name="is_have"  value="{$info['id']}"/>
                        <input type="hidden" name="lang"  value="{$lang}"/>
                        <input type="hidden" name="storeid"  value="{$storeid}"/>
                        <input type="hidden" name="auxiliary"  value="{$auxiliary}"/>
                        <input type="hidden" name="latlon" value="{$latlon}">
                    </ul>
                </form>
                <button class="btn bg-red btn-big mt200 " id="fxuser-btn" >{$langdata.Apply_Preservation}</button><!--保存-->
                <a  href="wx.php?app=userCenter&act=myCenter&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}" ><button class="btn btn-big"  style="margin-top: .5rem;" >{$langdata.Apply_Cancel}</button></a><!--取消-->
            </div>
        </div>
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
        <script type="text/javascript" >
            $('#fxuser-btn').click(function () {
                var realname = $('input[name="realname"]').val();
                var telephone = $.trim($('input[name="telephone"]').val());
                var fx_code = $('input[name="fx_code"]').val();
                var bank_name = $('input[name="bank_name"]').val();
                var bank_account = $('input[name="bank_account"]').val();
                // var is_fx = $('input[name="is_fx"]:checked').val();
                var lang = $('input[name="lang"]').val();
                var auxiliary = $('input[name="auxiliary"]').val();
                var storeid = $('input[name="storeid"]').val();
                if (realname.length == 0) {
                    layer.open({
                        shade: false
                        , content: '<i class="ico ico-error"></i> ' + '真实姓名必填！'
                        , className: 'layer-tip'
                        , time: 2
                    });
                    return  false;
                }
                if (telephone.length == 0) {
                    layer.open({
                        shade: false
                        , content: '<i class="ico ico-error"></i> ' + '电话号码必填！'
                        , className: 'layer-tip'
                        , time: 2
                    });
                    return  false;
                }
                if (fx_code.length == 0) {
                    layer.open({
                        shade: false
                        , content: '<i class="ico ico-error"></i> ' + '推荐人分销码必填！'
                        , className: 'layer-tip'
                        , time: 2
                    });
                    return  false;
                }
                if (bank_name.length == 0) {
                    layer.open({
                        shade: false
                        , content: '<i class="ico ico-error"></i> ' + '开户银行必填！'
                        , className: 'layer-tip'
                        , time: 2
                    });
                    return  false;
                }
                if (bank_account.length == 0) {
                    layer.open({
                        shade: false
                        , content: '<i class="ico ico-error"></i> ' + '银行帐号必填！'
                        , className: 'layer-tip'
                        , time: 2
                    });
                    return  false;
                }
                var data = $("#myform").serialize();
                var url = 'wx.php?app=fxUser&act=doAction';
                // $.post(url, data, function (res) {
                //     console.log(res);
                //     var status = res.status;
                //     console.log(status);
                //     var message = res.message;
                //     console.log(message);
                //     return false;
                //     if (status == 1) {
                //         layer.open({
                //             shade: false
                //             , content: '<i class="ico ico-correct"></i> ' + message
                //             , className: 'layer-tip'
                //             , time: 2
                //         });
                //
                //         setTimeout(function () {
                //             window.location.href = res.info.url;
                //         }, 500);
                //
                //     } else {
                //         layer.open({
                //             shade: false
                //             , content: '<i class="ico ico-error"></i> ' + message
                //             , className: 'layer-tip'
                //             , time: 2
                //         });
                //     }
                // }, 'json');
                $.ajax({
                    url:url,
                    data:data,
                    type:"POST",
                    dataType:"json",
                    success:function (res) {
                        console.log(res);
                        if (res.status == 1) {
                            layer.open({
                                shade: false
                                , content: '<i class="ico ico-correct"></i> ' + res.message
                                , className: 'layer-tip'
                                , time: 2
                            });

                            setTimeout(function () {
                                window.location.href = res.info.url;
                            }, 500);

                        } else {
                            layer.open({
                                shade: false
                                , content: '<i class="ico ico-error"></i> ' + res.message
                                , className: 'layer-tip'
                                , time: 2
                            });
                        }
                    }
                })
            });
        </script>
    </body>
</html>