<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Payment_center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        {include file="public/daohang.html"}
        <!-- header end -->
        <!-- navs-box -->
        <!-- navs-box end -->
        <div class="border"></div>

        <div class="orderpay">
            <div class="container">
                <div class="orderpay-main alipays">
                    <h3>{$langdata.Payment_WeChat}</h3>
                    <div class="orderpay-style">
                        <div class="orderpay-wechat">
                            <img src="http://www.711home.net/index.php?app=pointNative&act=qrcode&data={$url2}" class="pay-code" width="109" height="109">
                        </div>
                        <input hidden="hidden" name="out_trade_no" id="out_trade_no" value="{$order_sn}" />
                        <!--<input hidden="hidden" name="out_trade_no" id="out_trade_no" value="201801041913186245" />-->
                        <input hidden="hidden" name="storeid" id="storeid" value="{$storeid}" />
                        <input hidden="hidden" name="lang" id="lang" value="{$lang}" />

                    </div>
                </div>
            </div>
        </div>
        {include file="public/footer.html"}
        {literal}
        <script type="text/javascript">
            // 检测是否支付成功
            $(document).ready(function () {
                setInterval("ajaxStatus()", 3000);
                //ajaxStatus();
            });

            function ajaxStatus() {
                var orderno = $("#out_trade_no").val();
                var storeid = $("#storeid").val();
                var lang = $("#lang").val();

                if (orderno != 0) {
                    $.ajax({
                        url: "?app=pointNative&act=checkStatus",
                        type: "POST",
                        dataType: "json",
                        data: {
                            'out_trade_no': orderno,
                            'storeid': storeid,
                            'lang': lang

                        },
                        success: function (data) {
                            /*var data = eval("(" + data + ")");*/

                            if (data.status == 1) { //订单状态为1表示支付成功
                                layer.alert(data.message, {
                                    icon: 6,
                                    btn: false,
                                    title: false,
                                    closeBtn: 0,
                                    time: 2000,
                                    skin: 'alt-layer'
                                });
                                setTimeout(function () {
                                    window.location.href = data.url;
                                }, 1000);

                                // window.location.href = "wxScanSuccessUrl.action"; //页面跳转
                            }
                            //                    }else{
                            //                        layer.alert('支付失败，请到个人订单重新支付！', {
                            //                            icon: 5,
                            //                            btn:false,
                            //                            title:false,
                            //                            closeBtn: 0,
                            //                            time:2000,
                            //                            skin:'alt-layer'
                            //                        });
                            //                        setTimeout(function() {
                            //                            window.location.href = "?app=userCenter&act=myOrder&storeid="+storeid+"&lang="+lang;
                            //                        }, 1000);
                            //                    }
                        }
                    });
                }
            }
        </script>
        {/literal}
    </body>
</html>