<form class="form-horizontal "  id = "form1" action="?app=account&act=doedit" >

    <input type="hidden"  name="id"  value="{$data.id}" >
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> {$language1->admin_name} </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control" name="account_name" value="{$data.account_name}"  >
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>{$language1->password}</label>
        <div class="col-sm-7 col-md-7">
            <input type="password" class="form-control"  name="password"  value="******"  >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>{$language2->phone} </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  name="phone"  value="{$data.phone}" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"> {$language2->email}  </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  name="email"  value="{$data.email}" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>{$language1->role}</label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control" name="role_id" >
                <option value="" > --{$language2->please_select}-- </option>
                {foreach  from=$role_list  item=val}
                <option value="{$val.id}" {if $val.id == $data.role_id } selected {/if}  >{$val.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
</form>