<!DOCTYPE html>
<html>
    <head>

        {include file="public/header.html"}

    </head>
    <body class="hold-transition skin-blue sidebar-mini">

        <div class="wrapper">

            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {include file="public/headtab.html"}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->admin_list}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="##"><i class="fa fa-dashboard"></i> {$language1->system_settings}</a></li>
                        <li class="active"> {$language1->admin_list}</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding" action="">

                                        <input type='hidden' name='app' value='account'>
                                        <input type='hidden' name='act' value='accountList'>
                                        <input type="hidden" name = "delAll" value="dele">
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label sm" style="width: 80px;" >{$language1->admin_name}：</small>
                                            <input type="text" class="form-control"    name="accountname"   value="{$accountname}"  >
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label sm" style="width: 80px;" >{$language2->phone}：</small>
                                            <input type="text" class="form-control"    name="phome"   value="{$phone}"  >
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label sm" style="width: 80px;" >{$language2->email}：</small>
                                            <input type="text" class="form-control"    name="email"   value="{$email}"  >
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                {$language2->search} <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>

                                    <div class="col-sm-2  col-md-1 no-padding">
                                        <a class="btn btn-primary pull-right btn-sm" href="javascript:;" id="add_account"  role="button"><i class="fa fa-plus"></i> {$language1->add_admin}</a>
                                    </div>

                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>

                                                    <th><input type="checkbox" name="" id="all"/></th>

                                                    <th>{$language2->numb}</th>
                                                    <th>{$language1->admin_name}</th>
                                                    <th>{$language2->phone}</th>
                                                    <th>{$language2->email}</th>
                                                    <th>{$language2->time}</th>
                                                    <th>{$language2->control}</th>
                                                </tr>
                                            </thead>

                                            {foreach  from=$list  item=val }
                                            <tr>

                                                <td><input type="checkbox" name="check-name" value="{$val.id}"   {if  $val.account_name == 'admin' } disabled="disabled"   {/if} /></td>
                                                <td>{$val.sort_id}</td>
                                                <td>{$val.account_name}</td>
                                                <td>{$val.phone}</td>
                                                <td>{$val.email}</td>
                                                <td>{$val.add_time|date_format:"%Y-%m-%e"}</td>
                                                <td>
                                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;" onclick="bianj({$val.id});" >{$language2->edit}</a>
                                                    {if  $val.account_name != 'admin' }
                                                    <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"  onclick="shanchu({$val.id});">{$language2->drop}
                                                     </a>
                                                    {/if}
                                                </td>
                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div >
                                    <a href="##" class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> {$language2->all_drop}</a>
                                    <!--分页-->
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}
            <!-- Control Sidebar -->

            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->

        <!-- jQuery 2.2.3 -->
        <script type="text/javascript" >
           $('#add_account').click(function(){
                 dialog_form('?app=account&act=accountAdd', '{$language1->add_admin}');
            });
            /*编辑*/
           function bianj(id){
                 dialog_form('?app=account&act=accountedit&id=' + id, '{$language1->edit_admin}');
            }
           /*删除*/
            function shanchu(id){
                deletes('?app=account&act=dele&id=' + id);
            }
        </script>
    </body>
</html>
