{if $lang_id !=0}

{else}
<form class="form-horizontal" id="form1"  action="admin.php?app=storeUserAdmin&act=doEdit">
    <input type="hidden" name="id" value="{$data.id}">
    <input type='hidden' name='lang_id' value='{$lang_id}'>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 角色中文名称 </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="角色中文名称"  name="name" value="{$data.name}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 角色英文名称 </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="角色英文名称"  name="english_name" value="{$data.english_name}" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>等 级</label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control" name="level">
                <option value="">请选择角色等级</option>
                {foreach from=$role_arr item=item key=k}
                <option value="{$k}" {if ($k==$data.level)} selected {/if}>{$item}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label">区域站点</label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control" name="store_id">
                <option value="">请选择所属区域站点</option>
                {foreach from=$store item=item}
                <option value="{$item.id}" {if $item.id == $data.store_id} selected {/if}>{$item.store_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label">排 序</label>
        <div class="col-sm-7 col-md-7">
            <input type="input" class="form-control"  placeholder="排 序"  name="sort" value="{$data.sort}">
        </div>
    </div>
</form>
{/if}