
{foreach from=$goods_list item=item}
<tr>
    <td><input type="checkbox" name="check-name" name="check-name" data-name="{stripslashes($item.goods_name)}" data-id="{$item.id}" data-mprice="{$item.market_price}" data-sprice="{$item.shop_price}" data-url="{$item.original_img}"/></td>
    <td><img src="{$item.original_img}" width="60" height="50"></td>
    <td>{stripslashes($item.goods_name)}</td>
    <td>{$symbol}{$item.market_price}</td>
    <td>{$symbol}{$item.shop_price}</td>
</tr>
<tr>
    <td></td>
    <td colspan="3" class="t1 att">
        {foreach from=$item.item_child item=v key=k}
        <a href="##" class="ncbtn {if $k==0} active {/if}" data-attr="{$v.key_name}" data-key="{$v.key}" data-iprice="{$v.price}" data-item="{$v.id}">{$v.key_name}</a>
        {/foreach}
    </td>
    <td></td>
</tr>
{/foreach}
