<div class="height">
    <div class="new-table-responsive">
        <div class="box-body table-responsive no-padding ">
            <div class="box-header">
                <div class="form-inline col-sm-10 col-md-11 no-padding">
                    <form>
                    <div class="form-group form-group-sm form-mar">
                        <small class="control-label sm">请选择：</small>
                        <input type="text" class="form-control" name="goods_name"  value="{stripslashes($goods_name)}" placeholder="请输入商品名称">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <button type="button" class="btn btn-default btn-sm" id="submit1">
                            搜索 <i class="fa fa-search"></i>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            <input type="hidden"  name="totalpage"  value="{$totalpage}" >
            <table class="table tc-box">
                <thead>
                <tr>
                    <th></th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>市场价格</th>
                    <th>销售价格</th>
                </tr>
                </thead>
                <tbody id="content">

                {foreach from=$goods_list item=item}
                <tr>
                    <td><input  type="radio" name="radio" data-name="{stripslashes($item.goods_name)}" data-mprice="{$item.market_price}" data-sprice="{$item.shop_price}" data-url="{$item.original_img}" class="radio-name" data-id="{$item.id}"/></td>
                    <td style="width:72px;height:72px;"><img style="width:100%;height:100%" src="{$item.original_img}" width="60" height="50"></td>
                    <td>{stripslashes($item.goods_name)}</td>
                    <td>{$symbol}{$item.market_price}</td>
                    <td>{$symbol}{$item.shop_price}</td>
                </tr>
                <tr class="tr-attr">
                    <td></td>
                    <td colspan="3" class="t1 att">
                        {foreach from=$item.item_child item=v key=k}
                        <a href="##" class="ncbtn {if $k==0} active {/if}" data-attr="{$v.key_name}" data-key="{$v.key}" data-iprice="{$v.price}" data-item="{$v.id}">{$v.key_name}</a>
                        {/foreach}
                    </td>
                    <td></td>
                </tr>
                {/foreach}

                </tbody>
            </table>
            <div class="page-box">
                <ul id="page" class="pagination" >

                </ul>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // active样式选择
    $(function(){
        $('.tc-box').on('click','.ncbtn',function(){
            $(this).parents('.att').find('a').removeClass('active');
            $(this).addClass('active');
        })
    })
    //属性的显示隐藏
    $(function(){
        $('.tc-box tbody tr:nth-child(even)').css('display','none');
        $('.tc-box').on('click','.radio-name',function(){
            $('.tr-attr').hide();
            $(this).parents('tr').next().show();
        })
    })

</script>
<script  type="text/javascript" >

    {literal}

    /*分页*/
    $(function() {

        var is_firsttime = true;
        var totalpage = $('input[name="totalpage"]').val();
        totalpage = parseInt(totalpage);
        $('#page').jqPaginator({
            totalPages: totalpage,
            visiblePages: 7,
            currentPage: 1,
            first: '<li class="prev"><a href="javascript:;">首页</a></li>',
            prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
            next: '<li class="next"><a href="javascript:;">下一页</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            last: '<li class="prev"><a href="javascript:;">尾页</a></li>',
            onPageChange: function(num, type) {
                if (is_firsttime) {
                    is_firsttime = false;
                } else {
                    //ajax获取
                    var url = '?app=promotion&act=getOneGoods_2&p=' + num;
                    $.get(url, function(res) {
                        $('#content').html(res);
                        $('.tc-box tbody tr:nth-child(even)').css('display', 'none');
                    });
                }
            }
        });

    });


    /*搜索*/
    $('#submit1').click(function(){
        var  gname =  $.trim($('input[name="goods_name"]').val()) ;
        totalPage(gname);
    });
    function totalPage(gname) {
        //ajax
        var url = '?app=promotion&act=seachSingle&goods_name=' + gname;
        $.get(url, function(res) {
            var obj = jQuery.parseJSON(res);
            var r = obj.total;
            $('#page').jqPaginator({
                totalPages: r,
                visiblePages: 7,
                currentPage: 1,
                first: '<li class="prev"><a href="javascript:;">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                last: '<li class="prev"><a href="javascript:;">尾页</a></li>',
                onPageChange: function(num, type) {
                    //ajax
                    var url = '?app=promotion&act=getOneGoods_2&p=' + num + '&goods_name=' + gname;
                    $.get(url, function(res) {
                        $('#content').html(res);
                        $('.tc-box tbody tr:nth-child(even)').css('display', 'none');
                    });
                }

            });

        });
    }


    {/literal}
</script>
