<div class="modal-header">
    <span>抬头选择</span>
    <i onclick="hideModal();">×</i>
</div>
<div class="modal-content" id="headList">
    {if $data}
    {foreach $data as $item}
    <div class="mitem" href="javascript:void(0)" onclick="headCheck('{$item.id}');">
        <div class="cname">{$item.head_title}{if $item.is_default==2}<span class="defauts">默认</span>{/if}</div>
        <div class="companyup">
            <div class="companytext">
                <span class="cupstext">{if $item.head_type==2}企业抬头{else}个人抬头{/if}</span>
                <span class="delete" onclick="deleHead('{$item.id}', this)">删除</span>
            </div>
            <a href="?app=storeUserInvoicehead&act=edit&id={$item.id}" class="invoiceeidt">编辑<i class="arrow"></i></a>
        </div>
    </div>
    {/foreach}
    {else}
    暂无抬头信息
    {/if}
</div>
<!--<div class="modal-footer">-->
<!--<a href="invoiceEdit.html" class="newsadd">增加新的抬头</a>-->
<!--</div>-->
<script>
    $(function () {
        //编辑已有抬头
        $(".invoiceeidt").click(function () {
            event.stopPropagation();
        });
    });
    //删除已有抬头
    function deleHead(id, obj){
        layer.open({
            className: 'layer-confirm'
            , content: '确定要删除吗？'
            , btn: ['确定', '取消']
            , yes: function (index) {
                $.ajax({
                    url: "?app=storeUserInvoicehead&act=dele&id=" + id,
                    data: '',
                    type: "Post",
                    dataType: "json",
                    success: function (res) {
                        layer.open({
                            shade: false,
                            content: '<i class="ico ico-correct"></i> ' + res.message,
                            className: 'layer-tip',
                            time: 2
                        });
                        if (res.status == 1) {
                            if ($(obj).closest(".mitem").siblings().length <= 0) {
                                $('#headList').html('暂无抬头信息');
                            } else {
                                $(obj).closest(".mitem").remove();
                            }
                        }
                    }
                })
            }
        });
        event.stopPropagation();
    }
</script>