<!DOCTYPE html>
<html>
<head  class="main-header">
    {include file="public/header.html"}
    <!-- Logo -->

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Main content -->
        <section class="content">

            <!-- /.row -->
            <div class="row">
                {foreach from=$floorDesign item=vo}
                <div class="col-lg-3 col-xs-6 mb30 con-box">
                    <div class="sm-box">
                        <div class="img">
                            <img src="{$vo.mainPic}" width="100" height="100">
                        </div>
                        <div class="title el">
                            <a href="?app=design&act=floorProgrammeEdit&obsDesignId={$vo.obsDesignId}" title="">{$vo.name}</a>
                        </div>
                        <a href="##" class="edit" name="{$vo.id}"><i class="fa fa-edit"></i></a>
                        <a href="##" class="closed" name="{$vo.id}"><i class="fa fa-close"></i></a>
                    </div>
                </div>
                {/foreach}
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}
</div>
<!-- ./wrapper -->
</body>
</html>

