<!DOCTYPE html>
<html>
<head>
    <title>商家测试</title>
    {literal}
    <style>
        body {padding-top:50px;}
        #content {padding:0 100px;}
        .intro {margin-top:20px; font-size:14px;}
        .ifr-steps {position:fixed; top:50px; left:1350px; min-width:400px;}
        .ifr-steps li {list-style-type:decimal; list-style-position:inside;}
        .sep {border-right:1px solid #999; margin:0 15px;}
        iframe {border:2px solid #666; margin-top:20px;}
        em {color:red}
    </style>
    {/literal}
</head>
<body>
<div id="content">
    <h1>这是商家页面</h1>

    <div class="actions">
        <a href="javascript:;" class="J_login-demo btn btn-main">点击登录开始设计</a>
        <a href="?app=design&act=floorPlan" class="J_modi-fp-demo btn btn-main">查看当前用户所有户型图</a>
        <a href="?app=design&act=floorProgramme" class="J_modi-fp-demo btn btn-main">查看当前用户所有方案</a>
        <a href="javascript:;" class="J_modi-fp-demo btn btn-main">点击修改户型设计</a>
        <a href="javascript:;" class="J_modi-des-demo btn btn-main">点击修改装修设计</a>
        <i class="sep"></i>
        <a href="javascript:;" class="J_navigate-ifr btn btn-extra ">点击导航iframe</a>
    </div>

    <div class="intro">
        <p>1. 点击登录：点击此按钮后，商家页面向自身服务器发出单点登录请求，服务器再向酷家乐服务器调用单点登录API，即可获得一个<em>拥有酷家乐创建户型授权的URL</em>。</p>
        <p>2. 点击修改户型设计：点击此按钮后，商家页面将一个<em>户型设计的户型id</em>发送给服务器，服务器再将该id发送给酷家乐服务器，即可获得一个<em>拥有酷家乐修改该户型授权的URL</em>。</p>
        <p>3. 点击修改装修设计：点击此按钮后，商家页面将一个<em>装修设计的装修id</em>发送给服务器，服务器再将该id发送给酷家乐服务器，即可获得一个<em>拥有酷家乐修改该装修授权的URL</em>。</p>
        <p>4. 点击导航iframe：可导航至点击前三个按钮后<em>获得的返回授权URL</em>；此处两者分开演示只为厘清逻辑，具体使用可按各自需求。</p>
        <p>注：关于1，2和3三点，详见<em>2.0版API中的单点登录接口</em>。</p>
    </div>

    <div class="ifr-steps">
        <h3>iframe用户行为记录</h3>
        <ol class="action-log">
        </ol>
    </div>

    <iframe name="demo-iframe" width="1200" height="600" id="demo-iframe" src="http://121.42.207.36/bspm711/index.php">
        <h2>这是酷家乐装修设计或户型修改页面，当前未登录</h2>
    </iframe>
</div>
<script src="{$STATIC_URL}/plugin/jQuery/jquery-2.2.3.min.js"></script>
<script>
  $(function(){
       var iframe = window.frames['demo-iframe'];
       var  redirUrl = '';
        var ifr = $('#demo-iframe');
       var $login = $('.J_login-demo');
       var $fpUp = $('.J_modi-fp-demo');
       var $desUp = $('.J_modi-des-demo');
        var $navi = $('.J_navigate-ifr');
        $login.click(function() {
            $login.addClass('btn-sub');
            $fpUp.removeClass('btn-sub');
            $desUp.removeClass('btn-sub');

            $.ajax({
                url: '?app=design&act=login',
                type: 'get',
                success: function(data) {
                    var dataObj=eval("("+data+")");//转换为json对象
                    console.log(dataObj);
                    redirUrl = dataObj.errorMsg;
                    ifr.attr('src', redirUrl);
                }
            });
        });
        $fpUp.click(function() {
            $fpUp.addClass('btn-sub');
            $login.removeClass('btn-sub');
            $desUp.removeClass('btn-sub');

            $.ajax({
                url: '?app=design&act=getFloorPlan',
                type: 'get',
                success: function(data) {
                    console.log(data);
                    redirUrl = data;
                    $navi.removeClass('btn-disabled');
                }
            });
        });
//        $desUp.click(function() {
//            $desUp.addClass('btn-sub');
//            $login.removeClass('btn-sub');
//            $fpUp.removeClass('btn-sub');
//
//            $.ajax({
//                url: '/demo/design/update',
//                type: 'get',
//                success: function(data) {
//                    console.log(data);
//                    redirUrl = data;
//                    $navi.removeClass('btn-disabled');
//                }
//            });
//        });

        $navi.click(function() {
//            if ($navi.hasClass('btn-disabled') || !redirUrl) {
//                return;
//            }
            ifr.attr('src', redirUrl);
        });

        if (window.postMessage) {
            var $log = $('.action-log');
            var logData = function(data) {
                var li, d = new Date;
                if (data.action !== 'kjl_rendered') {
                    li = '<li>action: ' + data.action + '<em>----</em>' + data.type + 'id: ' +
                        data[data.type + 'id'];
                } else {
                    li = '<li>action: ' + data.action + '<em>----</em>' + data.type + 'id: ' +
                        data[data.type + 'id'] + '<em>----</em>渲染类型: ' +
                        data.imgtype + '<em>----</em>预览图:' + data.simg +
                        '<em>----</em>原图: ' + data.img;
                }
                $log.append(li + '<em>----</em>' + new Date().getTime() + '</li>');
                if (data.action === 'kjl_completed') {
                    $log.append('<li><em>此时iframe已退出设计，外部页面可自行处理结束交互（最好关闭iframe）</em></li>');
                }
            };

            var callback = function(ev) {
                //console ? console.log(ev) : alert(ev.data);
                logData(JSON.parse(ev.data));
                if (ev.origin === 'http://www.kujiale.com' ||
                    ev.origin === 'http://yun.kujiale.com' ||
                    ev.origin === 'https://www.kujiale.com' ||
                    ev.origin === 'https://yun.kujiale.com') {
                    // handle message in ev ...
                    // var data = JSON.parse(ev.data)
                }
            };
            if ('addEventListener' in document) {
                window.addEventListener('message', callback, false);
            } else if ('attachEvent' in document) {
                window.attachEvent('onmessage', callback);
            }
        } else {
            // 如果不支持postMessage， 则使用ie6/7的window共有属性navigator进行hack
            window.navigator.listenKJL = function(msg) {
                alert(msg)
                // var data = JSON.parse(msg)
                logData(JSON.parse(msg));
            };
        }
  });
</script>
</body>
</html>
