{foreach  from=$data  item=val}
<h2>{$val.category_name}</h2>
<ul class="cate-ul clearfix">
    {foreach from=$val.childs item=v}
    <li>
        <a href="wx.php?app=listPage&act=index&storeid={$storeid}&auxiliary={$auxiliary}&cid={$v.id}&lang={$lang}&latlon={$latlon}">
            <div class="img">
                <img src="{$v.image}">
            </div>
            <div class="info ellipsis">
                {$v.category_name}
            </div>
        </a>
    </li>
    {/foreach}
</ul>
{/foreach}