{include file="public/wx_header.html"}
</head>
<body>
    <div class="preloader"></div>
    <div class="cate-wrap">
        <div class="cate-content clearfix">
            <ul  class="cate-menus" style="padding-bottom:1rem">
                {foreach  from=$ctglev1 item=val  key=k}
                    <li data-id="{$val['id']}" >
                        <a href="javascript:;"   {if $k == $c_val } class="active"  {/if} ">
                            {$val.category_name}
                        </a>
                    </li>
                {/foreach}
            </ul>
            <div class="cate-list fr"  style="display: block;height:13rem">
                {if $image}
                <div class="title_img">
                    <a href="wx.php?app=default&act=typeIndex&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&by=5&latlon={$latlon}"><img src="{$image}" alt=""/></a>
                </div>
                {else}
                <div class="title_img">
                    <a href="wx.php?app=default&act=typeIndex&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&by=5&latlon={$latlon}"><img src="{$STATIC_URL}/phone/images/B547135E.png" alt=""/></a>
                </div>
                {/if}
                <div id="cateChilds">
              {foreach  from=$threeChilds  item=val}
                <h2>{$val.category_name}</h2>
                <ul class="cate-ul clearfix">
                    {foreach from=$val.childs item=v}
                    <li>
                        <a href="wx.php?app=listPage&act=index&storeid={$storeid}&auxiliary={$auxiliary}&cid={$v.id}&lang={$lang}&latlon={$latlon}">
                            <div class="img">
                                <img src="{$v.image}">
                            </div>
                            <div class="info ellipsis">
                                {$v.category_name}
                            </div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
                {/foreach}
                </div>
            </div>
            <div class="loading" style="display: none"><img src="{$STATIC_URL}/wx/loadings.gif"/></div>
        </div>
        <input type="hidden" name="store_id" value="{$storeid}">
        <input type="hidden" name="lang" value="{$lang}">
        <input type="hidden" name="auxiliary" value="{$auxiliary}">
        {include file="public/wx_footer.html"}
    </div>
</body>
</html>