<div class="height">
    <div class="new-table-responsive">
        <div class="box-body table-responsive no-padding ">
            <div class="box-header">
                <div class="form-inline col-sm-10 col-md-11 no-padding">
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="gname"  placeholder="Please enter the name of the product">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <button type="button" class="btn btn-default btn-sm" id="submit1">
                            search <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden"  name="totalpage"  value="{$totalpage}" >
            <table class="table tc-box" id="content">
                <thead>
                <tr>
                    <th><input type="checkbox" name="" id="all"/></th>
                    <th>Commodity picture</th>
                    <th>Commodity name</th>
                    <th>market price</th>
                    <th>Selling price</th>
                </tr>
                </thead>
                <tbody >
                {foreach from=$data item=item}
                <tr>
                    <td><input type="checkbox" name="check-name" data-name="{$item.goods_name}" data-id="{$item.id}" data-mprice="{$item.market_price}" data-sprice="{$item.shop_price}" data-url="{$item.original_img}"/></td>
                    <td><img src="{$item.original_img}" width="60" height="50"></td>
                    <td>{$item.goods_name}</td>
                    <td>{$symbol}{$item.market_price}</td>
                    <td>{$symbol}{$item.shop_price}</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3" class="t1 att">
                        {foreach from=$item.specarr item=v key=k}
                        <a href="##" class="ncbtn {if $k==0} active {/if}" data-attr="{$v.key_name}" data-key="{$v.key}" data-iprice="{$v.price}" data-item="{$v.id}">{$v.key_name}</a>
                        {/foreach}
                    </td>
                    <td></td>
                </tr>
                {/foreach}




                </tbody>
            </table>
            <div class="page-box">
                <ul id="page" class="pagination" >
                </ul>
            </div>
        </div>
    </div>
</div>

{literal}
<script type="text/javascript">
    // active样式选择
    $(function(){
        $('.tc-box').on('click','.ncbtn',function(){
            $(this).toggleClass('active');
        })
    })
    //属性的显示隐藏
    $(function(){
        $('.tc-box tbody tr:nth-child(even)').css('display','none');
        $('.tc-box').on('click','#all',function(){
            if($(this).is(':checked')){
                $(this).parents('thead').next().find('tr:nth-child(even)').show();
            }else{
                $(this).parents('thead').next().find('tr:nth-child(even)').hide();
            }
        })
        $('.tc-box').on('click','input[name="check-name"]',function(){
            if($(this).is(':checked')){
                $(this).parents('tr').next().show();
            }else{
                $(this).parents('tr').next().hide();
            }
        })
    })


    /*分页*/
    $(function(){

        var is_firsttime = true;
        var  totalpage = $('input[name="totalpage"]').val();
        totalpage = parseInt(totalpage);
        $('#page').jqPaginator({
            totalPages:totalpage,
            visiblePages: 7,
            currentPage: 1,
            first: '<li class="prev"><a href="javascript:;">home page</a></li>',
            prev: '<li class="prev"><a href="javascript:;">Previous page</a></li>',
            next: '<li class="next"><a href="javascript:;">next page</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            last: '<li class="prev"><a href="javascript:;">Shadowe</a></li>',
            onPageChange:function(num, type){
                if (is_firsttime) {
                    is_firsttime = false;
                } else {
                    //ajax获取
                    var url = '?app=checkDialog&act=getGoodsList&p='+num;
                    $.get(url,function(res) {
                        $('#content').html(res);
                        $('.tc-box tbody tr:nth-child(even)').css('display','none');
                    });
                }
            }
        });
        /*搜索*/
        $('#submit1').click(function(){
            var  gname =  $.trim($('input[name="gname"]').val()) ;
            totalPage(gname);
        });
        function totalPage(gname){
            //ajax
            var url = '?app=checkDialog&act=totalPage&gname='+gname;
            $.get(url,function(res){
                var obj = jQuery.parseJSON(res);
                var r=  obj.total;
                $('#page').jqPaginator({
                    totalPages:r,
                    visiblePages: 7,
                    currentPage: 1,
                    first: '<li class="prev"><a href="javascript:;">home page</a></li>',
                    prev: '<li class="prev"><a href="javascript:;">Previous page</a></li>',
                    next: '<li class="next"><a href="javascript:;">next page</a></li>',
                    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                    last: '<li class="prev"><a href="javascript:;">Shadowe</a></li>',
                    onPageChange:function(num, type){
                        //ajax
                        var url = '?app=checkDialog&act=getGoodsList&p='+num+'&gname='+gname;
                        $.get(url,function(res){
                            $('#content').html(res);
                            $('.tc-box tbody tr:nth-child(even)').css('display','none');
                        });
                    }

                });

            })

        }
    })
</script>
{/literal}
