
<thead>
<tr>
    <th><input type="checkbox" name="" id="all"/></th>
    <th>商品图片</th>
    <th>商品名称</th>
    <th>市场价格</th>
    <th>销售价格</th>
</tr>
</thead>
<tbody>
{foreach from=$data item=item}
<tr>
    <td><input type="checkbox" name="check-name" data-name="{$item.goods_name}" data-id="{$item.id}" data-mprice="{$item.market_price}" data-sprice="{$item.shop_price}" data-url="{$item.original_img}"/></td>
    <td><img src="{$item.original_img}" width="60" height="50"></td>
    <td>{$item.goods_name}</td>
    <td>{$symbol}{$item.market_price}</td>
    <td>{$symbol}{$item.shop_price}</td>
</tr>

<tr>
    <input type="hidden" value='{$item.spec}' name="spec">
    <td colspan="5">
        <div class="productType">
            <div class="productType-list">
                {foreach from=$item.specarr item=vo key=k}
                <div class="productType-item">
                    <p>{$k}:</p>
                    <div class="btns">
                        {foreach from=$vo item=vo2 key=k2}
                        <button  data-id="{$vo2.item_id}"  {if $k2==0} class="active" {/if}  >{$vo2.item}</button>
                        {/foreach}
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </td>
</tr>

{/foreach}
<script>
    $(function(){
        $('.tc-box tbody tr:nth-child(even)').css('display','none');
        $('.tc-box').on('click','#all',function(){
            if($(this).is(':checked')){
                $(this).parents('thead').next().find('tr:nth-child(even)').show();
            }else{
                $(this).parents('thead').next().find('tr:nth-child(even)').hide();
            }
        })
        $('.tc-box').on('click','input[name="check-name"]',function(){
            if($(this).is(':checked')){
                $(this).parents('tr').next().show();
            }
            else{
                $(this).parents('tr').next().hide();
            }
        })
    })
</script>
</tbody>


