<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
    </head>
    <style> 
        .cpllpl {
            width: 11.666667%;
        }
        .col-md-3 {
            width: 50%;
        }
        .col-md-11 {
            width: 65.666667%;
        }
        div.floatRight{
            width: 50%;
            float: left;
        }
    </style>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}
            <!-- Content Wrapper. Contains page content -->
            {if $lang_id == 1}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Splitting rule set
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="store.php?app=default&act=index"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Profit management</li>
                        <li class="active">Splitting the list of rules</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding">
                                        <input type='hidden' name='app' value='fxRuler'>
                                        <input type='hidden' name='act' value='ruleList'>
                                        <input type="hidden" name = "delAll" value="dele">
                                        <input type="hidden" name = "lang_id" value="{$lang_id}">
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">Rule name：</small>
                                            <input type="text" class="form-control" name="ruler_name" value="{$ruler_name}">
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                Search <i class="fa fa-search"></i>
                                            </button>
                                        </div>

                                    </form>
                                    <div class="floatRight">
                                        <div class="col-sm-2  col-md-5">
                                            {if $store_all == 'all'}
                                            <div class="form-group form-group-sm form-mar">
                                                <select class="form-control w160 j_select" name="single_store" >
                                                    <option value='0'>choose Store</option>
                                                    {foreach from=$store_data  item=v}
                                                    <option value="{$v.id}" {if $store_id == $v.id} selected {/if}>{$v.store_name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                            {/if}
                                        </div>
                                    </div>
                                    {if $ba.addButton ==1}
                                    <div class="col-sm-2 col-md-4 cpllpl no-padding">
                                        <a class="btn btn-primary pull-right btn-sm" href="?app=fxRuler&act=add&lang_id={$lang_id}"   role="button"><i class="fa fa-plus"></i> Add splitting rules</a>
                                    </div>
                                    {/if}

                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" name="" id="all"/></th>
                                                    <th>Serial number</th>
                                                    <th>Rule name</th>
                                                    <th>A profit</th>
                                                    <th>Two profit</th>
                                                    <th>Three profit</th>
                                                    <th>Add time</th>
                                                    <th>Store</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$list item=item}
                                            <tr>
                                                <td><input type="checkbox" name="check-name" value="{$item.id}" /></td>
                                                <td>{$item.sort_id}</td>
                                                <td>{$item.rule_name}</td>
                                                <td>{$item.lev1_prop} %</td>
                                                <td>{$item.lev2_prop} %</td>
                                                <td>{$item.lev3_prop} %</td> 
                                                <td>{$item.add_time}</td>
                                                <td>{$item.store_name}</td>


                                                <td>
                                                    {if $store_id == $my_store}
                                                    {if $ba.editButton ==1}
                                                    {if $item.store_id}
                                                    <a href="?app=fxRuler&act=edit&id={$item.id}&lang_id={$lang_id}&p={$p}" data-toggle="tooltip" class="btn btn-xs btn-success "   style="overflow: hidden; position: relative;"  >Edit</a>
                                                    {/if}
                                                    {/if}
                                                    {if $ba.delButton ==1}

                                                    {if $item.store_id}
                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-success "  onclick="shanchu({$item.id});"   style="overflow: hidden; position: relative;"  >Delete</a>
                                                    {/if}
                                                    {/if}
                                                    {/if}
                                                </td>

                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    {if $ba.delButton ==1}
                                    <a href="##"  class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> Batch deleting</a>
                                    {/if}
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
            {else}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        分润规则设置
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="store.php?app=default&act=index"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li class="active">分润管理</li>
                        <li class="active">分润规则列表</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-3 no-padding">
                                        <input type='hidden' name='app' value='fxRuler'>
                                        <input type='hidden' name='act' value='ruleList'>
                                        <input type="hidden" name = "delAll" value="dele">
                                        <input type="hidden" name = "lang_id" value="{$lang_id}">
                                        <input type="hidden" name = "store_id" value="{$store_id}">
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">规则名称：</small>
                                            <input type="text" class="form-control" name="ruler_name" value="{$ruler_name}">
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                搜索 <i class="fa fa-search"></i>
                                            </button>
                                        </div>

                                    </form>
                                    <div class="floatRight">
                                        <div class="col-sm-2  col-md-5">
                                            {if $store_all == 'all'}
                                            <div class="form-group form-group-sm form-mar">
                                                <select class="form-control w160 j_select" name="single_store" >
                                                    <option value='0'>请选择站点</option>
                                                    {foreach from=$store_data  item=v}
                                                    <option value="{$v.id}" {if $store_id == $v.id} selected {/if}>{$v.store_name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                            {/if}
                                        </div>
                                        {if $ba.addButton ==1}

                                        <div class="col-sm-2 col-md-4 no-padding">
                                            <a class="btn btn-primary pull-right btn-sm" href="?app=fxRuler&act=add&lang_id={$lang_id}"   role="button"><i class="fa fa-plus"></i> 添加分润规则</a>
                                        </div>

                                        {/if}
                                    </div>
                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" name="" id="all"/></th>
                                                    <th>序号</th>
                                                    <th>规则名称</th>
                                                    <th>一级分润</th>
                                                    <th>二级分润</th>
                                                    <th>三级分润</th>
                                                    <th>添加时间</th>
                                                    <th>店铺</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$list item=item}
                                            <tr>
                                                <td><input type="checkbox" name="check-name" value="{$item.id}" /></td>
                                                <td>{$item.sort_id}</td>
                                                <td>{$item.rule_name}</td>
                                                <td>{$item.lev1_prop} %</td>
                                                <td>{$item.lev2_prop} %</td>
                                                <td>{$item.lev3_prop} %</td>  
                                                <td>{$item.add_time}</td>
                                                <td>{$item.store_name}</td>

                                                <td>
                                                    {if $store_id == $my_store}
                                                    {if $ba.editButton ==1}
                                                    {if $item.store_id}
                                                    <a href="?app=fxRuler&act=edit&id={$item.id}&lang_id={$lang_id}&p={$p}" data-toggle="tooltip" class="btn btn-xs btn-success "   style="overflow: hidden; position: relative;"  >编辑</a>
                                                    {/if}
                                                    {/if}
                                                    {if $ba.delButton ==1}
                                                    {if $item.store_id}
                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-success "  onclick="shanchu({$item.id});"   style="overflow: hidden; position: relative;"  >删除</a>
                                                    {/if}
                                                    {/if}
                                                    {/if}
                                                </td>

                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    {if $ba.delButton ==1}
                                    <a href="##"  class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> 批量删除</a>
                                    {/if}
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
            {/if}
        </div>
    </body>
</html>
<script type="text/javascript">
    $('select[name=single_store]').change(function () {
    var lang_id = $('input[name=lang_id]').val();
    var store_id = $(this).val();
    var ruler_name = $('input[name=ruler_name]').val();
    var url = "?app=fxRuler&act=ruleList&lang_id=" + lang_id;
    if (ruler_name.length > 0){
    url += "&ruler_name=" + ruler_name;
    }
    if (store_id.length > 0){
    url += "&store_id=" + store_id;
    }
    window.location = url;
    });</script>
{if $lang_id ==1}
<script type="text/javascript">

    {literal}

    /*删除*/
    function shanchu(id){
    deletes('?app=fxRuler&act=dele&lang_id=1&id=' + id);
    }

    {/literal}

</script>
{else}
<script type="text/javascript">

    {literal}

    /*删除*/
    function shanchu(id){
    deletes('?app=fxRuler&act=dele&lang_id=0&id=' + id);
    }

    {/literal}

</script>
{/if}