<!DOCTYPE html>
<html>
    <head>
        <title>711 home 商城搜索商品页面</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body class="index">

        {include file="public/daohang.html"}
        <!-- navs-box end -->

        <div class="container">
            <!-- bread-box -->
            <!--<div class="bread-box">-->
            <!--<a href="##">Furniture</a>-->
            <!--<i>/</i>-->
            <!--<a href="##"> Living Room Furniture</a>-->
            <!--<i>/</i>-->
            <!--<a href="##"> Sofas & Sectionals</a>-->
            <!--<i>/</i>-->
            <!--<span class="or">Sofas</span>-->
            <!--</div>-->
            <div class="third-box">
                <!--<h2 class="normal font24">Sofas</h2>-->
                <div class="sresult-box clearfix mt20 mb30">
                    <div class="left fl">
                        <span class="result"> {$goodslist.count} {$langdata.search_res}</span>

                        {foreach from = $filterMenu  item=val }
                        {$val}
                        {/foreach}

                        <a href="{$clearAll}" class="clear or uline">{$langdata.search_clear}</a>
                    </div>


                    <div class="right fr">
                        {$langdata.search_sort}：
                        <div class="sort-select">
                            <div class="sort-text">
                                <span class="text ellipsis" title="">{$goodsSort.selected}</span>
                                <i class="ico ico-dw"></i>
                            </div>
                            <div class="sort-a">
                                <a href="{$goodsSort.1.href}">{$goodsSort.1.val}</a>
                                <a href="{$goodsSort.2.href}">{$goodsSort.2.val}</a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="clearfix">

                    <div class="leftbox fl">

                        <div class="filter-box">
                            <div class="title">
                                <span class="inblock vt">{$langdata.price}</span>
                                <i class="ico do"></i>
                            </div>
                            <div class="cont mt10">
                                <div class="attributeul">
                                    {foreach  from=$piceQujian  item=val}
                                    <a href="{$val.href}">
                                        <span class="checkbox_item">
                                            <input type="checkbox" />
                                            <label class="check_label {if $val.ison } on {/if}  ">
                                                <i class="checkbox_icon "></i>
                                                <em class="checkbox_text">{$val.priceQj}</em>
                                            </label>
                                        </span>
                                    </a>
                                    {/foreach}

                                    <div class="qu tc">
                                        {$symbol} <input type="text"  name="start_price"  value="{$sprice}"  placeholder="Min" /> to <input type="text"  name="end_price"   value="{$eprice}" placeholder="Max" /><a href="javascript:;"  id="search-price"  class="ico ico-n"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filter-box">
                            <div class="title">
                                <span class="inblock vt">{$langdata.brand}</span>
                                <i class="ico do"></i>
                            </div>
                            <div class="cont mt10">
                                <div class="attributeul">

                                    {foreach  from=$brand  item=val}
                                    <a href="{$val.href}">
                                        <span class="checkbox_item">
                                            <input type="checkbox" />
                                            <label class="check_label  {if $val.ison } on {/if}  ">
                                                <i class="checkbox_icon "></i>
                                                <em class="checkbox_text">{$val.bname} </em>
                                            </label>
                                        </span>
                                    </a>
                                    {/foreach}

                                </div>
                            </div>
                        </div>

                        <div class="filter-box">
                            <div class="title">
                                <span class="inblock vt">{$langdata.style}</span>
                                <i class="ico do"></i>
                            </div>
                            <div class="cont mt10">
                                <div class="attributeul">
                                    {foreach  from=$goodstyle  item=val}
                                    <a href="{$val.href}">
                                        <span class="checkbox_item">
                                            <input type="checkbox"  />
                                            <label class="check_label  {if $val.ison } on {/if}">
                                                <i class="checkbox_icon "></i>
                                                <em class="checkbox_text">{$val.style_name} </em>
                                            </label>
                                        </span>
                                    </a>
                                    {/foreach}

                                </div>
                            </div>
                        </div>

                        <div class="filter-box">
                            <div class="title">
                                <span class="inblock vt">{$langdata.type}</span>
                                <i class="ico do"></i>
                            </div>
                            <div class="cont mt10">
                                <div class="attributeul">

                                    {foreach  from=$roomtype  item=val}
                                    <a href="{$val.href}">
                                        <span class="checkbox_item">
                                            <input type="checkbox" />
                                            <label class="check_label  {if $val.ison } on {/if}  ">
                                                <i class="checkbox_icon "></i>
                                                <em class="checkbox_text">{$val.type_name} </em>
                                            </label>
                                        </span>
                                    </a>
                                    {/foreach}

                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="rightbox fr">
                        <div class="fav1-box">
                            <ul class="clearfix">

                                {foreach  from=$goodslist.data  item=val}
                                <li>
                                    <a href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$langid}&gid={$val.id}"   >
                                        <div class="img">
                                            <img src="{$val.original_img}">
                                        </div>
                                        <div class="cont">
                                            <div class="name ellipsis" title="">{$val.goods_name}</div>
                                            <div class="price mb5">
                                                <span class="red">{$symbol}{$val.shop_price}</span>
                                                <span class="grey font12">{$symbol}<s>{$val.market_price}</s></span>
                                            </div>
                                            <div class="grey mb5 ellipsis" >{$val.isfree}</div>
                                            <!--<div class="showstar mb5">-->
                                                <!--<div class="atar_Show">-->
                                                    <!--<p tip="20" style="width: 33px;"></p>-->
                                                <!--</div>-->
                                                <!--<span class="vm font12">（88）</span>-->
                                            <!--</div>-->
                                        </div>
                                    </a>
                                    <i class="sc1 ico"></i>
                                    <div class="more uline"><a    href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$langid}&gid={$val.id}">{$langdata.ctgpage_more}></a></div>
                                </li>
                                {/foreach}


                            </ul>
                        </div>


                        {$goodslist.pagelink}


                    </div>
                </div>

            </div>

            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.ZhiFu}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>


        <!-- footer -->
        {include file="public/footer.html"}
        <!-- footer end -->

        {literal}
        <script type="text/javascript">

            //select 模拟
            $(function() {
                $('.sort-select').hover(function() {
                    $('.sort-a').show();
                }, function() {
                    $('.sort-a').hide();
                })
                $('.sort-a a').click(function() {
                    $('.sort-text .text').text($(this).text());
                    $('.sort-a').hide();
                })
            });
            //
            $('.check_label').click(function() {
                var $this = $(this);
                if ($this.hasClass("on")) {
                    $this.prev().removeAttr("checked");
                    $this.removeClass("on");
                } else {
                    $this.prev().prop("checked", "checked");
                    $this.addClass("on");

                }
            });
            //
            $(function() {
                $('.filter-box .title').click(function() {
                    var ico = $(this).find('.ico');
                    if (ico.hasClass('do')) {
                        ico.removeClass('do');
                        ico.addClass('up');
                        $(this).next().hide();
                    } else {
                        ico.removeClass('up');
                        ico.addClass('do');
                        $(this).next().show();
                    }
                })
            })
            //收藏
            $(function() {
                $('.fav1-box .sc1').click(function() {
                    $(this).toggleClass('sc1-active');
                })
            })
            // tag 删除
            $(function() {
                $('.tag .del').click(function() {
                    $(this).parent().remove();
                })
                $('.clear').click(function() {
                    $('.tag').remove();
                    $(this).remove();
                })
            })

        </script>
        {/literal}
    </body>
</html>