<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.comb_list}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body class="index">

        {include file="public/daohang.html"}
        <!-- navs-box end -->

        <!-- navs-box end -->
        <div class="border"></div>

        <!-- navs -->
        <div class="active-menu">
            <div class="container">
                <a class="active" href="?app=combined&act=c_index&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.Sale}</a>
                <a href="index.php?app=seckill&act=goodslist&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.Seckill}</a>
                <a href="index.php?app=goodPromotion&act=index&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.Promotion}</a>
                <a href="index.php?app=groupbuy&act=goodslist&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.Group}</a>
            </div>
        </div>

        <div class="container">
            <div class="tuan-box mt60">
                <div class="fav3-box">
                    <ul class="clearfix">
                        <!--商品列表-->
                        <li>
                            <a href="index.php?app=combined&act=goods_info&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&gid={$info.id}&type=1"  >
                                <div class="img">
                                    <img src="{$info.main_img}">
                                    <span class="solde">{$info.name}</span>
                                </div>
                                <div class="cont">
                                    <div class="name ellipsis" title="">{$info.main_name} {$info.main_key_name}</div>
                                    <div class="price mb5">
                                        <span class="red">{$langdata.combined_Price}：{$symbol}{$info.main_price}</span>
                                        <!--<span class="grey font12">{$symbol}{$info.main_price}</span>-->
                                    </div>
                                </div>
                            </a>
                            <!--<i name='clicki' class="sc1 ico " id="{$val.id}" ></i>-->
                        </li>
                        {foreach from=$info.item_child item=val }
                        <li>
                            <a href="index.php?app=combined&act=goods_info&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&gid={$val.id}&type=2"   target="_blank" >
                                <div class="img">
                                    <img src="{$val.goods_img}">
                                    <span class="solde">{$info.name}</span>
                                </div>
                                <div class="cont">
                                    <div class="name ellipsis" title="">{$val.item_name}</div>
                                    <div class="price mb5">
                                        <span class="red">{$langdata.combined_discount}：{$symbol}{$val.c_price}</span>
                                        <span class="grey font12">{$symbol}<s>{$val.price}</s></span>
                                    </div>
                                </div>
                            </a>
                            <!--<i name='clicki' class="sc1 ico " id="{$val.id}" ></i>-->
                        </li>
                        {/foreach}
                    </ul>
                </div>

                {$res.pagelink}

            </div>

            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.Lately}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>

        </div>

        <!-- footer -->
        {include file="public/footer.html"}
        <!-- footer end -->
        <div class="to-top tc">
            <img src="{$STATIC_URL}/front/images/gotop.png" width="28" height="28">
            <p class="mt5">{$langdata.prom_Return}</p>
        </div>
        <script type="text/javascript">
            $(function() {
                $('.active-menu a').click(function() {
                    $('.active-menu a').removeClass('active');
                    $(this).addClass('active');
                })
            })
        </script>

    </body>
</html>