<div id="product-addcar">
	<i class="ico ico-close"></i>
	<div class="pro-info clearfix">
		<div class="img fl">
			<img src="./images/p-img.png">
		</div>
		<div class="info fl">
			<p class="price red">$a</p>
			<p class="num">库存：10000件</p>
			<p class="choose">请选择：<span>产品类型11111</span></p>
		</div>
	</div>
	<div class="pro-choose">
		<h2>产品类型：</h2>
		<div class="pro-tags">
			<span class="active">6人位135CM圆餐桌</span>
			<span>边椅</span>
			<span>餐边柜</span>
			<span>二门酒柜</span>
			<span>镜子D</span>
		</div>
		<h2>交货周期：</h2>
		<div class="pro-tags">
			<span class="active">7天内发货（如需要定制请在单件定制中选购）</span>
		</div>
		<h2>油漆颜色：</h2>
		<div class="pro-tags">
			<span>LM02艾美高光闪光银边</span>
		</div>
		<h2>配送方式：</h2>
		<div class="pro-tags">
			<span>快递物流</span>
		</div>
		<h2>购买数量</h2>
		<div class="updown-box">
			<span class="down fl ico ico-down"></span>
			<input type="text" class="num fl" value="1">
			<span class="up fl ico ico-up"></span>
		</div>
	</div>
	<a href="##" class="btn-sure">确定</a>
</div>