<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>购物车</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="mycart-wrap">
            <div class="ss-nav">
                <a href="person-center.html" class="ss-nav-back"></a>
                <div class="ss-nav-title">购物车</div>
                <a href="./mycart-1.html" class="ss-nav-operate">管理</a>
            </div>
            <div class="height90"></div>
            <div class="product-list" id="j_check_list">
                <ul>
                    <li>
                        <a href="##" class="clearfix">
                            <div class="checkbox_on fl">
                                <label><input type="checkbox" name="checkbox" class="ipcheck"><i></i></label>
                            </div>
                            <div class="product-logo fl">
                                <img src="./images/fav1.png" width="100%">
                            </div>
                            <div class="product-info fl">
                                <h3 class="pro-name ellipsis">艾美LE MERIDIDIEN233客厅组合艾美LE MERIDIDIEN233客厅组合</h3>
                                <p class="pro-tags">
                                    <span>产品类型: 欧式摩奢风格</span>
                                    <span>油漆颜色: 银色</span>
                                    <span>配布材料: 棉质</span>
                                </p>
                                <div class="clearfix pro-num"> 
                                    <span class="pro-price">￥888.00</span>
                                    <div class="updown-box fr">
                                        <span class="down fl ico ico-down"></span>
                                        <input type="text" class="num fl" value="1" >
                                        <span class="up fl ico ico-up"></span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##" class="clearfix">
                            <div class="checkbox_on fl">
                                <label><input type="checkbox" name="checkbox" class="ipcheck"><i></i></label>
                            </div>
                            <div class="product-logo fl">
                                <img src="./images/fav1.png" width="100%">
                            </div>
                            <div class="product-info fl">
                                <h3 class="pro-name ellipsis">艾美LE MERIDIDIEN233客厅组合艾美LE MERIDIDIEN233客厅组合</h3>
                                <p class="pro-tags">
                                    <span>产品类型: 欧式摩奢风格</span>
                                    <span>油漆颜色: 银色</span>
                                    <span>配布材料: 棉质</span>
                                </p>
                                <div class="clearfix pro-num"> 
                                    <span class="pro-price">￥888.00</span>
                                    <div class="updown-box fr">
                                        <span class="down fl ico ico-down"></span>
                                        <input type="text" class="num fl" value="1" >
                                        <span class="up fl ico ico-up"></span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##" class="clearfix">
                            <div class="checkbox_on fl">
                                <label><input type="checkbox" name="checkbox" class="ipcheck"><i></i></label>
                            </div>
                            <div class="product-logo fl">
                                <img src="./images/fav1.png" width="100%">
                            </div>
                            <div class="product-info fl">
                                <h3 class="pro-name ellipsis">艾美LE MERIDIDIEN233客厅组合艾美LE MERIDIDIEN233客厅组合</h3>
                                <p class="pro-tags">
                                    <span>产品类型: 欧式摩奢风格</span>
                                    <span>油漆颜色: 银色</span>
                                    <span>配布材料: 棉质</span>
                                </p>
                                <div class="clearfix pro-num"> 
                                    <span class="pro-price">￥888.00</span>
                                    <div class="updown-box fr">
                                        <span class="down fl ico ico-down"></span>
                                        <input type="text" class="num fl" value="1" >
                                        <span class="up fl ico ico-up"></span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##" class="clearfix">
                            <div class="checkbox_on fl">
                                <label><input type="checkbox" name="checkbox" class="ipcheck"><i></i></label>
                            </div>
                            <div class="product-logo fl">
                                <img src="./images/fav1.png" width="100%">
                            </div>
                            <div class="product-info fl">
                                <h3 class="pro-name ellipsis">艾美LE MERIDIDIEN233客厅组合艾美LE MERIDIDIEN233客厅组合</h3>
                                <p class="pro-tags">
                                    <span>产品类型: 欧式摩奢风格</span>
                                    <span>油漆颜色: 银色</span>
                                    <span>配布材料: 棉质</span>
                                </p>
                                <div class="clearfix pro-num"> 
                                    <span class="pro-price">￥888.00</span>
                                    <div class="updown-box fr">
                                        <span class="down fl ico ico-down"></span>
                                        <input type="text" class="num fl" value="1" >
                                        <span class="up fl ico ico-up"></span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##" class="clearfix">
                            <div class="checkbox_on fl">
                                <label><input type="checkbox" name="checkbox" class="ipcheck"><i></i></label>
                            </div>
                            <div class="product-logo fl">
                                <img src="./images/fav1.png" width="100%">
                            </div>
                            <div class="product-info fl">
                                <h3 class="pro-name ellipsis">艾美LE MERIDIDIEN233客厅组合艾美LE MERIDIDIEN233客厅组合</h3>
                                <p class="pro-tags">
                                    <span>产品类型: 欧式摩奢风格</span>
                                    <span>油漆颜色: 银色</span>
                                    <span>配布材料: 棉质</span>
                                </p>
                                <div class="clearfix pro-num"> 
                                    <span class="pro-price">￥888.00</span>
                                    <div class="updown-box fr">
                                        <span class="down fl ico ico-down"></span>
                                        <input type="text" class="num fl" value="1" >
                                        <span class="up fl ico ico-up"></span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="##" class="clearfix">
                            <div class="checkbox_on fl">
                                <label><input type="checkbox" name="checkbox" class="ipcheck"><i></i></label>
                            </div>
                            <div class="product-logo fl">
                                <img src="./images/fav1.png" width="100%">
                            </div>
                            <div class="product-info fl">
                                <h3 class="pro-name ellipsis">艾美LE MERIDIDIEN233客厅组合艾美LE MERIDIDIEN233客厅组合</h3>
                                <p class="pro-tags">
                                    <span>产品类型: 欧式摩奢风格</span>
                                    <span>油漆颜色: 银色</span>
                                    <span>配布材料: 棉质</span>
                                </p>
                                <div class="clearfix pro-num"> 
                                    <span class="pro-price">￥888.00</span>
                                    <div class="updown-box fr">
                                        <span class="down fl ico ico-down"></span>
                                        <input type="text" class="num fl" value="1" >
                                        <span class="up fl ico ico-up"></span>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="product-jiesuan clearfix">
                <div class="left fl">
                    <div class="checkbox_on fl" id="j_check_all">
                        <label><input type="checkbox" name="checkbox"><i></i> 全选</label>
                    </div>
                    <div class="fr total">
                        <p class="freight">不含运费</p>
                        <p class="price">合计：<span class="pri red">￥999.00</span></p>
                    </div>
                </div>
                <a href="##" class="btn-settle fr">结算 (1)</a>
            </div>
            {include file="public/footer.html"}

        </div>   
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
        <script type="text/javascript">

        </script>
    </body>
</html>