<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{$langdata.goods_details}</title><!--商品详情-->
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/swiper.min.css"  rel="stylesheet" type="text/css"/>
        <style>
            .detailinfo-item span{
                display:inline-block;
            }
        </style>
    </head>
    <body>
        <div class="productdetail-wrap">
            <a href="javascript:window.history.back(-1);" class="ico back"></a>
            <!-- Swiper轮播   -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{$SITE_URL}/{$info.original_img}" width="100%"></div>
                    {foreach from=$img_arr item=item}
                    <div class="swiper-slide"><img src="{$SITE_URL}/{$item.image_url}" width="100%"></div>
                    {/foreach}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <!--  -->
            <div class="product-main">
                <div class="clearfix">
                    <div class="pro-title fl">
                        <h2>{$info.goods_name}</h2>
                    </div>
                    <!-- <div class="pro-sc fr tc" id="j_btn_sc">
                             <i class="ico ico-sc-no"></i>
                             <span>收藏</span>
                    </div> -->
                </div>
                <div class="pro-price">
                    <span class="xprice">{$cur_info.symbol}{$info.shop_price}</span>
                    <span class="yprice">{$cur_info.symbol}{$info.market_price}</span>
                </div>
                <div class="pro-postage">
                    <p class="first ellipsis">
                        <span>{$langdata.goods_Post}</span><!--邮-->
                        {if $info.is_free_shipping ==1}
                        {$langdata.Free}
                        {else}
                        {$langdata.freight}：{$cur_info.symbol}{$info.shipping_price}
                        {/if}
                    </p>
                    <!--<p class="second">不包邮地区：台湾 澳门 香港</p>-->

                </div>
            </div>
            <input name="spec_arr" id="spec_arr" value="{$spec_arr}" type="hidden"/>
            <input name="old_pirce" value="{$info.shop_price}" type="hidden" id="old_price"/>
            <input name="old_num" value="{$info.goods_storage}" type="hidden" id="old_num"/>
            <input name="store_goods_id" value="{$store_goods_id}" type="hidden" name="store_goods_id"/>
            <input name="prom_id" value="0" type="hidden"/>
            {if $goods_price}
            <input name="goods_price" value="{$goods_price}" type="hidden"/>
            {else}
            <input name="goods_price" value="{$info.shop_price}" type="hidden" />
            {/if}
            <!--商品规格信息-->
            <input name="spec_price" value="" type="hidden" id="spec_price"/>
            <input name="spec_key" value="" type="hidden" id="spec_key"/>
            <input name="order_from" value="2" type="hidden"/>
            <input name="store_id" value="{$store_id}" type="hidden"/>
            <input name="commtotalpage" value="{$commtotalpage}" type="hidden"/> <!--评论的页数-->
            <input name="langId" value="{$langId}" type="hidden"/>
            <input name="shipping_price" value="{$info.shipping_price}" type="hidden"/>
            <input name="symbol" value="{$cur_info.symbol}" type="hidden"/>
            <input name="store_good_id" value="{$info.goods_id}" type="hidden"/>
            <input name="auxiliary" value="{$auxiliary}" type="hidden"/>
            <input type="hidden" name="latlon" value="{$latlon}">
            <!-- 添加的购物车弹窗内容页面1 -->
            <div id="addcar" style="display: none;">
                <div id="product-addcar">
                    <i class="ico ico-close"></i>
                    <div class="pro-info clearfix">
                        <div class="img fl">
                            <img src="{$SITE_URL}/{$info.original_img}">
                        </div>
                        <div class="info fl">
                            <p class="price red" id="specPrice">{$cur_info.symbol}<span class=".specPrice">{$info.shop_price}</span></p>
                            <!--<p class="num">库存：10000件</p>-->
                            <p class="choose">{$langdata.goods_Choice}：<span>{$langdata.goods_type}</span></p><!--请选择--><!--产品类型-->
                        </div>
                    </div>
                    <div class="pro-choose">
                        {foreach  from=$spec_img item=val key=key}
                        <h2>{$key}:</h2>
                        <div class="pro-tags">
                            {foreach from=$val  item = item key=k}
                            <span  style="cursor:pointer"  name="spec[]" {if $k==0 } class="active" {/if}  data-id="{$item.item_id}">{$item.item}</span>
                            {/foreach}
                        </div>
                        {/foreach}


                    </div>
                </div>
            </div>

            <!--组合销售-->
            <div class="product_zh" {if empty($promGood)} style="display: none" {/if}>
                 <div class="titlePublic"><span>组合销售</span></div>
                <div class="swiper-container1">
                    <div class="swiper-wrapper">
                        {foreach from=$promGood  item=item1}
                        <div class="swiper-slide">
                            {foreach from=$item1  item=val}
                            <div class="item">
                                <a href="?app=goods&act=goodInfo&storeid={$store_id}&gid={$val.store_goods_id}&lang={$langId}&auxiliary={$auxiliary}&latlon={$latlon}">
                                    <img src="{$val.goods_img}" style="width: 105px; height: 78px;" alt=""/>
                                    <div class="pname">{$val.goods_name}</div>
                                </a>
                            </div>
                            {/foreach}
                        </div>
                        {/foreach}
                    </div>
                </div>
                <div class="totalPrice">
                    <span class="total"></span>
                    <span class="price"></span>
                </div>
            </div>
            <!--关联推荐-->
            <div class="product_gl" {if empty($storeGood)} style="display: none" {/if}>
                 <div class="titlePublic"><span>关联推荐</span></div>
                <div class="swiper-container1">
                    <div class="swiper-wrapper">
                        {foreach from=$storeGood  item=item1}
                        <div class="swiper-slide">
                            {foreach from=$item1  item=val}
                            <div class="item">
                                <a href="?app=goods&act=goodInfo&storeid={$store_id}&gid={$val.id}&lang={$langId}&auxiliary={$auxiliary}&latlon={$latlon}">
                                    <img src="{$val.original_img}" style="height: 105px;width: 75px" alt=""/>
                                    <div class="pname">{$val.goods_name}</div>
                                </a>
                            </div>
                            {/foreach}
                        </div>
                        {/foreach}

                    </div>
                </div>
            </div>
            <!--智能推荐-->
            <div class="product_zh">
                <div class="titlePublic"><span>智能推荐</span></div>
                <div class="swiper-container1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img4.png" alt=""/>
                                <div class="pname">米兰剪影</div>
                            </div>
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img5.png" alt=""/>
                                <div class="pname">米兰剪影米兰剪影米兰剪影</div>
                            </div>
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img6.png" alt=""/>
                                <div class="pname">米兰剪影</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img4.png" alt=""/>
                                <div class="pname">米兰剪影</div>
                            </div>
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img5.png" alt=""/>
                                <div class="pname">米兰剪影米兰剪影米兰剪影</div>
                            </div>
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img6.png" alt=""/>
                                <div class="pname">米兰剪影</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img4.png" alt=""/>
                                <div class="pname">米兰剪影</div>
                            </div>
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img5.png" alt=""/>
                                <div class="pname">米兰剪影米兰剪影米兰剪影</div>
                            </div>
                            <div class="item">
                                <img src="{$STATIC_URL}/phone/img/img6.png" alt=""/>
                                <div class="pname">米兰剪影</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--直接购买-->

            <div class="product-comment" id="j_comments">
                <h2>{$langdata.goods_evaluate}({$good_all_num.all_num}{$langdata.goods_strip})</h2>
                <!-- 无评论 -->
                {if empty($list)}
                <div class="tc btncomment">
                    <a href="##" class="btn-no">{$langdata.goods_No}</a><!--暂无评论-->
                </div>
                <!-- 有评论 -->
                {else}
                {foreach from=$list item=item}
                <div class="commentitem">
                    <div class="com-user">
                        <img src="{$STATIC_URL}/phone/images/login-head.png" class="img">
                        <span class="name">{$item.username}</span>
                        <div data-score="{$item.goods_rank}" class="fr start"></div>
                    </div>
                    <div class="com-content">
                        {$item.content}
                    </div>
                    <div class="com-img">
                        {foreach from=$item['img'] item=img}
                        {if $img == ''}
                        {else}
                        <img src="{$img}" class="img">
                        {/if}
                        {/foreach}
                    </div>
                    <div class="com-date">
                        {$item.add_time|date_format:"%Y - %m - %d "}
                    </div>
                </div>
                {/foreach}
                <div class="tc btncomment" id="j_btn_all">
                    <a href="wx.php?app=goods&act=commentIndex&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&gid={$info.id}&latlon={$latlon}" class="btn-yes" >{$langdata.goods_whole}</a><!--查看全部-->
                </div>
                {/if}
            </div>
            <div class="product-detailinfo mt30">
                <ul class="detailinfo-menus clearfix">
                    <li class="active"><span>{$langdata.goods_details}</span></li><!--商品详情-->
                    <li><span>{$langdata.goods_parameter}</span></li><!--商品参数-->
                </ul>
                <div class="detailinfo-item" style="display: block;">
                    {$info.goods_content}
                </div>
                <div class="detailinfo-item">
                    <table class="table">
                        {foreach  from=$attr_arr item=v}
                        <tr>
                            <td>{$v.attr_name}</td>
                            <td>{$v.attr_value}</td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>

            <div class="height110"></div>
        </div>
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/swiper.min.js"  type="text/javascript" ></script>
        <script src="{$STATIC_URL}/phone/js/jquery.raty.js" type="text/javascript"></script>
        <script type="text/javascript">
            var spec_goods_price = {$spec_arr};
        </script>
        {literal}
        <!--<script type="text/javascript">-->
        <!--$(document).on('change','#storelist',function(){-->
        <!--console.log( $(this).find('option:selected'));-->
        <!--//                $(this).find('option:selected').attr('selected','');-->
        <!--// $(this).find('option:selected').attr('selected','');-->
        <!--//                $(this).find('option').attr('selected',true);-->
        <!--})-->
        <!--</script>-->
        <script type="text/javascript">
            //按钮切换
            function isNullObj(obj) {
                for (var i in obj) {
                    if (obj.hasOwnProperty(i)) {
                        return false;
                    }
                }
                return true;
            }
            function get_goods_price()
            {
                var goods_price = $("#old_price").val(); // 商品起始价
                var store_count = $("#old_num").val(); // 商品起始库存
                //var res =  $("#spec_arr").val();  // 规格 对应 价格 库存表   //alert(spec_goods_price['28_100']['kucun']);
                // 如果有属性选择项
                if (spec_goods_price != null)
                {

                    goods_spec_arr = new Array();
                    $(".layer-addcar .pro-choose span.active").each(function () {
                        goods_spec_arr.push($(this).attr('data-id'));

                    });
                    var spec_key = goods_spec_arr.sort(sortNumber).join('_'); //排序后组合成 key
                    goods_price = spec_goods_price[spec_key].price; // 找到对应规格的价格
                    store_count = spec_goods_price[spec_key].goods_storage; // 找到对应规格的库存
                }

                var goods_num = parseInt($('input[name=goods_num]').val());
                var store_id = $('select[name=store_choose] option:selected').val();
                var good_id = $('input[name=store_good_id]').val();


                var storage = '当前库存（' + store_count + ')';
                $('#saleprice').html(store_count); //对应规格库存显示出来
//                $('.storage').html(storage); //库存
                $('#number').attr('max', store_count); //对应规格最大库存
                $('.layer-addcar .specPrice').html(goods_price); // 变动价格显示
                $('#spec_key').val(spec_key); //key
                $('#spec_price').val(goods_price); //price

            }
            /***用作 sort 排序用*/
            function sortNumber(a, b)
            {
                return a - b;
            }
            // 选择点击后的样式
            $(function () {
                $('body').on('click', '#product-addcar .pro-tags span', function () {
                    $(this).parents('.pro-tags').find('span').removeClass('active');
                    $(this).addClass('active');
                    get_goods_price();
                })
//                var imgs = $('.chooseadd-box .img-box').find('img');
//                imgs.click(function() {
//                    $(this).parent().siblings().find('img').removeClass('active');
//                    $(this).addClass('active');
//                })
            })


        </script>
        <script>
            //收藏商品
            $(function () {
                $('.j_btn_sc .ico').on('click', function () {
                    var type = $(this).hasClass('ico-sc1-yes');
                    var text = $(this).find('span');
                    var id = $(this).attr('id');
                    var store_id = $('input[name=store_id]').val();
                    var store_good_id = $('input[name=store_good_id]').val();
                    $.ajax({
                        url: 'wx.php?app=userCenter&act=docollectionGoods',
                        type: 'GET',
                        data: {id: id, type: type, store_id: store_id, store_good_id: store_good_id},
                        dataType: 'json',
                        success: function (res) {
                            if (res.statu == 1) {
                                $('.j_btn_sc .ico').addClass('ico-sc1-yes');
                                text.text('已收藏');
                            } else {
                                $('.j_btn_sc .ico').addClass('ico-sc1-no');
                                text.text('收藏');
                            }
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    })
                })
            });
            //通过自定义属性来设置acore初始值
            $('.start').raty({
                score: function () {
                    return $(this).attr('data-score');
                }
            });

            //	$('.product-choose,.btn-cart').click(function(){
            //		//dialog_load_addcart('{$SITE_URL}/template/wx/goods/addcart.html');
            //		var id = $(" input[ type='hidden' ] ").val();
            //		alert(id);return false;
            //		setTimeout(function(){
            //			dialog_form_radio('?app=goodProm&act=getGoods&id='+id,'添加商品');
            //		},100);
            //	});
            var swiper = new Swiper('.swiper-container', {
                spaceBetween: 0,
                centeredSlides: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: true,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                }
            });
            //详情参数切换
            $('.detailinfo-menus li').click(function () {
                var item = $('.detailinfo-item');
                var li = $('.detailinfo-menus li');
                var index = $(this).index();
                li.removeClass('active');
                $(this).addClass('active');
                item.hide();
                item.eq(index).show();
            });
            // 弹出购物车页面
            $('.j_addcar').click(function () {
                var add_buy = $(this).attr('name');
                $(this).parent().parent().prev().prev().prev().prev().children().find('a').attr('id', add_buy);
                layer.open({
                    type: 1
                    , content: $('#addcar').html()
                    , anim: 'up'
                    , className: 'layer-addcar'
                    , style: 'position:fixed; bottom:0; left:0; width: 100%; height: 8.05rem;border:none;'
                });
                if (spec_goods_price) {
                    get_goods_price();
                }

            });
            // 查看更多
            $('#j_comments').find('.commentitem').eq(0).show();
//            $('#j_btn_all').click(function() {
//                var btn = $(this).find('a');
//                var val = btn.text();
//                if (val == '查看全部') {
//                    $('#j_comments').find('.commentitem').show();
//                    btn.text('收起');
//                } else {
//                    $('#j_comments').find('.commentitem').hide();
//                    $('#j_comments').find('.commentitem').eq(0).show();
//                    btn.text('查看全部');
//                }
//
//            })


        </script>

        <script type="text/javascript">
            $('body').on('click', '#add', function () {
                var store_id = $('input[name=store_id]').val();
                var item_ids = [];
                $(".layui-m-layer .pro-choose .active").each(function () {
                    if (item_ids != 'undefined') {
                        item_ids.push($(this).attr('data-id'));
                    }
                });

                if (item_ids.length > 0) {
                    item_ids = item_ids.join('_');
                    var goods_price = $('input[name=spec_price]').val();
                    //alert(goods_price);
                } else {
                    item_ids = 0;
                    var goods_price = $('input[name=goods_price]').val();
                    //alert(goods_price);
                }
                var store_goods_id = $('input[name=store_goods_id]').val();
                var item_id = item_ids;
                //var num = $('input[name=num]').val();
                var num = $(this).prev().children().find('input').val();
                var prom_id = $('input[name=prom_id]').val();
                var shipping_price = $('input[name=shipping_price]').val();
                var order_from = $('input[name=order_from]').val();
                var langId = $('input[name=langId]').val();
                var auxiliary = $('input[name=auxiliary]').val();
                var shipping_store_id = $('.layer-addcar select[name=store_choose]').val();
                var latlon=$('input[name=latlon]').val();
                //		var fxCode = $('input[name=fxCode]').val();
                if (shipping_price == '0.00') {
                    shipping_price = 0.00;
                }

                if (prom_id.length == 0) {
                    prom_id == 0;
                }
                $.ajax({
                    url: 'wx.php?app=cart&act=doAddCart&lang=' + langId,
                    type: 'POST',
                    data: {'shipping_store_id': shipping_store_id, 'auxiliary': auxiliary, 'langId': langId, 'store_id': store_id, 'store_goods_id': store_goods_id, 'item_id': item_id, 'goods_num': num, 'prom_id': prom_id, 'goods_price': goods_price, 'shipping_price': shipping_price, 'order_from': order_from,'latlon':latlon},
                    async: false, //默认为true 异步
                    error: function () {
                        alert('error');
                    },
                    success: function (data) {
                        var data = eval("(" + data + ")");
                        //				console.log(data);
                        //				return false;
                        if (data.status == 1) {
                            //用户名不存在需要注册！
                            // window.location.href =data.info.url;
                            layer.open({
                                shade: false,
                                content: " <i class='ico ico-correct'></i>" + data.message,
                                className: 'layer-tip',
                                time: 2
                            });
                            setTimeout(function () {
                                window.location.href = data.info.url;
                            }, 1000);
                        }
                        else{
                            layer.open({
                                shade: false,
                                content: " <i class='ico ico-warning'></i>" + data.message,
                                className: 'layer-tip',
                                time: 2
                            });
                            setTimeout(function () {
                                window.location.href = data.info.url;
                            }, 1000);
                        }
//                        else {
//                            layer.open({
//                                shade: false,
//                                content: " <i class='ico ico-error'></i>" + data.message,
//                                className: 'layer-tip',
//                                time: 2
//                            });
//                            setTimeout(function () {
//                                window.location.reload();
//                            }, 1000);
//                        }
                    }
                });
            });

            //直接购买
            $('body').on('click', '#buy', function () {
                var store_id = $('input[name=store_id]').val();
                var item_ids = [];
                $(".layui-m-layer .pro-choose .active").each(function () {
                    if (item_ids != 'undefined') {
                        item_ids.push($(this).attr('data-id'));
                    }
                });
                if (item_ids.length > 0) {
                    item_ids = item_ids.join('_');
                    var goods_price = $('input[name=spec_price]').val();
                    //alert(goods_price);
                } else {
                    item_ids = 0;
                    var goods_price = $('input[name=goods_price]').val();
                    //alert(goods_price);
                }
                var store_goods_id = $('input[name=store_goods_id]').val();
                var item_id = item_ids;
                //var num = $('input[name=num]').val();
                var num = $(this).prev().children().find('input').val();
                var shipping_price = $('input[name=shipping_price]').val();
                var order_from = $('input[name=order_from]').val();
                var langId = $('input[name=langId]').val();
                  var langId = $('input[name=langId]').val();
                  var auxiliary = $('input[name=auxiliary]').val();
                var shipping_store_id = $('.layer-addcar select[name=store_choose]').val();
                var latlon=$('input[name=latlon]').val();
                if (shipping_price == '0.00') {
                    shipping_price = 0.00;
                }
                $.ajax({
                    url: 'wx.php?app=orderSure&act=doBuy&lang=' + langId,
                    type: 'post',
                    data: {'shipping_store_id': shipping_store_id, 'auxiliary': auxiliary, 'langId': langId, 'store_id': store_id, 'store_goods_id': store_goods_id, 'item_id': item_id, 'goods_num': num, 'goods_price': goods_price, 'shipping_price': shipping_price, 'order_from': order_from,'latlon':latlon},
                    async: false, //默认为true 异步
                    error: function () {
                        alert('error');
                    },
                    success: function (data) {
                        var data = eval("(" + data + ")");
                        if (data.status == 1) {
                            window.location.href = data.info.url;
                        } else {
                            layer.open({
                                shade: false,
                                content: " <i class='ico ico-correct'></i>" + data.message,
                                className: 'layer-tip',
                                time: 2
                            });
                            setTimeout(function () {
                                window.location = data.info.url;
                            }, 1000);
                        }
                    }
                });
            })
        </script>
        <script type="text/javascript">
            $(function () {
                //库存的增加和减少
                $(document).on("click", '.updown-box .up', function (e) {
                    var symbol = $('input[name=symbol]').val();
                    var num = $(this).prev().val();
                    //$(this).prev().val(parseInt(num) + 1);
                    $(this).prev().val(parseInt(num) + 1);
                });
                // $('.updown-box .down').click(function(){
                $(document).on("click", '.updown-box .down', function (e) {

                    var symbol = $('input[name=symbol]').val();
                    var store_id = $('input[name=store_id]').val();
                    var num = $(this).next().val();
                    if (num <= 1) {
                        num == 1;
                        $(this).next().val(parseInt(num));
                    } else {
                        $(this).next().val(parseInt(num) - 1);
                        var price = $(this).next().val();
                        var num = $(this).next().val();
                        var price_html = (price * num);
                        price_html = symbol + price_html.toFixed(2);
                        $(this).parent().parent().next().next().find('span').html(price_html);
                        var goods_id = $(this).next().next().attr('data_good_id');
                        var item_id = $(this).next().next().attr('data_spec');
                        var prom_id = 0;
                    }
                })
                //组合销售滑动
                var swiper = new Swiper({
                    el: '.swiper-container1',
                    keyboard: {
                        enabled: true
                    }, navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                });
            })
        </script>
        {/literal}
    </body>
</html>