<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{$langdata.goods_details}</title><!--商品详情-->
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/swiper.min.css"  rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{$STATIC_URL}/phone/layui/css/layui.css"/>
        <style>
            .detailinfo-item span{
                display:inline-block;
            }
        </style>
    </head>
    <body>
        <div class="productdetail-wrap">
            <a href="javascript:window.history.back(-1);" class="ico back"></a>
            <!-- Swiper轮播   -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{$SITE_URL}/{$info.original_img}" width="100%"></div>
                    {foreach from=$img_arr item=item}
                    <div class="swiper-slide"><img src="{$SITE_URL}/{$item.image_url}" width="100%"></div>
                    {/foreach}
                </div>
                <div class="swiper-pagination"></div>
                <div class="bg">
                    <div class="text">
                        <span>{$arr.name}{if $source==3}{$arr.prom_name}{/if}</span>
                    </div>
                </div>
            </div>
            <div class="product-main">
                <div class="clearfix">
                    <div class="pro-title fl">
                        <h2>{$info.goods_name}</h2>
                    </div>
                </div>
                <div class="pro-price">
                    <span class="xprice" id="xprice">{$cur_info.symbol}{$info.shop_price}</span>
                    <span class="yprice" id="yprice">{$cur_info.symbol}{$info.market_price}</span>
                </div>
                <div class="pro-postage">
                    <p class="first ellipsis">
                        <span>{$langdata.goods_Post}</span><!--邮-->
                        {if $info.is_free_shipping ==1}
                        {$langdata.Free}
                        {else}
                        {$langdata.freight}：{$cur_info.symbol}{$info.shipping_price}
                        {/if}
                    </p>
                </div>
            </div>
            <input name="spec_arr" id="spec_arr" value="{$spec_arr}" type="hidden"/>
            <input name="old_pirce" value="{$info.shop_price}" type="hidden" id="old_price"/>
            <input name="old_num" value="{$info.goods_storage}" type="hidden" id="old_num"/>
            <input name="store_goods_id" value="{$store_goods_id}" type="hidden" name="store_goods_id"/>
            <input name="prom_id" value="0" type="hidden"/>
            {if $goods_price}
            <input name="goods_price" value="{$goods_price}" type="hidden"/>
            {else}
            <input name="goods_price" value="{$info.shop_price}" type="hidden" />
            {/if}
            <input name="spec_price" value="" type="hidden" id="spec_price"/>
            <input name="spec_key" value="{$spec_key}" type="hidden" id="spec_key"/>
            <input name="order_from" value="2" type="hidden"/>
            <input name="store_id" value="{$store_id}" type="hidden"/>
            <input name="commtotalpage" value="{$commtotalpage}" type="hidden"/> <!--评论的页数-->
            <input name="langId" value="{$langId}" type="hidden"/>
            <input name="shipping_price" value="{$info.shipping_price}" type="hidden"/>
            <input name="symbol" value="{$cur_info.symbol}" type="hidden"/>
            <input name="store_good_id" value="{$info.goods_id}" type="hidden"/>
            <input name="shorthand" value="{$langid}" type="hidden"/>
            <input name="source" value="{$source}" type="hidden"/>
            <input type="hidden" value="{$cid}" name="cid">
            <input name="auxiliary" value="{$auxiliary}" type="hidden"/>
            <input name="latlon" value="{$latlon}" type="hidden"/>
            <input name="user_num" value="{$arr.user_num}" type="hidden" />
            <input name="limit_num" value="{$arr.limit_num}" type="hidden" />
            <input type="hidden" name="discount" value="{$arr.discount}">
            <div id="addcar" style="display: none;">
                <div id="product-addcar">
                    <i class="ico ico-close"></i>
                    <div class="pro-info clearfix">
                        <div class="img fl">
                            <img src="{$SITE_URL}/{$info.original_img}">
                        </div>
                        <div class="info fl">
                            <p class="price red" id="specPrice">{$cur_info.symbol}
                                <span class="specPrice">{$info.shop_price}</span>
                            </p>
                            <p class="choose">{$langdata.goods_Choice}：<span>{$langdata.goods_type}</span></p><!--请选择--><!--产品类型-->
                        </div>
                    </div>
                    <div class="pro-choose">
                        {foreach  from=$spec_img item=val key=key}
                        <h2>{$key}:</h2>
                        <div class="pro-tags">
                            {foreach from=$val  item = item key=k}
                            {if in_array($item.item_id, $arr1) && is_array($arr1) }
                            <span  style="cursor:pointer"  name="spec[]" {if $k==$k } class="active" {/if}  data-id="{$item.item_id}">{$item.item}</span>
                            {else}
                            <span  style="cursor:pointer"  name="spec[]" {if $k==0 } class="active" {/if}  data-id="{$item.item_id}">{$item.item}</span>
                            {/if}
                            {/foreach}
                        </div>
                        {/foreach}
                        <div class="updown-box">
                            <span class="down fl ico ico-down"></span>
                            <input type="text" class="num fl" name="num" value="1" disabled="disabled">
                            <span class="up fl ico ico-up"></span>
                        </div>
                        <span class="storage fr" style="margin-top:0.22rem">{$langdata.goods_Stock}(<em class="product-amount">{if empty($info.goods_storage)} 0 {else} {$info.goods_storage} {/if}</em>)</span>
                    </div>
                    <button class="btn-sure" id="add">{$langdata.goods_Determine}</button><!--确定-->
                </div>
            </div>
            <!--活动时间-->
            {if $arr.in_time==1}
            <div class="activity_time">
                <span class="span1">{$langdata.countDown}：</span>
                <input type="hidden" value="{$arr.end_timea}" name="endtime" />
                <span class="clock span2"></span>
            </div>
            {elseif $arr.in_time==2 }
            <div class="activity_time">
                <span class="span1">{$langdata.saleTime}：</span>
                <span class="span2">{$arr.start_our|date_format:"%H:%M "} - {$arr.end_our|date_format:"%H:%M "}</span>
            </div>
            {/if}
            {if $source==2 }
            <div class="activity_time">
                <span class="span1">{$langdata.deadLine}:</span>
                <span class="span2">{$arr.end_time|date_format:"%Y-%m-%d  %H:%M"}</span>
                <span class="span3">{$langdata.groupMember}:</span>
                <span class="span4">{$arr.virtual_num}</span>
            </div>
            {/if}
            {if $source==3 && $arr.status==2}
            <div class="activity_time">
                <span class='span1'>{$langdata.countDown}：</span>
                <input type="hidden" value="{$arr.end_timea}" name="endtime" />
                <span class="clock span2"></span>
            </div>
            {/if}
            {if $arr.status==1  }
            <div class="activity_time">
                <span class='span1'>{$langdata.salesPromotion}</span>
            </div>
            {/if}
            <!--基本信息-->
            {if $source==1}
            <div class="msg">
                {foreach from=$spec_img item=val key=key}
                <div class="public">
                    <span>{$key}：</span>
                    {foreach from=$val item=item key=k}
                    <button data-id="{$item.item_id}" {if $k==0 } class="active" {/if} name="spec[]" >{$item.item}</button>
                    {/foreach}
                </div>
                {/foreach}
                <div class="public count">
                    <span>{$langdata.goods_Number}：</span>
                    <div class="count_btn">
                        <div class="minus">-</div>
                        <div><span class="num" id='ku'>1</span></div>
                        <div class="plus">+</div>
                    </div>
                </div>
                {else}
                <div class="msg">
                    {foreach from=$spec_img item=val key=key}
                    <div class="public">
                        <span>{$key}：</span>
                        {foreach from=$val item=item key=k}
                        <button data-id="{$item.item_id}" {if $k==$k } class="active" {/if} name="spec[]" >{$item.item}</button>
                        {/foreach}
                    </div>
                    {/foreach}
                    <div class="public count">
                        <span>{$langdata.goods_Number}：</span>
                        <div class="count_btn">
                            <div class="minus">-</div>
                            <div><span class="num" id='ku'>1</span></div>
                            <div class="plus">+</div>
                        </div>
                    </div>
                {/if}
                <div class="product-detailinfo mt30" style="margin-top:0.2rem;">
                    <ul class="detailinfo-menus clearfix">
                        <li class="active"><span>{$langdata.goods_details}</span></li><!--商品详情-->
                        <li><span>{$langdata.goods_parameter}</span></li><!--商品参数-->
                    </ul>
                    <div class="detailinfo-item" style="display: block;">
                        {$info.goods_content}
                    </div>
                    <div class="detailinfo-item">
                        <table class="table">
                            {foreach  from=$attr_arr item=v}
                            <tr>
                                <td>{$v.attr_name}</td>
                                <td>{$v.attr_value}</td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                </div>
                <div class="product-guid clearfix">
                    <div class="fl left">
                        <ul>
                            <li class="j_btn_sc">
                                {if $info.type==1 }
                                <i class="ico ico-sc1-yes" name='clicki' id="{$info.id}"></i>
                                <span>{$langdata.goods_already}</span><!--已收藏-->
                                {else}
                                <i class="ico ico-sc1-no" name='clicki' id="{$info.id}"></i>
                                <span>{$langdata.goods_Collection}</span><!--收藏-->
                                {/if}

                            </li>
                            {if $kf_id}
                            <li>
                                {if $user_id}
                                <a href="http://www.711home.net/wx.php?app=wxIm&act=imIndex&uid={$user_id}&gid={$info.id}&store_id={$store_id}&lang_id={$langId}&kf_id={$kf_id}&latlon={$latlon}">
                                    {else}
                                    <a href="wx.php?app=user&act=loginOuth&storeid={$store_id}&lang={$langId}&auxiliary={$auxiliary}&latlon={$latlon}">
                                        {/if}
                                        <i class="ico ico-service"></i>
                                        <span>{$langdata.customerService}</span></a>
                            </li>
                            {/if}
                            <li>
                                <a href="wx.php?app=cart&act=index">
                                    <i class="ico ico-cart"></i>
                                    <span>{$langdata.goods_ShoppingCart}</span><!--购物车-->
                                </a>
                            </li>
                        </ul>
                    </div>
                        <div class="fr right">
                            {if $arr.status !=1  && $arr.in_time !=2 }
                            <a href="##" class="btn-buy j_addcar" id="buy"  name="buy">{$langdata.goods_purchase}</a><!--购买-->
                            {/if}
                        </div>
                </div>
                <div class="height110"></div>
            </div>
            <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
            <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
                <script src="{$STATIC_URL}/phone/layui/layui.all.js"></script>
            <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
            <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
            <script src="{$STATIC_URL}/phone/js/swiper.min.js"  type="text/javascript" ></script>
            <script src="{$STATIC_URL}/phone/js/jquery.raty.js" type="text/javascript"></script>
            <script src="{$STATIC_URL}/phone/js/jquery.countdown.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(function () {
                    var clock = $('.clock');
                    for (var i = 0; i < clock.length; i++) {
                        var twoDaysFromNow = $(clock[i]).prev().val();
                        var nowTime = new Date().valueOf();
                        var countDown = (nowTime + twoDaysFromNow * 1000);

                        $(clock[i]).countdown(countDown, function (event) {
                            $(this).html(event.strftime('%d 天 %H 小时 %M 分钟 %S 秒'));
                        });
                    }
                    function resetSelectWidth(obj) {
                        var tempObj = document.createElement("select");
                        tempObj.length = 1;
                        tempObj.options[0].text = obj.options[obj.selectedIndex].text
                        obj.parentNode.appendChild(tempObj);
                        obj.style.width = tempObj.offsetWidth;
                        obj.parentNode.removeChild(tempObj);
                    }
                })
                var spec_goods_price = {$spec_arr};//规格数据

            </script>
            {literal}
            <script type="text/javascript">
                function isNullObj(obj) {
                    for (var i in obj) {
                        if (obj.hasOwnProperty(i)) {
                            return false;
                        }
                    }
                    return true;
                }
                function get_goods_price()
                {
                    var goods_price = $("#old_price").val(); // 商品起始价
                    var store_count = $("#old_num").val(); // 商品起始库存
                    var discount=$('input[name=discount]').val();

                    // 如果有属性选择项
                    if (spec_goods_price != null)
                    {

                        goods_spec_arr = new Array();

                        $(".msg  button.active").each(function () {

                            goods_spec_arr.push($(this).attr('data-id'));

                        });
                        var spec_key = goods_spec_arr.sort(sortNumber).join('_'); //排序后组合成 key
                        goods_price = spec_goods_price[spec_key].price; // 找到对应规格的价格
                        store_count = spec_goods_price[spec_key].goods_storage; // 找到对应规格的库存
                        goods_price=discount*goods_price/10;
                    }
                    var goods_num = parseInt($('.updown-box .up').prev().val());
                    var store_id = $('select[name=store_choose] option:selected').val();
                    var good_id = $('input[name=store_good_id]').val();
                    var source = $('input[name=source]').val();
                    var cid = $('input[name=cid]').val();
                    var shorthand = $('input[name=shorthand]').val();
                    // 库存不足的情况
                    if (shorthand == 29) {
                        var storage = '当前库存（' + store_count + ')';
                    } else {
                        var storage = 'stock（' + store_count + ')';
                    }
                    $('#saleprice').html(store_count); //对应规格库存显示出来
                    $('.storage').html(storage); //库存
                    $('.layer-addcar .specPrice').html(goods_price); // 变动价格显示
                    $('#spec_key').val(spec_key); //key
                    $('#xprice').val('￥'+goods_price); //price
                    $('#spec_price').val(goods_price); //price
                }
                /***用作 sort 排序用*/
                function sortNumber(a, b)
                {
                    return a - b;
                }
                // 选择点击后的样式
                $(function () {
                    $('body').on('click', '#product-addcar .pro-tags span', function () {
                        $(this).parents('.pro-tags').find('span').removeClass('active');
                        $(this).addClass('active');
                        get_goods_price();
                    })
                })


            </script>
            <script>
                //收藏商品
                $(function () {
                    $('.j_btn_sc .ico').on('click', function () {
                        var type = $(this).hasClass('ico-sc1-yes');
                        var text = $(this).find('span');
                        var id = $(this).attr('id');
                        var store_id = $('input[name=store_id]').val();
                        var store_good_id = $('input[name=store_good_id]').val();
                        $.ajax({
                            url: 'wx.php?app=userCenter&act=docollectionGoods',
                            type: 'GET',
                            data: {id: id, type: type, store_id: store_id, store_good_id: store_good_id},
                            dataType: 'json',
                            success: function (res) {
                                if (res.statu == 1) {
                                    $('.j_btn_sc .ico').addClass('ico-sc1-yes');
                                    text.text('已收藏');
                                } else {
                                    $('.j_btn_sc .ico').addClass('ico-sc1-no');
                                    text.text('收藏');
                                }
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            }
                        })
                    })
                });
                //通过自定义属性来设置acore初始值
                $('.start').raty({
                    score: function () {
                        return $(this).attr('data-score');
                    }
                });
                var swiper = new Swiper('.swiper-container', {
                    spaceBetween: 0,
                    centeredSlides: true,
                    autoplay: {
                        delay: 5000,
                        disableOnInteraction: true,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    }
                });
                // 查看更多
                $('#j_comments').find('.commentitem').eq(0).show();



            </script>

            <script type="text/javascript">



                $('#buy').on('click', function () {

                    var store_id = $('input[name=store_id]').val();
                    var store_goods_id = $('input[name=store_goods_id]').val();
                    var discount=$('input[name=discount]').val();
                    var goods_price=$('input[name=goods_price]').val();
                    var limit_num=parseInt($('input[name=limit_num]').val());
                    var user_num=parseInt($('input[name=user_num]').val());
                    if(store_goods_id==9677){
                        goods_price=0.01;
                    }

                    // 如果有属性选择项
                    if (spec_goods_price != null)
                    {
                        var store_count=0;
                        goods_spec_arr = new Array();
                        $(".msg  button.active").each(function () {
                            goods_spec_arr.push($(this).attr('data-id'));

                        });
                        var spec_key = goods_spec_arr.sort(sortNumber).join('_'); //排序后组合成 key
                        goods_price = spec_goods_price[spec_key].price; // 找到对应规格的价格
                        store_count = spec_goods_price[spec_key].goods_storage; // 找到对应规格的库存
                        goods_price=discount*goods_price/10;
                    }


                    var item_id = [];
                    $(".public button.active").each(function () {
                        if (item_id != 'undefined') {
                            item_id.push($(this).attr('data-id'));
                        }
                    });

                    var num = parseInt($('#ku').html());

                    if(num>store_count){
                        layer.alert('库存不足', {
                            icon: 0,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'
                        });
                        return false;
                    }
                    if(user_num>=limit_num){
                        layer.alert('你的购买数量已到上限', {
                            icon: 0,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'

                        });
                        return false;
                    }
                    if(num>(limit_num-user_num)){

                        layer.alert('限购'+limit_num+'件', {
                            icon: 0,
                            btn: false,
                            title: false,
                            closeBtn: 0,
                            time: 2000,
                            skin: 'alt-layer'

                        });
                        return false;
                    }




                    var shipping_price = $('input[name=shipping_price]').val();
                    var order_from = $('input[name=order_from]').val();
                    var langId = $('input[name=langId]').val();
                    var auxiliary = $('input[name=auxiliary]').val();
                    var shipping_store_id = $('input[name=store_id]').val();
                    var source = $('input[name=source]').val();
                    var cid = $('input[name=cid]').val();
                    var latloon=$('input[name=latlon]').val();
                    if (shipping_price == '0.00') {
                        shipping_price = 0.00;
                    }

                    $.ajax({
                        url: 'wx.php?app=orderSure&act=doBuy&lang=' + langId,
                        type: 'post',
                        data: {'shipping_store_id': shipping_store_id, 'auxiliary': auxiliary, 'langId': langId, 'store_id': store_id, 'store_goods_id': store_goods_id, 'item_id': item_id, 'goods_num': num, 'goods_price': goods_price, 'shipping_price': shipping_price, 'order_from': order_from, 'cid': cid, 'source': source,'latlon':latloon},
                        async: false, //默认为true 异步
                        error: function () {
                            alert('error');
                        },
                        success: function (data) {
                            console.log(data);
                            var data = eval("(" + data + ")");
                            if (data.status == 1) {
                                window.location.href = data.info.url;
                            } else {
                                layer.alert(data.message, {
                                    icon: 0,
                                    btn: false,
                                    title: false,
                                    closeBtn: 0,
                                    time: 2000,
                                    skin: 'alt-layer'
                                });
                                setTimeout(function () {
                                    window.location = data.info.url;
                                }, 1000);
                            }
                        }
                    });
                })




                //数量的增加与减少
                $("div.plus").click(function () {
                    var langId = $('input[name=langId]').val();
                    var num = parseInt($("span.num").html());
                    var source = $('input[name=source]').val();
                    var cid = $('input[name=cid]').val();
                    num += 1;
                    $("span.num").html(num);

                });
                $("div.minus").click(function () {
                    var num = parseInt($("span.num").html());
                    if (num == 1) {
                        return;
                    } else {
                        num -= 1;
                        $("span.num").html(num);
                    }
                });
                //下拉框
                $(".input_select").click(function () {
                    var ul = $("#dropdown ul");
                    if (ul.css("display") == "none") {
                        ul.slideDown();
                    } else {
                        ul.slideUp();
                    }
                });
                $("#dropdown ul li a").click(function (e) {
                    e.preventDefault()
                    var txt = $(this).text();
                    $(".input_select").val(txt);
                    $("#dropdown ul").hide();
                });

            </script>
            <script type="text/javascript">


                $(function () {
                    //按钮切换
                    $("div.public").on("click","button",function(){
                        get_goods_price();
                        if($(this).hasClass("active")){
                            return false;
                        }else{
                            $(this).addClass("active").siblings("button.active").removeClass("active");
                        }
                    });



                    //库存的增加和减少
                    $(document).on("click", '.updown-box .up', function (e) {
                        var symbol = $('input[name=symbol]').val();
                        var num = $(this).prev().val();
                        $(this).prev().attr('value', parseInt(num) + 1);
                        //$(this).prev().val(parseInt(num) + 1);
                        change_store(num);
                    });
                    // $('.updown-box .down').click(function(){
                    $(document).on("click", '.updown-box .down', function (e) {

                        var symbol = $('input[name=symbol]').val();
                        var store_id = $('input[name=store_id]').val();
                        var num = $(this).next().next().val();
                        if (num <= 1) {
                            num == 1;
                            $(this).next().next().val(parseInt(num));
                        } else {
                            $(this).next().next().val(parseInt(num) - 1);
                            var price = $(this).next().val();
                            var num = $(this).next().next().val();
                            var price_html = (price * num);
                            price_html = symbol + price_html.toFixed(2);
                            $(this).parent().parent().next().next().find('span').html(price_html);
                            var goods_id = $(this).next().next().attr('data_good_id');
                            var item_id = $(this).next().next().attr('data_spec');
                            var prom_id = 0;
                        }
                    })
                })
            </script>
            {/literal}
    </body>
</html>