<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->

            <div class="content-wrapper">
                {include file="public/headtab.html"}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->distribution_check}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                        <li class="active">{$language1->fx_manage}</li>
                        <li class="active">{$language1->distribution_check}</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding" action="?app=fxDiscoutLog&act=logList">
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label sm">{$language1->user_name}：</small>
                                            <input type='hidden' name='app' value='fxDiscoutLog'>
                                            <input type='hidden' name='act' value='logList'>
                                            <input type="text" class="form-control" name="name" value="{$username}">
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">{$language1->area_countroy}：</small>
                                            <select class="form-control" name="area_id"  onchange="toStoreArr($)">
                                                <option value="0" {if $status ==0} selected {/if} >--{$language2->please_select}--</option>
                                                {$areaOption}
                                            </select>
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">{$language2->select_store}：</small>
                                            <select class="form-control" name="store_id"  >
                                                <option value="0" {if $status ==0} selected {/if} >--{$language2->please_select}--</option>
                                                {$storeList}
                                            </select>
                                        </div>
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">{$language2->status}：</small>
                                            <select class="form-control status" name="status" >
                                                <option value="0" {if $status ==0} selected {/if} >--{$language2->please_select}--</option>
                                                <option value="1"  {if $status ==1} selected {/if} >{$language1->application}</option>
                                                <option value="2" {if $status ==2} selected {/if} >{$language2->success_review}</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-group-sm form-mar" style="margin-left:50px;">
                                            <button type='submit' class="btn btn-default btn-sm" id="search" style="padding-top: 5px;">
                                                {$language2->search} <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>

                                    <!--<div class="col-sm-2  col-md-1 no-padding">-->
                                    <!--<a class="btn btn-primary pull-right btn-sm" href="store.php?app=storeGoodsBrand&act=brandAdd" role="button"><i class="fa fa-plus"></i>申请品牌</a>-->
                                    <!--</div>-->

                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>{$language2->numb}</th>
                                                    <th>{$language1->user_name}</th>
                                                    <th>{$language1->three_ratio}</th>
                                                    <th>{$language1->original_offer}</th>
                                                    <th>{$language1->appeal_offer}</th>
                                                    <th>{$language2->status}</th>
                                                    <th>{$language2->add_time}</th>
                                                    <th style="width: 100px;">{$language2->control}</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$list item=val }
                                            <tr>
                                                <td>{$val.sort_id}</td>
                                                <td>{$val.real_name}</td>
                                                <td>{$val.lev3_prop}%</td>
                                                <td>{$val.old_discount}%</td>
                                                <td>{$val.fx_discount}%</td>
                                                <td>{if $val.is_check==1} <span style="color: red">{$language2->unaudited}</span> {else} <span style="color: green">{$language2->passed}</span>{/if}</td>
                                                <td>{$val.add_time|date_format:"%Y-%m-%d"}</td>
                                                <td>
                                                    {if $val.is_check == 1}
                                                    <a href="javascript:;" data-href="?app=fxDiscoutLog&act=setFxdiscount&id={$val.id}&p={$p}" data-toggle="tooltip" class="btn btn-xs btn-success dis-pass"   style="overflow: hidden; position: relative;"  >{$language2->audit_passed}</a>
                                                    {/if}
                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-danger "  onclick="shanchu({$val.id});"   style="overflow: hidden; position: relative;"  >{$language2->drop}</a>
                                                </td>
                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    {$page}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}
        </div>
        <!-- ./wrapper -->

        <!-- jQuery 2.2.3 -->
        <script type="text/javascript" >
                    /*删除*/
                    function shanchu(id){
                        deletes('?app=fxDiscoutLog&act=dele&id=' + id);
                    }
                    $('select[name=area_id]').change(function () {
                        var name = $('input[name=name]').val();
                        var area_id = $(this).val();
                        var status = $(".status").val();
                        var url = "?app=fxDiscoutLog&act=logList&status="+status+"&name="+name;
                        if(area_id.length > 0){
                            url +="&area_id="+area_id;
                        }
                        window.location= url;
                    });
                    $('body').on('click', '.dis-pass', function() {
                    var url = $(this).attr('data-href');
                            $.ajax({
                            type: "GET",
                                    dataType: "json",
                                    url: url,
                                    success: function(obj) {
                                    var msg = obj.message;
                                            if (obj.status == 1) {
                                    var d = $.dialog({
                                    content: '<div class="text-center">' + msg + '</div>',
                                            title: false, // hides the title.
                                            closeIcon: false, // hides the close icon.
                                            columnClass: 'xsmall',
                                            onOpen: function() {
                                            setTimeout(function() {
                                            d.close();
                                            }, 1000);
                                            }
                                    });
                                            setTimeout(function() {
                                            window.location.href = obj.info.url;
                                            }, 1000);
                                    }
                                    else {
                                    var d = $.dialog({
                                    content: '<div class="text-center">' + msg + '</div>',
                                            title: false, // hides the title.
                                            closeIcon: false, // hides the close icon.
                                            columnClass: 'xsmall',
                                            onOpen: function() {
                                            setTimeout(function() {
                                            d.close();
                                            }, 1000);
                                            }
                                    });
                                    }
                                    }
                            });
                    });
        </script>
    </body>
</html>
