<!DOCTYPE html>
<html>
<head>
	<title>711家居网客服登录</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{$STATIC_URL}/front/css/base.css">
	<link rel="stylesheet" href="{$STATIC_URL}/plugin/dialog/jquery-confirm.min.css">
	<link rel="stylesheet" href="{$STATIC_URL}/admin/css/bootstrap.min.css">
</head>
<body style="background-color:#dbdcd3;" class="bodystyle">
	<div class="login4-box ">
			<div class="login-head tc">
				<img src="{$STATIC_URL}/front/images/login-h.png">
			</div>
			<div class="login-content">
				<p class="item">
					<i class="ico ico-yong"></i>
					<input type="text" name="account_name" placeholder="客服名称" class="text">
				</p>
				<p  class="item">
					<i class="ico ico-mi"></i>
					<input type="password" name="password" placeholder="密码" class="text">
				</p>
				<p class="remb">

				</p>
				<p>
					<button class="btn-sub btn-flat">登录</button>
				</p>
			</div>
	</div>

</body>
<script src="{$STATIC_URL}/plugin/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{$STATIC_URL}/admin/js/bootstrap.js"></script>
<!-- iCheck -->
<script src="{$STATIC_URL}/plugin/iCheck/icheck.min.js"></script>
<script src="{$STATIC_URL}/admin/dist/js/common.js"></script>
<script src="{$STATIC_URL}/plugin/dialog/jquery-confirm.min.js"></script>
<script type="text/javascript" src="{$STATIC_URL}/front/plus/layer/layer.js"></script>
<script>
	$(function () {
		$('input').iCheck({
			checkboxClass: 'icheckbox_square-blue',
			radioClass: 'iradio_square-blue',
			increaseArea: '20%' // optional
		});
		document.onkeydown = function(event){
			e = event ? event :(window.event ? window.event : null);
			if(e.keyCode==13){
				var button = document.getElementById('login_button');
				button.focus();
				button.onclick();
			}
		};
	});
</script>
{literal}
<script type="text/javascript">
	$('.btn-flat').click(function(){
		var url = "kf.php?app=baseKf&act=doLogin";
		var account_name = $('input[name=account_name]').val();
		var password     = $('input[name=password]').val();
		$.post(url,{account_name:account_name,password:password},function(data){
			var data = eval("("+data+")");
			if(data.status ==1){
				$.dialog({
					content: '<div class="text-center">登录成功！</div>',
					title: false, // hides the title.
					closeIcon: false, // hides the close icon.
					columnClass: 'xsmall'
				});
				setTimeout(
						function(){
							window.location = data.url;
						},500);
			}else if(data.status == 0){
				var d= $.dialog({
					content: '<div class="text-center">'+data.message+'</div>',
					title: false, // hides the title.
					closeIcon: false, // hides the close icon.
					columnClass: 'xsmall',
					onOpen: function(){
						setTimeout(function(){
							d.close();
						}, 1000);
					}
				});
			}
		});

	});

</script>
{/literal}
</html>