<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language2->withdraw}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language2->distribution}</li>
                <li class="active">{$language2->withdraw}</li>
            </ol>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header" style="padding-top: 0;">
                            <form class="form-inline col-sm-10 col-md-11 no-padding">
                                <input type='hidden' name='app' value='distributor'>
                                <input type='hidden' name='act' value='show'>
                                <!--<input type="hidden" name = "delAll" value="dele">-->
                                <input type="hidden" name="user_id" value="{$user_id}">
                                <div class="form-group form-group-sm form-mar" style="height: 79px;font-size: 10px;text-align: center;">
                                    <div style="width:50px;height: 45px;border-left: 1px dashed #3c8dbc;border-right:1px dashed #3c8dbc;margin:0 auto"></div>
                                    <a href="##" style="padding:5px;color: #fff;display: inline-block;background-color: #3c8dbc;height: 35px;-webkit-border-top-right-radius:10px;line-height: 25px " title="{$real_name}">
                                        <i style="width: 10px;height: 10px;border-radius: 50%;background-color: #fff;display: inline-block"></i>
                                        {$real_name}
                                    </a>
                                </div>
                                <div class="form-group form-group-sm form-mar" style="height: 79px;line-height: 128px;">账户总佣金：{$monery}（{$language2->yuan}）</div>
                                <div class="form-group form-group-sm form-mar" style="height: 79px;line-height: 128px;">已提现佣金：{if $fx_applymoney == ''}0{else}{$fx_applymoney}{/if}（{$language2->yuan}）</div>
                                <div class="form-group form-group-sm form-mar" style="height: 79px;line-height: 128px;">未入账佣金：{$sumss}（{$language2->yuan}）</div>
                                <div class="form-group form-group-sm form-mar" style="background: url('assets/admin/images/icon2.png')no-repeat 0 50px;padding-left: 40px;height: 79px;line-height: 128px;">搜索佣金总计：{$sums}（{$language2->yuan}）</div>
                                <div class="form-group form-group-sm form-mar " style="display: block;">
                                    <small class="control-label ">{$language2->regional_store}：</small>
                                    <select class="form-control w160 j_area" name="area_id" id="area_id">
                                        <option value='0'>--{$language1->select_regional_country}--</option>
                                        {$areaOption}
                                    </select>
                                    <select class="form-control w160 j_store" name="store_id" id="store_id">
                                        <option value='0'>--{$language1->select_shop}--</option>
                                        {$storeOption}
                                    </select>
                                    <small class="control-label zm">{$language1->order_number}：</small>
                                    <input class="form-control" type="text" name="order_sn" placeholder="{$language1->order_number}" value="{$order_sn}"/>
                                    <small class="control-label">收益状态：</small>
                                    <select class="form-control w160 j_select j-source" name="is_on" id="is_on">
                                        <option value="99" {if 99 == $is_on} selected {/if}>--请选择收益状态--</option>
                                        {foreach from=$statusList  item=item key=key}
                                        <option value='{$key}'  {if $key == $is_on} selected {/if}  >{$item}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label">{$language1->order_time}：</small>
                                    <input type="text" class="form-control w174 inblock" placeholder="" id="datepicker1" name="start_time" value="{$start_time}" readonly/>-
                                    <input type="text" class="form-control w174 inblock" placeholder="" id="datepicker2" name="end_time" value="{$end_time}" readonly/>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label">付款时间：</small>
                                    <input type="text" class="form-control w174 inblock" placeholder="" id="datepicker3" name="start_times" value="{$start_times}" readonly/>-
                                    <input type="text" class="form-control w174 inblock" placeholder="" id="datepicker4" name="end_times" value="{$end_times}" readonly/>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <button type="submit" class="btn btn-default btn-sm">
                                        {$language2->search} <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <button type="button" class="btn btn-default btn-sm reload">
                                        重置搜索内容
                                    </button>
                                </div>
                            </form>
                            <div class="col-sm-2  col-md-1 no-padding" style="float: right;margin-top: 20px">
                                <a class="btn btn-primary pull-right btn-sm export" ><i class="fa fa-plus"></i> 导出分销订单</a>
                            </div>
                        </div>
                        <div class="new-table-responsive">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <!--<th><input type="checkbox" name="" id="all"/></th>-->
                                        <th>{$language2->serial_number}</th>
                                        <th>{$language2->order_number}</th>
                                        <th>商品所属类型</th>
                                        <th>实付金额（{$language2->yuan}）</th>
                                        <th>{$language1->single_commission}（{$language2->yuan}）</th>
                                        <th>{$language2->distribution_ratio}（%）</th>
                                        <th>{$language2->belone_store}</th>
                                        <th>收益状态</th>
                                        <th>{$language1->order_time}</th>
                                        <th>付款时间</th>
                                    </tr>
                                    </thead>

                                    {foreach from=$data item=item key=key}
                                    <tr>
                                        <!--<td><input type="checkbox" name="check-name" value="{$item.id}" /></td>-->
                                        <td>{$key+1}</td>
                                        <td><a href="admin.php?app=orderList&act=details&order_id={$item.order_id}&p={$p}">{$item.order_sn}</a></td>
                                        <td>{$item.type_name}</td>
                                        <td>{$item.pay_money}</td>
                                        {if $item.fxmoney < 0}
                                        <td>0.00</td>
                                        {else}
                                        <td>{$item.fxmoney}</td>
                                        {/if}
                                        {if $item.prop < 0}
                                        <td>0</td>
                                        {else}
                                        <td>{intval($item.prop)}</td>
                                        {/if}
                                        <td>{$item.storeName}</td>
                                        {if $item.is_on == 1}
                                        <td>{$language2->already_account}</td>
                                        {else if $item.is_on == 0}
                                        <td>{$language2->not_account}</td>
                                        {/if}
                                        <td>{$item.add_time}</td>
                                        {if $item.payment_time == '1970-01-01 08:00'}
                                        <td></td>
                                        {else}
                                        <td>{$item.payment_time}</td>
                                        {/if}
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <!--<a href="#" class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> 批量删除</a>-->
                            {$page_html}
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <input type="hidden" name = "language1_select_shop" value="{$language1->select_shop}"/>
        <!-- /.content -->
    </div>
    {include file="public/footer.html"}

</div>
{literal}
<script>
    $(".reload").click(function () {
        var user_id = $("input[name=user_id]").val();
        window.location.href="?app=distributor&act=show&user_id="+user_id;
    });
    // var newDate = new Date();
    // var t = newDate.toJSON();
    $('#datepicker1').datetimepicker({
        // minView: "month",
        autoclose: true,
        language: 'ch',
        format: "yyyy-mm-dd hh:ii",
        clearBtn: true,
        startDate: 0,
        timepicker:false,

    });
    $('#datepicker2').datetimepicker({
        // minView: "month",
        autoclose: true,
        language: 'ch',
        format: "yyyy-mm-dd hh:ii",
        clearBtn: true,
        startDate: 0,
        timepicker:false,

    });
    $('#datepicker3').datetimepicker({
        // minView: "month",
        autoclose: true,
        language: 'ch',
        format: "yyyy-mm-dd hh:ii",
        clearBtn: true,
        startDate: 0,
        timepicker:false,

    });
    $('#datepicker4').datetimepicker({
        // minView: "month",
        autoclose: true,
        language: 'ch',
        format: "yyyy-mm-dd hh:ii",
        clearBtn: true,
        startDate: 0,
        timepicker:false,

    });
    $(".export").on('click',function () {
        var user_id = $('input[name=user_id]').val();
        var is_on = $("#is_on option:selected").val();
        var order_sn = $('input[name=order_sn]').val();
        var area_id = $('#area_id option:selected').val();
        var store_id = $("#store_id option:selected").val();
        var start_time = $("input[name=start_time]").val();
        var end_time   = $("input[name=end_time]").val();
        var start_times= $("input[name=start_times]").val();
        var end_times=$("input[name=end_times]").val();
        // alert(order_state);return false;
        var url = "?app=distributor&act=export&user_id=" + user_id + '&is_on=' + is_on + '&order_sn=' + order_sn + '&area_id=' + area_id + '&store_id=' + store_id + '&start_time=' + start_time + '&end_time=' + end_time + '&start_times=' + start_times+'&end_times='+end_times ;
        location.href = url;
    });

    $('.j_area').change(function(){
        var area_id = $('.j_area').val();
        var url = "?app=distributor&act=getAreaToStoreAjax&area_id="+area_id;
        var language1_select_shop=$('input[name=language1_select_shop]').val();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            success: function(obj) {
                // console.log(obj);
                if (obj.status == 1) {
                    var option = "<option value='0'>--" + language1_select_shop + "--</option>"
                    option += obj.info;
                    console.log(option);;
                    $('.j_store').html(option);

                } else {
                    option = "<option value='0'>--" + language1_select_shop + "--</option>";
                    $('.j_store').html(option);
                }

            }

        });

    });

</script>
{/literal}
</body>
</html>