*{
    padding:0;
    margin:0;
}

.payWay{
    width: 100%;
    background: #fff;
    .header{
        background-color: #e84c3d;
        .returnBox{
            width: 100%;
            height:80px;
            padding:0 93px 0 81px;
            box-sizing: border-box; 
           display: flex;
           align-items: center;
           img{
               display: block;
               width: 16px;
               height: 22px;
           }
           .text{
               color: #fff;
               font-size: 24px;
               margin-left: 12px;
           }
        }
    }
    .content{
        width: 100%;
        .contentBox{
            padding:0 93px 0 81px;
            box-sizing: border-box;  
            .title{
                width: 100%;
                height: 85px;
                line-height: 85px;
                font-size: 24px;
                color: #333;
            }
            .waysBox{
                ul{
                    display: flex;
                    width: 850px;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    list-style-type: none;
                    li{
                        width: 160px;
                        height: 160px;
                        border:1px solid #ccc;
                        box-sizing: border-box;
                        margin-bottom: 60px;
                        position: relative;
                        .img{
                            height:80px;
                            width:80px;
                            border-radius: 10px;
                            margin:0 auto;
                            margin-top: 10px;
                            img{
                                width: 80px;
                                height: 80px;
                            }
                        }
                        .wayName{
                            width: 100%;
                            height: 50px;
                            background-color: #ccc;
                            position: absolute;
                            left: 0;
                            bottom:0;
                            font-size: 24px;
                            line-height: 50px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}