<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>客服</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
	    <meta content="email=no" name="format-detection">
	    <link href="{$STATIC_URL}/phone/im/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
	    <link href="{$STATIC_URL}/phone/im/css/style.css"  rel="stylesheet" type="text/css"/>
	    <link href="{$STATIC_URL}/phone/im/css/painting-center.css"  rel="stylesheet" type="text/css"/>
	</head>
	<body class="paint-body">
	{if $gid}
		<div class="paint-web">
			<div class="ss-nav">
				<a href="javascript:window.history.back(-1);" class="ss-nav-back"></a>
				<div class="ss-nav-title">商品信息</div>
			</div>
			<div class="height90"></div>
			<main class="paint-main">
				<ul class="clearfix">
					<li class="clearfix fl">
						<a href="##" class="clearfix">
							<h5>浏览商品</h5>
							<div class="paint-order clearfix">
								<div class="paint-order-left fl">
									<img src="{$info.original_img}" />
								</div>
								<div class="paint-order-right fl">
									<div class="paint-order-right-top">
										<h5>{$info.goods_name}</h5>
									</div>
									<div class="paint-order-right-mid">
										当前店铺：{$curStoreInfo.store_name}<br/>
										当前客服：{$kf_info.kf_name}
									</div>
									<div class="paint-order-right-bot clearfix">
										<span class="fl">{$nowsy}{$info.shop_price}</span>
										<!--<span href="##" class="sure-order fr">确认订单</span>-->
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</main>
			{/if}
			<section class="paint-section">
				<ul class="clearfix">


				</ul>
			</section>
			<footer class="paint-footer">
				<div class="footer-content clearfix">
					<ul class="question_list">
						{foreach from = $question_list item=item}
						<li>{$item.content}</li>
						{/foreach}
					</ul>
					<div class="question">
						<img src="{$STATIC_URL}/phone/im/images/question.png" alt=""/>
					</div>
					<div class="footer-left fl">
						<!--<input type="text" name="" id="message" value="" />-->
						<div contentEditable="true" id="textarea1"></div>
						<i class="biaoqing"><img src="{$STATIC_URL}/phone/im/images/biaoqing.png" alt=""/></i>
						<div class="allimgs">
							<ul class="clearfix">
								<li><img src='/assets/phone/im/images/small/9.gif'/></li>
								<li><img src='/assets/phone/im/images/small/11.gif'/></li>
								<li><img src='/assets/phone/im/images/small/12.gif'/></li>
								<li><img src="/assets/phone/im/images/small/13.gif"/></li>
								<li><img src="/assets/phone/im/images/small/14.gif"/></li>
								<li><img src="/assets/phone/im/images/small/15.gif"/></li>
								<li><img src="/assets/phone/im/images/small/16.gif"/></li>
								<li><img src="/assets/phone/im/images/small/17.gif"/></li>
								<li><img src="/assets/phone/im/images/small/18.gif"/></li>
								<li><img src="/assets/phone/im/images/small/19.gif"/></li>
								<li><img src="/assets/phone/im/images/small/20.gif"/></li>
								<li><img src="/assets/phone/im/images/small/21.gif"/></li>
								<li><img src="/assets/phone/im/images/small/22.gif"/></li>
								<li><img src="/assets/phone/im/images/small/23.gif"/></li>
								<li><img src="/assets/phone/im/images/small/24.gif"/></li>
								<li><img src="/assets/phone/im/images/small/25.gif"/></li>
								<li><img src="/assets/phone/im/images/small/26.gif"/></li>
								<li><img src="/assets/phone/im/images/small/27.gif"/></li>
								<li><img src="/assets/phone/im/images/small/28.gif"/></li>
								<li><img src="/assets/phone/im/images/small/29.gif"/></li>
								<li><img src="/assets/phone/im/images/small/30.gif"/></li>
								<li><img src="/assets/phone/im/images/small/31.gif"/></li>
								<li><img src="/assets/phone/im/images/small/32.gif"/></li>
								<li><img src="/assets/phone/im/images/small/33.gif"/></li>
								<li><img src="/assets/phone/im/images/small/34.gif"/></li>
								<li><img src="/assets/phone/im/images/small/35.gif"/></li>
								<li><img src="/assets/phone/im/images/small/36.gif"/></li>
								<li><img src="/assets/phone/im/images/small/37.gif"/></li>
								<li><img src="/assets/phone/im/images/small/38.gif"/></li>
								<li><img src="/assets/phone/im/images/small/39.gif"/></li>
								<li><img src="/assets/phone/im/images/small/46.gif"/></li>
								<li><img src="/assets/phone/im/images/small/47.gif"/></li>
								<li><img src="/assets/phone/im/images/small/48.gif"/></li>
								<li><img src="/assets/phone/im/images/small/49.gif"/></li>
								<li><img src="/assets/phone/im/images/small/50.gif"/></li>
								<li><img src="/assets/phone/im/images/small/66.gif"/></li>
								<li><img src="/assets/phone/im/images/small/67.gif"/></li>
								<li><img src="/assets/phone/im/images/small/68.gif"/></li>
								<li><img src="/assets/phone/im/images/small/69.gif"/></li>
								<li><img src="/assets/phone/im/images/small/70.gif"/></li>
								<li><img src="/assets/phone/im/images/small/71.gif"/></li>
								<li><img src="/assets/phone/im/images/small/72.gif"/></li>
								<li><img src="/assets/phone/im/images/small/73.gif"/></li>
								<li><img src="/assets/phone/im/images/small/83.gif"/></li>
								<li><img src="/assets/phone/im/images/small/84.gif"/></li>
								<li><img src="/assets/phone/im/images/small/85.gif"/></li>
								<li><img src="/assets/phone/im/images/small/86.gif"/></li>
								<li><img src="/assets/phone/im/images/small/87.gif"/></li>
								<li><img src="/assets/phone/im/images/small/88.gif"/></li>
								<li><img src="/assets/phone/im/images/small/89.gif"/></li>
								<li><img src="/assets/phone/im/images/small/90.gif"/></li>
								<li><img src="/assets/phone/im/images/small/91.gif"/></li>
							</ul>
						</div>
					</div>
					<input type="hidden" id="fid" value="{$fid}">
					<input type="hidden" id="tid" value="{$tid}">
					<input type="hidden" id="store_good_id" value="{$info.id}">
					<div class="footer-right fr send" id="send">
						发送
					</div>
				</div>
			</footer>
		</div>
	</body>
	<script src="{$STATIC_URL}/phone/im/js/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="{$STATIC_URL}/phone/im/js/common.js" type="text/javascript"></script>
	<script src="{$STATIC_URL}/phone/im/js/layer/layer.js" type="text/javascript"></script>
	<script src="{$STATIC_URL}/phone/im/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
	<script src="{$STATIC_URL}/phone/im/js/index.js" type="text/javascript"></script>
	<script type="text/javascript">
//		$(function(){
//			//发送按钮
//			$("#send").on("click",function(){
//				sendMesg();
//			});
//			$(document).keypress(function(event){    //判断是否按了enter
//			    var keynum = (event.which);
//			    if(keynum == '13'){
//			    	sendMesg();
//			    }
//			});
//		});
//		function sendMesg(){
//			var message = $("#message").val(); //输入框的内容
//				var time = formatdate(); // 格式化时间
//				var html = '<li>'
//						+'<div class="time">'+time+'</div>'
//						+'<div class="news clearfix">'
//							+'<div class="fr">'
//								+'<img src="/assets/phone/im/images/message-icon.png" class="news-icon" />'
//							+'</div>'
//							+'<div class="fr clearfix news-content">'
//								+'<div class="news-message">'+message+'</div>'
//								+'<div class="sanjiao"></div>'
//							+'</div>'
//						+'</div>'
//					+'</li>'
//				$(".paint-section ul").append(html);
//				$(".paint-section").scrollTop( $(".paint-section ul").height() );//自动滚动到最新消息
//				$("#message").val("");
//		}
	</script>
	{literal}
	<script>
		var chat= $(".chatcentermain"),chats=$('.chatcontent');

		//var cons = document.getElementById("textarea");
		var wsServer = "ws://59.110.220.255:9502";
		var webSocket = new WebSocket(wsServer);
		webSocket.onopen = function(evt){
			openMsg();
			console.log("链接成功");
		};
		webSocket.onclose = function(evt){
			console.log("链接关闭");
		};
		webSocket.onerror = function(evt, e){
			console.log("错误"+evt.data);
		};

		//接受服务器传来的数据
		webSocket.onmessage = function(evt){

			// console.log('从服务器获取数据：'+evt.data);

			var pdata = $.parseJSON(evt.data);
			var fd = pdata.fd;
			var type = pdata.type;
			var content = pdata.cont;
			var time = formatdate(); // 格式化时间

			if(type == 'open'){
				//向数据库加 fd 表 加 数据
				openData(fd);
			}

			if(type='msg'){
				var answer='';
				var html ='<li>'
						+'<div class="time">'+time+'</div>'
						+'<div class="news clearfix">'
						+'<div class="fl">'
						+'<img src="/assets/phone/im/images/message-icon.png" class="news-icon" />'
						+'</div>'
						+'<div class="fl clearfix news-content">'
						+'<div class="news-message">'+content+'</div>'
						+'<div class="sanjiao"></div>'
						+'</div>'
						+'</div>'
						+'</li>';
				$(".paint-section ul").append(html);
				$(".paint-section").scrollTop( $(".paint-section ul").height() );//自动滚动到最新消息
				$("#textara1").html("");
			}
		};
		$("#textarea1").on("input propertychange",function(){
			if($(this).text().trim()){
				$(".send").css("background","#bfa58c");
			}else{
				//如果text()内容为空 ，则继续判断html()内容是否为空，如果不为空，则设置按钮激活，如果html()
				console.log("----------------",$(this).html());
				if($(this).html() && $(this).html().indexOf('img')>-1){
					console.log("=========");
					$(".send").css("background","#bfa58c");
				}else {
					$(".send").css("background", "#ddd");
				}
			}
		});
		$('.send').on('click',function(){
			var news=$('#textarea1').text();
			var content = $("#textarea1").html();
			//只有当text().和.html()内容赌为空的时候 才不能发送
			if(!news.trim() && !$('#textarea1').html()){
				$(this).attr("disabled","disabled");
				$(this).css("background","#ddd");
				return false;
			}else{
				if(!news.trim() && content.indexOf('img')<0){
					return;
				}
				//向服务端推送消息
				$(this).removeAttr("disabled");
				sendMsg();
				var message = $("#textarea1").html(); //输入框的内容
				var time = formatdate(); // 格式化时间
				var html = '<li>'
						+'<div class="time">'+time+'</div>'
						+'<div class="news clearfix">'
						+'<div class="fr">'
						+'<img src="/assets/phone/im/images/message-icon.png" class="news-icon" />'
						+'</div>'
						+'<div class="fr clearfix news-content">'
						+'<div class="news-message">'+message+'</div>'
						+'<div class="sanjiao"></div>'
						+'</div>'
						+'</div>'
						+'</li>'
				$(".paint-section ul").append(html);
				$(".paint-section").scrollTop( $(".paint-section ul").height() );//自动滚动到最新消息
				$("#textarea1").html("");
				// setTimeout(answers,1000);
				$(".send").css("background", "#ddd");
			}
		});

		function formatdate(){ // 格式化时间
			var date = new Date();
			var year = JSON.stringify(date.getFullYear()).substring(2,4);
			var month = date.getMonth()+1<10?"0"+(date.getMonth()+1):date.getMonth()+1
			var day = date.getDate()<10?"0"+date.getDate():date.getDate()
			var hour = date.getHours();
			var min = date.getMinutes();
			return year+"-"+month+"-"+ day +"&nbsp;&nbsp;&nbsp;&nbsp;"+hour+":"+min
		}

		//客户端 向 服务器 推送消息
		function sendMsg(){
			var fid = $("#fid").val(); //发送ID
			var tid = $("#tid").val(); //接收ID
			console.log(fid);
			console.log(tid);
			var cont = $('#textarea1').html();
			var news = cont.replace(/\n/g,"\\\\n");
			var cont_n = news.replace(/\"/g,"'")
			var pData = '{"from_id":"'+fid+'","to_id":"'+tid+'","cont":"'+cont_n+'","type":"msg"}';
			console.log(pData);
			webSocket.send(pData);
		}

		//初始加载推送信息
		function openMsg(){
			var fid = $("#fid").val(); //发送ID
			var tid = $("#tid").val(); //接收ID
			console.log(fid);
			console.log(tid);
			var cont = $('#textarea').val();
			var pData = '{"from_id":"'+fid+'","to_id":"'+tid+'","cont":"'+cont+'","type":"open"}';
			console.log(pData);
			webSocket.send(pData);
		}
		//enter
		$(document).keyup(function(event){
			if(event.keyCode ==13){
				$(".send").trigger("click");
			}
		});

		function  openData(fd){
			var url = 'index.php?app=webIm&act=ajaxInsertFd';
			var fid = $("#fid").val();
			var tid = $("#tid").val(); //接收ID
			var gs_id = $("#store_good_id").val();
			if(gs_id == false || gs_id == null){
				gs_id = 0;
			}
			var data = { uid: fid, fd: fd,tid:tid ,gs_id:gs_id };

			$.post(url,data,function(obj){
				//console.log(obj);
				var msg = obj.message;
				if(obj.status == 1){
					var d = $.dialog({
						content: '<div class="text-center">' + msg + '</div>',
						title: false, // hides the title.
						closeIcon: false, // hides the close icon.
						columnClass: 'xsmall',
						onOpen: function() {
							setTimeout(function() {
								d.close();
							}, 1000);
						}
					});

				}else{
					var d = $.dialog({
						content: '<div class="text-center">' + msg + '</div>',
						title: false, // hides the title.
						closeIcon: false, // hides the close icon.
						columnClass: 'xsmall',
						onOpen: function() {
							setTimeout(function() {
								d.close();
							}, 1000);
						}
					});
				}

			},'json');
		}
		//快捷回复
		var flag=true;
		$("div.question").click(function(){
			if(flag){
				$(".question_list").css("display","block");
				flag=false;
			}else if(!flag){
				$(".question_list").css("display","none");
				flag=true;
			}
		})

		$("ul.question_list").on("click","li",function(){
			var liHtml=$(this).html();
			$(".question_list").css("display","none");
			var html=$("#textarea1").html();
			$("#textarea1").html(html+=(liHtml+" "));
			$(".send").css("background","#bfa58c");
			flag=true;
		})

		//表情
		$("i.biaoqing").click(function(){
			//console.log( $("span.smile"));
			//console.log(flag);
			if(flag){
				//console.log(flag);
				//console.log($(".chatbottom1 div.allimgs"));
				$(".allimgs").css("display","block");
				flag=false;
			}else if(!flag){
				$(".allimgs").css("display","none");
				flag=true;
			}
		});

		$(".allimgs ul").on("click","li",function(){
			$("div.allimgs").css("display","none");
			console.log(this);
			var img=$(this).find("img");
			console.log(img);
			console.log(img.clone());
			$("#textarea1").append(img.clone());
			//这边设置按钮激活 样式拷过来
			$(".send").css("background","#bfa58c");
			flag=true;
		});
	</script>
	{/literal}
</html> 
