<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title a m-cf">列表</div>
                </div>
                <div class="widget-body am-fr">
                    <table class="am-table am-table-bordered skuTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>价格</th>
                                    <th>库存</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="16">红茶</td>
                                    <td rowspan="8">默认不加料</td>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td rowspan="8">椰果</td>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                                <tr>
                                    <td>标准甜</td>
                                    <td>标准冰</td>
                                    <td>R(500ml)</td>
                                    <td><input type="text" name="price"></td>
                                    <td><input type="text" name="stock"></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 

<SCRIPT Language=VBScript><!--

//--></SCRIPT>