<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.article}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body class="index">

        {include file="public/daohang.html"}
        <!-- navs-box end -->

        <div class="articledet-wrap">
            <!--            <h1 class="normal font24 mt60 tc">{$langdata.article_title}</h1>-->
            <h2 class="normal font18 mt30 tc">{$langdata.article_tbrief}</h2>
            <div class="menu tc mt20 mb40">
                {foreach from=$artctg  item=val}
                {if $lang_id ==$val.lang_id}
                <a href="index.php?app=articlePage&act=index&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&acid={$val.id}">{$val.article_cate_name}</a>
                {/if}
                {/foreach}
            </div>
            <div class="clearfix container">
                <div class="leftbox bg-white fl">
                    <h2 class="font18 normal mt20 mb20 tc">{$detail.title}</h2> 

                    <p class="mt20 mb30" style="color:#999;font-size: 16px">{$detail.brif}</p>

                    {$detail.body}
                    <p class="tr mt20">{$detail.add_time|date_format:"%Y-%m-%d"}</p>
                    {if  $detail.type==1 }
                    <a href="javascript:void(0)" onclick="location.reload()" name='clicki' class="sc1 ico sc1-active" id="{$detail.id}" ><h2>{$langdata.article_cancel}</h2></a>
                    {else}
                    <a href="javascript:void(0)" onclick="location.reload()" name='clicki' class="sc1 ico " id="{$detail.id}" ><h2>{$langdata.article_Collection}</h2></a>
                    {/if}
                    <input type="hidden" name="store_id" value="{$storeid}"/>
                    <input type="hidden" name="user_id" value="{$user_id}"/>
                </div>

                <!--商品推荐-->
                <div class="rightbox bg-white fr">
                    <h2 class="tc font18 normal mt20 mb20">{$langdata.article_recommed}</h2>
                    <ul>

                        {foreach from=$recommGoods  item=val}
                        <li class="clearfix">
                            <div class="img fl">
                                <a href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&gid={$val.id}"   >
                                    <img src="{$val.original_img}">
                                </a>
                            </div>

                            <div class="cont fr">
                                <a href="##">
                                    <div class="name ellipsis font16 mb5" title="">{$val.goods_name}</div>
                                    <div class="price mb5 font14">
                                        <span class="red">{$symbol}{$val.shop_price}</span>
                                        <span class="grey font12">{$symbol}<s>{$val.market_price}</s></span>
                                    </div>
                                    <div class="grey mb5 ellipsis font14" title="">{$val.isfree}</div>
                                    <div class="showstar mb5">
                                        <div class="atar_Show">
                                            {if $val.rate }
                                            <p tip="20" style="width: {$val.rate * 22}px;"></p>
                                            {else}
                                            <p tip="20" style="width: {5 * 22}px;"></p>
                                            {/if}
                                        </div>
                                        <span class="vm font12">（{$val.num}）</span>
                                    </div>
                                </a>

                                <a  href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&gid={$val.id}">
                                    {$langdata.article_details}>
                                </a>
                                <input type="hidden" name="langid" value="{$langid}"/>

                            </div>
                        </li>
                        {/foreach}

                    </ul>
                </div>
                <!--商品推荐-->
            </div>


            <div class="clearfix container">
                <div class="morebox bg-white fl mt30">
                    <h2 class="font18 normal mt20 mb20 ">{$langdata.article_more}</h2>
                    <ul>

                        {foreach  from=$moreArticles item=val}
                        <li>
                            <a href="index.php?app=articlePage&act=detail&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&artid={$val.id}" class="clearfix">
                                <div class="img fl">
                                    <img src="{$val.image}">
                                </div>
                                <div class="cont fr">
                                    <h3 class="font16 normal mt5 mb15">{$val.title}</h3>
                                    <p class="mt5 ellipsis">{$val.brif}</p>
                                </div>
                            </a>
                        </li>
                        {/foreach}

                    </ul>
                </div>
            </div>

            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.Lately}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>


        <!-- footer -->
        {include file="public/footer.html"}
        <!-- footer end -->

        {literal}
        <script type="text/javascript">

            //收藏文章
            $(function () {
                $('.leftbox .sc1').on('click', function () {
                    var type = $(this).hasClass('sc1-active');
                    var id = $(this).attr('id');
                    var store_id = $('input[name=store_id]').val();
                    var user_id = $('input[name=user_id]').val();
                    var lang_id = $('input[name=langid]').val();
                    if (user_id == '') {
                        setTimeout(function () {
                            window.location.href = 'index.php?app=user&act=login&lang=' + lang_id;
                        }, 1000);
                    } else {
                        $.ajax({
                            url: 'index.php?app=articlePage&act=docollectionarticle',
                            type: 'GET',
                            data: {id: id, type: type, store_id: store_id},
                            dataType: 'json',
                            success: function (res) {
                                if (res.statu) {
                                    $('.leftbox .sc1[id=' + res.id + ']').toggleClass('sc1-active');
                                } else {
                                    $('.leftbox .sc1[id=' + res.id + ']').toggleClass('sc1-active');
                                }
                            }
                        })
                    }
//                    $(this).toggleClass('sc1-active');
                })
            });
        </script>
        {/literal}
    </body>
</html>