<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.List}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body class="index">

        {include file="public/daohang.html"}
        <!-- navs-box end -->
        <div class="article-wrap">
            <!--  <h1 class="normal font24 mt60 tc">{$langdata.article_title}</h1> -->
            <h2 class="normal font18 mt30 tc">{$langdata.article_tbrief}</h2>
            <div class="menu tc mt20 mb40">
                {foreach from=$artctg  item=val}
                {if $lang_id ==$val.lang_id}
                <a href="index.php?app=articlePage&act=index&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&acid={$val.id}">{$val.article_cate_name}</a>
                {/if}
                {/foreach}

            </div>
            <div class="clearfix container">
                <div class="leftbox fl">
                    {foreach from=$articles.data  item=val}
                    <div class="item1 fav1-box">
                        <div class="img">
                            <a href="index.php?app=articlePage&act=detail&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&artid={$val.id}">
                                <img src="{$val.image}" width="870" height="400">
                            </a>
                            {if  $val.type==1 }
                            <i name='clicki' class="sc1 ico sc1-active" id="{$val.id}" title="{$langdata.List_qx}"></i>
                            {else}
                            <i name='clicki' class="sc1 ico " id="{$val.id}" title="{$langdata.List_cs}"></i>
                            {/if}
                            <input type="hidden" name="store_id" value="{$storeid}"/>
                            <input type="hidden" name="user_id" value="{$user_id}"/>
                            <input type="hidden" name="langid" value="{$langid}"/>
                        </div>
                        <a href="index.php?app=articlePage&act=detail&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}&artid={$val.id}">
                            <div class="cont bg-white ">
                                {if $lang_id == $val.lang_id}
                                <h3 class="font16 normal ellipsis" title="">{$val.title}</h3>
                                {/if}
                                <p class="mt5 ellipsis" >{$val.brif}</p>
                            </div>
                        </a>
                    </div>
                    {/foreach}
                </div>
                <!--右边广告图片-->
                <!--                <div class="rightbox fr">
                                    <img src="{$STATIC_URL}/front/images/at-3.png" width="100%" height="100%" class="mb30">
                                    <img src="{$STATIC_URL}/front/images/at-4.png" width="100%" height="100%" class="mb30">
                                    <img src="{$STATIC_URL}/front/images/at-5.png" width="100%" height="100%">
                                </div>-->
                <!--右边广告图片-->
            </div>
            <!--分页链接-->
            <!--{$articles.pagelink}-->


            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.Lately}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>


        <!-- footer -->
        {include file="public/footer.html"}
        <!-- footer end -->
        {literal}
        <script type="text/javascript">
//收藏文章
            $(function () {
                $('.fav1-box .sc1').on('click', function () {
                    var type = $(this).hasClass('sc1-active');
                    var id = $(this).attr('id');
                    var store_id = $('input[name=store_id]').val();
                    var user_id = $('input[name=user_id]').val();
                    var lang_id = $('input[name=langid]').val();
                    if (user_id == '') {
                        setTimeout(function () {
                            window.location.href = 'index.php?app=user&act=login&lang=' + lang_id;
                        }, 1000);
                    } else {
                        $.ajax({
                            url: 'index.php?app=articlePage&act=docollectionarticle',
                            type: 'GET',
                            data: {id: id, type: type, store_id: store_id},
                            dataType: 'json',
                            success: function (res) {
                                if (res.statu) {
                                    $('.fav1-box .sc1[id=' + res.id + ']').toggleClass('sc1-active');
                                } else {
                                    $('.fav1-box .sc1[id=' + res.id + ']').toggleClass('sc1-active');
                                }
                            }
                        })
                    }
//                    $(this).toggleClass('sc1-active');
                })
            });
        </script>
        {/literal}
    </body>
</html>