<div class="height110"></div>
<ul class="guid-menus clearfix bd">
    <li>
        <a href="wx.php?app=default&act=index&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid1"></i>
            <span>{$langdata.index_home}</span>
        </a>
    </li>
    <li>
        <a href="wx.php?app=ctgPage&act=index&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid2"></i>
            <span>{$langdata.index_classification}</span>
        </a>
    </li>
    <li>
        <a href="wx.php?app=cart&act=index&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid3">{if $cart_count ==''}{else}<i class="num">{$cart_count}</i>{/if}</i>
            <span>{$langdata.index_ShoppingCart}</span>
        </a>
    </li>
    <li>
        <a href="?app=userCenter&act=myCenter&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid4"></i>
            <span>{$langdata.index_My}</span>
        </a>
    </li>

</ul>
<div class="height110"></div>
<!--<script>
    var y, st, dv = document.getElementById('dv');
    document.addEventListener('touchend', function (e) {
        document.body.scrollTop = document.documentElement.scrollTop = st +y- e.changedTouches[0].pageY ;
    }, false);
    document.addEventListener('touchstart', function (e) {
        st = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        y = e.touches[0].pageY;
        e.preventDefault();
    }, false);
</script>-->