<div class="height110"></div>
<ul class="guid-menus clearfix bd">
    <li class="i1">
        <a href="wx.php?app=default&act=index&storeid={$defaultStore}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid1 active"></i>
            <span>{$langdata.index_home}</span>
        </a>
    </li>
    <li class="i2">
        <a href="wx.php?app=ctgPage&act=index&storeid={$defaultStore}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid2"></i>
            <span>{$langdata.index_classification}</span>
        </a>
    </li>
    <li class="i3">

        <a href="wx.php?app=cart&act=index&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">

            <i class="ico ico-guid3">{if $cart_count ==''}<i class="num" style="background-color:transparent;"></i>{else}<i
                    class="num">{$cart_count}</i>{/if}</i>
            <span>{$langdata.index_ShoppingCart}</span>
        </a>
    </li>
    <li class="i4">
        <a href="?app=userCenter&act=myCenter&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">
            <i class="ico ico-guid4"></i>
            <span>{$langdata.index_My}</span>
        </a>
    </li>
</ul>
{literal}
<script>
    $(function () {
        var curHref = window.location.href;
        if (curHref.indexOf('default') > -1) {
            $("ul.guid-menus li i.active").removeClass("active");
            $("ul.guid-menus li.i1 i").addClass("active");
            $("ul.guid-menus li.i1 span").addClass("active");
        } else if (curHref.indexOf('ctgPage') > -1) {
            $("ul.guid-menus li i.active").removeClass("active");
            $("ul.guid-menus li.i2 i").addClass("active");
            $("ul.guid-menus li.i2 span").addClass("active");
        } else if (curHref.indexOf('cart') > -1) {
            $("ul.guid-menus li i.active").removeClass("active");
            $("ul.guid-menus li.i3 i").addClass("active");
            $("ul.guid-menus li.i3 span").addClass("active");
        } else if (curHref.indexOf('userCenter') > -1) {
            $("ul.guid-menus li i.active").removeClass("active");
            $("ul.guid-menus li.i4 i").addClass("active");
            $("ul.guid-menus li.i4 span").addClass("active");
        }
    });
</script>
{/literal}