<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{$langdata.index_map}</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
        <style>
            input.BMapLib_trans_text{
                border:0.05rem solid #ddd;
            }
        </style>
    </head>
    <body>
        <div class="cate-wrap">
            {include file="public/head.html"}
            <div class="height90"></div>
            <div class="cate-content clearfix">
                <div style="width:410px;height:570px;border:#ccc solid 1px;" id="allmap"></div>
                <p></p>
                <input type="hidden" name="latlon" value="{$latlon}">
                <input type="hidden" name="lang" value="{$lang}">
                <input type="hidden" name="storeid" value="{$storeid}">
                {include file="public/footer1.html"}
            </div>
        </div>   
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
        {include file="public/wxjs.html"}
        {literal}
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=CmfcOlGRQE7OztyHtDGLoiiNGYUu37Te"></script>
       	<script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
        <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
        <script type="text/javascript">
            // 百度地图API功能	
            map = new BMap.Map("allmap");
            map.centerAndZoom(new BMap.Point(116.417854, 39.921988), 12);
            var geolocation = new BMap.Geolocation();
            // 开启SDK辅助定位
            geolocation.enableSDKLocation();
            geolocation.getCurrentPosition(function (r) {
                if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                    var mk = new BMap.Marker(r.point);
                    map.addOverlay(mk);
                    map.panTo(r.point);
                    //静态文字
                    var marker = new BMap.Marker(r.point);  // 创建标注
                    map.addOverlay(marker);              // 将标注添加到地图中
                    var label = new BMap.Label("当前位置", {offset: new BMap.Size(10, -11)});
                    marker.setLabel(label);
                } else {
                    alert('failed' + this.getStatus());
                }
            });

            function getZonelist() {
                var latlon = $("input[name='latlon']").val();
                var lang = $("input[name='lang']").val();
                var storeid = $("input[name='storeid']").val();
                $.ajax({
                    url: 'wx.php?app=map&act=getStore',
                    type: 'POST',
                    data: {latlon: latlon, lang: lang},
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (key, value) {
                            var poi = new BMap.Point(value.longitude, value.latitude);
                            map.enableScrollWheelZoom();
                            if (value.store_type == 1) {
                                value.store_type = "总代理";
                            } else if (value.store_type == 2) {
                                value.store_type = "经销商";
                            } else if (value.store_type == 3) {
                                value.store_type = "门店";
                            } else {
                                value.store_type = "ODM";
                            }
                            var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                                    '<img src="http://www.711home.net/assets/phone/images/B547135E.png" alt="" style="float:right;zoom:1;overflow:hidden;width:100px;height:100px;margin-left:3px;"/>' +
                                    '电话：' + value.store_mobile + '<br/>' + '地址：' + value.addr_detail + '<br/><br/>' + "<a href=" + 'wx.php?app=goodList&act=index&storeid=' + value.id + '&lang=' + lang + '&latlon=' + value.latlon+ '&rtid=' + value.b_id+ '&order=1' + " style='color:red'>点击进入此店铺</a>" + '</div>';
                            //创建检索信息窗口对象
                            var searchInfoWindow = null;
                            searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
                                title: value.store_name + "（" + value.store_type + "）", //标题
                                width: 270, //宽度
                                height: 105, //高度
                                panel: "panel", //检索结果面板
                                enableAutoPan: true, //自动平移
                                searchTypes: [
                                    BMAPLIB_TAB_TO_HERE, //到这里去
                                    BMAPLIB_TAB_FROM_HERE //从这里出发
                                ]
                            });
                            var marker = new BMap.Marker(poi); //创建marker对象
                            marker.enableDragging(); //marker可拖拽
                            marker.addEventListener("click", function (e) {
                                searchInfoWindow.open(marker);
                            });
                            map.addOverlay(marker); //在地图中添加marker
                        });
                    }
                });
                return false;
            }
            var myCitys = new BMap.LocalCity();
            myCitys.get(getZonelist);

            //全国地区搜索
            window.map = map;//将map变量存储在全局
            map.enableScrollWheelZoom();
            map.enableInertialDragging();
            map.enableContinuousZoom();
        </script>

        <!--        <script type="text/javascript">
                    // 百度地图API功能	
                    map = new BMap.Map("allmap");
                    map.centerAndZoom(new BMap.Point(116.417854, 39.921988), 12);
                    var geolocation = new BMap.Geolocation();
                    // 开启SDK辅助定位
                    geolocation.enableSDKLocation();
                    geolocation.getCurrentPosition(function (r) {
                        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                            var mk = new BMap.Marker(r.point);
                            map.addOverlay(mk);
                            map.panTo(r.point);
                            //静态文字
                            var marker = new BMap.Marker(r.point);  // 创建标注
                            map.addOverlay(marker);              // 将标注添加到地图中
                            var label = new BMap.Label("当前位置", {offset: new BMap.Size(10, -11)});
                            marker.setLabel(label);
                        } else {
                            alert('failed' + this.getStatus());
                        }
                    });
                    function getZonelist() {
                        $.ajax({
                            url: 'wx.php?app=map&act=getStore',
                            type: 'POST',
                            data: '',
                            dataType: "json",
                            success: function (data) {
                                $.each(data, function (key, value) {
                                    if (value.store_type == 1) {
                                        value.store_type = "总代理";
                                    } else if (value.store_type == 2) {
                                        value.store_type = "经销商";
                                    } else if (value.store_type == 3) {
                                        value.store_type = "门店";
                                    } else {
                                        value.store_type = "ODM";
                                    }
                                    var data_info = [
                                        [value.longitude, value.latitude, "<hr/>" + "店铺地址：" + value.addr_detail + "<br/><br/>" + "电话：" + value.store_mobile + "<br/><br/>" + "<a href=" + 'wx.php?storeid=' + value.id + '&lang=' + value.lang_id + " style='color:red'>点击进入此店铺</a>"],
                                    ];
                                    var opts = {
                                        width: 220, // 信息窗口宽度
                                        height: 120, // 信息窗口高度
                                        title: value.store_name + "（" + value.store_type + "）" + "<a href=" + 'https://map.baidu.com/mobile/webapp/index/index/qt=cur&wd=&from=maponline&tn=m01&ie=utf-8=utf-8/tab=line' + " style='color:red'>&nbsp &nbsp路程查询</a>", // 店铺名称标题
                                        enableMessage: true//设置允许信息窗发送短息
        
                                    };
        
                                    for (var i = 0; i < data_info.length; i++) {
                                        var marker = new BMap.Marker(new BMap.Point(data_info[i][0], data_info[i][1]));  // 创建标注
                                        var content = data_info[i][2];
                                        map.addOverlay(marker);               // 将标注添加到地图中
                                        marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                                        addClickHandler(content, marker);
                                    }
                                    function addClickHandler(content, marker) {
                                        marker.addEventListener("click", function (e) {
                                            openInfo(content, e)
                                        }
                                        );
                                    }
                                    function openInfo(content, e) {
                                        var p = e.target;
                                        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                                        var infoWindow = new BMap.InfoWindow(content, opts);  // 创建信息窗口对象 
                                        map.openInfoWindow(infoWindow, point); //开启信息窗口
                                    }
        
                                });
                            }
                        });
                        return false;
                    }
                    var myCitys = new BMap.LocalCity();
                    myCitys.get(getZonelist);
        
                    //全国地区搜索
                    window.map = map;//将map变量存储在全局
                    map.enableScrollWheelZoom();
                    map.enableInertialDragging();
                    map.enableContinuousZoom();
                </script>-->
        {/literal}
    </body>
</html>