<form class="form-horizontal" id="form1"  action="store.php?app=likeManagement&act=add">
    <input type="hidden" name="activity_id" value="{$activityId}">
    <input type="hidden" name="store_id" value="{$storeId}">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 微信号 ：</label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="微信号"  name="wx_code"  >
        </div>
    </div>
</form>