<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.login_forget}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{$STATIC_URL}/front/css/base.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="{$STATIC_URL}/plugin/iCheck/square/blue.css">
    </head>
    <body style="background-color:#fff;">
        <div class="container clearfix login-header">
            <a href="index.php?storeid={$storeid}&lang={$langid}" class="logo fl mt20">
                <img src="{$webconf.store_logo.value}" width="156" height="106">
            </a>
            <div class="login fr">
                {$langdata.login_security}
                <i class="ico-lock ico"></i>
            </div>
        </div>
        <div class="login-box ">
            <div>
                <div class="login-tit">
                    {$langdata.Reset_mode}
                </div>
                <div class="login-content">
                    <p><a href="?app=user&act=forgot_password_p"  id="phone"><button class="btn-sub"> {$langdata.phone_number}</button></a> </p>
                    <p><a href="?app=user&act=forgot_password_e"  id="login_button"><button class="btn-sub"> {$langdata.mailbox}</button></a> </p>
                    <input type="hidden" value="{$langid}" name="langid" />
                </div>
            </div>
        </div>
        <div class="login-footer">
            <p class="web">www.711home.com www.711home.net</p>
            <p>Copyright @ 2003 - 2016 {$langdata.login_Amy}</p>
        </div>


        <script type="text/javascript" src="{$STATIC_URL}/front/js/jquery.1.8.2.min.js"></script>
        <!-- iCheck -->
        <script src="{$STATIC_URL}/plugin/iCheck/icheck.min.js"></script>
        <script type="text/javascript" src="{$STATIC_URL}/front/js/common.js"></script>
    </body>
</html>