<div class="tab-header" >
    <a href="?app=default&act=index" {if $app=='default' and $act=='index'}class="active"{/if}>首页</a>
    <!--<a href="?app=default&act=ziliao" {if $app=='default' and $act=='ziliao'}class="active"{/if}>初始资料</a>-->
    <!--<a href="?app=default&act=jinhuo" {if $app=='default' and $act=='jinhuo'}class="active"{/if}>进货</a>-->
    <!--<a href="?app=default&act=xiaoshou" {if $app=='default' and $act=='xiaoshou'}class="active"{/if}>销售</a>-->
    <!--<a href="?app=default&act=kucun" {if $app=='default' and $act=='kucun'}class="active"{/if}>库存</a>-->
    <!--<a href="?app=default&act=caiwu" {if $app=='default' and $act=='caiwu'}class="active"{/if}>财务</a>-->
    <!--<a href="?app=default&act=tese" {if $app=='default' and $act=='tese'}class="active"{/if}>特色业务介绍</a>-->
</div>