<form class="form-layer" action="?app=default&act=editStore" data-type="ajax">
    <input type="hidden" name="cateid"  value="{$cateid}"/>
    {foreach $res as $key=>$val}
    <div class="form-group">
        <div class="col-sm-7 col-md-6 col-lg-5">
            <input type="radio" name="radio" value="{$val.id}"/>{$val.store_name}
        </div>
    </div>
    <br>
    {/foreach}
    <div class="item">
        <button type="button"  class="form-btn" id="cancleBtn">取消</button>  
        <button type="submit" class="form-btn fr" id="validateBtn">确定</button>
    </div>
</form> 
<script>
    $('#cancleBtn').click(function () {
        layer.closeAll();
        //window.location.reload();
    });
</script> 