<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <meta charset="utf-8" />
    {include file="public/header.html"}
</head>
<body>
<!-- header -->
{include file="public/daohang.html"}
<!--payend-->
<div class="paymain">
    <div class="pay-wrap">
        <img src="{$STATIC_URL}/front/images/paysuccess.png">
        <div class="paysuccess-text">Success<span>{$langdata.pay_success}</span></div>
        <a href="http://www.711home.net/index.php?storeid={$storeid}&lang={$lang}" class="pay-btn">{$langdata.return_page}</a>
    </div>
</div>
<!--payend-->
{include file="public/footer.html"}
<script type="text/javascript">
    $(function(){
        $('.footer').css('margin-top','0');
    })
</script>
</body>
</html>