<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body>
	<!-- header -->
	<div class="header-box">
		<div class="container clearfix">
			<div class="left fl">
				<span>Welcom</span>
				<a href="##">Please register</a>
			</div>
			<div class="right fr">
				<a href="##">Station message</a>
				<a href="##">Member Center</a>
				<a href="##">Help center</a>
			</div>
		</div>
	</div>
	<!-- header end -->
	<!-- navs-box -->
	<div class="navs-box">
		<div class="container clearfix">
			<div class="logo fl">
				<a href="##"><img src="./images/logo.png" width="156" height="106"></a>
			</div>
			<div class="navs fl">
				<ul>
					<li class="first">
						<a href="##">Categories <i class="ico ico-dw"></i></a>
						<div class="navs-list">
							<ul>
								<li>
									<a href="##" class="tit1 active">家具</a>
									<div class="item-box" style="display:block">
										<div class="item">
											<a href="##" class="tit2">装饰物</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>

										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
											
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
									</div>
								</li>
								<li>
									<a href="##" class="tit1">地毯</a>
									<div class="item-box" >
										<div class="item">
											<a href="##" class="tit2">地毯物</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</li>
					<li>
						<a href="##">Pieces</a>
					</li>
					<li>
						<a href="##">nspiration</a>
					</li>
					<li>
						<a href="##">Soldes</a>
					</li>
				</ul>
			</div>
			<div class="account fr">
					<ul class="list clearfix">
						<li>
							<a href="##" class="first ellipsis inblock" style="width: 90px;" title="">Hello.Sign in</a>
							<!-- 登入之后进去的样式 -->
							<!-- <a href="##">My account</a> -->
						</li>
						<li>
							<a href="##"><span class="cartnum"><i class="ico ico-cart inblock"></i><span class="num">1</span></span>Shopping Cart</a>
						</li>
						<li class="mypoint">
							<a href="##">My points <span class="point fr">500</span></a>
						</li>

					</ul>
					<div class="search">
						<form>
							<input type="text" name="" class="text" placeholder="L’ MERI欧式简约" />
							<button type="submit"></button>
						</form>
					</div>
			</div>
		</div>
	</div>
	<!-- navs-box end -->
	
	<div class="container">
		<h2 class="font18 mt30 mb30">商家入驻申请</h2>
		<div class="arrival-apply bg-white">
			<div class="step step4 ">
				<img src="./images/step4.png">
				<span class="s1">签订入驻协议</span>
				<span class="s2">公司资质信息</span>
				<span class="s3">财务资质信息</span>
				<span class="s4">店铺经营信息</span>
				<span class="s5">合同签订及缴费</span>
				<span class="s6">店铺开通</span>
			</div>
			<div class="apply-box4">
				<h3 class="mt30 mb30 font18">入驻申请已经提交，请等待管理员审核</h3>
				<h4 class="mt30 mb30">付款清单列表</h4>
				<table class="m-table">
					<tr>
						<td>收费标准：</td>
						<td>$500.00元/年 （系统默认）</td>
						<td>开店时长：</td>
						<td>1年</td>
					</tr>
					<tr>
						<td>店铺分类：</td>
						<td>精品家具</td>
						<td>开店保证金：</td>
						<td>0</td>
					</tr>
					<tr>
						<td>应付金额：</td>
						<td colspan="3">￥500.00</td>
					</tr>
				</table>
				<h4 class="mt30 mb30">经营类目列表</h4>
				<table class="m-table mb30">
					<tr>
						<th>一级类目</th>
						<th>一级类目</th>
						<th>一级类目</th>
						<th>一级类目</th>
					</tr>
					<tr>
						<td>家具</td>
						<td>家具</td>
						<td>家具</td>
						<td>家具</td>
					</tr>
				</table>
				<div class="">
					<a href="##" class="btn btn-o">下一步，合同签订及缴费</a>
				</div>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="top">
			<ul class="clearfix">
				<li>
					<a href="##"><img src="./images/f1.png" width="115" height="44"></a>
				</li>
				<li>
					<a href="##"><img src="./images/f2.png" width="115" height="44"></a>
				</li>
				<li>
					<a href="##"><img src="./images/f3.png" width="115" height="44"></a>
				</li>
			</ul>
		</div>
		<div class="sitename">711家居网711商城</div>
		<div class="siteinfo">
			<p>全球化的M2C家居生态网-711家居网</p>
			<p>Global M2C home furnishing cosystem network</p>
			<p>核心价值观：坦诚Honest  守约Discipline  平等Equality  感恩Thanksgiving</p>
			<p>中国站WWW.711HOME.CN      国际站WWW.711HOME.COM      官网WWW.711HOME.NET</p>
		</div>
		<div class="sitelicense">Copyright © 2003-2016 艾美家居股份有限公司--711家居网   沪ICP备16027528号-1</div>
	</div>

<script type="text/javascript" src="./js/jquery.1.8.2.min.js"></script>	
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./plus/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
	$(function(){
		$('.j_check').click(function(){
			if($(this).is(':checked')){
				$('.j_box').hide();
			}else{
				$('.j_box').show();
			}
			
		})
	})

</script>
</body>
</html>