<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{include file="public/header.html"}
</head>
<body>
{include file="public/daohang.html"}
	
	<div class="container">
		<h2 class="font18 mt30 mb30">商家入驻申请</h2>
		<div class="arrival-apply bg-white">
			<div class="step step5 ">
				<img src="{$STATIC_URL}/front/images/step4.png">
				<span class="s1">签订入驻协议</span>
				<span class="s2">公司资质信息</span>
				<span class="s3">财务资质信息</span>
				<span class="s4">合同签订及缴费</span>
				<span class="s5">店铺开通</span>
			</div>
			<div class="apply-box3 apply-box5">
				<form>
					<h3 class="mt30 mb30 font18">公司及联系人信息</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">公司所在地:</label>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">公司详细地址:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">公司电话:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">员工总数:</label>
							<input type="text" />&nbsp;人
							<span class="error">*你的输入有误</span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">注册资金:</label>
							<input type="text" />&nbsp;万元
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">电子邮箱:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">联系人姓名:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">联系人电话:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<h3 class="mt30 mb30 font18">营业执照信息(副本)</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">营业执照号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">营业执照所在地:</label>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">法定经营范围:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">营业执照电子版:</label>
							<input type="file"/>
							<span class="error"></span>
						</div>
						<div class="tip">请确保图片清晰，文字可辨并有清晰的红色公章。</div>
					</div>
					<h3 class="mt30 mb30 font18">组织机构代码证</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">组织机构代码证:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">组织机构代码证电子版:</label>
							<input type="file"/>
							<span class="error"></span>
						</div>
						<div class="tip">请确保图片清晰，文字可辨并有清晰的红色公章。</div>
					</div>
					<h3 class="mt30 mb30 font18">一般纳税人证明</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">一般纳税人证明:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<h3 class="mt30 mb30 font18">开户银行信息</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">银行开户名:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">公司银行账号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">开户银行支行名称:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">支行联行号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">开户银行所在地:</label>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<span class="error"></span>
						</div>
						<div class="check"><input type="checkbox" class="j_check" />此账号为结算账号</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">开户银行许可证电子版:</label>
							<input type="file"/>
							<span class="error"></span>
						</div>
						<div class="tip">请确保图片清晰，文字可辨并有清晰的红色公章。</div>
					</div>
					<div class="j_box" >
						<h3 class="mt30 mb30 font18">结算账号信息</h3>
						<div class="it-box">
							<div>
								<label class="lab_name">银行开户名:</label>
								<input type="text" />
								<span class="error"></span>
							</div>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">公司银行账号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">开户银行支行名称:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">支行联行号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">开户银行所在地:</label>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<select class="w131">
								<option>请选择</option>
								<option>四川</option>
							</select>
							<span class="error"></span>
						</div>
					</div>

					<h3 class="mt30 mb30 font18">税务登记证</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">税务登记证号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">纳税人识别号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">组织机构代码证电子版:</label>
							<input type="file"/>
							<span class="error"></span>
						</div>
						<div class="tip">请确保图片清晰，文字可辨并有清晰的红色公章。</div>
					</div>

					<h3 class="mt30 mb30 font18">店铺经营信息</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">卖家账号:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">店铺名称:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">店铺登记:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">开店时长:</label>
							<input type="text" />
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">店铺分类:</label>
							<select>
								<option>123</option>
							</select>
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">应付总金额:</label>
							<select>
								<option>123</option>
							</select>
							<span class="error"></span>
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">经营类目:</label>
							<div style="width: 400px;" class="inblock">
								<table class="m-table mb30">
									<tr>
										<th>一级类目</th>
										<th>一级类目</th>
										<th>一级类目</th>
										<th>一级类目</th>
									</tr>
									<tr>
										<td>家具</td>
										<td>家具</td>
										<td>家具</td>
										<td>家具</td>
									</tr>
								</table>
							</div>
							
						</div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">审核意见:</label>
							<select>
								<option>123</option>
							</select>
							<span class="error"></span>
						</div>
					</div>

					<h3 class="mt30 mb30 font18">上传付款凭证：</h3>
					<div class="it-box">
						<div>
							<label class="lab_name">上传付款凭证:</label>
							<input type="file"/>
							<span class="error"></span>
						</div>
						<div class="tip"></div>
					</div>
					<div class="it-box">
						<div>
							<label class="lab_name">备注:</label>
							<textarea></textarea>
							<span class="error"></span>
						</div>
					</div>
					<div class="">
						<a href="##" class="btn btn-o">等待管理员审核</a>
					</div>
				</form>
			</div>

		</div>
	</div>
  {include file="public/footer.html"}
</body>
</html>