<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{include file="public/header.html"}
</head>
<body>
	<!-- header -->
	{include file="public/daohang.html"}
	<!-- navs-box end -->
	
	<div class="container">
		<h2 class="font18 mt30 mb30">商家入驻申请</h2>
		<div class="arrival-apply bg-white">
			<div class="step step3 ">
				{if $rs.joinin_state eq 10 || $rs.joinin_state eq 30 || $rs.joinin_state eq 20}
				  <img src="{$STATIC_URL}/front/images/step3.png">
				{elseif $rs.joinin_state eq 11 ||  $rs.joinin_state eq 31 || $rs.joinin_state eq 20 }
				  <img src="{$STATIC_URL}/front/images/step4.png">
				{elseif $rs.joinin_state eq 40}
				  <img src="{$STATIC_URL}/front/images/step5.png">
				{/if}
				<span class="s1">签订入驻协议</span>
				<span class="s2">公司资质信息</span>
				<span class="s3">财务资质信息</span>
				<span class="s4">合同签订及缴费</span>
				<span class="s5">店铺开通</span>
			</div>
			<div class="apply-box7">
				{if $rs.joinin_state eq 10 || $rs.joinin_state eq 11}
				   <div class="tc mt200 font24">您的信息已提交，正在审核中~</div>
				{elseif $rs.joinin_state eq 30 || $rs.joinin_state eq 31}
				   <div class="tc mt200 font24">您的信息审核失败，原因如下：</div>
				   <div class="reason">{$rs.joinin_message}</div>
                {elseif $rs.joinin_state eq 20}
				   <div class="tc mt200 font24">您的信息审核成功，请点击下一步提交付款凭证</div>
				{elseif $rs.joinin_state eq 40}
				   <div class="tc mt200 font24">您的信息审核成功，请点击店铺登录链接~</div>
				{/if}
				{if $rs.joinin_state eq 20 }
				<div class="btn-box tc mt200">
					<a href="?app=merSettled&act=contract&id={$rs.id}" class="btn btn-o">下一步</a>
				</div>
				{elseif $rs.joinin_state eq 30}
				<div class="btn-box tc mt200">
					<a href="?app=merSettled&act=comQual&id={$rs.id}" class="btn btn-o">重新申请入驻</a>
				</div>
				{elseif $rs.joinin_state eq 31}
				<div class="btn-box tc mt200">
					<a href="?app=merSettled&act=contract&id={$rs.id}" class="btn btn-o">重新申请提交付款凭证</a>
				</div>
				{elseif $rs.joinin_state eq 40}
				<div class="btn-box tc mt200">
					<a href="##" class="btn btn-o">进入商家店铺</a>
				</div>
				{/if}
			</div>

		</div>
	</div>

	{include file="public/footer.html"}
<script type="text/javascript">


</script>
</body>
</html>