<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->edit_symbol}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language1->web_manage}</li>
                <li class="active">{$language1->edit_symbol}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="?app=currency&act=doEdit" data-type="ajax" method="post">
                            <div class="box-body">
                                <input type="hidden" value="{$list.id}" name="id"/>
                                <input type="hidden" value="{$p}" name="p"/>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->currency_name}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="name" value="{$list.name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->short_name}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="short" value="{$list.short}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->currency_symbol}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="symbol" value="{$list.symbol}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->rate}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="rate" value="{$list.rate}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red"></span> {$language2->remark}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <textarea class="brief form-control" rows="6"  name='note'>{$list.note}</textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="?app=currency&act=index&p={$p}" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                                        <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> {$language2->save}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}
</div>
</body>
</html>
