<!--{if $lang_id == 1}-->
<!--<div class="tab-header" >-->
    <!--&lt;!&ndash;<a href="?app=default&act=index&lang_id={$lang_id}" {if $app=='default' and $act=='index'}class="active"{/if}>Home</a>&ndash;&gt;-->
    <!--<a href="?app=design&act=index&lang_id={$lang_id}" {if $app=='design' and $act=='index'}class="active"{/if}>Design</a>-->
    <!--&lt;!&ndash;<a href="?app=default&act=jinhuo" {if $app=='default' and $act=='jinhuo'}class="active"{/if}>进货</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=xiaoshou" {if $app=='default' and $act=='xiaoshou'}class="active"{/if}>销售</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=kucun" {if $app=='default' and $act=='kucun'}class="active"{/if}>库存</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=caiwu" {if $app=='default' and $act=='caiwu'}class="active"{/if}>财务</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=tese" {if $app=='default' and $act=='tese'}class="active"{/if}>特色业务介绍</a>&ndash;&gt;-->
<!--</div> -->
<!--{else}-->
<!--<div class="tab-header" >-->
    <!--&lt;!&ndash;<a href="?app=default&act=index&lang_id={$lang_id}" {if $app=='default' and $act=='index'}class="active"{/if}>首页</a>&ndash;&gt;-->
    <!--<a href="?app=design&act=index&lang_id={$lang_id}" {if $app=='design' and $act=='index'}class="active"{/if}>酷家乐设计</a>-->
    <!--&lt;!&ndash;<a href="?app=default&act=jinhuo" {if $app=='default' and $act=='jinhuo'}class="active"{/if}>进货</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=xiaoshou" {if $app=='default' and $act=='xiaoshou'}class="active"{/if}>销售</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=kucun" {if $app=='default' and $act=='kucun'}class="active"{/if}>库存</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=caiwu" {if $app=='default' and $act=='caiwu'}class="active"{/if}>财务</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a href="?app=default&act=tese" {if $app=='default' and $act=='tese'}class="active"{/if}>特色业务介绍</a>&ndash;&gt;-->
<!--</div> -->
<!--{/if}-->
