<link rel="stylesheet" href="{$STATIC_URL}/admin/dist/css/main.css">
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">{$language1->main_menu}</li>

            <li class="treeview {if  'default' == $app} active {/if}"  >
                <a href="admin.php?app=default&act=index">
                    <i class="fa fa-folder"></i>
                    <span>
                            {$language1->index}
                    </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>

            {foreach from=$menuData item=m}
            <li class="treeview {if $m['app'] == $app} active {/if}"  >
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>
                            {if $shorthand == 'ZH'}{$m.title}{else}{$m.english_title}{/if}
                    </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {foreach from=$m['son'] item=s}
                    <li {if $s.app == $curapp and $s.act == $act} class ="active" {/if}>
                        <a href="?app={$s.app}&act={$s.act}">
                            <i class="fa fa-circle-o"></i>
                            {if $shorthand == 'ZH'}{$s.title}{else}{$s.english_title}{/if}
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </li>
            {/foreach}
        </ul>
    </section>
</aside>