* {
  margin: 0;
  padding: 0; }

#Index {
  width: 100%;
  background-color: #ffffff; }
  #Index .header {
    padding: 10px 0 10px 81px;
    box-sizing: border-box;
    background-color: #e84c3d;
    display: flex; }
    #Index .header .shopImg {
      width: 100px;
      height: 100px;
     }
#Index .header .shopImg img{
  width: 100%;
}
    #Index .header .shopTit {
      margin-left: 30px; }
      #Index .header .shopTit .cName {
        font-size: 36px;
        font-weight: bold;
        color: #fff;
        margin-top: 10px; }
      #Index .header .shopTit .eName {
        font-size: 20px;
        color: #ccc;
        margin-top: 5px; }
  #Index .content {
    width: 860px;
    height: 420px;
    margin: 0 auto;
    margin-top: 54px;
    display: flex; }
    #Index .content div {
      height: 420px; }
    #Index .content .partLeft {
      width: 440px;
      position: relative; }
      #Index .content .partLeft div {
        width: 200px;
        margin-right: 20px;
        background-color: #e84c3d;
        border-radius: 15px;
        position: absolute;
        padding-top: 32px;
        box-sizing: border-box; }
        #Index .content .partLeft div span {
          display: block; }
        #Index .content .partLeft div .icon {
          width: 100%; }
          #Index .content .partLeft div .icon img {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            display: block; }
        #Index .content .partLeft div .text {
          margin-top: 20px;
          text-align: center;
          font-size: 30px;
          color: #fff; }
      #Index .content .partLeft .order {
        top: 0;
        left: 0; }
      #Index .content .partLeft .orderHistory {
        height: 200px;
        top: 0;
        right: 0; }
      #Index .content .partLeft .coming {
        height: 200px;
        right: 0;
        margin-top: 20px;
        bottom: 0; }
    #Index .content .partRight {
      width: 420px;
      position: relative; }
      #Index .content .partRight div {
        width: 200px;
        height: 200px;
        background-color: #e84c3d;
        position: absolute;
        border-radius: 15px;
        padding-top: 32px;
        box-sizing: border-box; }
        #Index .content .partRight div span {
          display: block; }
        #Index .content .partRight div .icon {
          width: 100%; }
          #Index .content .partRight div .icon img {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            display: block;
            margin: 0 auto; }
        #Index .content .partRight div .text {
          margin-top: 20px;
          text-align: center;
          font-size: 30px;
          color: #fff; }
      #Index .content .partRight .preOrders {
        margin-right: 20px;
        top: 0;
        left: 0; }
      #Index .content .partRight .set {
        top: 0;
        right: 0; }
      #Index .content .partRight .coming {
        width: 420px;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        right: 0; }
        #Index .content .partRight .coming .icon img {
          margin-right: 58px; }
        #Index .content .partRight .coming .text {
          text-align: right;
          padding-right: 40px;
          box-sizing: border-box; }

/*# sourceMappingURL=index.css.map */
