<!DOCTYPE html>
<html>
<head>
    <title>{$langdata.Payment_center}</title>
    <meta charset="utf-8" />
    {include file="public/header.html"}
</head>
<body>
<!-- header -->
{include file="public/daohang.html"}
<!-- navs-box end -->
<div class="border"></div>

<div class="orderpay">
    <div class="container">
        <div class="orderpay-main">
            <h3>{$langdata.order_Success}</h3>
            <div class="orderpay-style">
                <div class="orderpay-num clearfix">
                    <!--订单编号-->
                    <div class="order">{$langdata.order_number}：{$list.order_sn}</div>

                </div>
                <div class="orderpay-num clearfix">
                    <!--订单编号-->
                    <div class="order">{$langdata.rui}：{$list.point}</div>

                </div>
                <div class="orderpay-detail clearfix">
                    <!--应付金额-->
                    <span class="font14">{$langdata.Amount_payable}：<i style="color:#ff0000;margin:0 10px">{$symbol} <span id="price">{$list.amount}</span></i></span>
                </div>
                <input type="hidden" name="order_id" value="{$list.order_sn}" />
                <input type="hidden" name="storeid" value="{$storeid}" />
                <input type="hidden" name="lang" value="{$lang}" />
                <div class="orderpay-choose">
                    <span class="choose">{$langdata.Payment_method}：</span>
                    <ul class="clearfix choose-pay">
                        {if $symbol == '¥'}
                        <li><a href="?app=pointPay&act=pay&order_id={$list.order_sn}&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}" class="alipay"></a></li>
                        <li><a href="?app=pointNative&act=native&order_id={$list.order_sn}&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}" class="wechat"></a></li>
                        {else}
                        <!--<li><a class="wechat"></a></li>-->
                        <li><a href="?app=paypal&act=payment&order_id={$list.order_sn}&storeid={$storeid}&lang={$lang}" class="paypal"></a></li>
                        {/if}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{include file="public/footer.html"}

</body>
</html>