<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {include file="public/headtab.html"}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->comment_list}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                        <li class="active">{$language1->order_manage}</li>
                        <li class="active">{$language1->comment_list}</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding">
                                        <input type='hidden' name='app' value='goodsComment'>
                                        <input type='hidden' name='act' value='commetList'>
                                        <input type="hidden" name = "delAll" value="dele">

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">{$language1->product_name}：</small>
                                            <input type="text" class="form-control" name="goods_name" value="{$goodsName}">
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">{$language2->belone_store}：</small>
                                            <input type="text" class="form-control" name="store_name" value="{$storeName}">
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                {$language2->search} <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>

                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" name="" id="all"/></th>
                                                    <th>{$language1->user_name}</th>
                                                    <th>{$language1->score}</th>
                                                    <th>{$language1->item_information}</th>
                                                    <th>{$language2->belone_store}</th>
                                                    <th>{$language1->comments}</th>
                                                    <th>{$language1->comments_time}</th>
                                                    <th>{$language2->control}</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$list item=item}
                                            <tr>
                                                <td><input type="checkbox" name="check-name" value="{$item.comment_id}" /></td>
                                                <td>{$item.username}</td>
                                                <td >
                                                    <div class="showstar mb15">
                                                        <div class="atar_Show">
                                                            <p tip="20" style="width:{$item.goods_rank*22}px;"></p>
                                                        </div>
                                                        <!--<span>{$data.goods_rank}</span>-->
                                                    </div>
                                                </td>
                                                <td>{$item.gname}</td>
                                                <td>{$item.store_name}</td>
                                                <td>{$item.gcontent}</td>
                                                <td>{$item.add_time|date_format:"%Y-%m-%d"}</td>
                                                <td>

                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-success "  onclick="chakan({$item.comment_id});"    style="overflow: hidden; position: relative;"  >{$language2->look}</a>

                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-danger "  onclick="shanchu({$item.comment_id});"   style="overflow: hidden; position: relative;"  >{$language2->drop}</a>

                                                </td>

                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    <a href="##"  class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> {$language2->all_drop}</a>
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
        </div>
        <script type="text/javascript">
            //查看
            function chakan(id){
            //alert(id);
            window.location.href = '?app=goodsComment&act=detail&p={$p}&id=' + id;
            }
            /*删除*/
            function shanchu(id){
            deletes('?app=goodsComment&act=dele&id=' + id);
            }
        </script>
    </body>
</html>
