<div class="col-sm-12 clearfix tabpub">
    <div class="quantab quantab_yhj active">优惠券</div>
    <div class="quantab quantab_dhj">兑换券</div>
</div>
<div class="voucher">
    <div class="yhimg col-sm-12">
        <div class="row tabs" id="div_yhj">
            <ul class="discountMain ">
                {foreach from=$infoYHJ item=item}
                <li {if $item.usetype==2}class="overdue"{/if} data-coupon-money="{$item.discount}" data-coupon-id="{$item.id}" data-userCouponid="{$item.user_coupon_id}">
                    <div class='discountShow'>
                        <div class="discountLeft" >
                            <p class="discountprice"><span style="font-size: 10px;">{$symbol}</span>{$item.discount}</p>

                            <p class="discountneed">满{$item.money}元使用</p>

                            <p class="discountvalue">{$item.discount}元优惠券</p>
                        </div>
                        <div class="discountRight">
                            <div class="discountinfo">
                                <p class="discountdate">有效期：{$item.start_time|date_format:'%Y.%m.%d'}-{$item.end_time|date_format:'%Y.%m.%d'}</p>

                                <p class="discountuse clearfix">
                                    <span class="times">剩余：<span>{$item.left_times}</span>次</span>
                                    <a href="##">立即使用</a>
                                </p>
                            </div>
                            <p class="usediscount">
                                <span>使用须知</span>
                                <img src="./assets/wx/arrowdown.png" alt=""/>
                            </p>
                        </div>
                    </div>
                    <div class='discountHidden'>
                        <p>适用范围：限<span>{$item.store_names}</span>使用</p>

                        <p style="padding-top: 0;">使用次数：一天<span>{$item.day_times}</span>次，共<span>{$item.total_times}</span>次</p>
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
    <div class="yhimg col-sm-12" style="display: none;">
        <div class="row tabs" id="div_dhj">
            <ul class="discountMain ">
                {foreach from=$infoDHJ item=item}
                <li {if $item.usetype==2}class="overdue"{/if} data-coupon-money="{$item.money}" data-coupon-id="{$item.id}" data-userCouponid="{$item.user_coupon_id}" data-room-id="{$item.room_type_id}">
                    <div class='discountShow'>
                        <div class="discountLeft">
                            <p class="discountprice1">限{$item.money}元内使用</p>

                            <!--<p class="discountneed"></p>-->

                            <p class="discountvalue">{$item.money}元兑换券</p>
                        </div>
                        <div class="discountRight">
                            <div class="discountinfo">
                                <p class="discountdate">有效期：{$item.start_time|date_format:'%Y.%m.%d'}-{$item.end_time|date_format:'%Y.%m.%d'}</p>

                                <p class="discountuse clearfix">
                                    <span class="times">限<span>{$item.type_name}</span>使用</span>
                                    <a href="##">立即使用</a>
                                </p>
                            </div>
                            <p class="usediscount">
                                <span>使用须知</span>
                                <img src="./assets/wx/arrowdown.png" alt=""/>
                            </p>
                        </div>
                    </div>
                    <div class='discountHidden'>
                        <p>适用范围：限<span>{$item.type_name}</span>使用</p>
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>

<script>
    //voucher
    $('.tabpub .quantab').click(function(){
        $(".tabpub .quantab").removeClass("active");
        $(this).addClass("active");
        $(".voucher .yhimg").eq($(this).index()).show().siblings().hide();
        setTimeout(getPayment, 200);
    });
    //点击展开优惠券
    $('.discountRight .usediscount').on('click', function () {
        if ($(this).parent().parent().next('.discountHidden').is(':hidden')) {
            $(this).parent().parent().next('.discountHidden').show();
        } else { //否则
            $(this).parent().parent().next('.discountHidden').hide();
        }
    });
    //选中
    $('.discountMain li').on('click', function () {
        if (!$(this).hasClass('overdue')) {
            if ($(this).hasClass('activediv')) {
                $(this).removeClass('activediv');
                $('#point_check').prop('checked', false);
                getPayment();
            } else {
                $(this).addClass('activediv').siblings('li').removeClass('activediv');
                $('#point_check').prop('checked', false);
                getPayment();
            }
        }
    });


</script>