<section class="" style="margin-top: 15px">
    <!-- /.row -->
    <div class="" style="">
        <div class="">
            <div class="">
                <div class="row" style="margin-left:0;margin-right:0;">
                    <!--左侧-->
                    <nav class="col-md-2 col-sm-3" id="myScrollspy">
                        <ul class="nav nav-pills nav-stacked">
                            <!--<li class="active">-->
                                <!--<a href="#section_yh">优惠商品</a>-->
                            <!--</li>-->
                            <li>
                                <a href="#section_rx">热销商品</a>
                            </li>
                            {foreach from=$roomInfo item=item}
                            <li>
                                <a href="#section_{$item.id}">{$item.type_name}</a>
                            </li>
                            {/foreach}
                        </ul>
                    </nav>
                    <!--右侧-->
                    <div class="col-md-10 col-sm-9" id="scrollSection" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
                        <div class="row" id="section_yh">
                            <!--<div class="col-sm-12 sectionTitle">-->
                                <!--优惠商品-->
                            <!--</div>-->
                            <!--秒杀活动-->
                            {foreach from=$activityInfo.spikeInfo item=val}
                            <div class="col-md-3 col-sm-4 productItem" data-goodsid="{$val.goods_id}" data-storegoodsid="{$val.id}"
                                 data-goodsprice="{$val.shop_price}" data-type="2" data-typeid="{$val.spikeid}">
                                <dl>
                                    <dt class="text-center">
                                        <img class="goods_url" src="{$val.original_img}" style="max-width:100%">
                                    </dt>
                                    <dd class="pname">{$val.goods_name}</dd>
                                    <dd class="service-box">
                                        <span class="price">{$symbol}{$val.shop_price}</span>

                                        <div class="service">选规格</div>
                                    </dd>
                                </dl>
                                <div class="popBox">
                                </div>
                            </div>
                            {/foreach}
                            <!--团购活动-->
                            {foreach from=$activityInfo.groupInfo item=val}
                            <div class="col-md-3 col-sm-4 productItem" data-goodsid="{$val.goods_id}" data-storegoodsid="{$val.id}"
                                 data-goodsprice="{$val.shop_price}" data-type="3" data-typeid="{$val.groupid}">
                                <dl>
                                    <dt class="text-center">
                                        <img class="goods_url" src="{$val.original_img}" style="max-width:100%">
                                    </dt>
                                    <dd class="pname">{$val.goods_name}</dd>
                                    <dd class="service-box">
                                        <span class="price">{$symbol}{$val.group_goods_price}</span>

                                        <div class="service">选规格</div>
                                    </dd>
                                </dl>
                                <div class="popBox">
                                </div>
                            </div>
                            {/foreach}
                            <!--促销活动-->
                            {foreach from=$activityInfo.promInfo item=val}
                            <div class="col-md-3 col-sm-4 productItem" data-goodsid="{$val.goods_id}" data-storegoodsid="{$val.id}"
                                 data-goodsprice="{$val.shop_price}" data-type="4" data-typeid="{$val.prom_id}">
                                <dl>
                                    <dt class="text-center">
                                        <img class="goods_url" src="{$val.original_img}" style="max-width:100%">
                                    </dt>
                                    <dd class="pname">{$val.goods_name}</dd>
                                    <dd class="service-box">
                                        <span class="price">{$symbol}{$val.discount_price}</span>

                                        <div class="service">选规格</div>
                                    </dd>
                                </dl>
                                <div class="popBox">
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        <div class="row" id="section_rx">
                            <div class="col-sm-12 sectionTitle">
                                热销商品
                            </div>
                            {foreach from=$hotInfo item=val}
                            <div class="col-md-3 col-sm-4 productItem" data-goodsid="{$val.goods_id}" data-storegoodsid="{$val.id}"
                                 data-goodsprice="{$val.shop_price}" data-type="1" data-typeid="0">
                                <dl>
                                    <dt class="text-center">
                                        <img class="goods_url" src="{$val.original_img}" style="max-width:100%">
                                    </dt>
                                    <dd class="pname">{$val.goods_name}</dd>
                                    <dd class="service-box">
                                        <span class="price">{$symbol}{$val.shop_price}</span>

                                        <div class="service">选规格</div>
                                    </dd>
                                </dl>
                                <div class="popBox">
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        {foreach from=$roomInfo item=item}
                        <div class="row" id="section_{$item.id}">
                            <div class="col-sm-12 sectionTitle">
                                {$item.type_name}
                            </div>
                            {foreach from=$item.goodsInfo item=val}
                            <div class="col-md-3 col-sm-4 productItem" data-goodsid="{$val.goods_id}" data-storegoodsid="{$val.id}"
                                 data-goodsprice="{$val.shop_price}" data-type="1" data-typeid="0">
                                <dl>
                                    <dt class="text-center">
                                        <img class="goods_url" src="{$val.original_img}" style="max-width:100%">
                                    </dt>
                                    <dd class="pname">{$val.goods_name}</dd>
                                    <dd class="service-box">
                                        <span class="price">{$symbol}{$val.shop_price}</span>

                                        <div class="service">选规格</div>
                                    </dd>
                                </dl>
                                <div class="popBox">
                                </div>
                            </div>
                            {/foreach}
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="main-right">
        <div class="cartTxt" style="display:none;">
            <div class="row cartTop">
                <div class="col-sm-6" style="padding:0">加入购物车</div>
                <div class="col-sm-6" style="padding:0" id="clearCart">清空</div>
            </div>
        </div>
        <div class="cart-Container" style="display:none;">
            <form id="form_dkxd">
                <input type="hidden" name="allPrices" id="allPrices">
                <ul>
                </ul>
            </form>
        </div>
        <!--全选，总计-->
        <div class="total" style="height:0;">
            <div class="totalPrice">
                <span>共 <b class="totalCount">0</b>份</span>
                <span>总价 <b class="allPrice">0</b>元</span>
            </div>
        </div>
        <div class="pay-order">
            <div class="row" style="margin-left:0;margin-right:0;">
                <div class="col-sm-6 cartLeft">
                    <div class="change">
                        <i class="arrow0"></i>
                        <span>展开菜单</span>
                    </div>
                    <div class="cartIcon">
                        <i></i>
                        <span id="currentCount">0</span>
                    </div>
                </div>
                <div class="col-sm-3 paybtn" onclick="addOrder(1)" style="background-color:#999">确认下单</div>
                <div class="col-sm-3 paybtn" onclick="addOrder(2)">确认补录</div>
            </div>
        </div>
    </div>
</section>