<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->brand_list}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language1->good_manage}</li>
                <li class="active">  {$language1->brand_list}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <form class="form-inline col-sm-10 col-md-11 no-padding" action="?app=goodsBrand&act=brandIndex">
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label sm">{$language1->brand_name}：</small>
                                    <input type='hidden' name='app' value='goodsBrand'>
                                    <input type='hidden' name='act' value='brandIndex'>
                                    <input type="text" class="form-control" name="name" value="{$name}">
                                </div>
                                <div class="form-group form-group-sm form-mar" style="margin-left:50px;">
                                    <button type='submit' class="btn btn-default btn-sm" id="search" style="padding-top: 5px;">
                                        {$language2->search} <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>

                            <div class="col-sm-2  col-md-1 no-padding">
                                <a class="btn btn-primary pull-right btn-sm" href="admin.php?app=goodsBrand&act=BrandAdd" role="button"><i class="fa fa-plus"></i>{$language1->add_brand}</a>
                            </div>

                        </div>
                        <div class="new-table-responsive">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>{$language1->brand_number}</th>
                                        <th>{$language1->brand_name}</th>
                                        <th>Logo</th>
                                        <!--<th>品牌分类</th>-->
                                        <th>{$language1->recommend}</th>
                                        <th>{$language2->sort}</th>
                                        <th>{$language2->add_time}</th>
                                        <th style="width: 100px;">{$language2->control}</th>
                                    </tr>
                                    </thead>

                                    {foreach from=$list item=val }
                                    <tr>
                                        <td>{$val.sort_id}</td>
                                        <td>{$val.brand_name}</td>
                                        <td><img src="{$val.logo}" style="width: 30px;height: 30px;"></td>
                                        <!--<td>{$val.cate_name}</td>-->
                                        <td>{$val.is_hot}</td>
                                        <td>{$val.sort}</td>
                                        <td>{$val.add_time}</td>
                                        <td>
                                            <a href="admin.php?app=goodsBrand&act=brandEdit&id={$val.id}" data-toggle="tooltip" title="" class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;">{$language2->edit}</a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"  onclick="shanchu('{$val.id}');">{$language2->drop}
                                           </a>
                                        </td>
                                    </tr>
                                    {/foreach}

                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            {$page}
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script type="text/javascript" >
    /*删除*/
    function shanchu(id){
        deletes('?app=goodsBrand&act=dele&id='+id);
    }
</script>
</body>
</html>
