<!DOCTYPE html>
<html style="font-size:50px">
<head lang="en">
    <meta charset="UTF-8">
    <title>新建地址</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="{$STATIC_URL}/wx/base.css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/wx/userAddress/css/mobileSelect.css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/wx/userAddress/css/addAddress.css"/>
    <script src="{$STATIC_URL}/wx/jquery-2.1.1.min.js"></script>
    <script src="{$STATIC_URL}/wx/userAddress/js/addAddress.js"></script>
    <script src="{$STATIC_URL}/wx/userAddress/js/mobileSelect.js"></script>
</head>
<body>
<div class="confirmation">
    <input type="hidden"  name="storeid"  value="{$storeid}" >
    <input type="hidden"  name="lang"  value="{$lang}" >
    <input type="hidden"  name="auxiliary"  value="{$auxiliary}" >
    <input type="hidden" name="latlon" value="{$latlon}">
    <input type="hidden" name="returnUrl" value="{$returnUrl}">
    <input type="hidden" name="id" value="{$id}">
    <input type="hidden" name="addr_id" value="{$addr_id}">
    <input type="hidden" name="nowlatlon" value="{$nowlatlon}">
    <input type="hidden" name="url" value="{$url}">
    <div class="userInfo">
        <label for="name">收货人</label>
        <input id="name" type="text" placeholder="请填写收货人的姓名" name="name" value="{$name}"/>
    </div>
    <div class="phoneInfo">
        <label for="phone">手机号</label>
        <input id="phone" type="text" placeholder="请填写收货手机号" name='phone' value="{$phone}"/>
    </div>
    <div class="address">
        <label>所在地区</label>
        <input type="text" id="showCity" name="address" placeholder="请选择省、市、区" value="{$address}">
    </div>
    <div class="mpInfo">
        <label for="mpNum">详细地址</label>
        <input id="mpNum" type="text" placeholder="请输入街道小区楼层" name="mp" value="{$mp}" />
    </div>
</div>
<div class="footer">
    <button class="submit">保存</button>
</div>
</body>
</html>

<script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
<script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
{literal}
<script>
    $(function () {
        $('.submit').click(function () {
            var name = $('input[name=name]').val();
            var phone = $('input[name=phone]').val();
            var address = $('input[name=address]').val();
            var storeid = $('input[name=storeid]').val();
            var mp = $('input[name=mp]').val();
            var lang = $('input[name=lang]').val();
            var auxiliary = $('input[name=auxiliary]').val();
            var returnUrl = $('input[name=returnUrl]').val();
            var postal = $('input[name=postal]').val();
            var id = $('input[name=id]').val();
            var addr_id = $('input[name=addr_id]').val();
            var nowlatlon = $('input[name=nowlatlon]').val();
            var latlon = $('input[name=latlon]').val();
            var url = $('input[name=url]').val();
            $.ajax({
                url: 'wx.php?app=userCenter&act=doAddress',
                type: 'post',
                data: {'name': name, 'phone': phone, 'address': address, 'storeid': storeid, 'auxiliary': auxiliary, 'lang': lang, 'returnUrl': returnUrl, 'url': url, 'mp': mp, 'postal': postal, 'id': id, 'addr_id': addr_id, 'nowlatlon': nowlatlon, 'latlon': latlon},
                async: false, //默认为true 异步
                success: function (res) {
                    var jsondata = $.parseJSON(res);
                    if (jsondata.status == '1') {
                        layer.open({
                            shade: false
                            , content: '<i class="ico ico-correct"></i>' + jsondata.message
                            , className: 'layer-tip'
                            , time: 2
                        });
                        setTimeout(function () {
                            window.location.href = jsondata.info.url;
                        }, 1000);
                    } else {
                        layer.open({
                            shade: false
                            , content: '<i class="ico ico-error"></i>' + jsondata.message
                            , className: 'layer-tip'
                            , time: 2
                        });
                    }

                }
            });
        })
    })
</script>
{/literal}