<form class="form-horizontal" id="form1" action="?app=storeMang&act=doStoreAdd" data-type="ajax">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>店铺名称:</label>
        <div class="col-sm-7 col-md-7">
            <input type="input" class="form-control"  name=store_name" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>店主账号:</label>
        <div class="col-sm-7 col-md-7">
            <input type="input" class="form-control"   name="username" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>店主卖家账号:</label>
        <div class="col-sm-7 col-md-7">
            <input type="input" class="form-control"   name="seller_name" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>登录密码:</label>
        <div class="col-sm-7 col-md-7">
            <input type="password" class="form-control"   name="password" >
        </div>
    </div>
</form>