{include file="public/wx_header.html"}
    <style>
        html a:hover{
            color:#333 !important;
        }
    </style>
    </head>
    <body>
        <div class="myorderstate-wrap">
            <div class="myorderstate-menus">
                <ul>
                    <li><a href="wx.php?app=order&act=orderindex&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">{$langdata.order_whole}</a></li>
                    <li><a href="wx.php?app=order&act=orderPayment&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">{$langdata.order_payment}</a></li>
                    <li><a href="wx.php?app=order&act=orderHair&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="active">{$langdata.order_delivery}</a></li>
                    <li><a href="wx.php?app=order&act=orderCollect&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">{$langdata.order_received}</a></li>
                    <li><a href="wx.php?app=order&act=orderEvaluate&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">{$langdata.order_To}</a></li>
                    <!--<li><a href="wx.php?app=order&act=orderRefund&storeid={$storeid}&lang={$lang}">{$langdata.order_sale}</a></li>-->
                </ul>
            </div> 
            {foreach from=$data item=item}
            <div class="myorderstate-list mt20">
                <div class="shop">
                    <a>
                        <i class="ico ico-shop"></i>
                        <span class="storeName">{$item.store_name}</span>
                    </a>
                    <span class="fr state">{$langdata.detail_Deliver}</span>
                </div>
                <ul>
                    {foreach $item['goods_list'] as  $good}
                    <li class="itembox">
                        <a href="wx.php?app=orderList&act=pendingPayment&storeid={$storeid}&gid={$good.ogoods_id}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}&orderSn={$item.order_sn}" class="clearfix">
                            <div class="pro-logo fl">
                                <img src="{$good.goods_image}" style="width:100%;height:100%;">
                            </div>
                            <div class="pro-info fl">
                                <h3 class="pro-name ellipsis">{$good.goods_name}</h3>
                                <p class="pro-tags">
                                    <span>{$langdata.order_specification}: {$good.spec_key_name}</span>
                                </p>
                                <div class="pro-right clearfix">
                                    <p class="xprice fl">{$symbol}{$good.goods_pay_price}</p>
                                    <p class="num fr">X{$good.goods_num}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                    {foreach $item['gift'] as  $gift}
                    <li class="itembox">
                        <a href="##" class="clearfix">
                            <div class="pro-logo fl">
                                <img src="{$gift.goods_img}" style="width:100%;height:100%;">
                            </div>
                            <div class="pro-info fl">
                                <h3 class="pro-name ellipsis">{$gift.goods_name}</h3>
                                <p class="pro-tags">
                                    <span>{$langdata.order_specification}: {$gift.goods_key_name}</span>
                                </p>
                                <div class="pro-right clearfix">
                                    <p class="xprice fl">{$langdata.Buy_agift}</p>
                                    <p class="num fr">X{$gift.gift_num}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                </ul>
                <div class="totalbox">
                    <span>{$langdata.order_common}{$item['num'][0]['num']}{$langdata.order_goods}</span>
                    <span class="ml20">{$langdata.order_Total}：{$symbol}{$item.order_amount}</span>
                    <span class="ml20">（{$langdata.order_charges}{$symbol}{$item.shipping_fee}）</span>
                </div>
                <div class="btnbox tr">
                    <!--{if $item.Appoint ==1}-->
                    <!--<a href="##" class="btn-sure">{$langdata.order_Toexamine}</a>-->
                    <!--{else}-->
                    <!--{if $good['refund_state'] ==0}-->
                    <a href="?app=order&act=qbRefund&storeid={$storeid}&order_id={$item.order_id}&order_sn={$item.order_sn}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="btn-sure">{$langdata.order_Full}</a>
                    <!--{else if $good.refund_state ==1}-->
                    <!--<span href="##" class="btn-sure">{$langdata.order_audit}</span>-->
                    <!--{else if $good.refund_state ==2}-->
                    <!--<span href="##" class="btn-sure">{$langdata.order_Refunds}</span>-->
                    <!--{else if $good.refund_state ==3}-->
                    <!--<span href="##" class="btn-sure">{$langdata.order_failure}</span>-->
                    <!--{/if}-->
                    <!--{/if}-->
                </div>
            </div>
            {/foreach}
        </div>
        <input type="hidden" name="referer" value="{$referer}">
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
    </body>
</html>