<!DOCTYPE html>
<html>
    <head>
        <title>家装美图</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        {include file="public/daohang.html"}
        <div class="container">
            <div class="zuhesale-wrap mt60">
                <div class="active-box">
                    <img src="{$STATIC_URL}/front/images/09B42797-5EB6-457e-97CC-00C87BA7C909.png" width="1200">
                </div>
            </div>
        </div>
        {include file="public/footer.html"} 
    </body>
</html>