<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
        <link rel="stylesheet" href="{$STATIC_URL}/plugin/bootstrapswitch/bootstrap-switch.min.css">
    </head>
    <body>
        <!-- header -->
        {include file="public/daohang.html"}

        <!-- navs-box end -->
        <div class="border"></div>

        <div class="container">
            <!-- bread-box -->
            <div class="bread-box">
                <a href="?app=userCenter&act=myCenter&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.addad_Account}</a>
                <i>»</i>
                <a href="?app=userCenter&act=myAddress&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}"> {$langdata.addad_addr}</a>
                <i>»</i>
                <span class="or">{$langdata.addad_input}</span>
            </div>
            <div class="g-box clearfix">
                <div class="g-left fl">
                    <h1 class="title mb30">{$langdata.addad_input}</h1>
                    <div class="bg-white bg-box">
                        <form data-type="ajax" action="?app=userCenter&act=saveAddress">
                            <input type="hidden"  name="storeid"  value="{$storeid}" >
                            <input type="hidden"  name="lang"  value="{$langid}" >
                            <input type="hidden"  name="auxiliary"  value="{$auxiliary}" >
                            <input type="hidden"  name="returnUrl"  value="{$pageUrl}" >
                            <h1>{$langdata.addad_add_edit}<span class=" fr font16 normal">*{$langdata.addad_information}</span></h1>
<!--                            <div class="it-box">
                                <label>{$langdata.addad_addressbook}:</label>
                                <input type="text" name="book_name"/>
                                <span class="error">error message</span>
                                <div class="tip">
                                    {$langdata.addad_addresses}
                                </div>
                            </div>-->
                            <div class="it-box">
                                <label>{$langdata.addad_name}* :</label>
                                <input type="text" name="name"/>
                            </div>
                            <div class="it-box">
                                <label class="vt">{$langdata.saveAdd_store}* :</label>
                                <div class="inblock">
                                    <input  type="checkbox" name="switch_lan" id="switch" checked  value="1">
                                </div>
                            </div>
                            <div class="form-group it-box" id="ch">
                                <div class="it-box">
                                    <label class="vt">{$langdata.saveAdd_province}* :</label>
                                    <select name="pro_id" id="pro_id" onchange="getcitylist(this.id)">
                                        <option value="0">{$langdata.saveAdd_province1}</option>
                                        {foreach from=$pros item=p}
                                        <option value='{$p.id}'>{$p.name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="it-box">
                                    <label class="vt">{$langdata.saveAdd_city}* :</label>
                                    <select name="city_id" id="city_id" onchange="getarealist(this.id)">
                                        <option value="0">{$langdata.saveAdd_City1}</option>
                                    </select>
                                </div>
                                <div class="it-box">
                                    <label class="vt">{$langdata.saveAdd_County}* :</label>
                                    <select  name="area_id" id="area_id">
                                        <option value="0">{$langdata.saveAdd_region}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mp100" id="en">
                                <div class="it-box">
                                    <label class="vt">{$langdata.saveAdd_Country}* :</label>
                                    <select name="country_id" id="country_id" onchange="getZonelist(this.id)">
                                        <option value="0">{$langdata.saveAdd_Choosecountry}</option>
                                        {foreach from=$countrys item=p}
                                        <option value='{$p.country_id}'>{$p.name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="it-box">
                                    <label class="vt">{$langdata.saveAdd_continent}* :</label>
                                    <select name="zhou_id" id="zhou_id">
                                        <option value="0">{$langdata.saveAdd_Choice}</option>
                                    </select>
                                </div>
                                <div class="it-box">
                                    <label>{$langdata.addad_City}* :</label>
                                    <input type="text" name="city"/>
                                </div>
                            </div>   
                            <div class="it-box">
                                <label class="vt">{$langdata.addad_address}* :</label>
                                <textarea rows="5" name="address"></textarea>
                            </div>
<!--                            <div class="it-box">
                                <label>{$langdata.addad_PostalCode} :</label>
                                <input type="text" name="postal"/>
                            </div>-->
<!--                            <div class="it-box">
                                <label class="vt">{$langdata.addad_Thisisone} :</label>
                                <div class="inblock">
                                    <p><input type="radio" name="type" value="1"/>{$langdata.addad_Residential}</p>
                                    <p><input type="radio" name="type" value="2"/>{$langdata.addad_business}</p>
                                </div>
                            </div>-->
<!--                            <div class="it-box">
                                <label>{$langdata.addad_Corporatename}:</label>
                                <input type="text" name="company_name"/>
                            </div>-->
                            <div class="it-box">
                                <label>{$langdata.addad_Phonenumber}* :</label>
                                <input type="text" name="phone"/>
                                <div class="tip">{$langdata.addad_Ensure}</div>
                            </div>
                            <!--<div class="it-box">-->
                            <!--<label></label>-->
                            <!--<div class="inblock">-->
                            <!--<p><input type="checkbox" name="is_receipt" value="2"/>{$langdata.addad_Make}  </p>-->
                            <!--<p><input type="checkbox" name="is_bill" value="2"/>{$langdata.addad_Setup}</p>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="button-box mt30">
                                <input type="submit" value="{$langdata.addad_save}" class="btn btn-o mr20 "><i class="sj-r inblock"></i>
                                <a href="?app=userCenter&act=myAddress&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" class="btn btn-next">{$langdata.addad_Return}</a>
                            </div>
                        </form>
                    </div>

                </div>
                {include file="userCenter/menu.html"}
            </div>
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.manage_Options}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>

        {include file="public/footer.html"}
        <script src="{$STATIC_URL}/plugin/bootstrapswitch/bootstrap-switch.min.js"></script>
        <!--        国际表-->
        {if $lang_id == 'ZH'}
        <script type="text/javascript">
                                        function getZonelist(id) {
                                            var pro_id = $.trim($("#" + id).val());
                                            if (pro_id == 0) {
                                                var html = "<option value='0'>请选择国家</option>";
                                                $("#" + id).parent().next().find('select').html(html);
                                                return;
                                            }
                                            $.ajax({
                                                url: 'index.php?app=userCenter&act=getZoneData',
                                                type: 'POST',
                                                data: "pro_id=" + pro_id,
                                                dataType: "json",
                                                success: function (msg) {
                                                    // console.log(msg);
                                                    // return false;
                                                    var html = "<option value=''>请选择省</option>";
                                                    $.each(msg, function (key, value) {
                                                        html += "<option value='" + value.zone_id + "'>" + value.name + "</option>";
                                                    });
                                                    $("#" + id).parent().next().find('select').html(html);
                                                }
                                            });
                                            return false;
                                        }
        </script>
        <!--        国内表-->
        <script type="text/javascript">
            function getcitylist(id) {
                var pro_id = $.trim($("#" + id).val());
                if (pro_id == 0) {
                    var html = "<option value='0'>请选择城市</option>";
                    $("#" + id).parent().next().find('select').html(html);
                    var city_id = $("#" + id).parent().next().find('select').val();
                    if (city_id == 0) {
                        var html = "<option value='0'>请选择区域</option>";
                        $("#" + id).parent().next().next().find('select').html(html);
                    }
                    return false;
                }
                $.ajax({
                    url: 'index.php?app=userCenter&act=getAjaxData',
                    type: 'POST',
                    data: "pro_id=" + pro_id,
                    dataType: "json",
                    success: function (msg) {
                        var html = "<option value=''>请选择城市</option>";
                        $.each(msg, function (key, value) {
                            html += "<option value='" + value.id + "'>" + value.name + "</option>";
                        });
                        $("#" + id).parent().next().find('select').html(html);
                        var html_1 = "<option value='0'>请选择区域</option>";
                        $("#" + id).parent().next().next().find('select').html(html_1);
                    }
                });
                return false;
            }
            //获取当前区域列表
            function getarealist(id) {
                var city_id = $.trim($("#" + id).val());
                if (pro_id == 0) {
                    var html = "<option value='0'>请选择区域</option>";
                    $("#" + id).parent().next().find('select').html(html);
                    return false;
                }
                $.ajax({
                    url: 'index.php?app=userCenter&act=getAjaxData',
                    type: 'POST',
                    data: "pro_id=" + city_id,
                    dataType: "json",
                    success: function (msg) {
                        var html = "<option value=''>请选择区域</option>";
                        $.each(msg, function (key, value) {
                            html += "<option value='" + value.id + "'>" + value.name + "</option>";
                        });
                        $("#" + id).parent().next().find('select').html(html);
                    }
                });
                return false;
            }
        </script>
        <script type="text/javascript">
            $(function () {
                $('#en').css('display', 'none');
                $('#ch').css('display', 'block')
                $('#submit').click(function () {
                    if ($('input[name=]'))
                        layer.alert(1111);
                    return false;
                })
                $("[name='switch_lan']").bootstrapSwitch({
                    onText: "国内",
                    offText: "国际",
                    size: "small",
                    onSwitchChange: function (event, state) {
                        // 国内tru 国外是false
                        if (state == true) {
                            $("#switch").val('1');
                            $('#en').css('display', 'none');
                            $('#ch').css('display', 'block')
                        } else {
                            $("#switch").val('2');
                            $('#en').css('display', 'block');
                            $('#ch').css('display', 'none')
                        }
                    }

                });
            });
        </script>
        {else}
        <script type="text/javascript">
            function getZonelist(id) {
                var pro_id = $.trim($("#" + id).val());
                if (pro_id == 0) {
                    var html = "<option value='0'>Please choose the country</option>";
                    $("#" + id).parent().next().find('select').html(html);
                    return;
                }
                $.ajax({
                    url: 'index.php?app=userCenter&act=getZoneData',
                    type: 'POST',
                    data: "pro_id=" + pro_id,
                    dataType: "json",
                    success: function (msg) {
                        // console.log(msg);
                        // return false;
                        var html = "<option value=''>Please choose the continent</option>";
                        $.each(msg, function (key, value) {
                            html += "<option value='" + value.zone_id + "'>" + value.name + "</option>";
                        });
                        $("#" + id).parent().next().find('select').html(html);
                    }
                });
                return false;
            }
        </script>
        <!--        国内表-->
        <script type="text/javascript">
            function getcitylist(id) {
                var pro_id = $.trim($("#" + id).val());
                if (pro_id == 0) {
                    var html = "<option value='0'>Please choose the city</option>";
                    $("#" + id).parent().next().find('select').html(html);
                    var city_id = $("#" + id).parent().next().find('select').val();
                    if (city_id == 0) {
                        var html = "<option value='0'>Please choose the city</option>";
                        $("#" + id).parent().next().next().find('select').html(html);
                    }
                    return false;
                }
                $.ajax({
                    url: 'index.php?app=userCenter&act=getAjaxData',
                    type: 'POST',
                    data: "pro_id=" + pro_id,
                    dataType: "json",
                    success: function (msg) {
                        var html = "<option value=''>Please choose the city</option>";
                        $.each(msg, function (key, value) {
                            html += "<option value='" + value.id + "'>" + value.name + "</option>";
                        });
                        $("#" + id).parent().next().find('select').html(html);
                        var html_1 = "<option value='0'>Please choose the city</option>";
                        $("#" + id).parent().next().next().find('select').html(html_1);
                    }
                });
                return false;
            }
            //获取当前区域列表
            function getarealist(id) {
                var city_id = $.trim($("#" + id).val());
                if (pro_id == 0) {
                    var html = "<option value='0'>Please select the area</option>";
                    $("#" + id).parent().next().find('select').html(html);
                    return false;
                }
                $.ajax({
                    url: 'index.php?app=userCenter&act=getAjaxData',
                    type: 'POST',
                    data: "pro_id=" + city_id,
                    dataType: "json",
                    success: function (msg) {
                        var html = "<option value=''>Please select the area</option>";
                        $.each(msg, function (key, value) {
                            html += "<option value='" + value.id + "'>" + value.name + "</option>";
                        });
                        $("#" + id).parent().next().find('select').html(html);
                    }
                });
                return false;
            }
        </script>
        <script type="text/javascript">
            $(function () {
                $('#en').css('display', 'none');
                $('#ch').css('display', 'block')
                $('#submit').click(function () {
                    if ($('input[name=]'))
                        layer.alert(1111);
                    return false;
                })
                $("[name='switch_lan']").bootstrapSwitch({
                    onText: "Domestic",
                    offText: "Internationl",
                    size: "small",
                    onSwitchChange: function (event, state) {
                        // 国内tru 国外是false
                        if (state == true) {
                            $("#switch").val('1');
                            $('#en').css('display', 'none');
                            $('#ch').css('display', 'block')
                        } else {
                            $("#switch").val('2');
                            $('#en').css('display', 'block');
                            $('#ch').css('display', 'none')
                        }
                    }

                });
            });
        </script>
        {/if}
    </body>
</html>