<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        <!-- header end -->
        <!-- navs-box -->
        {include file="public/daohang.html"}

        <!-- navs-box end -->
        <div class="border"></div>
        <div class="container mycollection-box">
            <div class="mt30 clearfix">
                <h1 class="normal font24 fl mb30">{$langdata.Article_My}</h1>
            </div>
            {if $id== ''}
            <div class="payoptions">
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/6.png" style="width: 300px; height: 300px">
                </div>
            </div>
            {else}
            <div class="collection-container">
                {foreach from=$listData item=item}
                <div class="collection-item">
                    <div class="clearfix">
                        <div class="fl img" style="width: 217px; height: 100px;">
                            <a href="index.php?app=articlePage&act=detail&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&artid={$item.id}"><img src="{$item.image}"></a>
                        </div>
                        <div class="fl infobox">
                            <p class="font16 normal"><h3>{$item.title}</h3></p>
                            <div class="showstar mt5">
                            </div>
                            <p class="mt5 gy ellipsis" >{$item.brif}</p>
                        </div>
                        <div class="addbox fr tr">
                            <p>{$langdata.Article_time} ： {$item.add_time|date_format:"%Y-%m-%d %H:%M:%S" }</p>
                            <a href="index.php?app=articlePage&act=detail&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&artid={$item.id}" class="btn btn-o mt20 mb20 font16">{$langdata.Article_details}</a>
                            <p class="tl"><a href="javascript:;" id='{$item.id}' class="or uline j_del">{$langdata.Article_Remove}</a></p>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
            {/if}
            <!--     <div class="pages-box tc mt40">
                      <a href="##" class="back-first ico"></a>
                      <a href="##" class="back ico"></a> 
                      <a href="##">1</a>
                      <a href="##">2</a>
                      <a href="##">3</a>
                      <a href="##">4</a>
                      <a href="##" class="go ico"></a>
                     </div>-->
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.manage_Options}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>

        <div class="footer">
            {include file="public/footer.html"}
        </div>

        <script type="text/javascript" src="./js/jquery.1.8.2.min.js"></script>	
        <script type="text/javascript" src="./js/common.js"></script>
        <script type="text/javascript" src="./plus/jquery.SuperSlide.2.1.1.js"></script>
        {if $lang_id == 'ZH'} 
        <script type="text/javascript">
            //删除收藏的商品
            $(function () {
                $('.j_del').click(function () {
                    var id = $(this).attr('id');
                    deletes('index.php?app=userCenter&act=doArticleDelete&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&id=' + id);
//                    $(this).parents('.collection-item').remove();
                })
            })
        </script>
        {else}
        <script type="text/javascript">
            //删除收藏的商品
            $(function () {
                $('.j_del').click(function () {
                    var id = $(this).attr('id');
                    deletes_en('index.php?app=userCenter&act=doArticleDelete&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&id=' + id);
//                    $(this).parents('.collection-item').remove();
                })
            })
        </script>

        {/if}
    </body>
</html>