<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        <!-- header end -->
        <!-- navs-box -->
        {include file="public/daohang.html"}

        <!-- navs-box end -->
        <div class="border"></div>
        <div class="container mycollection-box">
            <div class="mt30 clearfix">
                <h1 class="normal font24 fl mb30">{$langdata.Collection_My}</h1>
            </div>
            {if $data[0]== ''}
            <div class="payoptions">
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/6.png" style="width: 300px; height: 300px">
                </div>
            </div>
            {else}
            <div class="collection-container">
                {foreach from=$data item=item}
                <div class="collection-item">
                    <div class="clearfix">
                        <div class="fl img">
                            <a href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&gid={$item.store_good_id}"><img src="{$item.original_img}"></a>
                        </div>
                        <div class="fl infobox">
                            <h2 class="font16 normal">{$item.goods_name}</h2>
                            <p class="red mt5">{$symbol}{$item.shop_price}</p>
                            <div class="showstar mt5">
                                <div class="atar_Show">
                                    {if $item.rate}
                                    <p tip="20" style="width: {$item.rate *22}px;"></p>
                                    {else}
                                    <p tip="20" style="width: 110px;"></p>
                                    {/if}
                                </div>
                            </div>
                            <p class="mt5 gy">{$langdata.Collection_Now}</p>
                        </div>
                        <div class="addbox fr tr">
                            <p>{$langdata.Collection_time}：{$item.adds_time|date_format:"%Y-%m-%d %H:%M:%S" }</p>
                            <a href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&gid={$item.store_good_id}" class="btn btn-o mt20 mb20 font16">{$langdata.Collection_details}</a>
                            <p class="tl"><a href="javascript:;" id='{$item.store_good_id}' class="or uline j_del">{$langdata.Article_Remove}</a></p>
                        </div>
                    </div>
                </div>
                {/foreach}
            </div>
            {/if}
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.manage_Options}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>

        <div class="footer">
            {include file="public/footer.html"}
        </div>

        <script type="text/javascript" src="./js/jquery.1.8.2.min.js"></script>	
        <script type="text/javascript" src="./js/common.js"></script>
        <script type="text/javascript" src="./plus/jquery.SuperSlide.2.1.1.js"></script>
        {if $lang_id == 'ZH'}
        <script type="text/javascript">
            //删除收藏的商品
            $(function () {
                $('.j_del').click(function () {
                    var id = $(this).attr('id');
                    deletes('index.php?app=userCenter&act=doDelete&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&id=' + id);
//                    $(this).parents('.collection-item').remove();
                })
            })
        </script>
        {else}
        <script type="text/javascript">
            //删除收藏的商品
            $(function () {
                $('.j_del').click(function () {
                    var id = $(this).attr('id');
                    deletes_en('index.php?app=userCenter&act=doDelete&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&id=' + id);
//                    $(this).parents('.collection-item').remove();
                })
            })
        </script>
        
        {/if}
    </body>
</html>