<!DOCTYPE html>
<html>
<head>
	<title>{$langdata.Personal_Center}</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="./css/base.css">
</head>
<body>
	<!-- header -->
	<div class="header-box">
		<div class="container clearfix">
			<div class="left fl">
				<span>Welcom</span>
				<a href="##">Please register</a>
			</div>
			<div class="right fr">
				<a href="##">Station message</a>
				<a href="##">Member Center</a>
				<a href="##">Help center</a>
			</div>
		</div>
	</div>
	<!-- header end -->

	<!-- navs-box -->
	<div class="navs-box">
		<div class="container clearfix">
			<div class="logo fl">
				<a href="##"><img src="./images/logo.png" width="156" height="106"></a>
			</div>
			<div class="navs fl">
				<ul>
					<li class="first">
						<a href="##">Categories <i class="ico ico-dw"></i></a>
						<div class="navs-list">
							<ul>
								<li>
									<a href="##" class="tit1 active">家具</a>
									<div class="item-box" style="display:block">
										<div class="item">
											<a href="##" class="tit2">装饰物</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>

										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
											
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
									</div>
								</li>
								<li>
									<a href="##" class="tit1">地毯</a>
									<div class="item-box" >
										<div class="item">
											<a href="##" class="tit2">地毯物</a>
											<a href="##">布艺家具</a>
											<a href="##">沙发</a>
										</div>
										<div class="item">
											<a href="##" class="tit2">业务</a>
											<a href="##">床</a>
											<a href="##">床头</a>
											<a href="##">柜</a>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</li>
					<li>
						<a href="##">Pieces</a>
					</li>
					<li>
						<a href="##">nspiration</a>
					</li>
					<li>
						<a href="##">Soldes</a>
					</li>
				</ul>
			</div>
			<div class="account fr">
					<ul class="list clearfix">
						<li>
							<a href="##" class="first ellipsis inblock" style="width: 90px;" title="">Hello.Sign in</a>
							<!-- 登入之后进去的样式 -->
							<!-- <a href="##">My account</a> -->
						</li>
						<li>
							<a href="##"><span class="cartnum"><i class="ico ico-cart inblock"></i><span class="num">1</span></span>Shopping Cart</a>
						</li>
						<li class="mypoint">
							<a href="##">My points <span class="point fr">500</span></a>
						</li>

					</ul>
					<div class="search">
						<form>
							<input type="text" name="" class="text" placeholder="L’ MERI欧式简约" />
							<button type="submit"></button>
						</form>
					</div>
			</div>
		</div>
	</div>

	<!-- navs-box end -->
	<div class="border"></div>

	<div class="container invoice-box">
		<!-- bread-box -->
		<div class="bread-box">
			<a href="##">我的账户</a>
			<i>»</i>
			<a href="##">我的订单</a>
			<i>»</i>
			<span class="or">补开/查看发票</span>
		</div>
		<h1 class="normal font24 mb20">发票信息</h1>
		<div class="content-box">
			<h2 class="font16 mb15">发票类型：</h2>
			<div>
				<input type="radio" name="radio"/> 电子发票
				<span class="ml30">电子发票目前仅支持711自营商品及已开通电子发票的地区，尚未支持电子发票的商品/地区，仍将为您开具纸质发票。</span>
			</div>
			<div><input type="radio" name="radip"/> 纸质发票</div>
			<h2 class="font16 mb15 mt35">发票抬头：</h2>
			<div> 
				<p class="inblock"><input type="radio" name="radio" class="j_radio1"/> 企业</p>
				<p class="inblock  ml100"><input type="radio" name="radio" class="j_radio2" /> 非企业性单位</p>
				<p class="inblock  ml100"><input type="radio" name="radio" class="j_radio3" /> 个人</p>
			</div>
			<div class="tip">
				企业包括公司、非公司制企业法人、企业分支机构、个人独资企业、合伙企业和其他企业。 请提前与您单位核实发票填写信息。如须填写纳税人识别号，请选择“企业”选项并正确填写；如无须填写纳税人识别号，请选择“非企业性单位”选项。 如您暂时无法确认纳税人识别号填写的相关内容，可以选择先不开具发票。等待确认后进入我的账户，点击我的订单-【补开发票】自助办理即可（注：订单发货前无法补开）。
			</div>
			<div class="j_choose">
				<div class="it-box">
					<label>名称：</label>
					<input type="text" placeholder="" class="name" />
				</div>
				<div class="it-box">
					<label>纳税人识别号：</label>
					<input type="text" placeholder="企业必填,非企业性单位和个人无需填写" class="card" />
				</div>
				<div class="red">注意：发票内容为商品类别或商品明细，由卖家根据所购商品决定。发票将在商品发货后5天内开具并寄出，可能不在配送包裹内。</div>
			</div>
			
			
			<h2 class="font16 mb15 mt35">邮寄信息：</h2>
			<div class="it-box">
				<label class="vt">发票邮寄地址：</label>
				<textarea row="7"></textarea>
			</div>
			<div class="it-box">
				<label>邮政编码：</label>
				<input type="text"/>
			</div>
			<div class="it-box">
				<label>收件人姓名：</label>
				<input type="text"/>
			</div>
			<div class="btn-box">
				<a href="##" class="btn btn-o">提交发票</a>
				<a href="##" class="btn btn-next ml30">取消</a>
			</div>

		</div>
		<!-- paypal -->
		<div class="payoptions">
			<h2><span>Payment Options</span></h2>
			<div class="img">
				<img src="./images/zhifu.png">
				<img src="./images/paypal.png">
				<img src="./images/weixin.png">
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="top">
			<ul class="clearfix">
				<li>
					<a href="##"><img src="./images/f1.png" width="115" height="44"></a>
				</li>
				<li>
					<a href="##"><img src="./images/f2.png" width="115" height="44"></a>
				</li>
				<li>
					<a href="##"><img src="./images/f3.png" width="115" height="44"></a>
				</li>
			</ul>
		</div>
		<div class="sitename">711家居网711商城</div>
		<div class="siteinfo">
			<p>全球化的M2C家居生态网-711家居网</p>
			<p>Global M2C home furnishing cosystem network</p>
			<p>核心价值观：坦诚Honest  守约Discipline  平等Equality  感恩Thanksgiving</p>
			<p>中国站WWW.711HOME.CN      国际站WWW.711HOME.COM      官网WWW.711HOME.NET</p>
		</div>
		<div class="sitelicense">Copyright © 2003-2016 艾美家居股份有限公司--711家居网   沪ICP备16027528号-1</div>
	</div>

<script type="text/javascript" src="./js/jquery.1.8.2.min.js"></script>	
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./plus/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
	$(function(){
		var text = $('.j_choose input[type="text"]');
		$('.j_radio1').click(function(){
			$('.name').attr('disabled',false);
			$('.card').attr('disabled',false);
		})
		$('.j_radio2').click(function(){
			text.attr('disabled',false);
			$('.card').attr('disabled',true);
		})
		$('.j_radio3').click(function(){
			$('.name').attr('disabled',true);
			$('.card').attr('disabled',true);
		})
	})
	
</script>
</body>
</html>