<div class="g-right fr">
    <h1 class="mb20">{$langdata.myacc_account}</h1>
    <ul>
        <li><a href="?app=userCenter&act=userInfo&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.myacc_information}</a></li>
        <li><a href="?app=userCenter&act=myAddress&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.myacc_addr}</a></li>
        <li><a href="?app=userCenter&act=personPoint&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.myacc_point}</a></li>
        <li><a href="?app=userCenter&act=myAmount&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">我的余额</a></li>
        <li><a href="?app=userCenter&act=userInfo1&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.use_wdyhq}</a></li>
    </ul>
    <h1 class="mb20">{$langdata.myacc_Mycollection}</h1>
    <ul>
        <li><a href="?app=userCenter&act=collectionStore&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.myacc_Articlecollection}</a> </li>
        <li><a href="?app=userCenter&act=collectionGoods&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.myacc_Commoditycollection}</a> </li>
        <li><a href="?app=userCenter&act=footPrint&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.myacc_MyTracks}</a> </li>
        <li><a href="?app=userCenter&act=myRecommendation&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" style="text-decoration:none;">{$langdata.Myrecommendation_wMy}</a></li>


    </ul>
</div>