<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        <!-- header end -->

        <!-- navs-box -->
        {include file="public/daohang.html"}

        <!-- navs-box end -->
        <div class="border"></div>

        <div class="container">
            <!-- bread-box -->
            <div class="bread-box">
                <a href="?app=userCenter&act=myCenter&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.userinfo_Myaccount}</a>
                <i>»</i>
                <span class="or">{$langdata.userinfo_accountinformation}</span>
            </div>
            <div class="g-box clearfix">
                <div class="g-left fl">
                    <h1 class="title">{$langdata.userinfo_accountinformation}</h1>
                    <div class="b-dashed"></div>
                    <div class="text">
                        {$langdata.userinfo_Changeemail}
                    </div>
                    <div class="bg-white bg-box">
                        <form data-type="ajax" action="?app=userCenter&act=saveInfo">
                            <input type="hidden"  name="storeid"  value="{$storeid}" >
                            <input type="hidden"  name="lang"  value="{$langid}" >
                            <input type="hidden"  name="auxiliary"  value="{$auxiliary}" >
                            <h1>{$langdata.userinfo_Username}</h1>
                            <!--<div class="it-box">-->
                            <!--<label>{$langdata.userinfo_Name}：</label>-->
                            <!--<input type="text" name="surname" value="{$info.surname}"/>-->
                            <!--</div>-->
                            <!--<div class="it-box">-->
                            <!--<label>{$langdata.userinfo_surname}：</label>-->
                            <!--<input type="text" name="name" value="{$info.i_name}"/>-->
                            <!--</div>-->
                            <div class="it-box">
                                <label>{$langdata.userinfo_nickname}：</label>
                                <input type="text" name="nickname" value="{$info.username}"/>
                            </div>
                            <h1 class="mt35">{$langdata.userinfo_E_mailaddr}</h1>
                            <div class="it-box">
                                <label>{$langdata.userinfo_Currente_mail}：</label>
                                {if empty($info.email)}
                                <input type="text" name="email" placeholder="添加邮箱账号"/>
                                {else}
                                <span class="f-weight">{$info.email}</span>
                                <a href="javasript:;" onclick="dialog_load_form('?app=userCenter&act=doEmail&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}', '更换邮箱')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更换邮箱</a>
                                {/if}

                            </div>
                            <div class="it-box">
                                <label>{$langdata.userinfo_Currente_phone}：</label>
                                {if empty($info.phone)}
                                <input type="text" name="phone" placeholder="添加手机账号"/>
                                {else}
                                <span class="f-weight">{$info.phone}</span>
                                <a href="javasript:;" onclick="dialog_load_form('?app=userCenter&act=doPhone&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}', '更换手机')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;更换手机</a>
                                {/if}
                            </div>
                            <h1 class="mt35">{$langdata.userinfo_passwords}？</h1>
                            <div class="it-box">
                                <label>{$langdata.userinfo_password}：</label>
                                <input type="password" name="old_password"/>
                            </div>
                            <div class="it-box">
                                <label>{$langdata.userinfo_Newpassword}：</label>
                                <input type="password" name="new_password"/>{$langdata.userinfo_minimum}
                            </div>
                            <div class="it-box">
                                <label>{$langdata.userinfo_Verification}：</label>
                                <input type="password" name="new_again"/>
                                <!--                                <div class="tip">{$langdata.userinfo_minimum}</div>-->
                            </div>
                            <div class="button-box mt30">
                                <input type="submit" class="btn btn-o mr20 " value="{$langdata.userinfo_Bcun}"><i class="sj-r inblock"></i></a>
                                <a href="?app=userCenter&act=myCenter&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" class="btn btn-next">{$langdata.userinfo_Change}</a>
                            </div>
                        </form>
                    </div>

                </div>
                {include file="userCenter/menu.html"}
            </div>
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.manage_Options}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>
        {include file="public/footer.html"}

        <script type="text/javascript">

        </script>
    </body>
</html>