<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
       {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->

        <!-- header end -->
        <!-- navs-box -->
      {include file="public/daohang.html"}
        <!-- navs-box end -->
        <div class="border"></div>
        <div class="container">
            <h1 class="title font24 mt30 mb30 normal">{$langdata.myacc_Myaccount}</h1>
            <div class="myaccount-box clearfix">
                <div class="left-box fl">
                    <div class="item-box ">
                        <ul class="clearfix">
                            <li class="item1">
                                <h2>{$langdata.myacc_Order}</h2>
                                <p>{$langdata.myacc_Track}...</p>
                            </li>
                            <li><a href="?app=userCenter&act=myOrder&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" class="btn btn-next" title="View All My Orders">{$langdata.myacc_See}</a></li>
                        </ul>
                    </div>
                    <div class="item-box item-box1">
                        {if empty($fx_info)}
                        <ul class="clearfix">
                            <li class="item1">
                                <h2>{$langdata.myacc_Fxiao}</h2>
                            </li>
                            <li><a href="?app=userCenter&act=beFxuser&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" class="btn btn-next" title="View All My Orders">{$langdata.user_fx_sq}</a></li>

                        </ul>
                        {else}
                        <ul class="clearfix">
                            <li class="w25">
                                <h2>{$langdata.myacc_Fxiao}</h2>
                            </li>
                            {if $fx_info.freeze==2}
                            <li><a href="#" class="btn btn-next" title="View All My Orders">{$langdata.fx_dj}</a></li>
                            {else}
                                {if $fx_info.is_check==1}
                                     <li><a href="#" class="btn btn-next" title="View All My Orders">{$langdata.fx_shz}</a></li>
                                {else if $fx_info.is_check==3}
                                     <li><a href="?app=userCenter&act=reFxuser&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}" class="btn btn-next" title="View All My Orders">{$langdata.fx_cssq}</a></li>
                                {else}
                                    <li class="w25">
                                        <h3>{$langdata.myacc_work}</h3>
                                        <a href="index.php?app=myFxOrder&act=index&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_Jlu}</a> <!--分销订单-->
                                        <a href="index.php?app=myFxTeam&act=index&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_Tdui}</a><!--我的团队-->
                                        {if $tree_info.fx_level == 3}
                                        <a href="?app=userCenter&act=setDiscount&&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_change}</a>
                                        {/if}
                                    </li>
                                    <li class="w25">
                                        <h3>{$langdata.myacc_word}</h3>
                                        <a href="?app=userCenter&act=fx_cash&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_store}</a>
                                        <a href="?app=userCenter&act=cash_list&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_Record}</a>
                                    </li>
                                    <li class="w25">
                                        <div class="fxbox tc" >
                                            <h3 class="mt10 mb10">{$langdata.myacc_Distribution_code} {$fx_info.fx_code}</h3>
                                            <div class="absbox inblock">
                                                <span class="btn btn-o mb10">{$langdata.myacc_share}</span>
                                                <div class="infobox">
                                                    <input type="text" value="{$fx_code}"/>
                                                    <div class="img">
                                                        <img src="{$fx_info.fx_img}" />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </li>
                                {/if}
                            {/if}
                        </ul>
                        {/if}
                    </div>
                    <div class="item-box item-box1">
                        <ul class="clearfix">
                            <li class="w25">
                                <h2>{$langdata.myacc_first}</h2>
                            </li>
                            <li class="w25">
                                <h3>{$langdata.myacc_account}</h3>
                                <a href="?app=userCenter&act=userInfo&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_information}</a>
                                <a href="?app=userCenter&act=myAddress&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_addr}</a>
                                <a href="?app=userCenter&act=personPoint&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_point}</a>
                                <a href="?app=userCenter&act=myAmount&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">我的余额</a>
                                <a href="?app=userCenter&act=userInfo1&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.use_wdyhq}</a>
                            </li>
                            <li class="w25">
                                <h3>{$langdata.myacc_Mycollection}</h3>
                                <!--<a href="##">Gérer mes courriels</a>-->
                                <a href="?app=userCenter&act=collectionStore&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_Articlecollection}</a>
                                <a href="?app=userCenter&act=collectionGoods&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_Commoditycollection}</a>
                                <a href="?app=userCenter&act=footPrint&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.myacc_MyTracks}</a>
                                 <a href="?app=userCenter&act=myRecommendation&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.Myrecommendation_wMy}</a>
                            </li>
<!--                            <li class="w25">
                                <h3>{$langdata.myacc_Quotation}</h3>
                                <a href="##">{$langdata.myacc_Myoffer}</a>
                                <a href="##">{$langdata.myacc_offer}</a>

                            </li>-->
                        </ul>
                    </div>
                </div>

            </div>
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.manage_Options}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>

        {include file="public/footer.html"}
        <script type="text/javascript">
            $(function(){
                $('.absbox').hover(function(){
                    $('.infobox').show();
                },function(){
                    $('.infobox').hide();
                })
            })

        </script>
    </body>
</html>