<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                发票列表
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i>首页</a></li>
                <li class="active">订单管理</li>
                <li class="active">发票列表</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary pt30">
                        <!-- <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div> -->
                        <!-- /.box-header -->
                        <table class="table table-bordered look-table">
                            <tr>
                                <td width="25%"><label>订单编号</label></td>
                                <td width="75%">{$data.order_sn}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>	店铺名称</label></td>
                                <td width="75%">{$data.store_name}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>发票状态</label></td>
                                <td width="75%">{if $data.status==2}已开票{else}申请中{/if}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>开票金额</label></td>
                                <td width="75%">{$data.invoice_money}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>抬头名称</label></td>
                                <td width="75%">{$data.head_title}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>抬头类型</label></td>
                                <td width="75%">{if $data.head_type==2}企业抬头{else}个人抬头{/if}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>纳税人识别号</label></td>
                                <td width="75%">{$data.taxnum}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>开户银行</label></td>
                                <td width="75%">{$data.bankname}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>银行账号</label></td>
                                <td width="75%">{$data.bankaccount}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>企业地址</label></td>
                                <td width="75%">{$data.address}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>企业电话</label></td>
                                <td width="75%">{$data.phone}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>	申请人</label></td>
                                <td width="75%">{$data.username}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>申请时间</label></td>
                                <td width="75%">{$data.add_time}</td>
                            </tr>
                        </table>
                        <div class="box-footer text-center">
                            <a href="?app=orderInvoice&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i>关闭</a>
                        </div>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}
</div>
</body>
</html>


