<!DOCTYPE html>
<html>
<head>

    {include file="public/header.html"}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                店铺等级编辑
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">商品管理</li>
                <li class="active">店铺等级编辑</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="?app=storeGrade&act=doEdit" data-type="ajax" method="post">
                            <div class="box-body">

                                <div class="form-group">
                                    <input type="hidden" value="{$rs.sg_id}" name="sg_id"/>
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 等级名称:：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="sg_name" value="{$rs.sg_name}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 入驻价格：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="sg_price" value="{$rs.sg_price}">

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="text-red pt7">元/年</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 分类排序：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="sg_sort" value="50" value="{$rs.sg_sort}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red"></span> 描述：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <textarea class="brief form-control" rows="6"  name='sg_description' >{$rs.sg_description}</textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="?app=storeGrade&act=storeGradeIndex" class="btn btn-default"><i class="fa fa-times-circle"></i> 关 闭</a>
                                        <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> 保 存</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}
    <script src="{$STATIC_URL}/plugin/kindeditor/kindeditor.js"></script>
    <script src="{$STATIC_URL}/plugin/kindeditor/lang/zh_CN.js"></script>
    <script src="{$STATIC_URL}/plugin/ajaxfileupload/ajaxfileupload.js"></script>
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
</body>
</html>


