<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{$langdata.order_confirm}</title>
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css?_t={time()}"  rel="stylesheet" type="text/css"/>
        <style>
            .modal{
                position: fixed;
                z-index: 100000;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.7);
                overflow: hidden;
                display:none;
            }
            .modal-dialog {
                width: 100%;
                height: 450px;
                background-color: #fff;
                position: fixed;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                padding-bottom: 1rem;
            }
            .yhq-right{
                padding-bottom:0;
            }
            .div.couponContainer div.yhq div.yhq-left{
                top:0
            }
            div.couponContainer div.yhq div.yhq-left-top{
                padding-bottom:0;
            }
            .yhq-right{
                top:0;
            }
            div.couponContainer>div{
                overflow: auto;
                height: 6.5rem;
            }
            div.couponContainer>div.active {
                display: block;
                overflow: auto;
                height: 6.5rem;
            }
            div.tabsTxt{
                padding:0;
            }
            .yhq-right>div{
                padding-bottom:0;
            }
            div.couponContainer div.yhq div.yhq-left-top b{
                font-size:0.4rem;
            }
            div.tabsTxt1{
                margin-left:0;
            }
            div.couponTabs ul li{
                margin-right:0.3rem;
            }
            div.couponContainer div.yhq {
                width: 100%;
                height: 2rem;
                background: url(./assets/phone/images/yhqBg.png) no-repeat;
                background-size: 100% 100%;
                margin-top: 0.3rem;
                position: relative;
            }
               .addr span.red{
                background: #f63d3d;
                color: #fff;
                border-radius: 10px;
                padding: 0.02rem 0.3rem;
            }
               .sureorder-wrap .tj-order .btn-daifu {
                display: block;
                text-align: center;
                width: 50%;
                background-color: #f33e3e;
                color: #fff;
                font-size: .3rem;
                height: 100%;
                line-height: 0.9rem;
            }
        </style>


    </head>
    <body>
        <div class="sureorder-wrap">
            <div class="sureorder-address">
                {if $flag ==1}
                <!-- 无地址时样式 -->
                <a href="wx.php?app=userCenter&act=addAddress1&id={$userAddress.id}&name={$userAddress.name}&mp={$userAddress.app}&address={$userAddress.pays}&phone={$userAddress.phone}&postal={$userAddress.postal_code}&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&nowlatlon={$nowlatlon}&latlon={$latlon}&url={$referer}" class="btn-add-address">{$langdata.order_address}</a><!--添加地址-->
                {else}
                <!-- 有地址时样式 -->
                <a href="wx.php?app=userCenter&act=myAddress&id={$userAddress.id}&name={$userAddress.name}&mp={$userAddress.app}&address={$city}&phone={$userAddress.phone}&postal={$userAddress.postal_code}&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&nowlatlon={$nowlatlon}&latlon={$latlon}&returnUrl={$referer}" class="clearfix">
                    <i class="ico ico-address fl"></i>
                    <div class="mid fl">
                        <div class="clearfix">
                            <span class="fl">{$langdata.order_receipt}：{$userAddress.name}</span><!--收货人-->
                            <span class="fr">{$userAddress.phone}</span>
                        </div>
                        <p class="addr">
                             {if $userAddress.default_addr==1}
                            <span class='red'>默认</span>
                            {/if}
                            {$langdata.order_receipt_address}：
                            <span id="userAddress">{$address1}</span>
                        </p><!--收货地址-->
                    </div>
                    <i class="ico ico-right fr"></i>
                </a>
                {/if}
            </div>
            <div class="myorderstate-list mt20">
                <div class="shop">
                    <a href="##">
                        <i class="ico ico-shop"></i>
                        <span>{$storeName}</span>
                        <!--				<span>{$langdata.order_Flagship}</span>-->
                        <i class="ico ico-rg"></i>
                    </a>

                    <span class="fr state">{$langdata.order_waitfor}</span>
                </div>
                <ul>
                    <li class="itembox">
                        <a href="##" class="clearfix">
                            <div class="pro-logo fl">
                                <img src="{$original_img}" width="100%">
                            </div>
                            <div class="pro-info fl">
                                <h3 class="pro-name ellipsis">{$goods_name}</h3>
                                <p class="pro-tags">
                                    <!--							<span>SKU: {$sku} </span><br/>-->
                                    <span>{$langdata.order_Specifications}: {$goods_key_name} </span><br/>
                                    <span style="color: red;">{$langdata.order_Postage}: {$symbol} {$info.shipping_price} </span>
                                    <!--							<span>{$langdata.order_Distribution}: {$shipping_store_name} </span>-->
                                </p>
                                <input type="hidden" name="shippingprice" value="{$info.shipping_price}">
                            </div>
                            <div class="pro-right fr">
                                <p class="xprice">{$symbol}{$info.goods_price}</p>
                                <!--<p class="yprice">￥{$item.market_price}</p>-->
                                <p class="num">X {$info.goods_num}</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="otherbox">
                    <ul>
                        <li>
                            <span>{$langdata.order_mode}</span>
                            <span class="fr">
                                <input type="radio" name="sendout" value="1"  checked="checked"/>{$langdata.order_zitiya}&nbsp;
                                <input type="radio" name="sendout" value="2"/>{$langdata.order_Autonomy}
                                <input type="radio" name="sendout" value="3">{$langdata.order_yjty}
                            </span>
                        </li>
                        <li>
                            <span>{$langdata.order_Leavingamessage}</span>
                            <span class="fr" style="width:60%"><input type="text" style="width:100%;" value="" placeholder="{$langdata.order_seller} "  name="seller_msg"/></span>
                        </li>
                        <li style="height: 1rem;line-height: 1rem;">
                            <span style="width: 34%; display: inline-block;">{$langdata.order_distribution}</span>
                            <span class="fr" style="width:60%"><input type="text" placeholder="{$langdata.order_Pleaseenter}" name="fxPhone" style="width:100%;" /></span>
                            <input type="hidden" value="{$storeCate_1}" name="storeCate"/>
                            <!--<input type="hidden" value="{$zonge}" name="totalMoney" />-->
                            <input type="hidden" value="{$total}" name="total" />
                            <input type="hidden" value="{$symbol}" name="symbol" />
                            <input type="hidden" value="{$userAddress['id']}" name="user_address" />
                            <input type="hidden" value="{$storeid}" name="store_id" />
                            <input type="hidden" value="{$lang_id}" name="lang" />
                            <input type="hidden" value="{$info.goods_id}" name="goods_id" />
                            <input type="hidden" value="{$info.goods_keys}" name="goods_key" />
                            <input type="hidden" value="{$info.goods_num}" name="goods_num" />
                            <input type="hidden" value="{$info.shipping_price}" name="shipping_price" />
                            <input type="hidden" value="{$info.shipping_store_id}" name="shipping_store_id" />
                            <input type="hidden" value="" name="discount_rate" />
                            <input type="hidden" value="" name="fx_user_id">
                            <input type="hidden" value="" name="rule_id">
                            <input type="hidden" value="{$info.source}" name="source">
                            <input type="hidden" value="{$info.cid}" name="cid">
                            <input type="hidden" name="address" value="{$userAddress.address}">
                            <input type="hidden" value="{$lang}" name="lang_id">
                             <input type="hidden" value="{$addr_id}" name="addr_id" />
                        </li>
                        <li>
                            <span>{$langdata.order_Discount}</span>
                            <span class="fr red fxMoney">{$symbol}0.00</span>
                        </li>
                        <li>
                            <span id="yhq">{$langdata.useRui_youhuijuan}</span>
                            <div class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div style=" padding: 0 0.3rem;padding-top: 0.3rem;overflow: hidden;font-size: 0.4rem;">
                                            <span style="float: left;font-size: 0.3rem;">{$langdata.useRui_youhuijuan}</span>
                                            <span style="float: right;color: #999999; font-size: 0.3rem;" id="cha">×</span>
                                        </div>
                                        <div class="couponTabs">
                                            <div style="padding:15px;padding-bottom: 0;padding-top: 0;background-color: #fff";>
                                                <ul>
                                                    <li class="active">
                                                        <div class="tabsTxt">
                                                            <span target="#d1">{$langdata.useRui_weiguoqi}</span>
                                                            <span>{if $wtotal}({$wtotal}){else}(0){/if}</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="tabsTxt tabsTxt1">
                                                            <span target="#d2">{$langdata.useRui_yiguoqi}</span>
                                                            <span>{if $ctotal}({$ctotal}){else}(0){/if}</span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="couponContainer">
                                                <div id="d1" class="active">
                                                    {foreach from=$wData item=item }
                                                    <div class="yhq" data-id="{$item.id}" data-money="{$item.money}" data-discount="{$item.discount}" data-expire="{$val.expire}">
                                                        <div class="yhq-left">
                                                            <div class="yhq-left-top">
                                                                <b>{$symbol}{$item.discount}</b>
                                                                <span>{$langdata.useRui_youhuijuan}</span>
                                                            </div>
                                                            <div class="yhq-left-bottom">
                                                                {$langdata.useRui_dingdanman} <span>{$item.money}</span>{$langdata.useRui_yuan}
                                                            </div>
                                                        </div>
                                                        <div class="yhq-right">
                                                            <div>{$langdata.useRui_fujuan}</div>
                                                            <p>{$item.start_time|date_format:"%Y-%m-%d"}</p>
                                                            <p>{(($item.end_time)-(60*60*24-1))|date_format:"%Y-%m-%d"}</p>
                                                        </div>
                                                    </div>
                                                    {/foreach}
                                                </div>
                                                <div id="d2">
                                                    {foreach from=$cData item=val }
                                                    <div class="yhq"  data-id="{$item.id}" data-money="{$item.money}" data-discount="{$item.discount}" data-expire="{$val.expire}">
                                                        <div class="yhq-left">
                                                            <div class="yhq-left-top">
                                                                <b>{$symbol}{$val.discount}</b>
                                                                <span>{$langdata.useRui_youhuijuan}</span>
                                                            </div>
                                                            <div class="yhq-left-bottom">
                                                                {$langdata.useRui_dingdanman} <span>{$val.money}</span>{$langdata.useRui_yuan}
                                                            </div>
                                                        </div>
                                                        <div class="yhq-right">
                                                            <div>{$langdata.useRui_fujuan}</div>
                                                            <p>{$val.start_time|date_format:"%Y-%m-%d"}</p>
                                                            <p>{(($val.end_time)-(60*60*24-1))|date_format:"%Y-%m-%d"}</p>
                                                        </div>
                                                    </div>
                                                    {/foreach}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                     <!--   <li>
                            <span>可用{$maxPoint}睿积分抵用{$maxAccount}元</span><input style="float:right;margin-top:0.2rem;width:20px;height:20px;" type="checkbox" value=""   name="point" checked/>&lt;!&ndash;使用积分&ndash;&gt;
                        </li>-->
                    </ul>
                </div>
         <!--       <div class="totalbox">
                    <span>{$langdata.order_common}{$total_num}{$langdata.order_Piecegoods}</span>
                    <span class="ml20">{$langdata.order_Total}：{$symbol} {$total}</span>
                    &lt;!&ndash;<span class="ml20">（{$langdata.order_charges}： {$symbol} {$info.shipping_price}）</span>&ndash;&gt;
                </div>-->
            </div>
            <div class="tj-order clearfix ">
                <div class="left fl tc">
                    <p class="price"><span class="pri">{$langdata.order_Total}:{$symbol} {$money}</span> <span class="pri1">({$langdata.order_charges} {$symbol} 0.00)</span></p>
                </div>
                <input type="hidden" name="symbol" value="{$symbol}">
                <input type="hidden" name="order_charges" value="{$langdata.order_charges}">
                <input type="hidden" name="shippingfee" >
                <input type="hidden" name="totalMoney"  class="gao" value="{$total}">
                <input type="hidden" name="rate" value="{$rate}">
                <input type="hidden" name="discount">
                <input type="hidden" name="fxphone" >
                <input type="hidden" name="maxPoint" value="{$maxPoint}">
                <input type="hidden" name="maxAccount" value="{$maxAccount}">
                <input type="hidden" name="money" value="{$money}">
                <input type="hidden" name="latlon" value="{$latlon}">
                <div class="btnbox">
                    <a class="btn-daifu fr" style="background:#bea58c">{$langdata.order_Submit}</a><!--提交订单-->
                    <a class="btn-settle fr">{$langdata.order_Submit}</a><!--提交订单-->
                </div>
            </div>
        </div>
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
    </body>
</html>
{if $lang_id =='ZH'}
{literal}
<!-- 分销金额-->
<script type="text/javascript">
    $(".couponContainer").on("click", "div.yhq", function () {
        var money = $(this).attr('data-money');
        var total = parseFloat(delcommafy($('input[name=total]').val()));
        var symbol = $('input[name=symbol]').val();
        var expire = $(this).attr('data-expire');
        if (expire == 1) {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + '该优惠劵已过期',
                className: 'layer-tip',
                time: 2
            });
            return false;
        }
        if (total < parseFloat(delcommafy(money))) {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + '该优惠劵不可用',
                className: 'layer-tip',
                time: 2
            });
            return false;
        }
        var discount = $(this).attr('data-discount');
        if (discount == undefined) {
            discount = 0;
        }
        if (discount != 0) {
            discount = delcommafy(discount);
        }
        var id = $(this).attr('data-id');
        var fx_discount = delcommafy($('input[name=discount]').val());
        if (fx_discount == '') {
            fx_discount = 0;
        }
        var shippingfee = delcommafy($('input[name=shippingfee]').val());
        if (shippingfee == '') {
            shippingfee = 0;
        }
        var totalMoney = delcommafy($('.gao').val());
        totalMoney = parseFloat(totalMoney) - parseFloat(discount) - parseFloat(fx_discount) + parseFloat(shippingfee);
        if (totalMoney < 0) {
            totalMoney = 0.01;
        }
        totalMoney = commafy(toDecimal2(totalMoney));
        $('.modal').css('display', 'none');
        $('#yhq').html('已使用优惠劵  满' + money + '元减' + discount + '元');
        $('#yhq').attr('type', 1);
        $('#yhq').attr('data-id', id);
        $('#yhq').attr('data-discount', discount);
        $('.pri').html('合计：'+ symbol + totalMoney);
    })

    $('input[name=point]').change(function () {
        var symbol = $('input[name=symbol]').val();
        var fx_discount = delcommafy($('input[name=discount]').val());
        var totalMoney;
        var shippingfee = delcommafy($('input[name=shippingfee]').val());
        if (shippingfee == '') {
            shippingfee = 0;
        }
        if (fx_discount == '') {
            fx_discount = 0;
        }
        if ($('#yhq').attr('type') == 1 && $('input[name=point]').is(":checked")) {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + '已经使用优惠劵，不可再使用睿积分优惠',
                className: 'layer-tip',
                time: 2
            });
            $('input[name=point]').attr('checked', false);
            return false;
        }
        if (!$('input[name=point]').is(":checked")) {
            totalMoney = delcommafy($('.gao').val());
            totalMoney = parseFloat(totalMoney) - parseFloat(fx_discount) + parseFloat(shippingfee);
            if (totalMoney <= 0) {
                totalMoney = 0.01;
            }
            totalMoney = commafy(toDecimal2(totalMoney));
            $('.pri').html('合计：'+ symbol + totalMoney);
        } else {
            totalMoney = delcommafy($('input[name=money]').val());
            totalMoney = parseFloat(totalMoney) - parseFloat(fx_discount) + parseFloat(shippingfee);
            if (totalMoney <= 0) {
                totalMoney = 0.01;
            }
            totalMoney = commafy(toDecimal2(totalMoney));
            $('.pri').html('合计：'+ symbol + totalMoney);
        }

    })

    /*   $('input[name=point]').keydown(function () {
     if ($('#yhq').attr('type') == 1) {
     layer.open({
     shade: false,
     content: " <i class='ico ico-error'></i>" + '已经使用优惠劵，不可再使用积分优惠',
     className: 'layer-tip',
     time: 2
     });
     $('input[name=point]').val('');
     return false;
     }
     })
     
     $('input[name=point]').blur(function(){
     if (!(/(^[1-9]\d*$)/.test(Number($(this).val())))) {
     layer.open({
     shade: false,
     content: " <i class='ico ico-error'></i>" + '请输入正整数',
     className: 'layer-tip',
     time: 2
     });
     $('input[name=point]').val('');
     return false;
     }
     })
     $('input[name=point]').keyup(function () {
     /!* if (!(/(^[1-9]\d*$)/.test(Number($(this).val())))) {
     layer.open({
     shade: false,
     content: " <i class='ico ico-error'></i>" + '请输入正整数',
     className: 'layer-tip',
     time: 2
     });
     return false;
     }*!/
     
     var symbol = $('input[name=symbol]').val();
     var rate = $('input[name=rate]').val();
     var price = parseFloat($(this).val()) / parseFloat(rate);
     var fx_discount=delcommafy($('input[name=discount]').val());
     if(fx_discount==''){
     fx_discount=0;
     }
     var shippingfee=delcommafy($('input[name=shippingfee]').val());
     if(shippingfee==''){
     shippingfee=0;
     }
     if (isNaN(price)) {
     price = 0;
     }
     var totalMoney = delcommafy($('.gao').val());
     totalMoney = parseFloat(totalMoney) - price-parseFloat(fx_discount)+parseFloat(shippingfee);
     if (totalMoney < 0) {
     totalMoney = 0.01;
     }
     totalMoney = commafy(toDecimal2(totalMoney));
     $('.pri').html(symbol + totalMoney);
     })*/
    //tab页切换
    $("div.couponTabs li").click(function () {
        $(this).addClass("active").siblings("li.active").removeClass("active");
        var id = $(this).find("span").attr("target");
        $(id).addClass("active").siblings("div.active").removeClass("active");
    });
    $("#yhq").click(function () {
        if ($('input[name=point]').val() !== '') {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + '已经使用睿积分优惠，不可再使用优惠劵优惠',
                className: 'layer-tip',
                time: 2
            });
            return false;
        } else {
            $("div.modal").css("display", "block");
        }


    });
    $("#cha").click(function () {
        $("div.modal").css("display", "none");
    });
    $("input[name=fxPhone]").blur(function () {
        var fxPhone = $(this).val();
        $('input[name=fxphone]').val($(this).val());
        var goods_id = $('input[name=goods_id]').val();
        var symbol = $('input[name=symbol]').val();
        var goods_key = $('input[name=goods_key]').val();
        var goods_num = $('input[name=goods_num]').val();
        var shipping_price = $('input[name=shipping_price]').val();
        var shippingfee = delcommafy($('input[name=shippingfee]').val());
        var youhui = $('#yhq').attr('data-discount');
        /*    var rate = $('input[name=rate]').val();
         var price = parseFloat($('input[name=point]').val()) / parseFloat(rate);*/
        var totalMoney = delcommafy($('.gao').val());
        if (youhui == undefined) {
            youhui = 0;
        }
        if (youhui !== 0) {
            youhui = delcommafy(youhui);
        }
        /* if (isNaN(price)) {
         price = 0;
         }*/
        if (shippingfee == '') {
            shippingfee = 0.00;
        }
        var price = '0';
        if ($('input[name=point]').is(":checked")) {
            price = $('input[name=maxAccount]').val();

        }
        price = parseFloat(delcommafy(price));
        shippingfee = parseFloat(shippingfee);
        youhui = parseFloat(youhui);
        $.ajax({
            url: 'wx.php?app=orderSure&act=getFxDiscount1',
            type: 'POST',
            data: {'fxPhone': fxPhone, 'goods_id': goods_id, 'goods_key': goods_key, 'goods_num': goods_num, 'shippingfee': shippingfee, 'youhui': youhui, 'point': price, 'totalMoney': totalMoney},
            async: false, //默认为true 异步
            error: function () {
                alert('error');
            },
            success: function (json) {
                var data = eval("(" + json + ")");
                console.log(data);
                if (data.status == 1) {
                    var fxinfo = symbol + '' + data.info.discount.toFixed(2);
                    $('.fxMoney').html(fxinfo);
                    var total = symbol + commafy(toDecimal2(data.info.payMoney));
                    if (total < 0) {
                        total = 0.01;
                    }
                    $('.pri').html('合计：'+ total);

                    $('input[name=discount_rate]').val(data.info.discount_rate);
                    $('input[name=discount]').val(data.info.discount.toFixed(2));
                    $('input[name=fx_user_id]').val(data.info.fx_user_id);
                    $('input[name=rule_id]').val(data.info.rule_id);
                } else {
                    dialog(data.message, '');
                }
            }
        });
    });
    //封装提示框
    function dialog(msg, url) {
        layer.open({
            shade: false,
            content: " <i class='ico ico-error'></i>" + msg,
            className: 'layer-tip',
            time: 2
        });
        if (url.length != 0) {
            setTimeout(function () {
                window.location.href = url;
            }, 1000);
        }
    }
</script>
<!--提交订单并直接支付-->
<script type="text/javascript">
//	  $(document).on('click','.btn-settle',function(){
    var active=false;
     $('.btn-daifu').click(function () {
         var daifu =1;
        getCartId(daifu);
    });
    $('.btn-settle').click(function () {
         var daifu =2;
        getCartId(daifu);
    });
    function getCartId(daifu) {
        var store_id = $('input[name=store_id]').val();
        var lang = $('input[name=lang]').val();
        var seller_msg = $('input[name=seller_msg]').val();
        var user_address = $('input[name=user_address]').val();
        var goods_id = $('input[name=goods_id]').val();
        var goods_key = $('input[name=goods_key]').val();
        var goods_num = $('input[name=goods_num]').val();
        var shipping_price = $('input[name=shipping_price]').val();
        var shipping_store_id = $('input[name=shipping_store_id]').val();
        var discount_rate = $('input[name=discount_rate]').val();
        var cid = $('input[name=cid]').val();
        var source = $('input[name=source]').val();
        var fxPhone = $('input[name=fxphone]').val();
        var latlon = $('input[name=latlon]').val();
        var fx_user_id = $('input[name=fx_user_id]').val();
        var rule_id = $('input[name=rule_id]').val();
        var price = '0';
        var point = '0';
        if ($('input[name=point]').is(":checked")) {
            price = $('input[name=maxAccount]').val();
            point = $('input[name=maxPoint]').val();
        }
        price = parseFloat(delcommafy(price));
        var sendout = $("input[name='sendout']:checked").val();
        var address = $('input[name=address]').val();
        var shippingfee = $('input[name=shippingfee]').val();
        var lang_id = $("input[name=lang_id]").val();
        var source = $('input[name=source]').val();
         var addr_id = $('input[name=addr_id]').val();
        var id = $('#yhq').attr('data-id');
        var userAddress = $('#userAddress').html();
        if (userAddress == undefined) {
            if (sendout !== '1') {
                layer.open({
                    shade: false,
                    content: " <i class='ico ico-correct'></i>" + '收货地址不能为空',
                    className: 'layer-tip',
                    time: 2
                });
                return false;
            }

        }
        if(active){
            return false;
        }
        $.ajax({
            url: 'wx.php?app=orderSure&act=comfirm',
            type: 'POST',
            data: {
                'fxPhone': fxPhone,
                'store_id': store_id,
                'lang': lang_id,
                'seller_msg': seller_msg,
                'user_address': user_address,
                'goods_id': goods_id,
                'goods_key': goods_key,
                'goods_num': goods_num,
                'shipping_price': shipping_price,
                'shipping_store_id': shipping_store_id,
                'discount_rate': discount_rate,
                'cid': cid,
                'source': source,
                'fxPhone': fxPhone,
                'sendout': sendout,
                'addr_id': addr_id,
                'point': point,
                'address': address,
                'shippingfee': shippingfee,
                'id': id,
                'source': source,
                'price': price,
                'latlon': latlon,
                'rule_id':rule_id,
                'fx_user_id':fx_user_id,
                'daifu':daifu
            },
            async: false, //默认为true 异步
            error: function () {
                alert('error');
            },
            success: function (json) {
                var data = eval("(" + json + ")");
                if (data.status == 1) {
                    active=true;
//                      dialog(data.message,data.info.url);
                    layer.open({
                        shade: false,
                        content: " <i class='ico ico-correct'></i>" + data.message,
                        className: 'layer-tip',
                        time: 2
                    });
                    setTimeout(function () {
                        window.location.href = data.info.url;
                    }, 1000);
                } else {

                    dialog(data.message, '');

                }
            }
        });
    }

    $('input[type=radio][name=sendout]').change(function () {
        var type = $('input:radio[name=sendout]:checked').val();
        var cids = $('input[name=cid]').val();
        var symbol = $('input[name=symbol]').val();
        var order_charges = $('input[name=order_charges]').val();
        var total = $('input[name=total]').val();
        var store_id = $('input[name=store_id]').val();
        var shippingprice = $('input[name=shippingprice]').val();
        total = delcommafy(total);
        var discount = delcommafy($('input[name=discount]').val());
        var shippingfee = delcommafy($('input[name=shippingfee]').val());
        var youhui = $('#yhq').attr('data-discount');
        var price = '0';
        if (youhui == undefined) {
            youhui = 0;
        }
        var rate = $('input[name=rate]').val();
        if ($('input[name=point]').is(":checked")) {
            price = $('input[name=maxAccount]').val();

        }

        price = parseFloat(delcommafy(price));
        if (shippingfee == '') {
            shippingfee = 0;
        }
        if (youhui == '') {
            youhui = 0;
        }
        if (discount == '') {
            discount = 0;
        }
        discount = parseFloat(discount);
        if (youhui == 0) {
            youhui = parseFloat(youhui);
        } else {
            youhui = parseFloat(delcommafy(youhui));
        }
        shippingfee = parseFloat(shippingfee);
        $.ajax({
            url: 'wx.php?app=comfirmOrder&act=getMoney1',
            type: 'POST',
            data: {
                'cart_ids': cids,
                'type': type,
                'total': total,
                'storeid': store_id,
                'shippingprice': shippingprice,
                'discount': discount,
                'youhui': youhui,
                'price': price
            },
            async: false,
            error: function () {
                alert('error');
            },
            success: function (json) {
                var data = eval("(" + json + ")");
                var price = data.info.price;
                var totalMoney = data.info.totalMoney;
                $('.pri').html('合计：'+ symbol + totalMoney);
                $(".pri1").html('(' + order_charges + symbol + price + ')');
                $('input[name=shippingfee]').val(price);
            }
        });
    });

    function delcommafy(num) {
        if ((num + "").trim() == "") {
            return"";
        }
        num = num.replace(/,/gi, '');
        return num;
    }


    function commafy(num) {
        if ((num + "").trim() == "") {
            return"";
        }
        if (isNaN(num)) {
            return"";
        }
        num = num + "";
        if (/^.*\..*$/.test(num)) {
            var pointIndex = num.lastIndexOf(".");
            var intPart = num.substring(0, pointIndex);
            var pointPart = num.substring(pointIndex + 1, num.length);
            intPart = intPart + "";
            var re = /(-?\d+)(\d{3})/
            while (re.test(intPart)) {
                intPart = intPart.replace(re, "$1,$2")
            }
            num = intPart + "." + pointPart;
        } else {
            num = num + "";
            var re = /(-?\d+)(\d{3})/
            while (re.test(num)) {
                num = num.replace(re, "$1,$2")
            }
        }
        return num;
    }


    function toDecimal2(x) {
        var f = parseFloat(x);
        if (isNaN(f)) {
            return false;
        }
        var f = Math.round(x * 100) / 100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
            rs = s.length;
            s += '.';
        }
        while (s.length <= rs + 2) {
            s += '0';
        }
        return s;
    }

</script>
{/literal}
{else}
{literal}
<!-- 分销金额-->
<script type="text/javascript">
    $(".couponContainer").on("click", "div.yhq", function () {
        var money = $(this).attr('data-money');
        var discount = $(this).attr('data-discount');
        var id = $(this).attr('data-id');

        var totalMoney = delcommafy($('input[name=totalMoney]').val());
        totalMoney = parseFloat(totalMoney) - parseFloat(delcommafy(discount));
        totalMoney = commafy(toDecimal2(totalMoney));
        var total = parseFloat(delcommafy($('input[name=total]').val()));
        var symbol = $('input[name=symbol]').val();
        if (total < parseFloat(delcommafy(money))) {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + 'The coupon is not available',
                className: 'layer-tip',
                time: 2
            });
            return false;
        }

        $('.modal').css('display', 'none');
        $('#yhq').html('Full voucher has been used' + money + 'Subtraction' + discount + 'Element');
        $('#yhq').attr('type', 1);
        $('#yhq').attr('data-id', id);
        $('.pri').html('合计：'+ symbol + totalMoney);
    })

    $('input[name=point]').keydown(function () {
        if ($('#yhq').attr('type') == 1) {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + 'Discount coupons have been used and no further points are allowed.',
                className: 'layer-tip',
                time: 2
            });
            return false;
        }
    })
    $('input[name=point]').keyup(function () {
        if (!(/(^[1-9]\d*$)/.test(Number($(this).val())))) {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + 'Please enter a positive integer',
                className: 'layer-tip',
                time: 2
            });
            return false;
        }
        ;
        var symbol = $('input[name=symbol]').val();
        var rate = $('input[name=rate]').val();
        var price = parseFloat($(this).val()) / parseFloat(rate);
        if (isNaN(price)) {
            price = 0;
        }

        var totalMoney = delcommafy($('input[name=totalMoney]').val());
        totalMoney = parseFloat(totalMoney) - parseFloat(price);
        if (totalMoney < 0) {
            totalMoney = 0.01;
        }


        totalMoney = commafy(toDecimal2(totalMoney));
        $('.pri').html('合计：'+ symbol + totalMoney);
    })
    //tab页切换
    $("div.couponTabs li").click(function () {
        $(this).addClass("active").siblings("li.active").removeClass("active");
        var id = $(this).find("span").attr("target");
        $(id).addClass("active").siblings("div.active").removeClass("active");
    });
    $("#yhq").click(function () {

        if ($('input[name=point]').val() !== '') {
            layer.open({
                shade: false,
                content: " <i class='ico ico-error'></i>" + 'Bonus points have been used and no discount can be made.',
                className: 'layer-tip',
                time: 2
            });
            return false;
        } else {
            $("div.modal").css("display", "block");
        }


    });
    $("#cha").click(function () {
        $("div.modal").css("display", "none");
    });




    $("input[name=fxPhone]").blur(function () {
        var fxPhone = $(this).val();
        var goods_id = $('input[name=goods_id]').val();
        var symbol = $('input[name=symbol]').val();
        var goods_key = $('input[name=goods_key]').val();
        var goods_num = $('input[name=goods_num]').val();
        var shipping_price = $('input[name=shipping_price]').val();
        var totalMoney = $('input[name=totalMoney]').val();
        $.ajax({
            url: 'wx.php?app=orderSure&act=getFxDiscount1',
            type: 'POST',
            data: {'totalMoney':totalMoney,'fxPhone': fxPhone, 'goods_id': goods_id, 'goods_key': goods_key, 'goods_num': goods_num, 'shipping_price': shipping_price},
            async: false, //默认为true 异步
            error: function () {
                alert('error');
            },
            success: function (json) {
                var data = eval("(" + json + ")");
                if (data.status == 1) {
                    var fxinfo = symbol + '' + data.info.discount.toFixed(2);
                    $('.fxMoney').html(fxinfo);
                    var total = symbol + data.info.payMoney.toFixed(2);
                    $('.pri').html('合计：'+ total);
                    $('input[name=discount_rate]').val(data.info.discount_rate);
                } else {
                    dialog(data.message, '');
                }
            }
        });
    });
    //封装提示框
    function dialog(msg, url) {
        layer.open({
            shade: false,
            content: " <i class='ico ico-error'></i>" + msg,
            className: 'layer-tip',
            time: 2
        });
        if (url.length != 0) {
            setTimeout(function () {
                window.location.href = url;
            }, 1000);
        }
    }
</script>
<!--提交订单并直接支付-->
<script type="text/javascript">
//	  $(document).on('click','.btn-settle',function(){
    $('.btn-settle').click(function () {

        getCartId();
    });


    function getCartId() {
        var fxPhone = $('input[name=fxPhone]').val();
        var store_id = $('input[name=store_id]').val();
        var lang = $('input[name=lang]').val();
        var seller_msg = $('input[name=seller_msg]').val();
        var user_address = $('input[name=user_address]').val();
        var goods_id = $('input[name=goods_id]').val();
        var goods_key = $('input[name=goods_key]').val();
        var goods_num = $('input[name=goods_num]').val();
        var shipping_price = $('input[name=shipping_price]').val();
        var shipping_store_id = $('input[name=shipping_store_id]').val();
        var discount_rate = $('input[name=discount_rate]').val();
        var cid = $('input[name=cid]').val();
        var source = $('input[name=source]').val();
        var fxPhone = $('input[name=fxPhone]').val();
        var point = $('input[name=point]').val();
        var sendout = $("input[name='sendout']:checked").val();
        var address = $('input[name=address]').val();
        var shippingfee = $('input[name=shippingfee]').val();

        $.ajax({
            url: 'wx.php?app=orderSure&act=comfirm',
            type: 'POST',
            data: {
                'fxPhone': fxPhone,
                'store_id': store_id,
                'lang': lang,
                'seller_msg': seller_msg,
                'user_address': user_address,
                'goods_id': goods_id,
                'goods_key': goods_key,
                'goods_num': goods_num,
                'shipping_price': shipping_price,
                'shipping_store_id': shipping_store_id,
                'discount_rate': discount_rate,
                'cid': cid,
                'source': source,
                'fxPhone': fxPhone,
                'sendout': sendout,
                'point': point,
                'address': address,
                'shippingfee': shippingfee
            },
            async: false, //默认为true 异步
            error: function () {
                alert('error');
            },
            success: function (json) {
                var data = eval("(" + json + ")");
                if (data.status == 1) {
//                      dialog(data.message,data.info.url);
                    layer.open({
                        shade: false,
                        content: " <i class='ico ico-correct'></i>" + data.message,
                        className: 'layer-tip',
                        time: 2
                    });
                    setTimeout(function () {
                        window.location.href = data.info.url;
                    }, 1000);
                } else {

                    dialog(data.message, '');

                }
            }
        });
    }

    $('input[type=radio][name=sendout]').change(function () {
        var type = $('input:radio[name=sendout]:checked').val();
        var cids = $('input[name=cid]').val();
        var symbol = $('input[name=symbol]').val();
        var order_charges = $('input[name=order_charges]').val();
        var total = $('input[name=total]').val();
        var store_id = $('input[name=store_id]').val();
        var shippingprice = $('input[name=shippingprice]').val();

        total = delcommafy(total);
        $.ajax({
            url: 'wx.php?app=comfirmOrder&act=getMoney1',
            type: 'POST',
            data: {
                'cart_ids': cids,
                'type': type,
                'total': total,
                'storeid': store_id,
                'shippingprice': shippingprice
            },
            async: false,
            error: function () {
                alert('error');
            },
            success: function (json) {
                var data = eval("(" + json + ")");
                var price = data.info.price;
                var totalMoney = data.info.totalMoney;
                $('.pri').html('合计：'+ symbol + totalMoney);
                $(".pri1").html('(' + order_charges + symbol + price + ')');
                $('input[name=shippingfee]').val(price);
            }
        });
    });

    function delcommafy(num) {
        if ((num + "").trim() == "") {
            return"";
        }
        num = num.replace(/,/gi, '');
        return num;
    }


    function commafy(num) {
        if ((num + "").trim() == "") {
            return"";
        }
        if (isNaN(num)) {
            return"";
        }
        num = num + "";
        if (/^.*\..*$/.test(num)) {
            var pointIndex = num.lastIndexOf(".");
            var intPart = num.substring(0, pointIndex);
            var pointPart = num.substring(pointIndex + 1, num.length);
            intPart = intPart + "";
            var re = /(-?\d+)(\d{3})/
            while (re.test(intPart)) {
                intPart = intPart.replace(re, "$1,$2")
            }
            num = intPart + "." + pointPart;
        } else {
            num = num + "";
            var re = /(-?\d+)(\d{3})/
            while (re.test(num)) {
                num = num.replace(re, "$1,$2")
            }
        }
        return num;
    }


    function toDecimal2(x) {
        var f = parseFloat(x);
        if (isNaN(f)) {
            return false;
        }
        var f = Math.round(x * 100) / 100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
            rs = s.length;
            s += '.';
        }
        while (s.length <= rs + 2) {
            s += '0';
        }
        return s;
    }

</script>
{/literal}
{/if}
