
<form class="form-horizontal "  id = "form1" action="?app=articleCtg&act=doEdit" >
    <input type="hidden" name="id" value="{$id}">
   {foreach from=$languageData item=val key=k}
 
    <div class="form-group">
        <label class="col-sm-4 col-md-4 control-label"><span class="text-red">*</span> {$val.name}</label>
        <div class="col-sm-5 col-md-5">
            <input type="text" class="form-control" name="name[{$val.id}]" value="{$data[$k]['article_cate_name']}"  >
        </div>
    </div>
  
  {/foreach}
    <div class="form-group">
        <label class="col-sm-4 col-md-4 control-label"><span class="text-red">*</span>{$language1->business_type}</label>
        <div class="col-sm-5 col-md-5">
            <select class="form-control j_select" name="room_id"  id="lev1"  >
                <option value="0">--{$language1->select_type}--</option>
                {foreach from=$roomList  item=val}
                <option value='{$val.id}' {if $val.id==$roomid } selected="selected" {/if}>{$val.type_name}</option>
                {/foreach}
            </select>
        </div>

</form>
