<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
        <style>

        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {include file="public/headtab.html"}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->logistics_company}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                        <li class="active">{$language1->logistics_manage}</li>
                        <li class="active">{$language1->logistics_company}</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding">
                                        <input type='hidden' name='app' value='logistics'>
                                        <input type='hidden' name='act' value='corpList'>
                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">{$language1->logistics_name}:</small>
                                            <input type="text" class="form-control" name="name" value="{$name}">
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                {$language2->search} <i class="fa fa-search"></i>
                                            </button>
                                        </div>

                                    </form>

                                    <div class="col-sm-2  col-md-1 no-padding">
                                        <a class="btn btn-primary pull-left btn-sm" href="?app=logistics&act=corpAdd"   role="button"><i class="fa fa-plus"></i> {$language2->add_to}</a>
                                    </div>

                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>{$language2->numb}</th>
                                                    <th>{$language1->logistics_company}</th>
                                                    <th>{$language1->logistics_code}</th>
                                                    <th>{$language1->logistics_web}</th>
                                                    <th>{$language1->query_interface}</th>
                                                    <th>{$language1->is_use}</th>
                                                    <th>{$language2->control}</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$list item=item}
                                            <tr>
                                                <td>{$item.sort_id}</td>
                                                <td>{$item.name}</td>
                                                <td >{$item.code}</td>
                                                <td>{$item.web}</td>
                                                <td> {$item.web_api}</td>
                                                <td>
                                                    {if $item.is_use ==1}
                                                    <p style="margin: 0;">
                                                        <input  type="checkbox" name="is_use" checked data-value = '{$item.id}' >
                                                    </p>
                                                    {else}
                                                    <p style="margin: 0;">
                                                        <input  type="checkbox" name="is_use"  data-value = '{$item.id}' >
                                                    </p>
                                                    {/if}
                                                </td>
                                                <td>
                                                    <a href="?app=logistics&act=corpEdit&id={$item.id}"  data-toggle="tooltip" class="btn btn-xs btn-success "   style="overflow: hidden; position: relative;"  >{$language2->edit}</a>

                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-danger "  onclick="shanchu({$item.id});"   style="overflow: hidden; position: relative;"  >{$language2->drop}</a>

                                                </td>

                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    {$page}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
            <input type="hidden" name = "language2_yes" value="{$language2->yes}"/>
            <input type="hidden" name = "language2_no" value="{$language2->no}"/>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
        </div>
        <script type="text/javascript">
                    /*删除*/
                            function shanchu(id){
                            deletes('?app=logistics&act=corpDele&id=' + id);
                            }
        </script>
    </body>
</html> 
{literal}
<script type="text/javascript">

           
            //查看
            function chakan(id){
            //alert(id);
            window.open("http://www.baidu.com");
            }
            $(function (){
              var yes=$('input[name=language2_yes]').val();
              var no=$('input[name=language2_no]').val();
            $("[name='is_use']").bootstrapSwitch({
            onText:yes,
                    offText:no,
                    size:"mini",
                    onSwitchChange:function(event, state){
                    if (state == true){
                    var id = $(this).attr('data-value');
                            $(this).val("1");
                            var is_use = $(this).val();
                            $.ajax({
                            url: 'admin.php?app=logistics&act=changeSales',
                                    type: 'POST',
                                    data: {'id':id, 'is_use':is_use},
                                    dataType: "json",
                                    success:function(msg) {
                                    if (msg.status == 1){
//                                    window.location.reload();
                                    //setTimeout(function(){window.location.reload();},1000);
                                    } else{
                                    var d = $.dialog({
                                    content: '<div class="text-center">' + msg.message + '</div>',
                                            title: false, // hides the title.
                                            closeIcon: false, // hides the close icon.
                                            columnClass: 'xsmall',
                                            onOpen: function(){
                                            setTimeout(function(){
                                            d.close();
                                            }, 400);
                                            }
                                    });
                                            setTimeout(function(){window.location.reload(); }, 1000);
                                    }
                                    }
                            });
                    } else{
                    var id = $(this).attr('data-value');
                            $(this).val("2");
                            var is_on_sale = $(this).val();
                            $.ajax({
                            url: 'admin.php?app=logistics&act=changeSales',
                                    type: 'POST',
                                    data: {'id':id, 'is_use':is_use},
                                    dataType: "json",
                                    success:function(msg) {
                                    if (msg.status == 1){
//                                    window.location.reload();
                                    //setTimeout(function(){window.location.reload();},1000);
                                    } else{
                                    var d = $.dialog({
                                    content: '<div class="text-center">' + msg.message + '</div>',
                                            title: false, // hides the title.
                                            closeIcon: false, // hides the close icon.
                                            columnClass: 'xsmall',
                                            onOpen: function(){
                                            setTimeout(function(){
                                            d.close();
                                            }, 400);
                                            }
                                    });
                                            setTimeout(function(){window.location.reload(); }, 1000);
                                    }
                                    }
                            });
                    }
                    }
            });
            });
</script> 
{/literal}