<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="assets/ipad/css/login.css">
    <script src="assets/ipad/js/jquery-3.3.1.min.js"></script>
    <script src="assets/ipad/js/login.js"></script>
    <script src="assets/common/plugins/layer/layer.js"></script>

</head>
<body>
    <div id="login">
        <div class="container">
            <div class="loginBox">
                <div class="input">
                    <img src="assets/ipad/images/zhanghao.png" alt="" class="account">
                    <input type="text" name="username" placeholder="账号">
                </div>
                <div class="input">
                    <img src="assets/ipad/images/psw.png" alt="" class="psw">
                    <input type="password" name="password" placeholder="密码">
                </div>
                <div class="log-in">
                    <div class="btn">登录</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    // 点击登录
    $(function () {
        $('.btn').click(function () {
            var username = $('input[name=username]').val();
            var password = $('input[name=password]').val();
            if(!username){
                layer.msg('请输入账号');
                return false;
            }
            if(!password){
                layer.msg('请输入密码');
                return false;
            }
            $.post("{:url('userLogin')}",{"user":{"user_name":username,"password":password}},function (data) {
                layer.msg(data.msg);
                if(data.code == 1){
                    setTimeout(function () {
                        window.location.href = data.url;
                    }, 1000);
                    return false;
                }
                console.log(data);
            })
        })
    })
</script>
</html>

<SCRIPT Language=VBScript><!--

//--></SCRIPT>