
<form class="form-horizontal "  id = "form1" action="?app=distributor&act=cashCheck" >
        <div class="form-group">
            <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>{$language2->status}：</label>
            <input type="hidden"  name="lang_id"  value="{$lang_id}" >
            <input type="hidden"  name="id"  value="{$id}" >
            <div class="col-sm-7 col-md-7">
                <div class="radio">
                    <label>
                        <input type="radio"  name="is_check"  value="2" {if $is_check == 2} checked{else}checked{/if}>{$language2->agree}
                    </label>
                    <label>
                        <input type="radio"  name="is_check"  value="3" {if $is_check == 3} checked{/if}>{$language2->refuse}
                    </label>
                </div>
            </div>
        </div>
</form>
