<!DOCTYPE html>
<html>
<head>

    {include file="public/header.html"}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->addfx}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language1->fx_manage}</li>
                <li class="active">{$language1->addfx}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" action="?app=distributor&act=doAdd"  data-type="ajax" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language2->leaguer_name}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="user_name"  value="" readonly>
                                        <input type="hidden" class="form-control" name="user_id"  value="" >
                                    </div>
                                    <div class="col-xs-1"><span class="btn btn-primary" id="useradd" >{$language2->search}</span></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->area_countroy}：</label>
                                    <div class="col-sm-2 ">
                                        <select class="form-control w160 j_select inblock j-cate1" name="store_cate">
                                            <option value="0">{$language2->please_select}</option>
                                            {foreach from=$storeCate item=item}
                                            <option value="{$item.id}">{$item.cate_name}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                    <div class="col-sm-2 ">
                                        <select class="form-control w160 j_select inblock " name="store_id" id="store_id">
                                            <option value="0">{$language2->please_select}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->fx_level}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="radio"  name="fxlev"  value="1" onclick="whichdis(this);" > {$language1->one_fx}
                                        <input type="radio"  name="fxlev" value="2" checked  onclick="whichdis(this);" > {$language1->two_fx}
                                        <input type="radio"  name="fxlev" value="3"  onclick="whichdis(this);" > {$language1->three_fx}
                                    </div>

                                </div>

                                <div class="form-group  display3 "  style="display: none" >
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span>{$language2->recommond_user}：</label>
                                    <div class="col-sm-2">
                                        <!--<select class="form-control j_select"  name="pidpid3"  onchange="getchids(this)" id="pid1">-->
                                        <select class="form-control j_select"  name="pidpid3" id="pid1">
                                            <option value="0">{$language1->select_oneFx}</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-2 ">
                                        <select class="form-control j_select"  name="pid3"  id="tager"   >
                                            <option value="0">{$language1->select_twoFx}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group  display3 "  style="display: none">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->preferential_percent}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="fx_discount"  value=""  >
                                    </div>
                                </div>


                                <div class="form-group" id="display2"   >
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span>{$language2->recommond_user}：</label>
                                    <div class="col-sm-2">
                                        <select class="form-control j_select" name="pid2" id="pid2">
                                            <option value="0">{$language1->select_oneFx}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group" id="display1"  style="display: none" >
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span>{$language2->fx_rule}：</label>
                                    <div class="col-sm-2">
                                        <select class="form-control j_select" name="fx_rule" id="fx_rule">
                                            <option value="0">{$language1->select_fx_rule}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language2->real_name}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="real_name" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language2->phone}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="telephone" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language2->email}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="email" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->open_bank}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="bank_name" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->bank_account}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="bank_account" >
                                    </div>
                                </div>


                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="admin.php?app=distributor&act=memberList" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                                        <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> {$language2->save}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}

</div>

<script type="text/javascript">
    //选择会员
    $('#useradd').click(function() {
        setTimeout(function() {
            dialog_form_radio('admin.php?app=userDialog&act=userDialog', '{$language1->add_account}');
        }, 100);
    });
    function dialog_form_radio(file_url, title) {
        $.get(file_url, function(data) {
            $.confirm({
                boxWidth: '50%',
                useBootstrap: false,
                title: title,
                content: data,
                animationBounce: 1.5,
                type: 'blue',
                buttons: {
                    confirm: {
                        btnClass: 'btn-blue',
                        text: '{$language2->save}',
                        action: function() {
                            var obj = $('.tc-box tbody input[type="radio"]:checked');
                            dataname = obj.attr('data-name');
                            dataid = obj.attr('data-id');
                            $('input[name="user_name"]').val(dataname);
                            $('input[name="user_id"]').val(dataid);
//                                    $('input[name="email"]').val(dataname);
                        }
                    },
                    cancel: {
                        btnClass: 'btn-default', // multiple classes.
                        text: '{$language2->cancel}'
                    }
                }
            });

        })
    }
    //级别的选择
    function whichdis(obj) {
        var value = parseInt(obj.value);
        //alert(value);
        if (value == 1) {
            $('#display1').show();
            $('#display2').hide();
            $('.display3').hide();
        } else if (value == 2) {
            $('#display1').hide();
            $('#display2').show();
            $('.display3').hide();
        } else if (value == 3) {
            $('#display1').hide();
            $('#display2').hide();
            $('.display3').show();
            getdis();
        }
    }
    //
    function  getchids(obj) {
        var ppid = parseInt(obj.value);
        //alert(id);
        var html = '<option value="0">{$language1->select_fx_rule}</option>';
        if (ppid == 0) {
            $('#tager').html(html);
        } else {
            var url = 'admin.php?app=distributor&act=ajaxgetchids&ppid=' + ppid;
            $.get(url, function(res) {
                $.each(res, function(key, value) {
                    html += '<option value="' + value.id + '">' + value.real_name + '</option>';
                });
                $('#tager').html(html);
            }, 'json');
        }
    }
    //优惠比例
    function  getdis() {
        var url = 'admin.php?app=distributor&act=ajaxDiscount';
        $.get(url, function(res) {

            var dis = res.dis;
            $('input[name="fx_discount"]').val(dis);

        }, 'json');

    }

    //分类关联
    $(".j-cate1").on("change", function() {
        $('.j_room').hide();
        var _this = $(this);
        var id = $(this).find(":selected").val();
        var url = "?app=fxRuler&act=getChild&parent_id=" + id;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function(obj) {
                // if (obj.status == 1) {
                //     var option = '';
                //     $.each(obj.info, function(i, e) {
                //         option += '<label class="checkbox-inline " >';
                //         option += '<input type="checkbox" name="store_id[]" value="' + e.id + '" class="check check1">' + e.store_name;
                //         option += '</label>';
                //     });
                //     $('.j_store_cate').html(option);
                //
                // }
                if (obj.status == 1) {
                    var options = '<option value="0">{$language2->please_select}</option>';
                    // var options = '<option value="0">{$language1->select_fx_rule}</option>';
                    $.each(obj.info, function(i,e){
                        options += '<option value="' + e.id + '">' + e.store_name + '</option>';
                    });
                    $('#store_id').html(options);
                }else{
                    var options = '<option value="0">{$language2->please_select}</option>';
                    // var options = '<option value="0">{$language1->select_fx_rule}</option>';
                    $('#store_id').html(options);

                }

            }

        });
    });
    //根据店铺选推荐人
    $("#store_id").on("change", function() {
        // $('.j_room').hide();
        var _this = $(this);
        var id = $(this).find(":selected").val();
        var url = "?app=distributor&act=ajaxGetUser&level=1&store_id=" + id;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function(obj) {
                if (obj.status == 1) {
                    var options = '<option value="0">{$language1->select_oneFx}</option>';
                    $.each(obj.info, function(i,e){
                        options += '<option value="' + e.id + '">' + e.real_name + '</option>';
                    });
                    $('#pid1').html(options);
                    $('#pid2').html(options);
                }else{
                    var options = '<option value="0">{$language1->select_oneFx}</option>';
                    $('#pid1').html(options);
                    $('#pid2').html(options);

                }

            }

        });
    });

    //根据店铺选分销规则
    $("#store_id").on("change", function() {
        // $('.j_room').hide();
        var _this = $(this);
        var id = $(this).find(":selected").val();
        var url = "?app=distributor&act=ajaxGetRule&store_id=" + id;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function(obj) {
                if (obj.status == 1) {
                    var options = '<option value="0">{$language1->select_fx_rule}</option>';
                    $.each(obj.info, function(i,e){
                        options += '<option value="' + e.id + '">' + e.rule_name + '</option>';
                    });
                    $('#fx_rule').html(options);
                }else{
                    var options = '<option value="0">{$language1->select_fx_rule}</option>';
                    $('#fx_rule').html(options);
                }

            }

        });
    });

    //根据一级推荐人选择二级推荐人
    $("#pid1").on("change", function() {
        // $('.j_room').hide();
        var _this = $(this);
        var id = $(this).find(":selected").val();
        var url = "?app=distributor&act=ajaxGetUser&level=2&pid=" + id;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function(obj) {
                if (obj.status == 1) {
                    var options = '<option value="0">{$language1->select_twoFx}</option>';
                    $.each(obj.info, function(i,e){
                        options += '<option value="' + e.id + '">' + e.real_name + '</option>';
                    });
                    $('#tager').html(options);
                }else{
                    var options = '<option value="0">{$language1->select_twoFx}</option>';
                    $('#tager').html(options);

                }

            }

        });
    });
</script>

</body>
</html>


