<!DOCTYPE html>
<html style="background-color: #fff;">
<head lang="en">
    <meta charset="UTF-8">
    <title>{$langdata.share}</title><!--分享名片-->
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
    <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="error-wrap tc">
    <img src="{$data.fx_img}" style="width: 300px; height: 300px">
    <p class="text" style="font-size: 16px">{$langdata.Distribution_code}: {$data.fx_code}</p><!--我的分销码-->
</div>

</body>
</html>