<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>佣金提现</title><!-- 佣金提现-->
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="yjtx-wrap">
            <div class="ss-nav">
                <a href="wx.php?app=easyDis&act=index&storeid={$storeid}&lang={$lang}&latlon={$latlon}" class="ss-nav-back"></a>
                <div class="ss-nav-title">佣金提现</div><!-- 佣金提现-->
            </div>
            <div class="height90"></div>
            <div class="yjtx-list mt20">
                <form  method="post" action="wx.php?app=easyDis&act=docash&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}"  >

                    <input type="hidden"  name="store_id"  value="{$store_id}" >
                    <input type="hidden"  name="fx_user_id"  value="{$fx_user_id}" >
                    <input type="hidden"  name="languages"  value="{$languages}" >
                    <input type="hidden"  name="lang"  value="{$lang}" >
                    <input type="hidden"  name="auxiliary"  value="{$auxiliary}" >
                    <input type="hidden" name="latlon" value="{$latlon}">
                    <ul class="my-section">
                        <li>
                            <a href="##" class="clearfix">
                                <span class="lab"></span>
                                <span class="fr"></span>
                            </a>
                        </li>
                        <li>
                            <a href="##" class="clearfix">
                                <span class="lab">开户银行</span><!-- 开户银行-->
                                <span class="fr">
                                    <input type="text"  name="bank_name"  placeholder="请输入开户银行" class="tr" value="{$bank_name}"/>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="##" class="clearfix">
                                <span class="lab">银行账号</span><!-- 银行账号-->
                                <span class="fr">
                                    <input type="text"  name="bank_account"  placeholder="请输入银行账号" class="tr" value="{$bank_account}"/>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="##" class="clearfix">
                                <span class="lab">提现</span><!-- 提现-->
                                <span class="fr">
                                    <input type="text"  name="apply_money"  placeholder="当前可提现金额为：{$user.monery}" class="tr" />
                                    <input type="hidden" name="allow_money" value="{$user.monery}">
                                </span> 
                            </a>
                        </li>
                        <li>
                            <a href="##" class="clearfix">
                                <span class="lab">提现渠道</span><!-- 提现渠道-->
                                <i class="ico ico-gou fr"></i>
                                <span class="fr">线下打款</span><!-- 线下打款-->
                                <input type="hidden" name="method" value="1" />
                            </a>
                        </li>
                    </ul>
                    <p class="tip"></p>
                    <a  id="cash_submit" href="javascript:;" class="btn bg-red">提现申请</a><!-- 提现申请-->
                </form>
            </div>

            <!-- fxfooter -->
            {include file="public/footer.html"}

        </div>

        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>
        {literal}
        <script type="text/javascript" >
            var submit_count = 0;
            $("#cash_submit").click(function () {
                var storeid = $('input[name="store_id"]').val();
                var fx_user_id = $('input[name="fx_user_id"]').val();
                var allow_money = $('input[name="allow_money"]').val();
                var apply_money = $('input[name="apply_money"]').val();
                var bank_name = $('input[name="bank_name"]').val();
                var bank_account = $('input[name="bank_account"]').val();
                var apply_money = $('input[name="apply_money"]').val();
                var languages = $('input[name="languages"]').val();
                var lang = $('input[name="lang"]').val();
                var auxiliary = $('input[name="auxiliary"]').val();
                var method = $('input[name="method"]').val();
                var url = 'wx.php?app=easyDis&act=doCash';
                var data = {'method': method, 'storeid': storeid,'bank_name':bank_name,'bank_account':bank_account, 'auxiliary': auxiliary, 'fx_user_id': fx_user_id, 'allow_money': allow_money, 'apply_money': apply_money, 'languages': languages, 'lang': lang};
                if (submit_count == 0) {
                    $.post(url, data, function (res) {
                        var status = res.status;
                        var msg = res.message;
                        if (status == 1) {
                            submit_count++;
                            layer.open({
                                shade: false
                                , content: '<i class="ico ico-correct"></i> ' + msg
                                , className: 'layer-tip'
                                , time: 2
                            });
                            setTimeout(function () {
                                window.location.href = res.info.url;
                            }, 500);
                        } else {
                            layer.open({
                                shade: false
                                , content: '<i class="ico ico-error"></i> ' + msg
                                , className: 'layer-tip'
                                , time: 2
                            });
                        }

                    }, "json");
                } else {
                    return false;
                }
            });

        </script>
        {/literal}

    </body>
</html>