<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{$langdata.Distribution_easy}</title><!-- 易分销-->
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
        <link href="{$STATIC_URL}/phone/css/style.css"  rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="easy-wrap">
            <div class="easy-head">
                <div class="head-operate tr" style="display: none">
                    <a href="wx.php?app=easyDis&act=mycard&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">{$langdata.Distribution_branch}</a><!-- 分享名片-->
                </div>
                <!--微信的帐号的信息-->
                <div class="head-img tc"><img src="{$headimg}"></div>
                <div class="head-name tc">{$nickname}</div>
                <div class="head-num tc">分销码:{$info[0]['fx_code']}</div>
                <!--微信的帐号的信息-->
            </div>
            <ul class="easytab clearfix">
                <li class="fl bd">
                    <p>{$langdata.Distribution_Commission}</p><!-- 可提现佣金-->
                    <p class="price">{if $info[0]['monery']}{$info[0]['monery']}{else}0.00{/if}({$symbol})</p>
                </li>
                <li class="fr">
                    <p>{$langdata.Distribution_Cumulative}</p><!-- 累计提现-->
                    <p class="price">{if $outmoney.moneys } {$outmoney.moneys} {else}  0.00 {/if} ({$symbol})</p>
                </li>
            </ul>
            <ul class="easy-menus">
                <li><a href="wx.php?app=easyDis&act=cash&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" >{$langdata.Distribution_Apply}</a></li><!-- 提现申请-->
                <li><a href="wx.php?app=easyDis&act=cashLog&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}">{$langdata.Distribution_Record}</a></li><!-- 提现记录-->
            </ul>
            <ul class="easy-list">
                <li>
                    <a href="wx.php?app=easyDis&act=fxOrder&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="clearfix">
                        <i class="ico ico-order fl"></i>
                        <div class="mid fl">
                            <h2>{$langdata.Distribution_My}</h2><!-- 我的订单-->
                            <div>
                                <span class="lab">{$langdata.Distribution_Number}: {if $counts }  {$counts} {else} 0 {/if}{$langdata.Distribution_Piece} </span><!-- 订单数量--><!-- 件-->
                                <span class="lab ml30">{$langdata.Distribution_Amountmoney}:  {if $sum }  {$sum} {else} 0 {/if} ({$symbol}) </span><!-- 累计金额-->
                            </div>
                        </div>
                        <i class="ico ico-right fr"></i>
                    </a>
                </li>
                <li>
                    {if $fx_tree.level == 3}
                    <a href="wx.php?app=easyDis&act=fxUser&id={$fx_tree.id}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="clearfix">
                    {else}
                    <a href="wx.php?app=easyDis&act=fxTeam&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="clearfix">
                    {/if}
                        <i class="ico ico-tearm fl"></i>
                        <div class="mid fl">

                            {if $fx_tree.level == 3}
                            <h2>我的会员</h2><!-- 我的团队-->
                            <div>
                                <span class="lab">我的会员人数：{$count_user}{$langdata.Distribution_People} </span><!-- 我的团队人数--><!-- 人-->
                                <!--<span class="lab ml10">累计人数: {$myteam.count}人</span>-->
                            </div>
                            {else}
                            <h2>{$langdata.Distribution_Team}</h2><!-- 我的团队-->
                            <div>
                                <span class="lab">{$langdata.Distribution_Thenumberof}: {$count_user}{$langdata.Distribution_People} </span><!-- 我的团队人数--><!-- 人-->
                                <!--<span class="lab ml10">累计人数: {$myteam.count}人</span>-->
                            </div>
                            {/if}
                        </div>
                        <i class="ico ico-right fr"></i>
                    </a>
                </li>

                {if $fx_tree.level == 3}
                <li>
                    <a href="wx.php?app=easyDis&act=disApply&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}" class="clearfix">
                        <i class="ico ico-apply fl"></i>
                        <div class="mid fl" style="line-height: 1rem;">
                            <h2 style="margin: 0;">{$langdata.Distribution_Change}</h2><!--分销优惠变更申请-->
                        </div>
                        <i class="ico ico-right fr"></i>
                    </a>
                </li>
                {/if}


            </ul>

            <!-- fxfooter -->
            {include file="public/footer.html"}

        </div>
        <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
        <script src="{$STATIC_URL}/phone/js/common.js" type="text/javascript"></script>
        <!--<script src="{$STATIC_URL}/phone/js/layer/layer.js" type="text/javascript"></script>-->
        <!--<script src="{$STATIC_URL}/phone/js/mobiscroll.custom-2.17.1.min.js" type="text/javascript"></script>-->
        <!--<script src="{$STATIC_URL}/phone/js/index.js" type="text/javascript"></script>-->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        {include file="public/wxjs.html"}
        <script type="text/javascript">
        </script>
        <script type="text/javascript">
            var share_title = "711家居网邀您赚钱。";
            var share_desc = "快点加入吧";
            var share_image = "xxx.jpg";
            var share_link = "http://www.711home.net/wx.php";
            wx.ready(function () {
                // 在这里调用 API
                wx.onMenuShareAppMessage({
                    title: share_title, // 分享标题
                    desc: share_desc, // 分享描述
                    link: share_link, // 分享链接
                    imgUrl: share_image, // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareTimeline({
                    title: share_title, // 分享标题
                    link: share_link, // 分享链接
                    imgUrl: share_image, // 分享图标
                    success: function () {
                        // 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        </script>
    </body>
</html>