<!DOCTYPE html>
<html style="font-size: 50px">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>{$langdata.order_Myteam}</title><!-- 易分销-我的团队-->
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css"  rel="stylesheet" type="text/css"/>
    <link href="{$STATIC_URL}/phone/css/style.css?_t={time()}"  rel="stylesheet" type="text/css"/>
</head>
<body>
<!--一级分销-->
{foreach from=$data item=v}
{if $v.level == 1 }
    <div class="firstContainer">
        <div class="userImg">
            {if $v.headimgurl}
            <img src="{$v.headimgurl}" alt=""/>
            {else}
            <img src="{$STATIC_URL}/phone/images/userImg.png" alt=""/>
            {/if}
        </div>
        <div class="userIfo">
            <div class="uname">
                <span class="s1">{$v.real_name}</span>
                <span class="s2">（共<b>{if $v.count > 0}{$v.count}{else}0{/if}</b>个二级）</span>
            </div>
            <div class="phone">
                <span>号码:</span>
                <span>{$v.phone}</span>
            </div>
        </div>
        <div class="level">({$v.fx_level})</div>
    </div>
        <!--二级分销-->
        <div class="distribution">
            {foreach from=$v.childs item=v1}
            <div class="secondContainer">
                <div class="left">
                    <div>{$v1.real_name}</div>
                    <div class="phone">号码:{$v1.phone}</div>
                </div>
                <div class="right">
                    <div class="level">({$v1.fx_level})</div>
                    <div class="all">
                        <span>(共<b>{if $v1.count > 0}{$v1.count}{else}0{/if}</b>个三级)</span>
                        {if $v1.count > 0}
                        <div class="change">
                            <span>展开</span>
                            <i class="arrow0"></i>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="container-box">
                {foreach from=$v1.childs item=v2}
                    <!--<a href="?app=easyDis&act=fxUser&id={$v2.id}">-->
                    <div class="thirdContainer" data-id="{$v2.id}">
                        <div class="left">
                            <div>{$v2.real_name}</div>
                            <div class="phone">号码:{$v2.phone}</div>
                        </div>
                        <div class="right">
                            <div class="level">(三级分销)</div>
                        </div>
                    </div>
                    <!--</a>-->
                {/foreach}
            </div>
        </div>
        {/foreach}
{else if $v.level == 2  }
    <div class="firstContainer" style="display: none">
        <div class="userImg">
            <!--<img src="images/userImg.png" alt=""/>-->
            <img src="{$v.headimgurl}" alt=""/>
        </div>
        <div class="userIfo">
            <div class="uname">
                <span class="s1">{$v.real_name}</span>
                <span class="s2">（共<b>{if $v.count > 0}{$v.count}{else}0{/if}</b>个二级）</span>
            </div>
            <div class="phone">
                <span>号码:</span>
                <span>{$v.phone}</span>
            </div>
        </div>
        <div class="level">({$v.fx_level})</div>
    </div>
    <div class="distribution">
        <div class="secondContainer">
            <div class="left">
                <div>{$v.real_name}</div>
                <div class="phone">号码:{$v.phone}</div>
            </div>
            <div class="right">
                <div class="level">({$v.fx_level})</div>
                <div class="all">
                    <span>(共<b>{if $v.count > 0}{$v.count}{else}0{/if}</b>个三级)</span>
                    {if $v.count > 0}
                        <div class="change">
                            <span>展开</span>
                            <i class="arrow0"></i>
                        </div>
                    {/if}
                </div>
            </div>
        </div>
        <div class="container-box">
            {foreach from=$v.childs item=v2}
            <!--<a href="?app=easyDis&act=fxUser&id={$v2.id}">-->
            <div class="thirdContainer" data-id="{$v2.id}">
                <div class="left">
                    <div>{$v2.real_name}</div>
                    <div class="phone">号码:{$v2.phone}</div>
                </div>
                <div class="right">
                    <div class="level">(三级分销)</div>
                </div>
            </div>
            <!--</a>-->
            {/foreach}
        </div>
    </div>
{else if $v.level == 3  }
    <div class="container-box">
        <div class="thirdContainer" data-id="{$v.id}">
            <div class="left">
                <div>{$v.real_name}</div>
                <div class="phone">号码:{$v.phone}</div>
            </div>
            <div class="right">
                <div class="level">(三级分销)</div>
            </div>
        </div>
    </div>
{/if}
{/foreach}

<script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script>
    $(".distribution").on("click",".change",function (){
        if ($(this).parent().parent().parent().next().css("display") == "none") {
            $(".container-box").css("display", "none");
            $(".secondContainer").css("border-top","#E8E8E8");
            $("div.change span").text("展开");
            $("div.change i").removeClass("arrow1").addClass("arrow0");
            $(this).parent().parent().parent().next().css("display", "block");
            $(this).find("i").removeClass("arrow0").addClass("arrow1");
            $(this).find("span").text("收起");
            $(this).parent().parent().parent().css("border-top","1px solid #B38247");
            $(this).parent().parent().parent().next().find("div.thirdContainer:last-child").css("border-bottom","1px solid #B38247");
        } else {
            $(this).parent().parent().parent().next().css("display", "none");
            $(this).find("i").removeClass("arrow1").addClass("arrow0");
            $(this).find("span").text("展开");
            $(this).parent().parent().parent().css("border-top","1px solid #E8E8E8");
            $(this).parent().parent().parent().next().find("div.thirdContainer:last-child").css("border-bottom","1px solid #E8E8E8");
        }
    })
    // $(".thirdContainer").on("click",function (){
    //     var id = $(this).attr('data-id');
    //     var url = "?app=easyDis&act=fxUser&id="+id;
    //     location.href = url;
    // });
</script>
</body>
</html>