<!DOCTYPE html>
<html style="font-size:50px;">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href="{$STATIC_URL}/wx/base.css?_t={$web_redis_time}"  rel="stylesheet" type="text/css"/>
    {if $viewCss}
    <link rel="stylesheet" href="{$viewCss}" type="text/css"/>
    {/if}
</head>
<body>
<div class="container">
    <div class="cateBox">
        <div>
            <div class="peopleNum">
                <p>邀请人数</p>
                <div>{$count}人</div>
            </div>
            <div class="getRewards">
                <p>获得奖励</p>
                <div>{$money}元</div>
            </div>
        </div>
    </div>
    <div class="record">
        <div class="heading"></div>
        <div class="content">
            <div class="title">
                <div>好友手机号</div>
                <div>获得时间</div>
                <div>获得奖励</div>
            </div>
            <div class="logs">
                {foreach from=$data item=item}
                <div>
                    <div>{$item.phone}</div>
                    <div>{$item.add_time}</div>
                    <div>{$item.money}元</div>
                </div>
                {/foreach}
            </div>
            <div class="more">
                <button>加载更多</button>
            </div>
        </div>
    </div>
</div>
{include file="public/wx_footer.html"}
</body>
</html>








