<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.ctgpage}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body class="index">

        {include file="public/daohang.html"}
        <!-- navs-box end -->
        <div class="container">
            <!-- bread-box -->
            <div class="bread-box">
                {$cateLink}
            </div>
            <div class="second-box">
                <h2 class="normal font24">{$ctgDetail.cname}</h2>
                <div class="salon-box clearfix">
                    <div class="leftbox fl">
                        <h3 class="normal font14 mt15 mb10">{$ctgDetail.cname}{$langdata.ctgpage_ctg}</h3>
                        <ul>
                            {foreach  from=$childs  item=val}
                            <li><a href="{$val.link}" title="">{$val.cname}</a></li>
                            {/foreach}

                        </ul>
                        <!--<span class="more mt30 inblock">Voir plus</span>-->
                    </div>
                    <div class="rightbox fr">
                        <div class="img mt10">
                            <!--<a href="##">-->
                            {if  $ctgDetail.adv_img }
                            <img src="{$ctgDetail.adv_img}" width="890" height="370">
                            {else}
                            <img src="{$ctgDetail.image}" width="890" height="370">
                            {/if}

                            <!--</a>-->
                            <!--<div class="box tc">-->
                            <!--<a href="##">-->
                            <!--<p class="red font16">JUSQU’A 65 % DE RABAIS</p>-->
                            <!--<p class=" font24 mt10">Nos canapes-lits preferes</p>-->
                            <!--<span class="font16 inblock mt15">Magasinez le solde maintenant</span>-->
                            <!--</a>-->
                            <!--</div>-->
                        </div>

                    </div>
                </div>
                <h2 class="normal font24 mt60 mb30">{$langdata.ctgpage_lowerctg}</h2>
                <div class="cate-box">
                    <ul class="clearfix">

                        {foreach  from=$childs  item=val}
                        <li>
                            <a href="{$val.link}">
                                <div class="img">
                                    <img src="{$val.image}">
                                </div>
                                <div class="cont">
                                    <p class="ellipsis" title="">{$val.cname}</p>
                                </div>
                            </a>
                        </li>
                        {/foreach}

                    </ul>
                </div>
                <h2 class="normal font24 mt30 mb30">{$langdata.ctgpage_recommded}</h2>
                <div class="fav-box">
                    <ul class="clearfix">

                        {foreach  from=$allChilds.data  item=val}
                        <li>
                            <a href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$langid}&gid={$val.id}"   >
                                <div class="img">
                                    <img src="{$val.original_img}">
                                </div>
                                <div class="cont">
                                    <div class="name ellipsis" title="">{$val.goods_name}</div>
                                    <div class="price mb5">
                                        <span class="red">{$symbol}{$val.shop_price}</span>
                                        <span class="grey font12">{$symbol}<s>{$val.market_price}</s></span>
                                    </div>
                                    <div class="grey mb5 ellipsis" >{$val.isfree}</div>
                                    <div class="showstar mb5">
                                        <div class="atar_Show">
                                            {if $val.rate }
                                            <p tip="20" style="width: {$val.rate * 22}px;"></p>
                                            {else}
                                            <p tip="20" style="width: {5 * 22}px;"></p>
                                            {/if}
                                        </div>
                                        <span class="vm font12">（{$val.num}）</span>
                                    </div>
                                </div>
                            </a>
                            {if  $val.type==1 }
                            <i name='clicki' class="sc1 ico sc1-active" id="{$val.id}" title="{$langdata.ctgpage_qx}"></i>
                            {else}
                            <i name='clicki' class="sc1 ico " id="{$val.id}" title="{$langdata.ctgpage_sc}"></i>
                            {/if}
                            <input type="hidden" name="store_id" value="{$storeid}"/>
                            <input type="hidden" name="user_id" value="{$user_id}"/>
                            <input type="hidden" name="store_good_id" value="{$val.goods_id}"/>
                            <div class="more uline"><a   href="index.php?app=goods&act=goodInfo&storeid={$storeid}&lang={$langid}&gid={$val.id}">{$langdata.ctgpage_more}></a></div>
                        </li>
                        {/foreach}

                    </ul>
                </div>
            </div>

            {$allChilds.pagelink}

            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.Zfshi}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>


        <!-- footer -->
        {include file="public/footer.html"}
        <!-- footer end -->

        {literal}
        <script type="text/javascript">
            //收藏商品
            $(function() {
                $('.fav-box .sc1').on('click', function() {
                    var type = $(this).hasClass('sc1-active');
                    var id = $(this).attr('id');
                    var store_id = $('input[name=store_id]').val();
                    var user_id = $('input[name=user_id]').val();
                    var store_good_id = $('input[name=store_good_id]').val();
                    if (user_id == '') {
                        setTimeout(function() {
                            window.location.href = 'index.php?app=user&act=login';
                        }, 1000);
                    } else {
                        $.ajax({
                            url: 'index.php?app=userCenter&act=docollectionGoods',
                            type: 'GET',
                            data: {id: id, type: type, store_id: store_id, store_good_id: store_good_id},
                            dataType: 'json',
                            success: function(res) {
                                if (res.statu) {
                                    $('.fav-box .sc1[id=' + res.id + ']').toggleClass('sc1-active');
                                } else {
                                    $('.fav-box .sc1[id=' + res.id + ']').toggleClass('sc1-active');
                                }
                            }
                        })
                    }
//                    $(this).toggleClass('sc1-active');
                })
            });
            // 显示全部
            //    $(function(){
            //        var li = $('.salon-box .leftbox li:gt(10)').addClass('hide');
            //        $('.salon-box .more').click(function(){
            //            var li = $('.salon-box .leftbox li:gt(10)');
            //            if(li.hasClass('hide')){
            //                hide = $('.salon-box .leftbox li:gt(10)').removeClass('hide');
            //            }else{
            //                hide = $('.salon-box .leftbox li:gt(10)').addClass('hide');
            //            }
            //        })
            //    })

        </script>
        {/literal}
    </body>
</html>