<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/swiper.min.css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/base.css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/welfare.css"/>
</head>
<body>
<!--福利社-->
<div class="header">
    <div class="arrow">
        <img src="{$STATIC_URL}/phone/images/welfare/arrow.png" alt=""/>
    </div>
    <div class="title">福利社</div>
</div>
<!--推荐 促销 秒杀-->
<ul class="changeTab">
    <li >
        <a target="#recommend">推荐</a>
    </li>
    <li class="active">
        <a target="#promotion">促销</a>
    </li>
    <li>
        <a target="#spike">秒杀</a>
    </li>
</ul>
<div class="bigContainer">
    <div id="recommend">
        <div class="filter" data-toggle="modal" data-target="#myModal">
            筛选
        </div>
        <div class="productList">
            <ul>
                <li>
                    <a href="#">
                        <div class="pro-logo">
                            <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                        </div>
                        <div class="pro-info">
                            <div class="pname">奇异果心满志</div>
                            <div class="priceBox">
                                <div class="price">
                                    <div class="new">¥100.00</div>
                                    <div class="old">¥200.00</div>
                                </div>
                                <div class="sale">
                                    <span>月售:</span>
                                    <span>255</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pro-logo">
                            <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                        </div>
                        <div class="pro-info">
                            <div class="pname">奇异果心满志</div>
                            <div class="priceBox">
                                <div class="price">
                                    <div class="new">¥100.00</div>
                                    <div class="old">¥200.00</div>
                                </div>
                                <div class="sale">
                                    <span>月售:</span>
                                    <span>255</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pro-logo">
                            <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                        </div>
                        <div class="pro-info">
                            <div class="pname">奇异果心满志</div>
                            <div class="priceBox">
                                <div class="price">
                                    <div class="new">¥100.00</div>
                                    <div class="old">¥200.00</div>
                                </div>
                                <div class="sale">
                                    <span>月售:</span>
                                    <span>255</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pro-logo">
                            <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                        </div>
                        <div class="pro-info">
                            <div class="pname">奇异果心满志</div>
                            <div class="priceBox">
                                <div class="price">
                                    <div class="new">¥100.00</div>
                                    <div class="old">¥200.00</div>
                                </div>
                                <div class="sale">
                                    <span>月售:</span>
                                    <span>255</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pro-logo">
                            <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                        </div>
                        <div class="pro-info">
                            <div class="pname">奇异果心满志</div>
                            <div class="priceBox">
                                <div class="price">
                                    <div class="new">¥100.00</div>
                                    <div class="old">¥200.00</div>
                                </div>
                                <div class="sale">
                                    <span>月售:</span>
                                    <span>255</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="pro-logo">
                            <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                        </div>
                        <div class="pro-info">
                            <div class="pname">奇异果心满志</div>
                            <div class="priceBox">
                                <div class="price">
                                    <div class="new">¥100.00</div>
                                    <div class="old">¥200.00</div>
                                </div>
                                <div class="sale">
                                    <span>月售:</span>
                                    <span>255</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="promotion" class="active">
        <!--截止时间-->
        <div class="countBox">
            <div class="countContent">
                <div class="title">
                    <img src="{$STATIC_URL}/phone/images/welfare/sha.png" alt=""/>
                    <span id="endTime2">17:30</span>
                    <span>限时促销</span>
                </div>
                <div class="countDown">
                                <span>
                                    倒计时
                                </span>
                    <div class="time">
                        <span class="hour">03</span>
                        <span>:</span>
                        <span class="minute">19</span>
                        <span>:</span>
                        <span class="second">30</span>
                    </div>
                </div>
            </div>
        </div>
        <!--促销内容-->
        <div class="cate-content">
            <div class="cate-box">
                <div class="show-img">
                    <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                </div>
                <div class="showInfo">
                    <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                    <div class="discount">
                        2.5折
                    </div>
                    <div class="priceBox">
                        <div class="price">
                            <div class="newP">¥10.00</div>
                            <div class="oldP">¥10.00</div>
                        </div>
                        <div class="btnBox">
                            <button>立即购买</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cate-box">
                <div class="show-img">
                    <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                </div>
                <div class="showInfo">
                    <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                    <div class="discount">
                        2.5折
                    </div>
                    <div class="priceBox">
                        <div class="price">
                            <div class="newP">¥10.00</div>
                            <div class="oldP">¥10.00</div>
                        </div>
                        <div class="btnBox">
                            <button>立即购买</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cate-box">
                <div class="show-img">
                    <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                </div>
                <div class="showInfo">
                    <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                    <div class="discount">
                        2.5折
                    </div>
                    <div class="priceBox">
                        <div class="price">
                            <div class="newP">¥10.00</div>
                            <div class="oldP">¥10.00</div>
                        </div>
                        <div class="btnBox">
                            <button>立即购买</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cate-box">
                <div class="show-img">
                    <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                </div>
                <div class="showInfo">
                    <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                    <div class="discount">
                        2.5折
                    </div>
                    <div class="priceBox">
                        <div class="price">
                            <div class="newP">¥10.00</div>
                            <div class="oldP">¥10.00</div>
                        </div>
                        <div class="btnBox">
                            <button>立即购买</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cate-box">
                <div class="show-img">
                    <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                </div>
                <div class="showInfo">
                    <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                    <div class="discount">
                        2.5折
                    </div>
                    <div class="priceBox">
                        <div class="price">
                            <div class="newP">¥10.00</div>
                            <div class="oldP">¥10.00</div>
                        </div>
                        <div class="btnBox">
                            <button>立即购买</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="spike" >
        <!--轮播-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{$STATIC_URL}/phone/images/welfare/banner.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="{$STATIC_URL}/phone/images/welfare/banner.png" alt=""/>
                </div>
                <div class="swiper-slide">
                    <img src="{$STATIC_URL}/phone/images/welfare/banner.png" alt=""/>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <!--今日明日的滑动与切换-->
        <div class="swiper-container1">
            <div class="swiper-wrapper">
                {foreach $keys as $val}
                <div class="swiper-slide active">
                    <a target="#{$val}">{$val}</a>
                </div>
                {/foreach}
                <!--<div class="swiper-slide">-->
                    <!--<a target="#tomorrow">明日</a>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<a target="#afterTo1">12月20日</a>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<a target="#afterTo2">12月20日</a>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<a target="#afterTo3">12月20日</a>-->
                <!--</div>-->
                <!--<div class="swiper-slide">-->
                    <!--<a target="#afterTo4">12月20日</a>-->
                <!--</div>-->
            </div>
        </div>
        <!--今日明日切换内容部分-->
        <div class="spikeContent">
            <div id="today" class="active">
                <div class="wrapper">
                    <!--截止时间-->
                    <div class="countBox">
                        <div class="countContent">
                            <div class="title">
                                <img src="{$STATIC_URL}/phone/images/welfare/sha.png" alt=""/>
                                <span id="endTime">15:48</span>
                                <span>限时秒杀</span>
                            </div>
                            <div class="countDown">
                                <span>
                                    倒计时
                                </span>
                                <div class="time">
                                    <span class="hour">03</span>
                                    <span>:</span>
                                    <span class="minute">19</span>
                                    <span>:</span>
                                    <span class="second">30</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--秒杀内容-->
                    <div class="cate-content">
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">148</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button disabled>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">200</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button disabled>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">300</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button disabled>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">400</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button disabled>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <!--截止时间-->
                    <div class="countBox">
                        <div class="countContent">
                            <div class="title">
                                <img src="{$STATIC_URL}/phone/images/welfare/sha.png" alt=""/>
                                <span id="endTime1">17:30</span>
                                <span>限时秒杀</span>
                            </div>
                            <div class="countDown">
                                <span>
                                    倒计时
                                </span>
                                <div class="time">
                                    <span class="hour">03</span>
                                    <span>:</span>
                                    <span class="minute">19</span>
                                    <span>:</span>
                                    <span class="second">30</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--秒杀内容-->
                    <div class="cate-content">
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">100</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">148</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">200</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">300</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cate-box">
                            <div class="show-img">
                                <img src="{$STATIC_URL}/phone/images/welfare/pImg1.png" alt=""/>
                            </div>
                            <div class="showInfo">
                                <div class="title">换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验换新家居轻奢体验</div>
                                <div class="progressList">
                                    <div class="progressBar">
                                        <div class="all">还剩<span class="remain">40</span>件</div>
                                        <div class="proportion"></div>
                                    </div>
                                    <div class="tip">已抢<span class="sold">400</span>件</div>
                                </div>
                                <div class="priceBox">
                                    <div class="price">
                                        <div class="newP">¥10.00</div>
                                        <div class="oldP">¥10.00</div>
                                    </div>
                                    <div class="changeBtn">
                                        <button>即将开始</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tomorrow">2</div>
            <div id="afterTo1">3</div>
            <div id="afterTo2">4</div>
        </div>
    </div>
</div>
<div class="toTop">
    <img src="{$STATIC_URL}/phone/images/welfare/toTop.png" alt=""/>
</div>
<div class="modal right fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="myModalLabel">筛选</h1>
            </div>
            <div class="modal-body">
                <div id="product-filter">
                    <div class="post">
                        <span>是否包邮:</span>
                        <input style="outline:none" class="switch switch-anim" type="checkbox" checked />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js"></script>
<script src="{$STATIC_URL}/phone/js/swiper.min.js"></script>
<script src="{$STATIC_URL}/phone/js/bootstrap.min.js"></script>
<script src="{$STATIC_URL}/phone/js/welfare.js"></script>
</body>
</html>