{if $data}
{foreach $data as $item}
<div class="main3-detail">
    <div class="main-left">
        <a href="wx.php?app=goodList&act=indexCeshi&storeid={$item.id}&rtid={$item.b_id}&latlon={$latlon}&order=1">
            {if $item.logo}
            <img src="{$item.logo}">
            {else}
            <img src="{$STATIC_URL}/phone/images/index1/logoImg.png" alt=""/>
            {/if}
        </a>
    </div>
    <div class="main-right">
        <div class="line1">
            <a href="wx.php?app=goodList&act=indexCeshi&storeid={$item.id}&rtid={$item.b_id}&latlon={$latlon}&order=1">
                <span class="pname">{$item.sltore_name}</span>
            </a>
            {if $item.dis > 0}
            <div id="distance">{$item.dis}km</div>
            {/if}
            {if $item.type == 1}
            <span class="star2 star1" id="{$item.id}"></span>
            {else}
            <span class="star2 star" id="{$item.id}"></span>
            {/if}
        </div>
        <div class="line3">
            <div class="line2">
                <div class="shopHours"><span class="s1">营业时间:</span><span class="s2">{$item.store_start_time}-{$item.store_end_time}</span></div>
                <div class="storePhone"><span class="s1">店铺电话:</span><span class="s2">{$item.store_mobile}</span></div>
            </div>
            <div class="line2">
                <div class="starbg starbg5"></div>
                <span class="num">5.0</span>
                <span class="sale">月售:{$item.order_num}</span>
            </div>
            <div class="line4">
                <span>公告:</span>

                <p>{$item.store_notice}</p>
            </div>
        </div>
    </div>
</div>
{/foreach}
{else}
<div class="dropload-down"><div class="dropload-noData">暂无数据</div></div>
{/if}