<!DOCTYPE html>
<html style="background-color:#fff;font-size: 50px;">
<head lang="en">
    <meta charset="UTF-8">
    <title>{$langdata.index_home}{if $userId==8025}{$userId}{/if}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href="{$STATIC_URL}/phone/css/mobiscroll.custom-2.17.1.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/swiper.min.css"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/style.css?_t={time()}"/>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/dropload1.css"/>
    <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js"></script>
    <script src="{$STATIC_URL}/phone/js/swiper.min.js"></script>
    <script src="{$STATIC_URL}/phone/js/dropload.min.js"></script>
    <style>
        div.swiper-container img {
            width: 100%;
        }

        div.swiper-slide {
            padding: 0;
        }

        .swiper-container-horizontal > .swiper-pagination-bullets {
            top: auto;
        }

        div.iconName {
            display: block;
            min-height: 0.4rem;
            font-size: 0.22rem;
            color: #838383;
            margin-top: 0.1rem;
            word-wrap: break-word;
        }

        .indexModal {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1000000;
            overflow: hidden;
        }

        .indexModal-dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
{include file="public/header.html"}
<div class="banner">
    <!--滑动广告-->
    <div class="swiper-container swiper-container-horizontal" style="height:auto">
        <div class="swiper-wrapper">
            {foreach from=$banner item=val }
            <div class="swiper-slide"><a
                    href="wx.php?app=goods&act=goodInfo&storeid={$storeid}&gid={$val.goods_id}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}"><img
                    src="{$val.ad_code}"/></a></div>
            {/foreach}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span>
            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span>
        </div>
    </div>
    <div class="cate_box">
        <div class="swiper-container" style="height:auto;padding: 0.2rem;
    box-sizing: border-box;">
            <div class="swiper-wrapper">
                {foreach from=$naicha item=val}
                <div class="swiper-slide">
                    <a href="#content" style="display:block;width:100%">
                        <div class="imgIcon">
                            <img src="{$val.room_img}" alt="">
                            <input type="hidden" name="rtid" value="{$val.id}">
                        </div>
                        <div class="iconName">
                            <span>{$val.type_name}</span>
                        </div>
                    </a>
                </div>
                {/foreach}
                {foreach from=$roomtype item=val}
                <div class="swiper-slide">
                    <a href="#content" style="display:block;width:100%">
                        <div class="imgIcon ">
                            <img src="{$val.room_img}" alt="">
                            <input type="hidden" name="rtid" value="{$val.id}">
                        </div>
                        <div class="iconName">
                            <span>{$val.type_name}</span>
                        </div>

                    </a>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
<div class="virtuals">
    <span class="artcle">{$langdata.article}</span>
    <a href="#"><span class="tuijian">{$langdata.recom}</span></a>

    <div class="notice-con">
        <ul class="notice-txt">
            {foreach from=$articledata item=val}
            <li><a href="wx.php?app=article&act=detail&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&artid={$val.id}&latlon={$latlon}"
                   class="notice-new">{$val.title}</a></li>
            {/foreach}
        </ul>
    </div>
    </a>
    <a href="wx.php?app=article&act=index&storeid={$storeid}&lang={$lang}&auxiliary={$auxiliary}&latlon={$latlon}"><span
            class="more">{$langdata.more}</span></a>
</div>
</div>

<div class="main main2">
    <div class="top">
        <span class="title">{$langdata.yourecom}</span>
        <span class="more"><a href="wx.php?app=default&act=typeIndex&storeid={$storeid}&lang={$lang}&auxiliary=0&recom=1&latlon={$latlon}">{$langdata.more}&nbsp;></a></span>
    </div>
    <!--为您推荐-->
    <div class="show-box">
        {foreach from=$recommYou item=val }
        <div class="show-img">
            <a href="wx.php?app=goods&act=goodInfo&storeid={$storeid}&gid={$val.id}&lang={$lang}&auxiliary=0&latlon={$latlon}&source=&cid=">
                <div class="img-box">
                    <img src="{$val.original_img}" alt=""/>
                </div>
            </a>

            <div class="intro">
                <a href="wx.php?app=goods&act=goodInfo&storeid={$storeid}&gid={$val.id}&lang={$lang}&auxiliary=0&latlon={$latlon}&source=&cid=">
                    <p>{$val.goods_name}</p>
                </a>

                <div class="price">
                    <span>{$symbol}{$val.shop_price}</span>
                    {if $val.type == 1 }
                    <span class="star2 star1" id="{$val.id}" data-id="{$val.goods_id}"></span>
                    {else}
                    <span class="star2 star" id="{$val.id}" data-id="{$val.goods_id}"></span>
                    {/if}
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="main main3">
        <div class="top">
            <span class="title">{$langdata.store}</span>
            <span class="more"><a
                    href="wx.php?app=store&act=index&latlon={$latlon}&lang={$lang}&auxiliary=0&latlon={$latlon}">{$langdata.more}&nbsp;></a></span>
        </div>
        <div class="range">
            <span class="text" id="sort">{$langdata.distance}</span>
            <span class="style1" id="service">{$langdata.type}</span>
        </div>
        <div class="modal" id="modal">
            <ul>
                {foreach from=$roomtypea item=val key=k}
                <li data-id="{$val.id}">{$val.type_name}</li>
                {/foreach}
            </ul>
            <div class="button">{$langdata.complete}</div>
        </div>
        <div id="content"></div>
        <input type="hidden" id="userId" value="{$userId}">
        <input type="hidden" name="latlon" value="{$latlon}">
        <input type="hidden" name="txlatlon" value="">
        <input type="hidden" name="lat" value="{$lat}">
        <input type="hidden" name="lng" value="{$lng}">
        <input type="hidden" name="storeid" value="{$storeid}">
        <input type="hidden" name="ordernum" value="{$langdata.order_num}">
        <input type="hidden" name="userId" value="{$userId}"/>
        <input type="hidden" name="lang" value="{$lang}">
        <input type="hidden" name="auxiliary" value="{$auxiliary}">
        <input type="hidden" name="address" value="{$location}">
    </div>
    {include file="public/footer1.html"}
    <div>
        <span style="height:30px;display:none" id="city"></span>
    </div>
    <div id="container"></div>
</div>
{if $display !=1}
<div class="indexModal">
    <div class="indexModal-dialog">
        <img src="{$STATIC_URL}/phone/images/loading.gif" alt=""/>
    </div>
</div>
{/if}
<script>
    $(function(){
        setTimeout(function () {
            $(".indexModal").css("display", "none");
            $(".indexModal").fadeOut();
            $(".indexModal").css("visibility", "hidden");
        }, 3000);
    });
</script>
<script>
    var display = '{$display}';
</script>
<script src="{$STATIC_URL}/wx/default/index/index.js?tt={time()}" type="text/javascript"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=SIYBZ-DYBY5-5R3IE-QVADH-4YP5J-BCFFU&libraries=drawing,geometry,autocomplete,convertor"></script>
</body>
</html>