<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->activity_manage}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language1->activity_manage}</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <form class="form-inline col-sm-9 col-md-9 no-padding">
                                <div class="form-group form-group-sm form-mar">
                                    <input type='hidden' name='app' value='storeActivity'>
                                    <input type='hidden' name='act' value='index'>
                                    <input type="hidden" name = "delAll"  value="drop">
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label">{$language1->activity_name}：</small>
                                    <input type="text" class="form-control" name="name" value="{$name}">
                                </div>
                                <div class="form-group">
                                    <small class="control-label">{$language2->regional_store}：</small>
                                    <select class="form-control w160 j_select inblock j-cate1" name="store_cate">
                                        <option value="0">{$language2->please_select}</option>
                                        {foreach from=$storeCateList item=item}
                                        <option value="{$item.id}" {if $storeCate == $item.id}selected{/if}>{$item.cate_name}</option>
                                        {/foreach}
                                    </select>
                                    <select class="form-control w160 j_select inblock " name="store_id" id="store_id">
                                        <option value="0">{$language2->please_select}</option>
                                        {foreach from=$storeList item=item key=key}
                                        <option value="{$key}" {if $storeId == $key}selected{/if}>{$item}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label">{$language2->status}：</small>
                                    <select class="form-control w160 j_select inblock " name="is_use">
                                        <option value="0">{$language2->please_select}</option>
                                        <option value="1" {if $isUse == 1}selected{/if}>开启</option>
                                        <option value="2" {if $isUse == 2}selected{/if}>关闭</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <button type="submit" class="btn btn-default btn-sm">
                                        {$language2->search} <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                            <div class="col-sm-4  col-md-3 no-padding buttonGroup" style="float: right">
                                <a class="btn btn-primary pull-right btn-sm" onclick="add()" role="button"><i class="fa fa-plus"></i> {$language1->add_activity}</a>
                            </div>
                        </div>
                        <div class="new-table-responsive">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th width="10%">{$language2->serial_number}</th>
                                        <th width="15%">{$language1->activity_name}</th>
                                        <th width="15%">{$language2->belone_store}</th>
                                        <th width="15%">{$language2->start_time}</th>
                                        <th width="15%">{$language2->end_time}</th>
                                        <th width="10%">{$language2->status}</th>
                                        <th width="15%">{$language2->operate_time}</th>
                                        <th width="15%">{$language2->control}</th>
                                    </tr>
                                    </thead>
                                    {foreach from=$data item=item key=key}
                                    <tr>
                                        <td>{$key+1}</td>
                                        <td>{$item.name}</td>
                                        <td>{$item.store_name}</td>
                                        <td>{$item.begin_time}</td>
                                        <td>{$item.end_time}</td>
                                        <td>
                                            {if $item.is_use == 1}
                                            <input type="checkbox" class="is_use" name="is_use" checked data-value='{$item.id}' >
                                            {else}
                                            <input type="checkbox" class="is_use" name="is_use" data-value='{$item.id}' >
                                            {/if}
                                        </td>
                                        <td>{$item.add_time}</td>
                                        <td class="cz">
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-success" style="overflow: hidden; position: relative;" onclick="info('{$item.id}');"  data-original-title="{$language2->look}">{$language2->look}</a>
                                            {if $item.type == 1}
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-success" style="overflow: hidden; position: relative;" onclick="member('{$item.id}');"  data-original-title="{$language1->apply_member}">{$language1->apply_member}</a>
                                            {/if}
                                            {if $item.edit == 1}
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-success" style="overflow: hidden; position: relative;"  onclick="edit('{$item.id}');"  data-original-title="{$language2->edit}">{$language2->edit}</a>
                                            {/if}
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"  onclick="drop('{$item.id}');"  data-original-title="{$language2->drop}">{$language2->drop}</a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            {$page_html}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    {include file="public/footer.html"}
</div>
</body>
</html>
<script type="text/javascript">
    var lang_id = '{$lang_id}';
    //添加
    function add() {
        var url = '?app=storeActivity&act=add&lang_id='+lang_id;
        location.href = url;
    }
    //查看详情
    function info(id) {
        var url = '?app=storeActivity&act=info&id='+id+'&lang_id='+lang_id;
        location.href = url;
    }
    //报名人员
    function member(id) {
        var url = '?app=storeActivity&act=member&id='+id+'&lang_id='+lang_id;
        location.href = url;
    }
    //编辑
    function edit(id) {
        var url = '?app=storeActivity&act=edit&id='+id+'&lang_id='+lang_id;
        location.href = url;
    }
    //删除
    function drop(id) {
        deletes('?app=storeActivity&act=drop&id=' + id);
    }
    //区域店铺关联
    $(".j-cate1").on("change", function() {
        $('.j_room').hide();
        var _this = $(this);
        var id = $(this).find(":selected").val();
        var url = "?app=fxRuler&act=getChild&parent_id=" + id;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            success: function(obj) {
                if (obj.status == 1) {
                    var options = '<option value="0">{$language2->please_select}</option>';
                    $.each(obj.info, function(i,e){
                        options += '<option value="' + e.id + '">' + e.store_name + '</option>';
                    });
                    $('#store_id').html(options);
                }else{
                    var options = '<option value="0">{$language2->please_select}</option>';
                    $('#store_id').html(options);

                }

            }

        });
    });
    {literal}
    $(".is_use").bootstrapSwitch({
        onText: "开启",
        offText: "关闭",
        size: "small",
        onSwitchChange: function(event, state) {
            if (state == true) {
                var id = $(this).attr('data-value');
                $(this).val("1");
                var Enable = $(this).val();
                $.ajax({
                    url: '?app=storeActivity&act=isUse',
                    type: 'POST',
                    data: {'id': id, 'Enable': Enable},
                    dataType: "json",
                    success: function(re) {
                        if (re.status == 1) {
                            window.location.reload();
                        } else{
                            layer.alert(re.message, {
                                icon: 2,
                                shadeClose: false,
                                skin: 'layer-ext-moon', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                                time: 1000,
                                btn:false,
                                area: ['259px', '166px']
                            })
                            setTimeout(function(){ window.location.reload(); }, 1000);
                        }
                    }
                });
            } else {
                var id = $(this).attr('data-value');
                $(this).val("2");
                var Enable = $(this).val();
                $.ajax({
                    url: '?app=storeActivity&act=isUse',
                    type: 'POST',
                    data: {'id': id, 'Enable': Enable},
                    dataType: "json",
                    success: function(re) {
                        if (re.status == 1) {
                            window.location.reload();
                        } else {
                            layer.alert(re.message, {
                                icon: 2,
                                shadeClose: false,
                                skin: 'layer-ext-moon', //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                                time: 1000,
                                btn:false,
                                area: ['259px', '166px']
                            })
                            setTimeout(function(){ window.location.reload(); }, 1000);
                        }
                    }
                });
            }
        }
    });
    {/literal}
</script>