<form class="form-horizontal "  id = "form1" action="?app=storeFare&act=add" >
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 区域店铺 </label>
        <div class="col-sm-4 col-md-4">
            <select class="form-control w160 j_select inblock j-cate1 service-select1" name="service_area_id">
                <option value='0'>--请选择区域--</option>
                {foreach $service_area_data as $k => $v}
                <option value="{$v.id}">{$v.name}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-sm-4 col-md-4" style="padding-left: 0px;margin-left: -10px;">
            <select class="form-control w160 j_select inblock service-select2" name="store_id" id="store_id">
                <option value="0">--请选择店铺--</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 运费规则名称 </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control" name="name" value=""  >
        </div>
    </div>
</form>
<script src="{$STATIC_URL}/admin/js/storeUsersSelect.js"></script>
