<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
    <style>
        #rechargeBox{
            margin-top:-16px;
        }
        #recharge{
            padding-bottom:10px;
        }
        #div{
            margin-top:10px;
            display:flex;
            align-items:center;
        }
        #div>div{
            background:#ddd;
            padding:4px;
        }
        .add{
            font-size:30px;
            color:#ff0000;
            font-weight:bold;
        }
        .del{
            font-size:30px;
            color:#ff0000;
            font-weight:bold;
        }
        #recharge input{
            width:60px;
            padding:0 5px;
        }
        .form-group{
            padding: 20px 0;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    {include file="public/menu.html"}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                运费规则设置
            </h1>
            <ol class="breadcrumb">
                <li><a href="store.php?app=default&act=index"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="#">运费列表</a></li>
                <li class="active"> 运费规则设置</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <form class="form-horizontal" action="?app=storeFare&act=addRules" data-type="ajax" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class='col-md-2' style='text-align:center'><span class="text-red">*</span>运费规则：</label>
                                    <div id="rechargeBox" class="col-md-10">
                                        {if $data}
                                        {foreach from=$data item=item key=key}
                                        <div id="recharge">
                                            <div>
                                                &nbsp;&nbsp;<input type="text"  value="{$item.min_number}" class="form-control w20 inblock" readonly="readonly" >
                                                &nbsp;&nbsp;<select  disabled="disabled" style="width:60px;height: 34px;">
                                                <option {if $item.min_symbol==1} selected {/if}  value="1"><</option>
                                                <!--<option {if $item.min_symbol==2} selected {/if} value="2">≤</option>-->
                                            </select>
                                                {if $item.max_number == 99}
                                                &nbsp;数量&nbsp;&nbsp;<select disabled="disabled"  style="width:60px;height: 34px;">
                                                <!--<option {if $item.max_symbol==1} selected {/if} value="1"><</option>-->
                                                <option {if $item.max_symbol==2} selected {/if} value="2">≤</option>
                                            </select>
                                                &nbsp;&nbsp;&nbsp;<input type="text"  value="∞" class="form-control w20 inblock" readonly="readonly" />
                                                {else}
                                                &nbsp;数量&nbsp;&nbsp;<select disabled="disabled"  style="width:60px;height: 34px;">
                                                <!--<option {if $item.max_symbol==1} selected {/if} value="1"><</option>-->
                                                <option {if $item.max_symbol==2} selected {/if} value="2">≤</option>
                                            </select>
                                                &nbsp;&nbsp;&nbsp;<input type="text"  value="{if $item.max_number==99}∞{else}{$item.max_number}{/if}" class="form-control w20 inblock" readonly="readonly" />
                                                {/if}
                                                &nbsp;&nbsp;<span style="padding-left:30px">对应规则</span>：
                                                &nbsp;<input type="text"  value="{$item.percent}" class="form-control w20 inblock" readonly="readonly" placeholder="百分比" style="width:70px;"/>
                                                <span class="add">+</span><span  onclick="drop({$item.id});" style="font-size: 30px;color: #ff0000;font-weight: bold;">-</span>
                                            </div>
                                        </div>
                                        {/foreach}
                                        {else}
                                        <input type="hidden" name="edit" value="1">
                                        <div id="recharge">
                                            <div>
                                                &nbsp;&nbsp;<input type="text" name="min_number[]" value="" class="form-control w20 inblock" >
                                                &nbsp;
                                                <select name="min_symbol[]"  style="width:60px;height: 34px;text-align-last: center;">
                                                    <option value="1"><</option>
                                                    <!--<option value="2">≤</option>-->
                                                </select>
                                                &nbsp;数量&nbsp;
                                                <select name="max_symbol[]"  style="width:60px;height: 34px;text-align-last: center;">
                                                    <!--<option value="1"><</option>-->
                                                    <option value="2">≤</option>
                                                </select>
                                                &nbsp;&nbsp;
                                                <input type="text" name="max_number[]" value="" class="form-control w20 inblock"/>
                                                &nbsp;
                                                <span style="padding-left:30px">对应规则</span>：
                                                &nbsp;<input type="text" name="percent[]" value="" class="form-control w20 inblock"  style="width:70px;"  placeholder="百分比"/>
                                                <span class="add">+</span>
                                            </div>
                                        </div>
                                        {/if}
                                        <input type="hidden"  name="store_fare_id"  value="{$store_fare_id}" >
                                        <input type="hidden"  name="store_id"  value="{$store_id}" >
                                        <div id="div">
                                            <span style='color: #ff0000;'>注释： <input style='border: none;width: 18px;'  id="copyContent" value="∞"/>等于无穷</span>
                                                                                            <div onclick="copyUrl()">复制符号</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="?app=storeFare&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i> 关 闭</a>
                                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> {$language2->save}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
{include file="public/footer.html"}
<script>
    function copyUrl() {
        var Url = document.getElementById("copyContent");
        Url.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        layer.alert('复制成功', {
            icon: 1,
            btn: false,
            title: false,
            closeBtn: 0,
            time: 1000,
            skin: 'alt-layer'
        });
        setTimeout(function () {
        }, 1000)
    }
</script>
<script>
    $(".add").click(function () {
        html = '';
        html += ` <div style="margin-top:5px">
                    &nbsp;&nbsp;<input type="text" name="min_number[]" value="" class="form-control w20 inblock" >
                    &nbsp;&nbsp;<select name="min_symbol[]"  style="width:60px;height: 34px;text-align-last: center;">
                                    <option value="1"><</option>
                                    <!--<option value="2">≤</option>-->
                                </select>
                    &nbsp;数量&nbsp;&nbsp;<select name="max_symbol[]"  style="width:60px;height: 34px;text-align-last: center;">
                                   <!--<option value="1"><</option>-->
                                   <option value="2">≤</option>
                                </select>
                    &nbsp;&nbsp;&nbsp;<input type="text" name="max_number[]" value="" class="form-control w20 inblock"/>
                    &nbsp;&nbsp;<span style="padding-left:30px">对应规则</span>：
                    &nbsp;<input type="text" name="percent[]" value="" class="form-control w20 inblock"  style="width:70px;"  placeholder="百分比"/>
                    <span class="del">-</span>
                    <input type="hidden" name="edit" value="1">
                </div>`;
        $(this).parent().append(html);
    });
    $('body').on('click', '.del', function () {
        $(this).parent().remove();
    });
    /*删除*/
    function drop(id) {
        deletes('?app=storeFare&act=dropRules&id=' + id);
    }
</script>
</body>
</html>
