<!DOCTYPE html>
<html>
    <head>

        {include file="public/header.html"}

    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {include file="public/headtab.html"}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->web_info}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                        <li class="active">{$language1->web_manage}</li>
                        <li class="active">{$language1->web_info}</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-xs-12">
                            <!-- Horizontal Form -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal" action="?app=webconfig&act=baseinfoSave"  data-type="ajax" method="post">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->web_record_num}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="record_no"  value="{$res.record_no.value}" >
                                                <input type="hidden"  name="record_no_id"  value="{$res.record_no.id}"   >
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->web_name}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="store_name"  value="{$res.store_name.value}"  >
                                                <input type="hidden"  name="store_name_id"  value="{$res.store_name.id}"   >
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <input type="hidden" name="store_logo" id="image_id" value="{$res.store_logo.value}">
                                            <input type="hidden"  name="store_logo_id"  value="{$res.store_logo.id}"   >

                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->web_logo}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <p class="file-img">
                                                    {if  $res.store_logo.value }

                                                    <img id="img1"  src="{$res.store_logo.value}"   width="100" height="100"  />

                                                    {else}
                                                    <img id="img1"  src="" width="100" height="100" style="display:none"/>
                                                    {/if}
                                                </p>
                                                <p class="inblock">
                                                    <input type="file" id="file1" name="fileName" />
                                                </p>
                                                <button type="button"  class="btn btn-primary file-btn" id="validate" >{$language2->upload}</button>
                                                <p>{$language1->default_logo_size}</p>

                                            </div>
                                        </div>

                                        <!--<div class="form-group">-->
                                            <!--<input type="hidden" name="store_ico" id="image_id2" value="{$res.store_ico.value}">-->
                                            <!--<input type="hidden"  name="store_ico_id"  value="{$res.store_ico.id}"   >-->

                                            <!--<label class="col-sm-4 col-md-2  col-lg-2 control-label"> 网站Ico图片：</label>-->
                                            <!--<div class="col-sm-7 col-md-6 col-lg-5">-->
                                                <!--<p class="file-img">-->
                                                    <!--{if  $res.store_ico.value }-->

                                                    <!--<img id="img2"   src="{$res.store_ico.value}" width="100" height="100" />-->

                                                    <!--{else}-->

                                                    <!--<img id="img2"   src="" width="100" height="100" style="display:none"/>-->

                                                    <!--{/if}-->

                                                <!--</p>-->
                                                <!--<p class="inblock">-->
                                                    <!--<input type="file" id="file2" name="fileName2" />-->
                                                <!--</p>-->
                                                <!--<button type="button"  class="btn btn-primary file-btn" id="validate2" >上传</button>-->
                                                <!--<p>默认网站ICO图片, 最佳显示尺寸为16*16像素的.ico图片</p>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->web_title}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="store_title"  value="{$res.store_title.value}" >
                                                <input type="hidden"  name="store_title_id"  value="{$res.store_title.id}"   >

                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->web_desc}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="store_desc"  value="{$res.store_desc.value}" >
                                                <input type="hidden"  name="store_desc_id"  value="{$res.store_desc.id}"   >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->web_keyword}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="store_keyword"  value="{$res.store_keyword.value}" >
                                                <input type="hidden"  name="store_keyword_id"  value="{$res.store_keyword.id}"   >

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->contact}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="link_name"  value="{$res.link_name.value}" >
                                                <input type="hidden"  name="link_name_id"  value="{$res.link_name.id}"   >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->contact_phone}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="link_phone"  value="{$res.link_phone.value}"  >
                                                <input type="hidden"  name="link_phone_id"  value="{$res.link_phone.id}"   >

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label">  {$language1->service_phone}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="kefu_phone"  value="{$res.kefu_phone.value}"  >
                                                <input type="hidden"  name="kefu_phone_id"  value="{$res.kefu_phone.id}"   >

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->preferential_goods}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="active_name"  value="{$res.active_name.value}"  >
                                                <input type="hidden"  name="active_goods_id"  value="{$res.active_goods.id}"   >

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> {$language1->hot_selling_goods}：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="hot_name"  value="{$res.hot_name.value}"  >
                                                <input type="hidden"  name="hot_goods_id"  value="{$res.hot_goods.id}"   >

                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                                <a href="admin.php?app=default&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                                                <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> {$language2->save}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}
            <script src="{$STATIC_URL}/plugin/ajaxfileupload/ajaxfileupload.js"></script>
            <div class="control-sidebar-bg"></div>
        </div>

        {literal}

        <script type="text/javascript">
            $(function() {
                //图片上传
                $("#validate").click(function() {

                    if ($("#file1").val().length > 0) {
                        $.ajaxFileUpload
                                (
                                        {
                                            url: 'admin.php?app=webconfig&act=upload', //用于文件上传的服务器端请求地址
                                            secureuri: false, //是否需要安全协议，一般设置为false
                                            fileElementId: 'file1', //文件上传域的ID
                                            dataType: 'JSON', //返回值类型 一般设置为json
                                            data: {
                                                image_id: $('#image_id').val()
                                            },
                                            success: function(obj, status)  //服务器成功响应处理函数
                                            {
                                                //alert(obj);
                                                var data = eval('(' + obj + ')'); //由JSON字符串转换为JSON对象
                                                //alert(data);
                                                if (data.status == 'error') {
                                                    var d = $.dialog({
                                                        content: '<div class="text-center">' + data.message + '</div>',
                                                        title: false, // hides the title.
                                                        closeIcon: false, // hides the close icon.
                                                        columnClass: 'xsmall',
                                                        onOpen: function() {
                                                            setTimeout(function() {
                                                                d.close();
                                                            }, 1000);
                                                        }
                                                    });
                                                    return false;
                                                }
                                                //                                alert(data.image_id);
                                                $("#img1").attr("src", data.url);
                                                $("#img1").show();
                                                $("#img1").attr("width", '100px');
                                                $("#img1").attr("height", '100px');
                                                $("#image_id").val(data.url);
                                                $("#img1").attr("style", 'display:block');
                                            },
                                            error: function(data, status, e)//服务器响应失败处理函数
                                            {
                                                alert(e);
                                            }
                                        }
                                )
                        return false;
                    } else {
                        var d = $.dialog({
                            content: '<div class="text-center">{$language1->select_picture}</div>',
                            title: false, // hides the title.
                            closeIcon: false, // hides the close icon.
                            columnClass: 'xsmall',
                            onOpen: function() {
                                setTimeout(function() {
                                    d.close();
                                }, 1000);
                            }
                        });
                        return false;
                    }
                });

                //ico图片
                $("#validate2").click(function() {

                    if ($("#file2").val().length > 0) {
                        $.ajaxFileUpload
                                (
                                        {
                                            url: 'admin.php?app=webconfig&act=upload2', //用于文件上传的服务器端请求地址
                                            secureuri: false, //是否需要安全协议，一般设置为false
                                            fileElementId: 'file2', //文件上传域的ID
                                            dataType: 'JSON', //返回值类型 一般设置为json
                                            data: {
                                                image_id: $('#image_id2').val()
                                            },
                                            success: function(obj, status)  //服务器成功响应处理函数
                                            {
                                                //alert(obj);
                                                var data = eval('(' + obj + ')'); //由JSON字符串转换为JSON对象
                                                //alert(data);
                                                if (data.status == 'error') {
                                                    var d = $.dialog({
                                                        content: '<div class="text-center">' + data.message + '</div>',
                                                        title: false, // hides the title.
                                                        closeIcon: false, // hides the close icon.
                                                        columnClass: 'xsmall',
                                                        onOpen: function() {
                                                            setTimeout(function() {
                                                                d.close();
                                                            }, 1000);
                                                        }
                                                    });
                                                    return false;
                                                }
                                                //                                alert(data.image_id);
                                                $("#img2").attr("src", data.url);
                                                $("#img2").show();
                                                $("#img2").attr("width", '100px');
                                                $("#img2").attr("height", '100px');
                                                $("#image_id2").val(data.url);
                                                $("#img2").attr("style", 'display:block');
                                            },
                                            error: function(data, status, e)//服务器响应失败处理函数
                                            {
                                                alert(e);
                                            }
                                        }
                                )
                        return false;
                    } else {
                        var d = $.dialog({
                            content: '<div class="text-center">{$language1->select_picture}</div>',
                            title: false, // hides the title.
                            closeIcon: false, // hides the close icon.
                            columnClass: 'xsmall',
                            onOpen: function() {
                                setTimeout(function() {
                                    d.close();
                                }, 1000);
                            }
                        });
                        return false;
                    }
                });

            })
        </script>
        {/literal}
    </body>
</html>


