<!doctype html>
<html lang="en">
<head>
    {include file="public/header1.html"}
    <style media="print">
    </style>
    <style type="text/css" >
        /*公用base*/
        /*body{ background:#fff; font-size:12px; font-family:'Microsoft YaHei',"宋体",Verdana, Arial; margin:0; padding:0; color:#000; }*/
        /*h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,p{*/
        /*margin:0; padding:0; border:none; list-style-type:none;*/
        /*}*/
        a{ text-decoration: none;color:#000;cursor: pointer; }
        a:hover{ color: #e32a2f; }
        .f-fl{ float:left; }
        .f-fr{ float:right; }
        .clearfix:after{
            content:"."; display:block; height:0; clear:both;
            visibility:hidden;
        }
        *html .clearfix{
            height:1%;
        }
        *+html .clearfix{
            height:1%;
        }
        .appointment-sucess{ width: 198px;padding:0 15px 15px 15px;font-size: 12px; }
        .info-box ul li{ margin-bottom: 20px; }
        .info-box ul li p{ margin-top: 5px; }
        .info-box .right{ font-weight: bold; }
        .er-box img { width: 198px;height: 198px; margin-top: -8px; }
        .er-box p{ color: red;margin: 16px 0; }
        .color-r{ color: red; }
        .btn-print{ color: #fff;background-color: #2086ee;border-radius: 6px;border: none;width: 70px;height: 25px;line-height: 25px;cursor: pointer; }
        .noprint{ display: none; }
        .btn-print {
            color: #fff;
            background-color: #2086ee;
            border-radius: 40px;
            border: none;
            width: 100px;
            height: 35px;
            line-height: 35px;
            cursor: pointer;
        }
        .main-header .logo{
            background-color: #367fa9;
            color: #fff;
        }
        .navbar.navbar-static-top{
            background-color: #367fa9;
            color: #fff;
        }
        .main-header .sidebar-toggle{
            color: #fff;
        }
        .navbar-nav>li>a{
            color: #fff;
        }
        .navbar-nav>li>a:hover{
            background-color:rgba(0,0,0,0.2) ;
            color: #fff;
        }
        .sidebar-menu>li.header{
            color: #4b646f;
            background: #1a2226;
        }
        .main-sidebar, .left-side{
            background-color: #222d32;
        }
        .sidebar-menu>li>a{
            color: #b8c7ce;
        }
        .sidebar-menu>li>a:hover{
            color: #fff;
        }
        .sidebar-menu .treeview-menu>li>a{
            color: #8aa4af
        }
        .sidebar-menu .treeview-menu>li>a:hover{
            color: #fff;
        }
        #printpage{
            display: inline-block;
            vertical-align: top;
        }
        #printpages{
            display: inline-block;
            vertical-align: top;
            margin-left: 178px;
            padding-top: 20px;
        }
        .print-size{
            background-color: #fff;
            width: 240px;
        }
        .size-content{
            padding-top: 4px;
            min-height: 200px;
        }
        .content{
            min-height: 136px;
        }
    </style>
    <link rel="stylesheet" href="{$STATIC_URL}/jquery.mloading.css">
</head>
<body>
<div class="wrapper">
    {include file="public/title.html"}
    {include file="public/menu.html"}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                windows打印
            </h1>
            <ol class="breadcrumb">
                <li><a href="store.php?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> {$langdata.gift__home}</a></li>
                <li class="active">windows打印</li>
                <li class="active">windows打印</li>
            </ol>
        </section>
        <section class="content">
            <div id="printpage">
                <div class="noprint">此处不打印</div>
                <!-- sucess-box -->
                <div class="appointment-sucess">
                    <!--                 er-box left-->
                    <div class="er-box">
                        <p></p>
                    </div>
                    <!-- info-box -->
                    <div class="info-box" style="width: 320px;padding: 20px;margin-left: 70px;">
                        <ul >
                            <li class="clearfix">
                                <span class="f-fl left">订 单 号 :</span>
                                <span class="f-fr right">{$print_data.order_sn}</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">取 货 码 :</span>
                                <span class="f-fr right">{$print_data.number_order}</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">订单商品 :</span>
                                {foreach $print_data['goods_list'] as  $good}
                                <span class="f-fr right">
                                    <div class="left fl ">
                                        <div class="content fl">
                                            <p><a href="##" class="f-weight">{$good['goods_name']}</a><span>  &nbsp;&nbsp;({$langdata.order_Spec}：{$good['spec_key_name']})</span></p>
                                            <p align="right"> X <span class="count">{$good.goods_num}</span></p>
                                            <p align="right" class="color-r">{$good.goods_pay_price}</p>
                                        </div>
                                    </div>
                                </span>
                                {/foreach}
                            </li>
                            {foreach $print_data['gift'] as  $gift}
                            <li class="clearfix">
                                <span class="f-fl left">赠品 :</span>
                                <span class="f-fr right">
                                    <div class="leftbox fl">
                                        <p class="red">{$langdata.order_gift}</p>
                                        <div class="item mt15 clearfix">
                                            <div class="left fl ">
                                                <div class="content fl">
                                                    <p><a href="##" class="f-weight">{$gift.goods_name}</a><span>  &nbsp;&nbsp;{$langdata.order_Spec}：({$gift.goods_key_name})</span></p>
                                                    <p align="right">{$langdata.order_Number} X <span class="count">{$gift.gift_num}</span></p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </span>
                            </li>
                            {/foreach}
                            <li class="clearfix">
                                <span class="f-fl left">订单状态:</span>
                                <span class="f-fr right">{$print_data['format_order_state']}</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">支付方式:</span>
                                <span class="f-fr right">{$print_data.format_payment_type}</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">用 户 名 :</span>
                                <span class="f-fr right">{$print_data.username}</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">用户电话 :</span>
                                <span class="f-fr right">{$print_data.format_phone}</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">商品总额:</span>
                                <span class="f-fr right color-r">￥{$print_data.goods_amount}</span>
                            </li>
                            {if $print_data['fx_user_id']}
                                <li class="clearfix">
                                    <span class="f-fl left">优惠金额:</span>
                                    <span class="f-fr right color-r">￥{$print_data.fx_money}</span>
                                </li>
                            {/if}
                            {if $print_data['sendout']==2}
                                <li class="clearfix">
                                    <span class="f-fl left">配送费:</span>
                                    <span class="f-fr right color-r">￥{$print_data.shipping_fee}</span>
                                </li>
                            {/if}
                            {if $print_data['discount'] != '0'}
                                <li class="clearfix">
                                    <span class="f-fl left">到店优惠:</span>
                                    <span class="f-fr right color-r">￥{$print_data.discount}</span>
                                </li>
                            {/if}
                            {if $print_data['point_discount'] != '0'}
                                <li class="clearfix">
                                    <span class="f-fl left">积分抵扣:</span>
                                    <span class="f-fr right color-r">￥{$print_data.point_discount}</span>
                                </li>
                            {/if}
                            {if $print_data['coupon_discount'] != '0'}
                                <li class="clearfix">
                                    <span class="f-fl left">电子券优惠:</span>
                                    <span class="f-fr right color-r">￥{$print_data.coupon_discount}</span>
                                </li>
                            {/if}
                            <li class="clearfix">
                                <span class="f-fl left">支付总额:</span>
                                <span class="f-fr right color-r">￥{$print_data.order_amount}</span>
                            </li>
                            {if $print_data.seller_msg !=''}
                            <li class="clearfix">
                                <span class="f-fl left">用户留言:</span>
                                <span class="f-fr right">{$print_data.seller_msg}</span>
                            </li>
                            {/if}
                            <li class="clearfix">
                                <span class="f-fl left">客户签字：</span>
                                <span class="f-fr right color-r"></span>
                            </li>
                            {if $print_data['sendout'] == 1}
                            <li class="clearfix">
                                <span class="f-fl left">配送属性:</span>
                                <span class="f-fr right color-r">门店自取</span>
                            </li>
                            <li class="clearfix">
                                <span class="f-fl left">自取时间:</span>
                                <span class="f-fr right color-r">{$print_data.format_sendout_time}</span>
                            </li>
                            {/if}
                            {if $print_data['sendout']==2}
                                <li class="clearfix">
                                    <span class="f-fl left">配送属性:</span>
                                    <span class="f-fr right color-r">门店直配</span>
                                </li>
                                <li class="clearfix">
                                    <span class="f-fl left">配送地信息:</span>
                                    <span class="f-fr right color-r">{$print_data.format_delivery.name}</span>
                                </li>
                                <li class="clearfix">
                                    <span class="f-fl left"></span>
                                    <span class="f-fr right color-r">{$print_data.format_delivery.phone}</span>
                                </li>
                                <li class="clearfix">
                                    <span class="f-fl left"></span>
                                    <span class="f-fr right color-r">{$print_data.format_delivery.address}</span>
                                </li>
                            {/if}
                        </ul>
                    </div>
                </div>
                <textarea id="textarea1" style="display: none">
                    <table style="width: 92%;margin-left:-40px;">
                        {foreach from=$print_all item=item}
                            <tr>
                                <td height="10">
                                    <div id="js-content">
                                        <span style="display: block;margin: 10px;text-align: center;font-weight: bold"><font face="楷体" size="3">{$item['store_name']}</font></span>
                                        <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">订 单 号:<span style="position: absolute;right: 0">{$item['order_sn']}</span></font></span>
                                         <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">取 货 码:<span style="position: absolute;right: 0">{$item['number_order']}</span></font></span>
                                        <span style="display: block;margin-bottom: 5px;"><font face="楷体" size="3">订单商品: </font></span>
                                        {foreach from=$item['goods_list'] item=val}
                                            <div style="width:100%;height: 50px;">
                                                <span style="display: block;margin: 0 0 5px 15px"><font face="楷体" size="2"><b>{$val['goods_name']}</b></font><font face="楷体" size="1">&nbsp;&nbsp;&nbsp;规格:（{$val['spec_key_name']}）</font></span>
                                                <span style="display: block;margin-bottom: 5px;position: relative"><font face="楷体" size="3"><span style="position: absolute;right: 0"> X {$val['goods_num']}&nbsp&nbsp&nbsp&nbsp{$val['goods_pay_price']}</span></font></span>
                                            </div>
                                        {/foreach}
                                        <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">订单状态: <span style="position: absolute;right: 0">{$item['format_order_state']}</span></font></span>
                                        <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">支付方式: <span style="position: absolute;right: 0">{$print_data['format_payment_type']}</span></font></span>
                                        <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">用 户 名: <span style="position: absolute;right: 0">{$item['username']}</span></font></span>
                                        <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">用户电话: <span style="position: absolute;right: 0">{$item['format_phone']}</span></font></span>
                                        <span style="display: block;margin: 5px 0;position: relative;"><font face="楷体" size="3">商品总额: <span style="position: absolute;right: 0">{$item['goods_amount']}</span></font></span>
                                        {if $item['fx_user_id']}
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">优惠金额: <span style="position: absolute;right: 0">{$item['fx_money']}</span></font></span><span  style="display: block;overflow: hidden;border: 1px dashed #000000;height: 1px;"></span>
                                        {/if}
                                        {if $item['sendout'] == 2}
                                        <span style="display: block;margin: 5px 0;position: relative;"><font face="楷体" size="3">配 送 费: <span style="position: absolute;right: 0">{$item['shipping_fee']}</span></font></span>
                                        {/if}
                                        {if $item['discount'] != '0'}
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">到店优惠: <span style="position: absolute;right: 0">{$item['discount']}</span></font></span>
                                        {/if}
                                        {if $item['point_discount'] != '0'}
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">积分抵扣: <span style="position: absolute;right: 0">{$item['point_discount']}</span></font></span>
                                        {/if}
                                        {if $item['coupon_discount'] != '0'}
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">电子券优惠: <span style="position: absolute;right: 0">{$item['coupon_discount']}</span></font></span>
                                        {/if}
                                        <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">支付总额: <span style="position: absolute;right: 0">{$item['order_amount']}</span></font></span>
                                         {if $item['seller_msg'] != ''}
                                            <div style="margin-bottom: 5px">
                                                <span style="display: block;"><font face="楷体" size="3">用户留言:{$item['seller_msg']}</font></span>
                                            </div>
                                        {/if}
                                        <span style="display: block;margin-bottom: 5px"><font face="楷体" size="3">客户签字: </font></span>
                                        {if $item['sendout'] == 1}
                                            <span style="display: block;overflow: hidden;border: 1px dashed #000000;height: 1px;margin-bottom: 5px"></span>
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">配送属性: <span style="position: absolute;right: 0">门店自取</span></font></span>
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">自取时间: <span style="position: absolute;right: 0">{$print_data['format_sendout_time']}</span></font></span>
                                        {/if}
                                        {if $item['sendout']==2}
                                            <span style="display: block;overflow: hidden;border: 1px dashed #000000;height: 1px;margin-bottom: 5px"></span>
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">配送属性: <span style="position: absolute;right: 0">门店直配</span></font></span>
                                            <span style="display: block;margin-bottom: 5px;position: relative;"><font face="楷体" size="3">配送信息: <span style="position: absolute;right: 0"><b>{$print_data['format_delivery']['name']}</b></span></font></span>
                                            <span style="display: block;margin-bottom: 25px;position: relative;"><font face="楷体" size="3"><span style="position: absolute;right: 0"><b>{$print_data['format_delivery']['phone']}</b></span></font></span>
                                            <span style="display: block;margin-bottom: 55px;position: relative;"><font face="楷体" size="3"><span style="position: absolute;right: 0"><b>{$print_data['format_delivery']['address']}</b></span></font></span>
                                        {/if}
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                     </table>
                </textarea>
                <div style="width: 208px;margin-bottom: 30px;margin-left: 194px;" id="js-p1" js-print-id1="">
                    <input type="button" value="打印小票"  onclick="PrintByPrinterIndex();javascript :history.back(-1);" class="btn-print f-fr">
                    <!--<input type="button" value="打开钱箱"  onclick="PrintByPrinterIndex_m()" class="btn-print f-fr"/>-->
                </div>
            </div>
            <div id="printpages">
                <!-- sucess-box -->
                <div class="appointment-sucess print-size">
                    <!-- er-box left-->
                    <!-- info-box -->
                    <div class="spec" style="padding-top: 20px;">
                        <ul>
                            {foreach from=$print_data['goods_list'] item=value}
                                <li class="clearfix">
                                    <!--<span style="margin-top: 0;margin-left: 13px;margin-bottom: 0;">{$info1.buyer_phone}&nbsp;-->
                                        <!--{if $info1.sendout==1}-->
                                           <!--自提-->
                                        <!--{elseif $info1.sendout==2}-->
                                           <!--配送-->
                                        <!--{/if}-->
                                        <!--&nbsp;{if $info1.pei_time>0}{$info1.pei_time|date_format:"H:i"}{/if}-->
                                    <!--</span>-->
                                    <div class="left fl ">
                                        <div class="content size-content fl">
                                            <p><span>{if $print_data.sendout == 1}门店自取{/if}{if $print_data.sendout == 2}门店直配{/if}&nbsp&nbsp&nbsp&nbsp{$print_data.phone}</span></p>
                                            <span>({$print_data.store_name})&nbsp;</span>
                                            <span>{$print_data.store_mobile}</span>
                                            <p><h2 style="font-size:15px;font-weight:bold;margin-top:0">{$value['goods_name']}</h2></p>
                                            <p>&nbsp;&nbsp;&nbsp;({$value['spec_key_name']})</p>
                                            <p style="text-align:right"><span style="font-size:16px;font-weight:bold;">{$value.goods_pay_price}</span></p>
                                            <p><span>{$value['current_num']}/{$print_data['total_num']}</span> <span style="color: #000;" class="f-fr right">{$print_data.add_time|date_format:"%Y-%m-%d %H:%M"}</span></p>
                                        </div>
                                    </div>
                                </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
                <textarea id="textarea2" style="display: none">
                    <table style="margin-left: 5px;">
                        {$i = 1}
                        {foreach from=$print_all item=value}
                            {foreach from=$value['goods_list'] item=good}
                                {for $foo=1 to $good['goods_num']}
                                    <tr>
                                        <td style="width:100%">
                                            <div id="js-content2" style="width:100%;height:98px;overflow: hidden;position:relative;font-size:10px;">
                                                <span style="display: block;width:100%;margin-bottom: 2px;position: relative;">
                                                    <font face="黑体">{if $value['sendout'] == 1}门店自取{/if}{if $value['sendout'] == 2}门店直配{/if}&nbsp&nbsp&nbsp&nbsp{$value['format_phone']}<span style="position: absolute;right: 3"></span>
                                                    </font>
                                                </span>
                                                <span class="storeN" style="display: block;width:100%;position: relative;height: 25px"><span face="黑体" style="">{$value['store_name']}</span><span class="storeP" style="position: absolute;right:0;top: 10px;">{$value['store_mobile']}</span></span>
                                                <div style="clear:both;width:130px;display:block">
                                                    <span style="overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2"><font face="黑体" style="overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2">{$good['goods_name']}</font></span>
                                                </div>
                                                <div style="width:100%">
                                                    <span style="width:100%;overflow: hidden;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2"><font face="黑体" style="overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2">{$good['spec_key_name']}</font></span>
                                                </div>
                                                <div style="position:absolute;top:70px;width:100%">
                                                    <div style="width:100%;display: block;text-align:right;width:100%;><font face="黑体" ><span style="background-color:#FFF;"> ￥ {$good['goods_pay_price']}</span></font></div>
                                                    <div style="width:100%;display: block;margin-top: 0px;"><span style="width:30%">{$i++}/{$print_data['total_num']}</span><span style="width:70%;text-align:right">{$value['add_time']|date_format:"%Y-%m-%d %H:%M"}</span></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {/for}
                            {/foreach}
                        {/foreach}
                    </table>
                </textarea>
                <div style="width: 208px;margin-bottom: 30px;margin-left: 30px;margin-top: 30px;" id="js-p2" js-print-id2="">
                    <input type="button" value="打印标签"  onclick="PrintByPrinterIndex_biaoqian();javascript :history.back(-1);" class="btn-print f-fr">
                    <input type="button" value="一并打印"  onclick="PrintByPrinterIndex();PrintByPrinterIndex_biaoqian();javascript :history.back(-1);" class="btn-print f-fr" style="background: green"/>
                </div>
            </div>

        </section>
    </div>
    {include file="public/footer.html"}
</div>
<script src="{$STATIC_URL}/plugin/lodop/LodopFuncs.js"></script>
<script src="{$STATIC_URL}/jquery.mloading.js"></script>
<script language="javascript" type="text/javascript">
    var LODOP; //声明为全局变量

    //计算打印控件个数
    function printerShow() {
        LODOP=getLodop();
        var printNum = LODOP.GET_PRINTER_COUNT();
        if (!printNum){
            return false;
        }
        for (var i=0;i < printNum;i++){
            if( LODOP.GET_PRINTER_NAME(i) == 'FK-80x Printer'){
                $('#js-p1').attr('js-print-id1', i);
            } else if(LODOP.GET_PRINTER_NAME(i) == 'Fujitsu LPK140'){
                $('#js-p2').attr('js-print-id2', i);
            }
        }
    };

    $(window).load(function(){
        printerShow();
    })

    function PrintByPrinterIndex() {
        var intPrinterIndex = $('#js-p1').attr('js-print-id1');
        CreatePrintPage();
        if (LODOP.SET_PRINTER_INDEX(intPrinterIndex))
            LODOP.PRINT();
    };

    function CreatePrintPage() {
        LODOP = getLodop();
        LODOP.PRINT_INIT("复坤打印机");
        LODOP.ADD_PRINT_HTM(10,55,"100%","100%",document.getElementById("textarea1").value);
        $("body").mLoading({
            text:'票据打印中，请稍等...'
        });
    };

    function PrintByPrinterIndex_biaoqian() {
        var intPrinterIndex = $('#js-p2').attr('js-print-id2');
        CreatePrintPage_biaoqian();
        if (LODOP.SET_PRINTER_INDEX(intPrinterIndex))
            LODOP.PRINT();
    };

    function CreatePrintPage_biaoqian() {
        LODOP = getLodop();
        LODOP.PRINT_INIT("富士通打印机");
        LODOP.ADD_PRINT_HTM(0,0,"100%","100%",document.getElementById("textarea2").value);
        $("body").mLoading({
            text:'票据打印中，请稍等...'
        });
    };
</script>
</body>
</html>
