<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
        <style>

        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Group buying list
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="store.php?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Promotion management</li>
                        <li class="active">Group buying list</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <form class="form-inline col-sm-10 col-md-11 no-padding">
                                        <input type='hidden' name='app' value='groupbuy'>
                                        <input type='hidden' name='act' value='grouplist'>
                                        <input type="hidden" name = "delAll" value="dele">
                                        <input type="hidden" name = "lang_id" value="{$lang_id}">

                                        <!--<div class="form-group form-group-sm form-mar">-->
                                        <!--<small class="control-label">团购标题：</small>-->
                                        <!--<input type="text" class="form-control" name="title" value="{$title}">-->
                                        <!--</div>-->

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">Start date of group buying：</small>
                                            <input type="text" class="form-control"  id="datepicker1"  name='start_time' value='{$stime}' >
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">End date of group purchase：</small>
                                            <input type="text" class="form-control"  id="datepicker2"  name='end_time' value='{$etime}' >
                                        </div>


                                        <div class="form-group form-group-sm form-mar">
                                            <small class="control-label">Group buying status：</small>
                                            <select class="form-control" name="is_end"  >
                                                <option value="0" >--Please choose--</option>
                                                <option value="1" {if $isend ==1}selected{/if} >Have in hand</option>
                                                <option value="2" {if $isend ==2}selected{/if} >Has ended</option>
                                                <option value="3" {if $isend ==3}selected{/if} >Not started</option>

                                            </select>
                                        </div>

                                        <div class="form-group form-group-sm form-mar">
                                            <button type="submit" class="btn btn-default btn-sm">
                                                search <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>

                                    <div class="col-sm-2  col-md-1 no-padding">
                                        <a class="btn btn-primary pull-right btn-sm" href="?app=groupbuy&act=add&lang_id={$lang_id}&p={$p}"   role="button"><i class="fa fa-plus"></i> Add group buying</a>
                                    </div>

                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <!--<th><input type="checkbox" name="" id="all"/></th>-->
                                                    <th>Serial number</th>
                                                    <th>Group buying title</th>
                                                    <th>start time</th>
                                                    <th>End time</th>
                                                    <th>Group purchase price</th>
                                                    <th>The inventory</th>
                                                    <th>offered</th>
                                                    <!--<th>折扣</th>-->
                                                    <th>Group purchase goods</th>
                                                    <th>Commodity original price</th>
                                                    <th>Group buying status</th>
                                                    <th>Adding time</th>
                                                    <th>operation</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$list item=item}
                                            <tr>
                                                <!--<td><input type="checkbox" name="check-name" value="{$item.id}" /></td>-->
                                                <td>{$item.sort_id}</td>
                                                <td >{$item.title}</td>
                                                <td>{$item.start_time|date_format:"%Y-%m-%d %H:%M "}</td>
                                                <td>{$item.end_time|date_format:"%Y-%m-%d %H:%M "}</td>
                                                <td>{$symbol}{$item.group_goods_price}</td>
                                                <td>{$item.group_goods_num}</td>
                                                <td>{$item.cantan_num}</td>
                                                <!--<td>{$item.rebate}</td>-->
                                                <td>{$item.goods_name}</td>
                                                <td>{$symbol}{$item.goods_price}</td>
                                                <td>{$item.status}</td>
                                                <td>{$item.add_time|date_format:"%Y-%m-%d"}</td>
                                                <td>


                                                    <a href="?app=groupbuy&act=edit&id={$item.id}&lang_id={$lang_id}&p={$p}"  data-toggle="tooltip" class="btn btn-xs btn-success "   style="overflow: hidden; position: relative;"  >Edit</a>


                                                    {if $item.is_end != 1 }
                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-danger "  onclick="shanchu({$item.id});"   style="overflow: hidden; position: relative;"  >Delete</a>
                                                    {/if}
                                                </td>

                                            </tr>
                                            {/foreach}

                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    <!--<a href="##"  class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> Batch deletion</a>-->
                                    {$page_html}
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
        </div>
        <script type="text/javascript">

            /*删除*/
            function shanchu(id) {
                deletes('?app=groupbuy&act=dele&lang_id={$lang_id}&id=' + id);
            }

        </script>

        <script  type="text/javascript" >

            $(function() {

                $('#datepicker1').datepicker({
                    autoclose: true,
                    format: 'yyyy/mm/dd'
                });

                $('#datepicker2').datepicker({
                    autoclose: true,
                    format: 'yyyy/mm/dd'
                });

            });

        </script>

    </body>
</html>
