<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
        <style>
            .layui-layer-ico.layui-layer-close.layui-layer-close1{
            display: none;
        }
        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Main content -->
                <section class="content index">
                    <div class="row indexbox1">
                        <div class="col-xs-12 ">
                            <div class="form-inline">
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label">语言切换：</small>
                                    <select class="form-control" name="lang_id" id='lang_id' >
                                        <option value="0" {if $lang_id == 0}selected{/if}>--中文--</option>
                                        <option value="1" {if $lang_id == 1}selected{/if}>--English--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item mt30">
                                <h3 class="mt30">待办事项：</h3>
                                <div class="col-md-offset-1 clearfix">
                                    <div class="col-md-4">
                                        <div class="it clearfix" style="background-color: #00c0ef;">
                                            <div class="left pull-left">
                                                <p class="name">待付款数</p>
                                                <p class="text-center">{$backlogDaFuCount}笔</p>
                                            </div>
                                            <div class="right pull-right">
                                                <i class="ico ico-1"></i>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="it clearfix" style="background-color: #638ccc;">
                                            <div class="left pull-left">
                                                <p class="name">待发货数</p>
                                                <p class="text-center">{$backlogDaFaCount}笔</p>
                                            </div>
                                            <div class="right pull-right">
                                                <i class="ico ico-2"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="it clearfix" style="background-color: #de8f11;">
                                            <div class="left pull-left">
                                                <p class="name">待退货数</p>
                                                <p class="text-center">{$backlogDaTuiCount}笔</p>
                                            </div>
                                            <div class="right pull-right">
                                                <i class="ico ico-3"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item mt30">
                                <h3 class="mt30">商品信息：</h3>
                                <div class="col-md-offset-1 clearfix">
                                    <div class="col-md-4">
                                        <div class="it clearfix" style="background-color: #fea6b0;">
                                            <div class="left pull-left">
                                                <p class="name">在售商品数</p>
                                                <p class="text-center">{$onSaleGoodsCount}件</p>
                                            </div>
                                            <div class="right pull-right">
                                                <i class="ico ico-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="it clearfix" style="background-color: #f17d2e;">
                                            <div class="left pull-left">
                                                <p class="name">推荐商品</p>
                                                <p class="text-center">{$recommendGoodsCount}件</p>
                                            </div>
                                            <div class="right pull-right">
                                                <i class="ico ico-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs clearfix mt30">
                                <h3 class="pull-left left" style="margin-top: 0;">交易状况</h3>
                                <div class="pull-right right">
                                    <span {if !$setting}class="active"{/if} cla="day">本日</span>
                                    <span cla="yes">昨日</span>
                                    <span cla="week">本周</span>
                                    <span cla="month">本月</span>
                                    <span cla="year">本年</span>
                                    <span {if $setting}class="active"{/if}>自定义</span>
                                </div>
                            </div>
                            <div>
                                <div class="tabsbox" style="display: block">
                                    <div class="clearfix sousuo" style="display: none">
                                        <form class="form-inline  col-md-8 col-md-offset-1">
                                            <input type="hidden" name="setting" value="setting">
                                            <div class="form-group form-group-sm form-mar">
                                                <small class="control-label">开始时间：</small>
                                                <input type="text" class="form-control" id="datepicker1" name="start_time" value="{$startTime}" autocomplete="off">
                                            </div>
                                            <div class="form-group form-group-sm form-mar">
                                                <small class="control-label">结束时间：</small>
                                                <input type="text" class="form-control" id="datepicker2" name="end_time" value="{$endTime}" autocomplete="off">
                                            </div>
                                            <div class="form-group form-group-sm form-mar">
                                                <a class="btn btn-primary btn-sm" id="search">
                                                    搜索 <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="item mt30">
                                        <h3 class="mt30">订单信息：</h3>
                                        <div class="col-md-offset-1 clearfix">
                                            <div class="col-md-5">
                                                <i class="ico-1 ic"></i><span class="show-1">下单笔数：{$upOrderInfo['upOrderNum']}笔</span>
                                                <span class="nu"><span class="show-2">(较前期{if $upOrderInfo['upOrderNumSort']}{$upOrderInfo['upOrderNumSort']}{/if} {$upOrderInfo['upOrderNumPercent']})</span></span>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-5">
                                                <i class="ico-1 ic"></i><span class="show-3">下单人数：{$upOrderInfo['upOrderMem']}人</span>
                                                <span class="nu"><span class="show-4">(较前期{if $upOrderInfo['upOrderMemSort']}{$upOrderInfo['upOrderMemSort']}{/if} {$upOrderInfo['upOrderMemPercent']})</span></span>
                                            </div>
                                            <div class="col-md-5 mt30">
                                                <i class="ico-1 ic"></i><span class="show-5">下单金额：{$upOrderInfo['upOrderAmount']}元</span>
                                                <span class="nu"><span class="show-6">(较前期{if $upOrderInfo['upOrderAmountSort']}{$upOrderInfo['upOrderAmountSort']}{/if} {$upOrderInfo['upOrderAmountPercent']})</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item mt30">
                                        <h3 class="mt30">付款信息：</h3>
                                        <div class="col-md-offset-1 clearfix">
                                            <div class="col-md-5">
                                                <i class="ico-1 ic"></i><span class="show-7">付款笔数：{$payOrderInfo['upOrderNum']}笔</span>
                                                <span class="nu"><span class="show-8">(较前期{if $payOrderInfo['upOrderNumSort']}{$payOrderInfo['upOrderNumSort']}{/if} {$payOrderInfo['upOrderNumPercent']})</span></span>
                                            </div>
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-5">
                                                <i class="ico-1 ic"></i><span class="show-9">付款人数：{$payOrderInfo['upOrderMem']}人</span>
                                                <span class="nu"><span class="show-10"><span class="show-12">(较前期{if $payOrderInfo['upOrderMemSort']}{$payOrderInfo['upOrderMemSort']}{/if} {$payOrderInfo['upOrderMemPercent']})</span></span>
                                            </div>
                                            <div class="col-md-5 mt30">
                                                <i class="ico-1 ic"></i><span class="show-11">付款金额：{$payOrderInfo['upOrderAmount']}元</span>
                                                <span class="nu"><span class="show-14">(较前期{if $payOrderInfo['upOrderAmountSort']}{$payOrderInfo['upOrderAmountSort']}{/if} {$payOrderInfo['upOrderAmountPercent']})</span></span>
                                            </div>
                                            <div class="col-md-2 mt30">
                                            </div>
                                            <div class="col-md-5 mt30">
                                                <i class="ico-1 ic"></i><span class="show-13">付款件数：{$payOrderInfo['totalGoodsNum']}件</span>
                                                <span class="nu">(较前期{if $payOrderInfo['totalGoodsNumSort']}{$payOrderInfo['totalGoodsNumSort']}{/if} {$payOrderInfo['totalGoodsNumPercent']})</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row indexbox2">
                        <div class="col-xs-12">
                            <h3 style="margin-top: 0;" class="j-pic1">交易趋势分析：
                                <span type="submit" class="btn btn-primary btn-sm ch-btn active" name="day"  cla="day">本日</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="yes" cla="yes">昨日</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="week" cla="week">本周</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="month" cla="month">本月</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="year" cla="year">本年</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" cla="setting">自定义</span>
                            </h3>
                            <div class="clearfix j-pic1-sousuo" style="display: none">
                                <form class="form-inline  col-md-8 col-md-offset-1">
                                    <input type="hidden" name="setting" value="setting">
                                    <div class="form-group form-group-sm form-mar">
                                        <small class="control-label">开始时间：</small>
                                        <input type="text" class="form-control" id="datepicker11" name="start_time" value="{$startTime}">
                                    </div>
                                    <div class="form-group form-group-sm form-mar">
                                        <small class="control-label">结束时间：</small>
                                        <input type="text" class="form-control" id="datepicker22" name="end_time" value="{$endTime}">
                                    </div>
                                    <div class="form-group form-group-sm form-mar">
                                        <a class="btn btn-primary btn-sm" id="search1">
                                            搜索 <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="main1" style="width: 1000px;height:400px;"></div>

                            <h3 class="mt60 j-pic2">商品TOP10：
                                <span type="submit" class="btn btn-primary btn-sm ch-btn active" name="day"  cla="day">本日</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="yes" cla="yes">昨日</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="week" cla="week">本周</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="month" cla="month">本月</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" name="year" cla="year">本年</span>
                                <span type="submit" class="btn btn-primary btn-sm ch-btn" cla="setting">自定义</span>
                            </h3>
                            <div class="clearfix j-pic2-sousuo" style="display: none">
                                <form class="form-inline  col-md-8 col-md-offset-1">
                                    <input type="hidden" name="setting" value="setting">
                                    <div class="form-group form-group-sm form-mar">
                                        <small class="control-label">开始时间：</small>
                                        <input type="text" class="form-control" id="datepicker111" name="start_time" value="{$startTime}">
                                    </div>
                                    <div class="form-group form-group-sm form-mar">
                                        <small class="control-label">结束时间：</small>
                                        <input type="text" class="form-control" id="datepicker222" name="end_time" value="{$endTime}">
                                    </div>
                                    <div class="form-group form-group-sm form-mar">
                                        <a class="btn btn-primary btn-sm" id="search2">
                                            搜索 <i class="fa fa-search"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                            <div id="main2" style="width: 1000px;height:400px;"></div>
                            <table class="table table-bordered look-table" >
                                <tr style="text-align: left">
                                    <td width="15"><label>排名</label></td>
                                    <td width="15%"><label>商品图片</label></td>
                                    <td width="40%"><label>商品名称</label></td>
                                    <td width="15%"><label>TOP10中占比</label></td>
                                    <td width="15%"><label>全体商品中占比</label></td>
                                </tr>
                                {if $top10['goodsData']}
                                {foreach from=$top10['goodsData'] key=key item=item}
                                <tr>
                                    <td>{$key+1}</td>
                                    <td><img src="{$item.original_img}" style="width: 60px!important;height: 60px"></td>
                                    <td>{$item.goods_name}</td>
                                    <td>{$item.percent_1}</td>
                                    <td>{$item.percent_2}</td>
                                </tr>
                                {/foreach}
                                {else}
                                <td>1</td>
                                <td colspan="2" style="text-align: center"><label>无数据</label></td>
                                <td>0.00%</td>
                                <td>0.00%</td>
                                {/if}
                            </table>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
        </div>
        <!-- ./wrapper -->
        {include file="public/footer.html"}
        <script>
            $('.j-area').change(function(){
                var area_id = $(this).val();
                var url = "admin.php?app=default&act=index&area_id="+area_id;
                location.href = url;
            })
            $('.j-store').change(function(){
                var store_id = $(this).val();
                var area_id = $('.j-area-v').val();
                var url = "admin.php?app=default&act=index&area_id="+area_id+"&store_id="+store_id;
                location.href = url;
            })

            $('.tabs .right span').click(function() {
                var area_id = $('.j-area-v').val();
                var store_id = $('.j-store-v').val();
//                var __this = $('.tabsbox').eq($(this).index());
                if( $(this).index() == 5 ){
                    $('.sousuo').show();
                } else {
                    $('.sousuo').hide();
                }
//                __this.show().siblings().hide();
                $('.tabs .right span').removeClass('active');
                $(this).addClass('active');
                var cla = $(this).attr('cla');
                if( $(this).index() != 5 ) {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "?app=default&act=index&opInfo=" + cla + "&area_id=" + area_id + '&store_id=' + store_id,
                        success: function (obj) {
                            var __up = obj.info.upOrderInfo;
                            var __pay = obj.info.payOrderInfo;
                            toReplace(__up, __pay);
                        }
                    });
                }
            })

            $('#datepicker1').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                clearBtn: true

            });

            $('#datepicker2').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                clearBtn: true

            });

            $('#datepicker11').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                clearBtn: true
            });

            $('#datepicker22').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                clearBtn: true
            });

            $('#datepicker111').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                clearBtn: true
            });

            $('#datepicker222').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                clearBtn: true
            });

            $('#search').click(function(){
                var startTime = $('#datepicker1').val();
                var endTime   = $('#datepicker2').val();
                if( startTime > endTime ){
                    return false;
                }
                if( !startTime || !endTime ){
                    return false;
                }
                var area_id = $('.j-area-v').val();
                var store_id = $('.j-store-v').val();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "?app=default&act=index&opInfo=setting&start_time="+startTime+"&end_time="+endTime+"&area_id=" + area_id + '&store_id=' + store_id,
                    success: function (obj) {
                        var __up = obj.info.upOrderInfo;
                        var __pay = obj.info.payOrderInfo;
                        toReplace(__up, __pay);
                    }
                });
            });

            function toReplace(__up, __pay){
                $('.show-1').html('下单笔数：' + __up.upOrderNum + '笔');
                $('.show-2').html('(较前期' + __up.upOrderNumSort + ' ' + __up.upOrderNumPercent + ')');
                $('.show-3').html('下单人数：' + __up.upOrderMem + '人');
                $('.show-4').html('(较前期' + __up.upOrderMemSort + ' ' + __up.upOrderMemPercent + ')');
                $('.show-5').html('下单金额：' + __up.upOrderAmount + '元');
                $('.show-6').html('(较前期' + __up.upOrderAmountSort + ' ' + __up.upOrderAmountPercent + ')');

                $('.show-7').html('付款笔数：' + __pay.upOrderNum + '笔');
                $('.show-8').html('(较前期' + __pay.upOrderNumSort + ' ' + __pay.upOrderNumPercent + ')');
                $('.show-9').html('付款人数：' + __pay.upOrderMem + '人');
                $('.show-10').html('(较前期' + __pay.upOrderMemSort + ' ' + __pay.upOrderMemPercent + ')');
                $('.show-11').html('付款金额：' + __pay.upOrderAmount + '元');
                $('.show-12').html('(较前期' + __pay.upOrderAmountSort + ' ' + __pay.upOrderAmountPercent + ')');
                $('.show-13').html('付款件数：' + __pay.totalGoodsNum + '件');
                $('.show-14').html('(较前期' + __pay.totalGoodsNumSort + ' ' + __pay.totalGoodsNumPercent + ')');
            }

            // 基于准备好的dom，初始化echarts实例
            var myChart1 = echarts.init(document.getElementById('main1'));
            // 指定图表的配置项和数据
            option1 = {
                title: {
                    text: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['下单笔数', '下单人数', '下单金额', '付款笔数', '付款人数', '付款金额', '付款件数']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: [{$trendInfo['xAxis']}]
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '下单笔数',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['a']}]
                    },
                    {
                        name: '下单人数',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['b']}]
                    },
                    {
                        name: '下单金额',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['c']}]
                    },
                    {
                        name: '付款笔数',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['d']}]
                    },
                    {
                        name: '付款人数',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['e']}]
                    }
                    ,
                    {
                        name: '付款金额',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['f']}]
                    }
                    ,
                    {
                        name: '付款件数',
                        type: 'line',
                        stack: '总量',
                        data: [{$trendInfo['g']}]
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart1.setOption(option1);

            $('.indexbox2 .j-pic1 span').click(function() {
                var area_id = $('.j-area-v').val();
                var store_id = $('.j-store-v').val();
                if( $(this).index() == 5 ){
                    $('.j-pic1-sousuo').show();
                } else {
                    $('.j-pic1-sousuo').hide();
                }
                $('.indexbox2 .j-pic1 span').removeClass('active');
                $(this).addClass('active');
                var cla = $(this).attr('cla');
                if( $(this).index() != 5 ) {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "?app=default&act=index&jyInfo=" + cla + "&area_id=" + area_id + '&store_id=' + store_id,
                        success: function (obj) {
                            var __info = obj.info.trendInfo;

                            // 基于准备好的dom，初始化echarts实例
                            option3=({        //加载数据图表
                                xAxis: {
                                    data:__info.xAxis,
                                },
                                series: [
                                    {
                                        // 根据名字对应到相应的系列
                                        name: '下单笔数',
                                        data: __info.a
                                    },
                                    {
                                        name: '下单人数',
                                        data: __info.b
                                    },
                                    {
                                        name: '下单金额',
                                        data: __info.c
                                    },
                                    {
                                        name: '付款笔数',
                                        data: __info.d
                                    },
                                    {
                                        name: '付款人数',
                                        data: __info.e
                                    },
                                    {
                                        name: '付款金额',
                                        data: __info.f
                                    },
                                    {
                                        name: '付款件数',
                                        data: __info.g
                                    }
                                ]
                            });
                            myChart1.setOption(option3);
                        }
                    });
                }
            })

            $('#search1').click(function(){
                var startTime = $('#datepicker11').val();
                var endTime   = $('#datepicker22').val();
                if( startTime > endTime ){
                    return false;
                }
                if( !startTime || !endTime ){
                    return false;
                }
                var area_id = $('.j-area-v').val();
                var store_id = $('.j-store-v').val();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "?app=default&act=index&jyInfo=setting&start_time="+startTime+"&end_time="+endTime+"&area_id=" + area_id + '&store_id=' + store_id,
                    success: function (obj) {
                        var __info = obj.info.trendInfo;

                        // 基于准备好的dom，初始化echarts实例
                        option3=({        //加载数据图表
                            xAxis: {
                                data:__info.xAxis,
                            },
                            series: [
                                {
                                    // 根据名字对应到相应的系列
                                    name: '下单笔数',
                                    data: __info.a
                                },
                                {
                                    name: '下单人数',
                                    data: __info.b
                                },
                                {
                                    name: '下单金额',
                                    data: __info.c
                                },
                                {
                                    name: '付款笔数',
                                    data: __info.d
                                },
                                {
                                    name: '付款人数',
                                    data: __info.e
                                },
                                {
                                    name: '付款金额',
                                    data: __info.f
                                },
                                {
                                    name: '付款件数',
                                    data: __info.g
                                }
                            ]
                        });
                        myChart1.setOption(option3);
                    }
                });
            });

            var myChart3 = echarts.init(document.getElementById('main2'));
            // 指定图表的配置项和数据
            option3 = {
                title : {
                    text: ' ',
                    subtext: '',
                    x:'center'
                },
                color: ['#3398DB'],
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : [{$top10['xAxis']}],
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'订单量',
                        type:'bar',
                        barWidth: '40%',
                        data:[{$top10['goods_num']}]
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart3.setOption(option3);

            $('.indexbox2 .j-pic2 span').click(function() {
                var area_id = $('.j-area-v').val();
                var store_id = $('.j-store-v').val();
                if( $(this).index() == 5 ){
                    $('.j-pic2-sousuo').show();
                } else {
                    $('.j-pic2-sousuo').hide();
                }
                $('.indexbox2 .j-pic2 span').removeClass('active');
                $(this).addClass('active');
                var cla = $(this).attr('cla');
                if( $(this).index() != 5 ) {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "?app=default&act=index&gdInfo=" + cla + "&area_id=" + area_id + '&store_id=' + store_id,
                        success: function (obj) {
                            var __info = obj.info.topInfo;

                            // 指定图表的配置项和数据
                            option3 = {
                                title : {
                                    text: ' ',
                                    subtext: '',
                                    x:'center'
                                },
                                color: ['#3398DB'],
                                tooltip : {
                                    trigger: 'axis',
                                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                    }
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis : [
                                    {
                                        type : 'category',
                                        data : __info.xAxis,
                                        axisTick: {
                                            alignWithLabel: true
                                        },
                                        axisLabel: {
                                            interval:0,
                                        }
                                    }
                                ],
                                yAxis : [
                                    {
                                        type : 'value'
                                    }
                                ],
                                series : [
                                    {
                                        name:'订单量',
                                        type:'bar',
                                        barWidth: '40%',
                                        data:__info.goods_num
                                    }
                                ]
                            };
                            // 使用刚指定的配置项和数据显示图表。
                            myChart3.setOption(option3);

                            var text = '';
                            if( __info.goodsData ){
                                $.each(__info.goodsData, function(i, val) {
                                    text = text+'<tr><td>'+(i+1)+'</td><td><img src="'+val.original_img+'" style="width: 60px!important;height: 60px"></td><td>'+val.goods_name+'</td><td>'+val.percent_1+'</td><td>'+val.percent_2+'</td></tr>';
                                });
                            } else {
                                text = '<tr><td>1</td><td colspan="2" style="text-align: center"><label>无数据</label></td><td>0.00%</td><td>0.00%</td></tr>';
                            }
                            //表格替换
                            var newTable = '<tr style="text-align: left"><td width="15"><label>排名</label></td><td width="15%"><label>商品图片</label></td><td width="40%"><label>商品名称</label></td><td width="15%"><label>TOP10中占比</label></td> <td width="15%"><label>全体商品中占比</label></td></tr>'+ text;
                            $('.look-table').html(newTable);
                        }
                    });
                }
            })

            $('#search2').click(function(){
                var startTime = $('#datepicker111').val();
                var endTime   = $('#datepicker222').val();
                if( startTime > endTime ){
                    return false;
                }
                if( !startTime || !endTime ){
                    return false;
                }
                var area_id = $('.j-area-v').val();
                var store_id = $('.j-store-v').val();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "?app=default&act=index&gdInfo=setting&start_time="+startTime+"&end_time="+endTime+"&area_id=" + area_id + '&store_id=' + store_id,
                    success: function (obj) {
                        var __info = obj.info.topInfo;

                        // 指定图表的配置项和数据
                        option3 = {
                            title : {
                                text: ' ',
                                subtext: '',
                                x:'center'
                            },
                            color: ['#3398DB'],
                            tooltip : {
                                trigger: 'axis',
                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    data : __info.xAxis,
                                    axisTick: {
                                        alignWithLabel: true
                                    }
                                }
                            ],
                            yAxis : [
                                {
                                    type : 'value'
                                }
                            ],
                            series : [
                                {
                                    name:'订单量',
                                    type:'bar',
                                    barWidth: '40%',
                                    data:__info.goods_num
                                }
                            ]
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart3.setOption(option3);

                        var text = '';
                        if( __info.goodsData ){
                            $.each(__info.goodsData, function(i, val) {
                                text = text+'<tr><td>'+(i+1)+'</td><td><img src="'+val.original_img+'" style="width: 60px!important;height: 60px"></td><td>'+val.goods_name+'</td><td>'+val.percent_1+'</td><td>'+val.percent_2+'</td></tr>';
                            });
                        } else {
                            text = '<tr><td>1</td><td colspan="2" style="text-align: center"><label>无数据</label></td><td>0.00%</td><td>0.00%</td></tr>';
                        }
                        //表格替换
                        var newTable = '<tr style="text-align: left"><td width="15"><label>排名</label></td><td width="15%"><label>商品图片</label></td><td width="40%"><label>商品名称</label></td><td width="15%"><label>TOP10中占比</label></td> <td width="15%"><label>全体商品中占比</label></td></tr>'+ text;
                        $('.look-table').html(newTable);
                    }
                });
            });
        </script>
        <script>
            $('#lang_id').change(function() {
                var lang_id = $(this).val();
                location.href = 'store.php?app=default&act=index&lang_id=' + lang_id;
            })
        </script>
    </body>
</html>
