<form class="form-horizontal "  id = "form1" action="?app=goodsType&act=doAdd" >
    <div class="form-group" style="margin-right: 10px;"  >
        <label class="col-sm-3 control-label"><span class="text-red">*</span>{$language1->select_classification}：</label>
        <div class="col-sm-3">
            <select class="form-control" name="ctglev1"  id="ctglev1"  onchange="getctglist(this.id, 'ctglev2')"  >
                <option value="0">{$language1->select_classification}</option>
                {foreach from=$ctglev1 item=val}
                <option value='{$val.id}'>{$val.category_name}</option>
                {/foreach}
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="ctglev2"  id="ctglev2"  onchange="getctglist(this.id, 'ctglev3')">
                <option value="0" >{$language1->select_classification}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="ctglev3"  id="ctglev3"  >
                <option value="0">{$language1->select_classification}</option>
            </select>
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>{$language1->good_model}： </label>
        <div class="col-sm-6 col-md-6">
            {$html}
        </div>
    </div>
</form>