<form class="form-horizontal "  id = "form1" action="?app=keFu&act=doQuestionAdd" >
    <div class="form-group">
        <input type="hidden" name = "id" value="{$info.id}">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> {$language1->shortcut} </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control" name="content" value="{$info.content}"  >
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>{$language2->type}</label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control" name="type" >
                <option value="" > --{$language2->please_select}-- </option>
                <option value="1" {if $info.type ==1 }selected {/if}> {$language2->quick_feedback} </option>
                <option value="2" {if $info.type ==2 }selected {/if}> {$language2->quick_ask} </option>
            </select>
        </div>
    </div>
</form>