<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
        <style>

        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        规则列表
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="store.php?app=default&act=index"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li class="active">推荐管理</li>
                        <li class="active">规则列表</li>
                    </ol>

                </section>

                <!-- Main content -->
                <section class="content">
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <div class="col-sm-2  col-md-1 no-padding">
                                        <a class="btn btn-primary pull-right btn-sm" href="javascript:;"   id="add"   role="button"><i class="fa fa-plus"></i> 添加规则</a>
                                    </div>
                                </div>
                                <div class="new-table-responsive">
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>规则名称</th>
                                                    <th>操作人</th>
                                                    <th>添加时间</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>

                                            {foreach from=$tree item=item}
                                            <tr>
                                                <td>{$item.id}</td>
                                                <td>{$item.name}</td>
                                                <td>{$item.username}</td>
                                                <td>{$item.add_time|date_format:"%Y-%m-%d"}</td>
                                                <td>
                                                    <a href="store.php?app=recommendedList&act=add_rules&promotion_id={$item.id}" data-toggle="tooltip" class="btn btn-xs btn-danger " style="overflow: hidden; position: relative;"  >查看推荐奖励</a>
                                                    <a href="javascript:;" data-toggle="tooltip" class="btn btn-xs btn-danger "  onclick="shanchu({$item.id});"   style="overflow: hidden; position: relative;"  >删除</a>
                                                </td>
                                            </tr>
                                            {/foreach}
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer clearfix">
                                    <!--{$page_html}-->
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
        </div>
    </body>
</html> 
<script type="text/javascript">
            $('#add').click(function(){
                dialog_form('?app=recommendedList&act=add', '添加规则');
            });
            /*删除*/
            function shanchu(id){
                deletes('?app=recommendedList&act=dele&id=' + id);
            }
</script>