<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>站点商品编辑</title>
    {include file="public/header.html"}
</head>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <section class="content-header">
            <h1>
                区域站点商品编辑
            </h1>
            <ol class="breadcrumb">
                <li><a href="?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li><a href="?app=areaGood&act=index&lang_id={$lang_id}">区域站点设置</a></li>
                <li class="active">商品编辑</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form class="" id="form-goodsedit" action="?app=areaGood&act=doInfo"  method="post" data-type="ajax">
                            <div class="nav-tabs-custom tabs-new">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab">通用信息</a></li>
                                    <li><a href="#tab_2" data-toggle="tab">规格信息</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">
                                        <div class="box-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 商品名称：</label>
                                                    <div class="col-sm-7 col-md-6 col-lg-5">
                                                        <input type="text" class="form-control" name="goods_name" value="{$goodInfo.goods_name}" readonly="readonly">
                                                        <input type="hidden"  name="lang_id" value="{$lang_id}" >
                                                        <input type="hidden" name="p" value="{$p}"/>
                                                        <input type="hidden" name="id" value="{$goodInfo.id}" />
                                                        <input type="hidden" name="returnUrl" value="{$returnUrl}">

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 商品分类：</label>
                                                    <div class="col-sm-8 col-md-8 col-lg-6">
                                                        <select class="form-control w160 j_select inblock j-cate1" name="cat_1" disabled="disabled">
                                                            <option {if $cat_1 == 0} selected {/if}> 请选择分类</option>
                                                            {foreach from=$cat_list_1 item=item}
                                                            <option value="{$item.id}" {if $cat_1 == $item.id} selected {/if}>{$item.name}</option>
                                                            {/foreach}
                                                        </select>
                                                        <select class="form-control w160 j_select inblock j-cate2" name="cat_2" disabled="disabled">
                                                            <option {if $cat_2 == 0} selected {/if}>请选择分类</option>
                                                            {foreach from=$cat_list_2 item=item}
                                                            <option value="{$item.id}" {if $cat_2 == $item.id} selected {/if}>{$item.name}</option>
                                                            {/foreach}
                                                        </select>
                                                        <select class="form-control w160 j_select inblock j-cate3" name="cat_id" disabled="disabled">
                                                            <option value="" {if $goodInfo.cat_id == 0} selected {/if}>请选择分类</option>
                                                            {foreach from=$cat_list_3 item=item}
                                                            <option value="{$item.id}" {if $goodInfo.cat_id == $item.id} selected {/if}>{$item.name}</option>
                                                            {/foreach}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group j_room" {if empty($room_list)} style="display: none;" {/if}>
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"> 业务类型：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <select class="form-control j_select j-room" name="room_id"  disabled="disabled">
                                                        <option value="0" {if $goodInfo.room_id == 0} selected {/if}>请选择业务类型</option>
                                                        {foreach from=$room_list item=item}
                                                        <option value="{$item.id}" {if $goodInfo.room_id == $item.id} selected {/if}>{$item.room_name}</option>
                                                        {/foreach}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group" id="en_dis" >
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red"></span> 辅助分类：</label>
                                                <div class="col-sm-8 col-md-8 col-lg-7">
                                                    <div>
                                                        {if $auxiliary[0]['auxiliary_list'] !=''}
                                                        <div class="tags-box inblock"  id="box1" >
                                                            {foreach from=$auxiliary item =v}
                                                            <span class="tag"><span value="0_{$v['auxiliary_list']['category_id']}_{$v['auxiliary_lists']['category_id']}_{$v['auxiliary_liste']['category_id']}">{$v['auxiliary_list']['category_name']},{$v['auxiliary_lists']['category_name']},{$v['auxiliary_liste']['category_name']}</span></span>
                                                            {/foreach}
                                                        </div>
                                                        {else}
                                                        <div class="tags-box inblock"  id="box1" >
                                                            暂无分类
                                                        </div>
                                                        {/if}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"> 商品品牌：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <select class="form-control j_select " name="brand_id" disabled="disabled">
                                                        <option>请选择品牌</option>
                                                        {foreach from=$brand_list item=item}
                                                        <option value="{$item.id}" {if $goodInfo.brand_id == $item.id} selected {/if}>{$item.name}</option>
                                                        {/foreach}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"> 商品风格：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <select class="form-control j_select " name="style_id" disabled="disabled">
                                                        <option>请选择风格</option>
                                                        {foreach from=$style_list item=item}
                                                        <option value="{$item.id} " {if $goodInfo.style_id == $item.id} selected {/if}>{$item.style_name}</option>
                                                        {/foreach}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"> 商品简介：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <textarea  name="goods_remark" rows="3" cols="44" class="form-control" readonly="readonly">{$goodInfo.goods_remark}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 原始库存：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    {if  $deduction==1 || $disabled==0}
                                                    <input type="text" class="form-control" name="goods_storage" value="{$goodInfo.goods_storage}"  readonly="readonly">
                                                    {else}
                                                    <input type="text" class="form-control" name="goods_storage" value="{$goodInfo.goods_storage}">
                                                    {/if}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 区域币种：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <input type="text" class="form-control" name="bizhong" value="{$currencyInfo.short}（{$currencyInfo.symbol}）" disabled="disabled">
                                                    <!--<p class="mb0"><a href="?app=site&act=SiteList">重新设定币种</a></p>-->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 本店售价：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <input type="text" class="form-control" name="shop_price" value="{$goodInfo.shop_price}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 市场价：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <input type="text" class="form-control" name="market_price" value="{$goodInfo.market_price}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-2 col-lg-2 control-label">配送属性：</label>
                                                <div class="col-sm-3">
                                                    <input name="attributes[]" class="dispatchcheckbox" type="checkbox" value="1" {if $attributes_1}checked {/if}/>到店自提&nbsp;&nbsp;
                                                    <input name="attributes[]" id="delivery-fee" class="dispatchcheckbox" type="checkbox" value="2" {if $attributes_2}checked {/if}/ />配送上门&nbsp;&nbsp;
                                                    <input name="attributes[]" class="dispatchcheckbox"  id="emailcheck" type="checkbox" value="3" {if $attributes_3}checked {/if}/ />邮寄托运&nbsp;&nbsp;
                                                    <input type="checkbox" class="dispatchcheckbox" name="attributes[]" value="4" {if $attributes_4}checked{/if} />海外代购&nbsp;&nbsp;
                                                </div>
                                            </div>
                                            <div class="form-group delivery-show" style="display: none">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label">  配送费用：</label>
                                                <div class="col-sm-7 col-md-6 col-lg-5">
                                                    <input type="text" class="form-control" name="delivery_fee" value="{$goodInfo.delivery_fee}">
                                                </div>
                                            </div>
                                            <input type="hidden" name="checkmail" value="{$attributes_3}">
                                            <div class="form-group postage" >
                                                <label class="col-sm-4 col-md-2 col-lg-2 control-label">是否包邮：</label>
                                                <div class="col-sm-3">
                                                    {if $goodInfo.is_free_shipping eq 1}
                                                    <input  type="checkbox" name="is_free_shipping" value="1" checked>
                                                    {else}
                                                    <input  type="checkbox" name="is_free_shipping" value="2">
                                                    {/if}
                                                </div>
                                            </div>
                                            <!--                                                    <div class="form-group">
                                                                                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label">是否包邮：</label>
                                                                                                    <div class="col-sm-3">
                                                                                                        {if $goodInfo.is_free_shipping eq 1}
                                                                                                        <input  type="checkbox" name="is_free_shipping" value="1" checked>
                                                                                                        {else}
                                                                                                        <input  type="checkbox" name="is_free_shipping" value="2">
                                                                                                        {/if}
                                                                                                    </div>
                                                                                                </div>-->
                                            <div class="form-group is_shipping"  {if $goodInfo.is_free_shipping == 1} style="display: none" {/if}>
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span>邮费：</label>
                                            <div class="col-sm-3">
                                                <input  type="text" name="shipping_price" class="shipping_price" value="{$goodInfo.shipping_price}">（{$currencyInfo.symbol}）
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"> 商品关键字：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="text" class="form-control" name="keywords" value="{$keywords.keywords}" readonly="readonly">
                                            </div>
                                        </div>
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-4 col-md-2  col-lg-2 control-label"> 商品二维码：</label>-->
                                        <!--<div class="col-sm-7 col-md-6 col-lg-5">-->
                                        <!--<img src="{$goodInfo.code_url}">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group">-->
                                        <!--<label class="col-sm-4 col-md-2 col-lg-2 control-label"> 商品详情描述：</label>-->
                                        <!--<div class="col-sm-7 col-md-6 col-lg-5">-->
                                        <!--<div class="editor">-->
                                        <!--<textarea name="goods_content" style="width: 700px;height: 250px;">{$goodInfo.goods_content}</textarea>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                    <!-- form -->
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab_2">
                                <span style="display: none" id="batch-show">
                                    <input type="hidden" value="{$deduction}" id="deduction">
                                    <input type="text" name="batch_price" placeholder="价格">
                                    <input type="text" name="batch_stock" placeholder="库存">
                                    <button class="btn btn-primary" id="batch-save">批量更新</button>
                                </span>

                                {if $itemList}
                                <button class="btn btn-primary pull-right" id="batch-update">更新价格库存</button>
                                {/if}

                                <div class="box-body" id="tab_goods_images">
                                    <table class="table table-bordered">
                                        <tr class="first">
                                            <th>商品规格</th>
                                            <th>商品编号</th>
                                            <th>商家sku</th>
                                            <th>币种</th>
                                            <th>销售价格</th>
                                            <th>库存</th>

                                        </tr>
                                        {foreach from=$itemList item=v}
                                        <tr>
                                            <td class="vm">{$v.key_name}</td>
                                            <td class="vm">{$goodInfo.goods_sn}</td>
                                            <td class="vm">{$v.sku}</td>
                                            <td class="vm">{$currencyInfo.short}（{$currencyInfo.symbol}）</td>
                                            <td>
                                                <input type="text" class="form-control item-price" value="{$v.price}"  name="item[{$v.id}][price]"/>
                                            </td>
                                            <td class="vm">
                                                {if $deduction==1}
                                                <div class="updown-box clearfix">
                                                    <span class="down pull-left" >-</span>
                                                    <input type="text" class="form-control num pull-left" style="width: 50px;padding:0" value="{$v.goods_storage}" name="item[{$v.id}][goods_storage]" readonly="readonly"/>
                                                    <span class="up pull-left" >+</span>
                                                </div>
                                                {else}
                                                <div class="updown-box clearfix">
                                                    <span class="down pull-left clickdown ">-</span>
                                                    <input type="text" class="form-control num pull-left item-stock" style="width: 50px;padding:0" value="{$v.goods_storage}" name="item[{$v.id}][goods_storage]"/>
                                                    <span class="up pull-left clickup ">+</span>
                                                </div>
                                                {/if}

                                            </td>
                                        </tr>
                                        {/foreach}
                                    </table>

                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="?app=areaGood&act=index&lang_id={$lang_id}&p={$p}" class="btn btn-default"><i class="fa fa-times-circle"></i> 关 闭</a>
                                        <button  id="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> 保 存
                                        </button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                </form>
            </div>
            <!-- /.box -->
    </div>
</div>
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{include file="public/footer.html"}
</div>
<!-- ./wrapper -->
{literal}
<!--        {if $disabled==0}
    <script type="text/javascript">
        $(function(){
            var goods_num=0;
            var trs=$('.updown-box .up').parent().parent().parent().parent().find('tr').not(".first");
            $(trs).each(function(){
                goods_num  +=parseInt($(this).find('.num').val());
            })
            $('input[name=goods_storage]').attr('value',goods_num);
        })
        </script>
    {/if}-->

<script type="text/javascript">
    //包邮

    if($('input[name=checkmail]').val()!=3){
        $('.postage').css('display','none')
    }
    //配送属性选择
    $('.dispatchcheckbox').click(function(){
        if($('#emailcheck').is(':checked')){
            $('.postage').css('display','block');
            if($('input[name=is_free_shipping]').val()==2){
                $('.is_shipping').css('display','block')
            }
        }else{
            $('.postage').css('display','none');
            $('.is_shipping').css('display','none')
        }
    })
    var unBind=function(){
        return;
    }

    $(function () {
        $("[name='is_free_shipping']").bootstrapSwitch({
            onText: "是",
            offText: "否",
            size: "small",
            onSwitchChange: function (event, state) {
                if (state == true) {
                    $(this).val("1");
                    $(".is_shipping").hide();
                } else {
                    $(this).val("2");
                    $(".is_shipping").show();
                }
            }
        });
    })
    $(function () {
        $('body').on('blur', '.sprice', function () {
            var pnumb = $('.pnumb').text();
            var sprice = $('.sprice').val();
            var kc = $('.kc').val();
            var html = pnumb + ',' + sprice + ',' + kc;
            //console.log(html);
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '',
                data: html,
                success: function (obj) {

                },
                error: function (obj) {

                }
            })
        })
    })
    /*      $(function () {
              $('body').on('click', '.down,.up', function () {
                  var pnumb = $('.pnumb').text();
                  var sprice = $('.sprice').val();
                  var kc = $('.kc').val();
                  var html = pnumb + ',' + sprice + ',' + kc;
                  //console.log(html);
                  $.ajax({
                      type: "GET",
                      dataType: "json",
                      url: '',
                      data: html,
                      success: function (obj) {

                      },
                      error: function (obj) {

                      }
                  })
              })
          })*/
    $(function () {
        $("[name='my-checkbox1']").bootstrapSwitch({
            onText: "上架",
            offText: "下架",
            size: "small",
            onSwitchChange: function (event, state) {
                if (state == true) {
                    var id = $(this).attr('item_id');
                    $(this).val("1");
                    var is_on_sale = $(this).val();
                    $.ajax({
                        url: 'admin.php?app=areaGood&act=getStatus',
                        type: 'POST',
                        data: {'id': id, 'is_on_sale': is_on_sale},
                        dataType: "json",
                        success: function (msg) {
                            if (msg.status == 1) {
                                //                                window.location.reload();
                            } else {
                                var d = $.dialog({
                                    content: '<div class="text-center">' + msg.message + '</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function () {
                                        setTimeout(function () {
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            }
                        }
                    });
                } else {
                    var id = $(this).attr('item_id');
                    $(this).val("2");
                    var is_on_sale = $(this).val();
                    $.ajax({
                        url: 'admin.php?app=areaGood&act=getStatus',
                        type: 'POST',
                        data: {'id': id, 'is_on_sale': is_on_sale},
                        dataType: "json",
                        success: function (msg) {
                            if (msg.status == 1) {
                                //                                window.location.reload();
                            }
                        }
                    });
                }
            }
        });
    })




    $(function () {
        $('.num').blur(function(){
            var goods_num=0;
            var trs=$(this).parent().parent().parent().parent().find('tr').not(".first");

            $(trs).each(function(){
                goods_num  +=parseInt($(this).find('.num').val());
            })
            $('input[name=goods_storage]').val(goods_num);

        })
    })
    //库存的增加和减少

    $('.updown-box .clickup').click(function () {
        var goods_num=0;
        var num = $(this).parent('.updown-box').find(' .num').val();
        var trs=$(this).parent().parent().parent().parent().find('tr').not(".first");
        $(trs).each(function(){
            goods_num  +=parseInt($(this).find('.num').val());
        })
        goods_num=goods_num+1;
        $('input[name=goods_storage]').val(goods_num);

        $(this).prev().val(parseInt(num) + 1);


    })
    $('.updown-box .clickdown').click(function () {
        var goods_num=0;
        var num = $(this).parent('.updown-box').find(' .num').val();
        var trs=$(this).parent().parent().parent().parent().find('tr').not(".first");
        $(trs).each(function(){
            goods_num  +=parseInt($(this).find('.num').val());
        })
        if (num == 0) {
            return false;
        } else {
            goods_num=goods_num-1;
            $('input[name=goods_storage]').val(goods_num);

            $(this).next().val(parseInt(num) - 1);
        }
    })

</script>
<script type="text/javascript">
    $('#goodSubmit').click(function () {
        var id = $('input[name=id]').val();
        var shop_price = $('input[name=shop_price]').val();
        var goods_storage = $('input[name=goods_storage]').val();
        console.log(goods_storage);
        if (shop_price == 0) {
            var d = $.dialog({
                content: '<div class="text-center">价格不能为零！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function () {
                    setTimeout(function () {
                        d.close();
                    }, 400);
                }
            });
            return false;
        }
        var pre = /(^[1-9]\d*(\.\d{1,2})?$)|(^0(\.\d{1,2})?$)/;
        if (!pre.test(shop_price)) {
            var d = $.dialog({
                content: '<div class="text-center">销售价格格式不正确！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function () {
                    setTimeout(function () {
                        d.close();
                    }, 400);
                }
            });
            return false;
        }
        var preg = /^\d+$/;
        if (!preg.test(goods_storage)) {
            var d = $.dialog({
                content: '<div class="text-center">库存数量格式不正确！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function () {
                    setTimeout(function () {
                        d.close();
                    }, 400);
                }
            });
            return false;
        }
        $.ajax({
            url: 'admin.php?app=areaGood&act=doSPrice',
            type: 'POST',
            data: {'id': id, 'shop_price': shop_price, 'goods_storage': goods_storage},
            dataType: "json",
            success: function (msg) {
                if (msg.status == 1) {
                    var d = $.dialog({
                        content: '<div class="text-center">' + msg.message + '</div>',
                        title: false, // hides the title.
                        closeIcon: false, // hides the close icon.
                        columnClass: 'xsmall',
                        onOpen: function () {
                            setTimeout(function () {
                                d.close();
                            }, 400);
                        }
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                } else {
                    var d = $.dialog({
                        content: '<div class="text-center">' + msg.message + '</div>',
                        title: false, // hides the title.
                        closeIcon: false, // hides the close icon.
                        columnClass: 'xsmall',
                        onOpen: function () {
                            setTimeout(function () {
                                d.close();
                            }, 400);
                        }
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }
            }
        });

    });
    //富文本编辑框

    KindEditor.ready(function (K) {
        editor = K.create('textarea[name="goods_content"]', {
            allowFileManager: true,
            afterBlur: function () {
                this.sync();
            }
        });
    });

    $('#batch-update').click(function () {
        $('input[name=batch_price]').val('');
        $('input[name=batch_stock]').val('');

        $('#batch-show').toggle();
        $('#batch-update').toggle();

        return false;
    });
    $('#batch-save').click(function () {

        var deduction = $('#deduction').val();
        var batch_price = $('input[name=batch_price]').val();
        var batch_stock = $('input[name=batch_stock]').val();

        if (batch_price != '') {
            priceDialog(batch_price);
            if (!($('input[name=batch_price]').val())) {
                return false;
            }
            $('.item-price').val(batch_price);
        }

        if (batch_stock != '') {
            if (deduction == 1) {
                infoDialog('存库不可修改');
            } else {
                stockDialog(batch_stock);
                if (!($('input[name=batch_stock]').val())) {
                    return false;
                }
                $('.item-stock').val(batch_stock);
            }
        }

        $('#batch-show').hide();
        $('#batch-update').show();

        return false;
    });

    // 配送费用 by xt
    if ($('#delivery-fee').attr('checked')) {
        $('.delivery-show').show();
    }

    $('#delivery-fee').change(function () {
        if ($('#delivery-fee').prop('checked')) {
            $('.delivery-show').show();
        } else {
            $('.delivery-show').hide();
        }
    });

    function infoDialog(data) {
        var d = $.dialog({
            content: '<div class="text-center">'+ data +'</div>',
            title: false, // hides the title.
            closeIcon: false, // hides the close icon.
            columnClass: 'xsmall',
            onOpen: function () {
                setTimeout(function () {
                    d.close();
                }, 400);
            }
        });
    }

    function priceDialog(price) {
        var pre = /(^[1-9]\d*(\.\d{1,2})?$)|(^0(\.\d{1,2})?$)/;
        if (!pre.test(price)) {
            var d = $.dialog({
                content: '<div class="text-center">销售价格格式不正确！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function () {
                    setTimeout(function () {
                        d.close();
                    }, 400);
                }
            });

            $('input[name=batch_price]').val('');

            return false;
        }
    }

    function stockDialog(stock) {
        var preg = /^\d+$/;
        if (!preg.test(stock)) {
            var d = $.dialog({
                content: '<div class="text-center">库存数量格式不正确！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function () {
                    setTimeout(function () {
                        d.close();
                    }, 400);
                }
            });

            $('input[name=batch_stock]').val('');

            return false;
        }
    }
</script>
{/literal}
</body>
</html>
