<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Regional site goods</title>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <section class="content-header">
            <h1>
                Regional site goods
            </h1>
            <ol class="breadcrumb">
                <li><a href="?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="?app=areaGood&act=index&lang_id={$lang_id}">Regional site settings</a></li>
                <li class="active">Site goods</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <form class="form-inline col-sm-10 col-md-7 no-padding">
                                <input type="hidden" name="app" value="areaGood" />
                                <input type="hidden" name="act" value="index" />
                                <input type="hidden" name = "delAll" value="dele">
                                <input type='hidden' name='lang_id' value='{$lang_id}'>
                                <input type='hidden' name='p' value='{$p}'>
                                <div class="form-group form-group-sm form-mar">
                                     <small class="control-label sm">Upper and lower shelves：</small>
                                    <select class="form-control w160 j_select" name="is_sale">
                                        <option value="0">--Please choose--</option>
                                        <option value="1" {if $is_sale == 1} selected {/if}>The shelves</option>
                                        <option value="2" {if $is_sale == 2} selected {/if}>Off the shelf</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <small class="control-label sm">Type of room：</small>
                                    <select class="form-control w160 j_select" name="room_id">
                                        <option value="0">--Please choose--</option>
                                        {foreach from=$room_type item=room}
                                        <option value="{$room.id}" {if $room_id == $room.id} selected {/if}>{$room.type_name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="form-group form-group-sm form-mar">
                                    <input type="text" class="form-control" placeholder="Commodity coding" name="goods_sn" value="{$goods_sn}">
                                </div>
                                <div class="form-group form-group-sm form-mar" style="margin-right:0">
                                    <input type="text" class="form-control" placeholder="Commodity name" name="goods_name" value="{$goods_name}">
                                </div>
                                <div class="form-group form-group-sm form-mar" style="margin-right:0">
                                    <small class="control-label sm">start time：</small>
                                    <input type="text" class="form-control" placeholder="start time" id="datepicker1"  name="start_time" value="{$start_time}" readonly>
                                </div>
                                <div class="form-group form-group-sm form-mar" style="margin-right:0">
                                    <small class="control-label sm">End time：</small>
                                    <input type="text" class="form-control" placeholder="End time" id="datepicker2" name="end_time" value="{$end_time}" readonly>
                                </div>
                                <div class="form-group form-group-sm form-mar" style="margin-right:0">
                                    <button type="submit" class="btn btn-default btn-sm">
                                        Search <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                            <div class="col-sm-2 col-md-5 no-padding">
                                {if $storeType == 1}
                                <a class="btn btn-primary pull-right btn-sm patchUnRecommend">Batch do not recommend</a>
                                <a class="btn btn-primary pull-right btn-sm mr15 patchRecommend">Batch recommendation</a>
                                {/if}
                                <a class="btn btn-primary pull-right btn-sm mr15 patchOffSale">Batches</a>
                                <a class="btn btn-primary pull-right btn-sm mr15 patchOnSale">Batches on the shelves</a>
                                <a class="btn btn-primary pull-right btn-sm mr15" href="?app=areaGood&act=add&type=single&lang_id={$lang_id}"><i class="fa fa-plus"></i> Add goods</a>
                            </div>
                        </div>
                        <div class="new-table-responsive">
                            <div class="box-body table-responsive no-padding ">
                                <table class="table table-hover middle-box">
                                    <tr>
                                        <th><input type="checkbox" name="" id="all"/></th>
                                        <th>Commodity number</th>
                                        <th>Commodity coding</th>
                                        <th>Commodity name</th>
                                        <th>currency</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Shop name</th>
                                        <th>Whether or not to post</th>
                                        {if $storeType == 1}
                                        <th>WeChat home page recommendation</th>
                                        {/if}
                                        <!--<th>Is it recommended</th>-->
                                        <th>Upper / lower frame</th>
                                        <th>Creation time</th>
                                        <!--<th>所有站点使用</th>-->
                                        <th>operation</th>
                                    </tr>
                                    {foreach from=$list item=v}
                                    <tr>
                                        <td><input type="checkbox" name="check-name" value="{$v.id}" flag = ""
                                            /></td>
                                        <td>{$v.sort_id}</td>
                                        <td>{$v.goods_sn}</td>
                                        <td>
                                            <div class="clearfix" style="width: 380px;">
                                                <div class="pull-left img-w">
                                                    <img src="{$v.sgl_img}" width="60" height="50">
                                                </div>
                                                <div class="wts ml15 pull-left w300">
                                                   {$v.goods_name}</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{$v.currency}</td>
                                        <td class="text-red">{$v.shop_price}</td>
                                        <td>{$v.goods_storage}</td>
                                        <td>{$v.store_name}</td>
                                        <td>
                                            {if $v.is_free_shipping ==1}
                                            <p style="margin: 0;">
                                                <input  type="checkbox" name="is_free_shipping" checked  data-value = '{$v.id}'>
                                            </p>
                                            {else}
                                            <p style="margin: 0;">
                                                <input  type="checkbox" name="is_free_shipping"  data-value = '{$v.id}'>
                                            </p>
                                            {/if}
                                        </td>
                                    {if $storeType == 1}
                                     <td>
                                           {if $v.is_on_sale == 1}
                                        {if $v.is_recom ==1}
                                          <p style="margin: 0;">
                                        <input  type="checkbox" name="is_recommend" checked="checked" class="is_recom"   data-value = '{$v.id}'>
                                          </p>
                                             {else}
                                         <p style="margin: 0;">
                                         <input  type="checkbox" name="is_recommend" class="is_recom"  data-value = '{$v.id}'>
                                        </p>
                                          {/if}
                                           {/if}
                                         </td>
                                        <td>
                                            {/if}
                                          <!--{if $v.is_recommend ==1}-->
                                          <!--<p style="margin: 0;">-->
                                              <!--<input  type="checkbox" name="is_recommend" checked="checked" class="is_recommend"  data-value = '{$v.id}'>-->
                                          <!--</p>-->
                                          <!--{else}-->
                                          <!--<p style="margin: 0;">-->
                                              <!--<input  type="checkbox" name="is_recommend"  class="is_recommend" data-value = '{$v.id}'>-->
                                          <!--</p>-->
                                          <!--{/if}-->
                                        <!--</td>-->
                                        <td>
                                          {if $v.is_on_sale == 1}
                                          <p style="margin: 0;">
                                              <input  type="checkbox" name="is_on_sale" checked data-value = '{$v.id}' >
                                          </p>
                                          {else}
                                          <p style="margin: 0;">
                                              <input  type="checkbox" name="is_on_sale"  data-value = '{$v.id}' >
                                          </p>
                                          {/if}
                                        </td>
                                        <td>{$v.add_time}</td>
                                        <!--<td>-->
                                            <!--<p style="margin: 0;">-->
                                              <!--<input  type="checkbox" name="my-checkbox1" checked >-->
                                            <!--</p>-->
                                        <!--</td>-->
                                        <td> 
                                            <a href="?app=areaGood&act=edit&id={$v.id}&lang_id={$lang_id}&p={$p}&returnUrl={$returnUrl}" data-toggle="tooltip"  class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;">Edit</a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;" onclick="shanchu({$v.id})">Delete</a>
                                        </td>
                                    </tr>
                                  {/foreach}
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <div class="col-lg-3">
                                <a href="#" class="btn btn-primary btn-sm delete-all"><i class="fa fa-trash-o"></i> Batch deleting</a>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-inline col-sm-10 col-md-9 no-padding" action="">
                                    <!--<div class="form-group form-group-sm form-mar">-->
                                        <!--<small class="control-label sm">价格：</small>-->
                                        <!--<input type="text" class="form-control" placeholder="价格" name="shop_price">-->
                                    <!--</div>-->
                                    <div class="form-group form-group-sm form-mar">
                                        <small class="control-label sm">Stock：</small>
                                        <input type="text" class="form-control" placeholder="Stock" name="goods_storage">
                                    </div>
                                    <div class="form-group form-group-sm form-mar">
                                        <button type="submit" class="btn btn-primary btn-sm" id ="goodSubmit">
                                            Batch setup <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                                {$page}
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{include file="public/footer.html"}
</div>
<script type="text/javascript">
    $(function(){
        var newDate = new Date();
        var t       = newDate.toJSON();
        $('#datepicker1').datetimepicker({
            autoclose: true,
            language: 'zh-CN',
            minView: "month",
            //format:"yyyy-mm-dd hh:ii",
            format:"yyyy-mm-dd",
            clearBtn:true,
//            startDate:new Date(t),

        });
        $('#datepicker2').datetimepicker({
            autoclose: true,
            language: 'zh-CN',
            minView: "month",
            //format:"yyyy-mm-dd hh:ii",
            format:"yyyy-mm-dd",
            clearBtn:true,
//            startDate:new Date(t),
        });
    })
    /*删除*/
    function shanchu(id){
        deletes('?app=areaGood&act=dele&lang_id={$lang_id}&id='+id);
    }
      $(function(){
        $("[name='my-checkbox1']").bootstrapSwitch({
          // onText:"是",
          // offText:"否",
          size:"mini",
          onSwitchChange:function(event,state){  
            if(state==true){  
                $(this).val("1");
            }else{  
                $(this).val("2");  
            }  
          }  
        });
        $("[name='my-checkbox2']").bootstrapSwitch({
          // onText:"是",
          // offText:"否",
          size:"mini",
          onSwitchChange:function(event,state){  
            if(state==true){  
                $(this).val("1");
            }else{  
                $(this).val("2");  
            }  
          }  
        });
      })
</script>
{literal}
<!--点击单个checkbox 选中-->
<!--<script type="text/javascript">-->
    <!--$(function(){-->
        <!--$('input[name=check-name]:checkbox').change(function(){-->
             <!--if($(this).is(':checked')){-->
                 <!--$(this).attr('flag','1');-->
             <!--}else{-->
                 <!--$(this).attr('flag','0');-->
             <!--}-->
              <!--var item_id = $(this).attr('value');-->
              <!--var flag = $(this).attr('flag');-->
            <!--&lt;!&ndash; 获取当前推荐的值&ndash;&gt;-->
            <!--$.ajax({-->
                <!--url: '?app=areaGood&act=checkStatus',-->
                <!--type: 'POST',-->
                <!--data: {'goods_id':item_id,'flag':flag},-->
                <!--dataType: "json",-->
                <!--success:function(msg) {-->
                    <!--if(msg.status==1){-->
                        <!--dialog(msg.message);-->
                        <!--setTimeout(function(){window.location.reload();},1000);-->
                    <!--}else{-->
                        <!--dialog(msg.message);-->
                        <!--if(msg.info){-->
                            <!--return;-->
                        <!--}-->
                        <!--setTimeout(function(){window.location.reload();},1000);-->
                    <!--}-->
                <!--}-->
            <!--});-->
        <!--})-->
    <!--})-->
<!--</script>-->
<!-- 批量推荐和批量商家功能-->
<script type="text/javascript">
    $('.patchRecommend').click(function(){
        var goodArr = [] ;
        $('input[name=check-name]').each(function(){
            if($(this).is(":checked")){
                goodArr.push($(this).val());
            }
        });
        // 判断是否选中商品ID
        if(goodArr.length == 0){
            dialog('Please select the goods for batch setup！');
            return ;
        }
        <!-- 获取当前推荐的值-->
        $.ajax({
            url: '?app=areaGood&act=doRecommend&lang_id=1',
            type: 'POST',
            data: {'good_ids':goodArr,'flag':1},
            dataType: "json",
            success:function(msg) {
                if(msg.status==1){
                    dialog(msg.message);
                    setTimeout(function(){window.location.reload();},1000);
                }else{
                    dialog(msg.message);
                    if(msg.info){
                        return;
                    }
                    setTimeout(function(){window.location.reload();},1000);
                }
            }
        });
   });
    $('.patchUnRecommend').click(function(){
        var goodArr = [] ;
        $('input[name=check-name]').each(function(){
            if($(this).is(":checked")){
                goodArr.push($(this).val());
            }
        });
        // 判断是否选中商品ID
        if(goodArr.length == 0){
            dialog('Please select the goods for batch setup！');
            return ;
        }
        <!-- 获取当前推荐的值-->
        $.ajax({
            url: '?app=areaGood&act=doRecommend&lang_id=1',
            type: 'POST',
            data: {'good_ids':goodArr,'flag':2},
            dataType: "json",
            success:function(msg) {
                if(msg.status==1){
                    dialog(msg.message);
                    setTimeout(function(){window.location.reload();},1000);
                }else{
                    dialog(msg.message);
                    if(msg.info){
                        return;
                    }
                    setTimeout(function(){window.location.reload();},1000);
                }
            }
        });
    });
    $('.patchOnSale').click(function(){
        var goodArr = [] ;
        $('input[name=check-name]').each(function(){
            if($(this).is(":checked")){
                goodArr.push($(this).val());
            }
        });
        // 判断是否选中商品ID
        if(goodArr.length == 0){
            dialog('Please select the goods for batch setup！');
            return ;
        }
        <!-- 获取当前推荐的值-->
        $.ajax({
            url: '?app=areaGood&act=doOnSale&lang_id=1',
            type: 'POST',
            data: {'good_ids':goodArr,'flag':1},
            dataType: "json",
            success:function(msg) {
                if(msg.status==1){
                    dialog(msg.message);
                    setTimeout(function(){window.location.reload();},1000);
                }else{
                    dialog(msg.message);
                    if(msg.info =='return'){
                        return;
                    }
                    setTimeout(function(){window.location.reload();},1000);
                }
            }
        });
    });
    $('.patchOffSale').click(function(){
        var goodArr = [] ;
        $('input[name=check-name]').each(function(){
            if($(this).is(":checked")){
                goodArr.push($(this).val());
            }
        });
        // 判断是否选中商品ID
        if(goodArr.length == 0){
            dialog('Please select the goods for batch setup！');
            return ;
        }
        <!-- 获取当前推荐的值-->
        $.ajax({
            url: '?app=areaGood&act=doOnSale&lang_id=1',
            type: 'POST',
            data: {'good_ids':goodArr,'flag':2},
            dataType: "json",
            success:function(msg) {
                if(msg.status==1){
                    dialog(msg.message);
                    setTimeout(function(){window.location.reload();},1000);
                }else{
                    dialog(msg.message);
                    if(msg.info == 'return'){
                        return;
                    }
                    setTimeout(function(){window.location.reload();},1000);
                }
            }
        });
    });
</script>

<script type="text/javascript">
    $(function(){
        // 是否上架js
        $("[name='is_on_sale']").bootstrapSwitch({
            onText:"Yes",
            offText:"No",
            size:"mini",
            onSwitchChange:function(event,state){
                if(state==true){
                    var id  = $(this).attr('data-value');
                    $(this).val("1");
                    var is_on_sale = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeSales&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_on_sale':is_on_sale},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });
                }else{
                    var id  = $(this).attr('data-value');
                    $(this).val("2");
                    var is_on_sale = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeSales&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_on_sale':is_on_sale},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });
                }
            }
        });
        // 是否推荐
        $(".is_recommend").bootstrapSwitch({
            onText:"Yes",
            offText:"No",
            size:"mini",
            onSwitchChange:function(event,state){
                if(state==true){
                    var id  = $(this).attr('data-value');
                    $(this).val("1");
                    var is_recommend = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeRecommend&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_recommend':is_recommend},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });
                }else{
                    var id  = $(this).attr('data-value');
                    $(this).val("0");
                    var is_recommend = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeRecommend&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_recommend':is_recommend},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });

                }
            }
        });

        //是否首页推荐
        $(".is_recom").bootstrapSwitch({
            onText:"Yes",
            offText:"No",
            size:"mini",
            onSwitchChange:function(event,state){
                if(state==true){
                    var id  = $(this).attr('data-value');
                    $(this).val("1");
                    var is_recom = $(this).val();

                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeRecom&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_recom':is_recom},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });
                }else{
                    var id  = $(this).attr('data-value');
                    $(this).val("0");
                    var is_recom = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeRecom&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_recom':is_recom},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });

                }
            }
        });

        // 是否推荐
        $("[name='is_free_shipping']").bootstrapSwitch({
            onText:"Yes",
            offText:"No",
            size:"mini",
            onSwitchChange:function(event,state){
                if(state==true){
                    var id  = $(this).attr('data-value');
                    $(this).val("1");
                    var is_free_shipping = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeFree&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_free_shipping':is_free_shipping},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });
                }else{
                    var id  = $(this).attr('data-value');
                    $(this).val("2");
                    var is_free_shipping = $(this).val();
                    $.ajax({
                        url: 'store.php?app=areaGood&act=changeFree&lang_id=1',
                        type: 'POST',
                        data: {'id':id,'is_free_shipping':is_free_shipping},
                        dataType: "json",
                        success:function(msg) {
                            if(msg.status==1){
                                window.location.reload();
                                //setTimeout(function(){window.location.reload();},1000);
                            }else{
                                var d=$.dialog({
                                    content: '<div class="text-center">'+msg.message+'</div>',
                                    title: false, // hides the title.
                                    closeIcon: false, // hides the close icon.
                                    columnClass: 'xsmall',
                                    onOpen: function(){
                                        setTimeout(function(){
                                            d.close();
                                        }, 400);
                                    }
                                });
                                setTimeout(function(){window.location.reload();},1000);
                            }
                        }
                    });
                }
            }
        });

    });
</script>
<script type="text/javascript">
    $('#goodSubmit').click(function(){
        var id = "";
        $("input[name='check-name']:checkbox").each(function () {
            if ($(this).is(":checked")) {
                id += $(this).attr("value") + ",";
            }
        });
        if(id.length ==0){
            var d=$.dialog({
                content: '<div class="text-center">Please choose at least one item！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function(){
                    setTimeout(function(){
                        d.close();
                    }, 400);
                }
            });
            return false;
        }
        var shop_price = $('input[name=shop_price]').val();
        var goods_storage = $('input[name=goods_storage]').val();
        if(goods_storage.length == 0){
            var d=$.dialog({
                content: '<div class="text-center">Stock can t be zero！</div>',
                title: false, // hides the title.
                closeIcon: false, // hides the close icon.
                columnClass: 'xsmall',
                onOpen: function(){
                    setTimeout(function(){
                        d.close();
                    }, 400);
                }
            });
            return false;
        }
//        if(shop_price.length == 0 && goods_storage.length == 0){
//            var d=$.dialog({
//                content: '<div class="text-center">价格不能为零！</div>',
//                title: false, // hides the title.
//                closeIcon: false, // hides the close icon.
//                columnClass: 'xsmall',
//                onOpen: function(){
//                    setTimeout(function(){
//                        d.close();
//                    }, 400);
//                }
//            });
//            return false;
//        }
//        if(shop_price.length != 0) {
//            var pre = /(^[1-9]\d*(\.\d{1,2})?$)|(^0(\.\d{1,2})?$)/;
//            if (!pre.test(shop_price)) {
//                var d = $.dialog({
//                    content: '<div class="text-center">销售价格格式不正确！</div>',
//                    title: false, // hides the title.
//                    closeIcon: false, // hides the close icon.
//                    columnClass: 'xsmall',
//                    onOpen: function () {
//                        setTimeout(function () {
//                            d.close();
//                        }, 400);
//                    }
//                });
//                return false;
//            }
//        }
        if(goods_storage.length != 0) {
           var reg = /^[1-9]+\d*$/;
           if(!reg.test(goods_storage)){
               var d=$.dialog({
                   content: '<div class="text-center">The number of stocks must be positive integers！</div>',
                   title: false, // hides the title.
                   closeIcon: false, // hides the close icon.
                   columnClass: 'xsmall',
                   onOpen: function(){
                       setTimeout(function(){
                           d.close();
                       }, 400);
                   }
               });
               return false;
           }
        }
        $.ajax({
            url: '?app=areaGood&act=doDPrice&lang_id=1',
            type: 'POST',
            data: {'id':id,'shop_price':shop_price,'goods_storage':goods_storage},
            dataType: "json",
            success:function(msg) {
                if(msg.status==1){
                    var d=$.dialog({
                        content: '<div class="text-center">'+msg.message+'</div>',
                        title: false, // hides the title.
                        closeIcon: false, // hides the close icon.
                        columnClass: 'xsmall',
                        onOpen: function(){
                            setTimeout(function(){
                                d.close();
                            }, 400);
                        }
                    });
                    setTimeout(function(){window.location.reload();},1000);
                }else{
                    var d=$.dialog({
                        content: '<div class="text-center">'+msg.message+'</div>',
                        title: false, // hides the title.
                        closeIcon: false, // hides the close icon.
                        columnClass: 'xsmall',
                        onOpen: function(){
                            setTimeout(function(){
                                d.close();
                            }, 400);
                        }
                    });
                    setTimeout(function(){window.location.reload();},1000);
                }
            }
        });

    });
</script>

<!--封装提示框-->
<script type="text/javascript">
    function dialog($msg){
        var d=$.dialog({
            content: '<div class="text-center">'+$msg+'</div>',
            title: false, // hides the title.
            closeIcon: false, // hides the close icon.
            columnClass: 'xsmall',
            onOpen: function(){
                setTimeout(function(){
                    d.close();
                }, 800);
            }
        });
    }
</script>
{/literal}
</body>
</html>
