<!DOCTYPE html>
<html>
<head>

    {include file="public/header.html"}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->activity_info}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language1->activity_manage}</li>
                <li class="active">{$language1->activity_info}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <table class="table table-bordered look-table" >
                            <tr>
                                <td width="25%"><label>{$language1->activity_name}：</label></td>
                                <td width="75%">{$data.name}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>{$language2->start_time}：</label></td>
                                <td width="75%">{$data.begin_time}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>{$language2->end_time}：</label></td>
                                <td width="75%">{$data.end_time}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>{$language2->status}：</label></td>
                                <td width="75%">{$data.is_use}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>{$language1->activity_desc}：</label></td>
                                <td width="75%">{$data.description}</td>
                            </tr>
                            <tr>
                                <td width="25%"><label>{$language2->operate_time}：</label></td>
                                <td width="75%">{$data.add_time}</td>
                            </tr>
                        </table>
                        <div class="box-footer text-center">
                            <a href="store.php?app=storeActivity&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                        </div>
                        <!-- /.box -->
                        <!-- general form elements disabled -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}

</div>
</body>
</html>


