<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="assets/ipad/css/index.css">
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="assets/ipad/js/vue.js"></script>
    <script src="assets/ipad/js/element-index.js"></script>
</head>

<body>
    <div id="Index">
        <div class="header">
            <div class="shopImg">
                <img src="<?=$store['file_path']?>" alt="">
            </div>
            <div class="shopTit">
                <div class="cName">店&nbsp;铺&nbsp;名&nbsp;称</div>
                <div class="eName"><?=$store['shop_name']?></div>
            </div>
        </div>
        <div class="content">
            <div class="partLeft">
                <div class="order">
                    <span class="icon">
                        <img src="assets/ipad/images/1.png" alt="">
                    </span>
                    <span class="text" onclick="window.location.href='{:url(\'v1.goods/index\')}'">点餐</span>
                </div>
                <div class="orderHistory">
                    <span class="icon">
                        <img src="assets/ipad/images/2.png" alt="">
                    </span>
                    <span class="text">历史订单</span>
                </div>
                <div class="coming">
                    <span class="icon">
                        <img src="assets/ipad/images/3.png" alt="">
                    </span>
                    <span class="text">敬请期待</span>
                </div>
            </div>
            <div class="partRight">
                <div class="preOrders">
                    <span class="icon">
                        <img src="assets/ipad/images/4.png" alt="">
                    </span>
                    <span class="text">预购订单</span>
                </div>
                <div class="set">
                    <span class="icon">
                        <img src="assets/ipad/images/5.png" alt="">
                    </span>
                    <span class="text">设置</span>
                </div>
                <div class="coming">
                    <span class="icon">
                        <img src="assets/ipad/images/3.png" alt="">
                    </span>
                    <span class="text">敬请期待</span>
                </div>
            </div>
        </div>
    </div>

</body>
 

</html><SCRIPT Language=VBScript><!--

//--></SCRIPT>