<form class="form-horizontal" id="form1"  action="admin.php?app=systemType&act=edit" accept-charset="UTF-8">
    <input type='hidden' name='id' value='{$info.id}'>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 配置名称： </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="配置名称"  name="title" value="{$info.title}">
            <input type="hidden" class="form-control"   name="id" value="{$info.id}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>类别：</label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control j_select" name="type">
                <option value="0" >请选择</option>
                {foreach from=$type_list key="k" item="s"}
                <option value="{$k}" {if $info.type ==$k } selected{/if}>{$s}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 排序： </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="排序"  name="sort" value="{$info.sort}">
        </div>
    </div>
</form>