<!DOCTYPE html>
<html>
<head>
	<title>design-create</title>
	<meta charset="utf-8" />
	{include file="public/header.html"}
</head>
<body style="background-color: #fff;" class="designindex-wrap">
	<!-- header -->
	{include file="public/daohang.html"}
	<!-- header end -->

	<!-- navs-box end -->
	<div class="border"></div>
	<div style="background-color: #fff;">
		<div class="design-create">
			<div class="container1">
				<img src="{$STATIC_URL}/front/images/index-create.png" width="850" height="120" class="topimg">
				<div class="createbox">
					<div class="item">
						<span class="label">{$langdata.huxing}：</span> {$xq}-{$hx}
					</div>
					<div class="item">
						<span class="label">{$langdata.proName}：</span>
						<input name="" type="text"  value="{$city} -{$xq}-设计方案">
					</div>
					<div class="imgbox clearfix">
						<div class="fl left">
							<img src="{$imgUrl}" width="275" height="300">
						</div>
						<div class="fl right">
							<input type="hidden" value="{$plan_id}" name="plan_id" />
							<input type="hidden" value="{$store_id}" name="store_id" />
							<input type="hidden" value="{$lang_id}" name="lang_id" />
							<input type="hidden" value="{$obsUserId}" name="obsUserId" />
							<button type="button" class="submit">{$langdata.create}</button>
							<button type="reset" class="canel">{$langdata.cancel}</button>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	{include file="public/footer.html"}
<script type="text/javascript">
	$(function(){
		  $(document).on('click',function(e){
			  if( e.target !==  $('.city-box') ){
			    $('.city-box').hide();
			  }
		  });


		$('.citybox').mouseover(function(){
			$('.city-box').show();
			// $('.design-index').css("padding-bottom","600px");
		})
		// 点击省份下级显示隐藏
		$('.city-box').on('click','.provname',function(){
			//var index = $(this).index();
			//$('.provname').removeClass('active');
			if($(this).hasClass('active')){
				$(this).removeClass('active');
				$(this).next().hide();
			}else{
				$(this).addClass('active');
				$(this).next().show();
			}
		})

		//点击省份二级和热门城市替换文本
		$('.city-box').on('click','#js_provCitys li,#js_hotcitys li',function(){
			var text = $(this).text();
			$(this).parents('.city-box').hide();
			$(this).parent().prev().removeClass('active');
			$(this).parent().hide();
			$('#city').text(text);
		})
	})

	//
	$(function(){
	    $('.submit').click(function(){
	        var plan_id = $('input[name=plan_id]').val();
	        var obsUserId = $('input[name=obsUserId]').val();
	        window.location.href ="index.php?app=design&act=floorEdit&obsPlanId="+plan_id;
		});
        $('.canel').click(function(){
            var store_id = $('input[name=store_id]').val();
            var lang_id = $('input[name=lang_id]').val();
            window.location.href ="index.php?app=design&act=apartSearch&storeid="+store_id+"&lang="+lang_id;
        });
	})
	
</script>
</body>
</html>