{if $lang_id ==1}
<form class="form-horizontal" id="form1"  action="store.php?app=orderList&act=doAdd">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>Selection of logistics : </label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control" name="logistics">
                <option value="">Please choose logistics</option>
                {foreach from=$info item=item}
                <option value="{$item.id}">{$item.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type='hidden' name='lang_id' value='{$lang_id}'>
        <input type='hidden' name='order_id' value='{$order_id}'>
        <input type='hidden' name='order_sn' value='{$order_sn}'>
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> Logistics single number : </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="Please fill in the logistics single number"  name="odd_Numbers"  >
        </div>
    </div>
</form>
{else}
<form class="form-horizontal" id="form1"  action="store.php?app=orderList&act=doAdd">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span>选择物流 : </label>
        <div class="col-sm-7 col-md-7">
            <select class="form-control" name="logistics">
                <option value="">请选择物流</option>
                {foreach from=$info item=item}
                <option value="{$item.id}">{$item.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type='hidden' name='lang_id' value='{$lang_id}'>
        <input type='hidden' name='order_id' value='{$order_id}'>
        <input type='hidden' name='order_sn' value='{$order_sn}'>
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 物流单号 : </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="请填写物流单号"  name="odd_Numbers"  >
        </div>
    </div>
</form>
{/if}