.newsBox{
	position:relative;
	min-width:45px;
}
.lingdan{
	display:inline-block;
	height:50px;
}
.icon-lingdang{
	padding:16px 0 17px 0;
}
.tipsnum{
	display:inline-block;
	padding:2px;
	height:16px;
	line-height:12px;
	border-radius:8px;
	background-color:#e63c3c;
	color:#fff;
	font-size:12px;
	position:relative;
	top:-8px;
	right:13px;
}
.newsLists{
	position: absolute;
	top:38px;
	left:-40px;
	width:150px;
	border:1px solid #ccc;
	background-color:#fff;
	display:none;
}
.newsitem{
	width:100%;
}
.itemnum{
	position:absolute;
	right:0;
	top:0;
}