
<form class="form-horizontal"  id = "form1"  action="?app=userPoint&act=doSet" >
    <div class="form-group">
    <label class="col-sm-3 col-md-3 control-label">{$language1->point_set}</label>
    <div class="col-sm-4 col-md-4">
        <input type="text" class="form-control" name="point" value="{$point}"  readOnly="true" >
    </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label">{$language1->edit_point}</label>
        <div class="col-sm-3 col-md-3">
        <input type="number" class="form-control" value=""  name="point_num" min="0"/>
    </div>
    <div class="col-sm-1 col-md-1">
        <span class="up" style="font-size:16px; width:40px;height:30px;display:inline-block; line-height:30px;">{$language1->increase}</span>
    </div>
        <div class="col-sm-1 col-md-1">
            <span class="down" style="font-size:16px; width:40px;height:30px;display:inline-block; line-height:30px;">{$language1->decrease}</span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label">{$language2->remark}</label>
        <div class="col-sm-6 col-md-5 col-lg-4">
            <textarea class="point_content"  name='mark'   rows="40" cols="40"  style="border:1px solid #ddd;width: 350px;height: 100px"></textarea>
        </div>
    </div>
    <input type="hidden" name="userId" value="{$userId}">
</form>
<script>
  $(function(){
      var point;
      var oPoint=$('input[name=point]');
      var point_value;
      $('.up').click(function(){
          point=parseInt($("input[name=point_num]").val());
          if(isNaN(point)){
              point=0;
          }
          point_value=parseInt(oPoint.val())+point;
          oPoint.val(point_value);
          oPoint.attr('value',parseInt(point_value));
        })
      $('.down').click(function(){
          point=parseInt($("input[name=point_num]").val());
          if(isNaN(point)){
              point=0;
          }
          if(oPoint.val() <= 0){
              oPoint.val(0);
              oPoint.attr(0);
          }
          point_value=parseInt(oPoint.val())-point;
          if(point_value<=0){
              point_value=0;
          }
          oPoint.val(point_value);
          oPoint.attr('value',parseInt(point_value));
      })
    });

</script>
