<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
        <style>
            .add{
                font-size:30px;
                color:#ff0000;
                font-weight:bold;
            }
            .del{
                font-size:30px;
                color:#ff0000;
                font-weight:bold;
            }
            #recharge input{
                width:60px;
                padding:0 5px;
            }
        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            {include file="public/menu.html"}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->point_set}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                        <li><a href="#">{$language1->member_manage}</a></li>
                        <li class="active"> {$language1->point_set}</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-xs-12">
                            <!-- Horizontal Form -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <form class="form-horizontal" action="?app=userPoint&act=pointSave" data-type="ajax" method="post">
                                    <input type="hidden" name="id" class="form-control inblock" value=""/>
                                    <p style="margin-left: 50px;" >{$language1->rui_rule}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->rui_member}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.register_point}" name="register_point" min="1"> （{$language2->integral}）
                                                <input type="hidden"  name="point_id"  value="{$res.id}"   >
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <p style="margin-left: 50px;">{$language1->register_balance}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->register_balance}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.register_recharge}" name="register_recharge" min="1"> （{$language2->yuan}）
                                                <!--<input type="hidden"  name="point_id"  value="{$res.id}"   >-->
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <p style="margin-left: 50px;" >{$langdata.point_extension}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->recommend_point}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.first_point}" name="first_point" min="1" >
                                                <input type="hidden"  name="first_point_id"  value="{$res.first_point.id}"  >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->two_point}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.second_point}" name="second_point"  min="1" >
                                                <input type="hidden"  name="second_point_id"  value="{$res.second_point.id}"   >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->three_point}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.third_point}" name="third_point"  min="1" >
                                                <input type="hidden"  name="third_point_id"  value="{$res.third_point.id}"   >
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <p style="margin-left: 50px;" >{$language1->exchange_rule}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->rmb_rate}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.point_rate}" name="point_rate" min="1">
                                                <input type="hidden"  name="exchange_id"  value="{$res.exchange.id}"   >
                                                <span>ps:{$language1->rate_rule}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
<!--                                    <p style="margin-left: 50px;" >{$langdata.first_re}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$langdata.first_re}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                {$langdata.full}&nbsp;&nbsp;<input type="number" class="form-control w174 inblock"  value="{$res.charge}" name="charge" min="1">（{$langdata.yuan}）
                                                {$langdata.send}&nbsp;&nbsp;<input type="number" class="form-control w174 inblock"  value="{$res.first_recharge}" name="first_recharge" min="1">（{$langdata.integral}）
                                            </div>
                                        </div>
                                    </div>-->
                                    <p style="margin-left: 50px;" >{$language1->recharge_send}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3 col-lg-3 control-label"><span class="text-red">*</span>{$language1->recharge_rule}：</label>

                                            <div id="recharge" class="col-md-9">
                                                {if $ress}
                                                <input type="hidden" name="edit" value="1">
                                                {foreach from=$ress item=item key=key}
                                                <input type="hidden" name="dropIds[{$item.id}]" value="{$item.id}">
                                                <div style="margin-top:5px">
                                                    <input type="hidden" name="val[{$item.id}]" value="{$item.id}">
                                                    {$language1->full}&nbsp;&nbsp;<input type="text" name="start_charge[{$item.id}]" value="{$item.c_money}" class="form-control w120 inblock">（{$language2->yuan}）~
                                                    {$language1->give}&nbsp;&nbsp;<input type="text" name="end_charge[{$item.id}]" value="{$item.s_money}" class="form-control w120 inblock"/>（{$language2->yuan}）~ 
                                                    {$language1->give}&nbsp;&nbsp;<input type="text" name="recharge[{$item.id}]" value="{$item.integral}" class="form-control w120 inblock"/>（{$language2->integral}）~ 
                                                    {$language1->point_deduction}&nbsp;&nbsp;<input type="text" name="percent[{$item.id}]" value="{$item.percent}" class="form-control w120 inblock"/>（%）
                                                    <span class="add">+</span>  <span class="del">-</span>
                                                </div>
                                                {/foreach}
                                                {else}
                                                <div style="margin-top:5px">
                                                    {$language1->full}&nbsp;&nbsp;<input type="text" name="start_charge[]" value="" class="form-control w120 inblock">（{$language2->yuan}）~
                                                    {$language1->give}&nbsp;&nbsp;<input type="text" name="end_charge[]" value="" class="form-control w120 inblock"/>（{$language2->yuan}）~
                                                    {$language1->give}&nbsp;&nbsp;<input type="text" name="recharge[]" value="" class="form-control w120 inblock"/>（{$language2->integral}）~ 
                                                    {$language1->point_deduction}&nbsp;&nbsp;<input type="text" name="percent[]" value="" class="form-control w120 inblock"/>（%）
                                                    <span class="del">-</span>
                                                </div>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                                <!--                                                <a href="#" class="btn btn-default"><i class="fa fa-times-circle"></i> 关 闭</a>-->
                                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> {$language2->save}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}
            <script>
                $(".add").click(function(){
                    // console.log(222);
                    html = '';
                    html+=`
            <div style="margin-top:5px">
            {$language1->full}&nbsp;&nbsp;<input type="text" name="start_charge[]" class="form-control w120 inblock">（{$language2->yuan}）~ {$language1->give}&nbsp;&nbsp;<input type="text" name="end_charge[]" class="form-control w120 inblock"/>（{$language2->yuan}）~ {$language1->give}&nbsp;
            <input type="text" name="recharge[]" class="form-control w120 inblock"/>（{$language2->integral}）~ {$language1->point_deduction}&nbsp;&nbsp;<input type="text" name="percent[]" class="form-control w120 inblock"/> （%）<span class="del">-</span>
            </div>
        `;
                    $(this).parent().append(html);
                });

                $('body').on('click','.del',function(){
                    $(this).parent().remove();
                });
            </script>
    </body>

</html>
