<!DOCTYPE html>
<html>
    <head>
        {include file="public/header.html"}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {include file="public/title.html"}
            {include file="public/menu.html"}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {$language1->store_point_rule}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                        <li><a href="#">{$language1->regional_manage}</a></li>
                        <li class="active">{$language1->site}</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-xs-12">
                            <!-- Horizontal Form -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <form class="form-horizontal" action="?app=userPoint&act=saveStorePoint" data-type="ajax" method="post">
                                    <input type="hidden" name="id" class="form-control inblock" value=""/>
                                    <p style="margin-left: 50px;" >{$language1->rui_rule}</p>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->get_point_rate}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.order_point}" name="order_point" min="1" max="100"> %
                                                <input type="hidden"  name="point_id"  value="{$res.id}"   >
                                                <input type="hidden"  name="store_id"  value="{$res.store_id}"   >
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>

                                    <p style="margin-left: 50px;" >{$language1->exchange_rule}</p>


                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-5 col-md-3  col-lg-3 control-label"><span class="text-red">*</span> {$language1->deduction_top}：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="number" class="form-control w174 inblock"  value="{$res.point_price}" name="point_price" max="99" min="1"> %
                                                <input type="hidden"  name="exchange_id"  value="{$res.exchange.id}"   >
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                                <a href="?app=areaStore&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> {$language2->save}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}

    </body>

</html>
