<!DOCTYPE html>
<html>
    <head>

        {include file="public/header.html"}

    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}

            <!-- Content Wrapper. Contains page content -->
            {if $lang_id ==1}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Splitting rule editor
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Profit management</li>
                        <li class="active">Splitting rule editor</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-xs-12">
                            <!-- Horizontal Form -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal" action="?app=fxRuler&act=doEdit"  data-type="ajax" method="post">
                                    <div class="box-body">
                                        <input type="hidden" value="{$lang_id}" name="lang_id" />
                                        <input type="hidden" value="{$rs.id}" name="id" />
                                        <input type="hidden" value="{$p}" name="p" />
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> Splitting rule name：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="ruler_name" value="{$rs.rule_name}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> A splitting rule：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="lev1_prop" value="{$rs.lev1_prop}" >
                                            </div>
                                            %
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> Two splitting rules：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="lev2_prop" value="{$rs.lev2_prop}">
                                            </div>
                                            %
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> Three splitting rules：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="lev3_prop" value="{$rs.lev3_prop}">
                                            </div>
                                            %
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> Regional countries：</label>
                                            <div class="col-sm-8 col-md-8 col-lg-6">
                                                <select class="form-control w160 j_select inblock j-cate1" name="store_cate">
                                                    <option value="0">Unrestricted</option>
                                                    {foreach from=$storeCate item=item}
                                                    <option value="{$item.id}" {if $rs.store_cate == $item.id} selected {/if}>{$item.cate_name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label">shop：</label>
                                            <div id="check-box">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"></label>
                                                <div class="col-sm-7 col-md-10 col-lg-9 j_store_cate">
                                                    {foreach from=$storeCateInfo item=vo}
                                                    {if in_array($vo.id,$storeInfo)}
                                                    <label class="checkbox-inline " >
                                                        <input type="checkbox" name="store_id[]" value="{$vo.id}" class="check check1" checked /> {$vo.store_name}
                                                    </label>
                                                    {else}
                                                    <label class="checkbox-inline " >
                                                        <input type="checkbox" name="store_id[]" value="{$vo.id}" class="check check1" /> {$vo.store_name}
                                                    </label>
                                                    {/if}
                                                    {/foreach}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                                <a href="admin.php?app=fxRuler&act=ruleList&lang_id={$lang_id}&p={$p}" class="btn btn-default"><i class="fa fa-times-circle"></i> Close</a>
                                                <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> Preservation</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}
            {else}
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        分润规则编辑
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li class="active">分润管理</li>
                        <li class="active">分润规则编辑</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-xs-12">
                            <!-- Horizontal Form -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal" action="?app=fxRuler&act=doEdit"  data-type="ajax" method="post">
                                    <div class="box-body">
                                        <input type="hidden" value="{$lang_id}" name="lang_id" />
                                        <input type="hidden" value="{$rs.id}" name="id" />
                                        <input type="hidden" value="{$p}" name="p" />
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 分润规则名称：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="ruler_name" value="{$rs.rule_name}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 一级分润规则：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="lev1_prop" value="{$rs.lev1_prop}" >
                                            </div>
                                            %
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 二级分润规则：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="lev2_prop" value="{$rs.lev2_prop}">
                                            </div>
                                            %
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 三级分润规则：</label>
                                            <div class="col-sm-6 col-md-5 col-lg-4">
                                                <input type="text" class="form-control" name="lev3_prop" value="{$rs.lev3_prop}">
                                            </div>
                                            %
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> 区域国家：</label>
                                            <div class="col-sm-8 col-md-8 col-lg-6">
                                                <select class="form-control w160 j_select inblock j-cate1" name="store_cate">
                                                    <option value="0">不限制</option>
                                                    {foreach from=$storeCate item=item}
                                                    <option value="{$item.id}" {if $rs.store_cate == $item.id} selected {/if}>{$item.cate_name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-2 control-label">店铺：</label>
                                            <div id="check-box">
                                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"></label>
                                                <div class="col-sm-7 col-md-10 col-lg-9 j_store_cate">
                                                    {foreach from=$storeCateInfo item=vo}
                                                    {if in_array($vo.id,$storeInfo)}
                                                    <label class="checkbox-inline " >
                                                        <input type="checkbox" name="store_id[]" value="{$vo.id}" class="check check1" checked /> {$vo.store_name}
                                                    </label>
                                                    {else}
                                                    <label class="checkbox-inline " >
                                                        <input type="checkbox" name="store_id[]" value="{$vo.id}" class="check check1" /> {$vo.store_name}
                                                    </label>
                                                    {/if}
                                                    {/foreach}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                                <a href="admin.php?app=fxRuler&act=ruleList&lang_id={$lang_id}&p={$p}" class="btn btn-default"><i class="fa fa-times-circle"></i> 关 闭</a>
                                                <button class="btn btn-primary pull-right" id="submit"><i class="fa fa-save"></i> 保 存</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            {include file="public/footer.html"}
            {/if}
            <script src="{$STATIC_URL}/plugin/ajaxfileupload/ajaxfileupload.js"></script>

            <div class="control-sidebar-bg"></div>
        </div>
        {if $lang_id ==1}
        {literal}
        <script type="text/javascript">
            //分类关联
            $(".j-cate1").on("change", function () {
                $('.j_room').hide();
                var t_id = $('input[name=id]').val();
                var _this = $(this);
                var id = $(this).find(":selected").val();
                var url = "?app=fxRuler&act=getChild&parent_id=" + id + '&t_id=' + t_id;
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: url,
                    success: function (obj) {
                        if (obj.status == 1) {
                            var option = '';
                            $.each(obj.info, function (i, e) {
                                option += '<label class="checkbox-inline " >';
                                if (e.flag == 1) {
                                    option += '<input type="checkbox" name="store_id[]" value="' + e.id + '" class="check check1" checked>' + e.store_name;
                                } else {
                                    option += '<input type="checkbox" name="store_id[]" value="' + e.id + '" class="check check1">' + e.store_name;
                                }
                                option += '</label>';
                            });
                            $('.j_store_cate').html(option);

                        } else {
                            option = '<span style="color: red;">Not limited to all stores！</span>';
                            $('.j_store_cate').html(option);
                        }

                    }

                });
            });
        </script>
        {/literal}
        {else}
        {literal}
        <script type="text/javascript">
            //分类关联
            $(".j-cate1").on("change", function () {
                $('.j_room').hide();
                var t_id = $('input[name=id]').val();
                var _this = $(this);
                var id = $(this).find(":selected").val();
                var url = "?app=fxRuler&act=getChild&parent_id=" + id + '&t_id=' + t_id;
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: url,
                    success: function (obj) {
                        if (obj.status == 1) {
                            var option = '';
                            $.each(obj.info, function (i, e) {
                                option += '<label class="checkbox-inline " >';
                                if (e.flag == 1) {
                                    option += '<input type="checkbox" name="store_id[]" value="' + e.id + '" class="check check1" checked>' + e.store_name;
                                } else {
                                    option += '<input type="checkbox" name="store_id[]" value="' + e.id + '" class="check check1">' + e.store_name;
                                }
                                option += '</label>';
                            });
                            $('.j_store_cate').html(option);

                        } else {
                            option = '<span style="color: red;">不限制适用于所有店铺！</span>';
                            $('.j_store_cate').html(option);
                        }

                    }

                });
            });
        </script>
        {/literal}
        {/if}
    </body>
</html>


