<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>IM1.0</title>
</head>
<body>

<form>
	<input type="hidden" id="user_id" value="{$uid}">
	<input type="hidden" id="kf_id" value="{$kf_id}">
    <input type="hidden" id="fd" value="">
<textarea rows="6" cols="30" id="cons" name="cons">
	{$info.goods_name}
</textarea>
<br>
<input type="text" value="" name="con" id="con">
<input type="button" name='btn' id="btn" value="发送" onclick="sendMsg();">

</form>
<script type="text/javascript" src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery-json/2.6.0/jquery.json.min.js"></script>
{literal}
<script>
var cons = document.getElementById("cons");

var wsServer = "ws://59.110.220.255:9502";
var webSocket = new WebSocket(wsServer);
webSocket.onopen = function(evt){
	console.log("链接成功");

};
webSocket.onclose = function(evt){
	console.log("链接关闭");
};
webSocket.onerror = function(evt, e){
    console.log("错误"+evt.data);
};

//接受服务器传来的数据
webSocket.onmessage = function(evt){

   // console.log('从服务器获取数据：'+evt.data);

    var pdata = $.parseJSON(evt.data);
    var fd = pdata.fd;
    var type = pdata.type;
    var content = pdata.cont;

    console.log(pdata.type);
    console.log(pdata.fd);

    if(type == 'open'){
        //追加到页面
        cons.innerHTML += content;
        //向数据库加 fd 表 加 数据
        openData(fd);
    }
    if(type='msg'){
        //
    }


};


//客户端 向 服务器 推送消息
function sendMsg(){
	var fid = $("#user_id").val(); //访客uid
	//var tid = $("#kf_id").val();
    var tid = 1; //客服的uid
	var cont = $("#con").val();
	var pData = '{"fid":"'+fid+'","tid":"'+tid+'","cont":"'+cont+'"}';
	webSocket.send(pData);
}

//function initData() {
//	var pData = {
//		fid: fid,
//		tid: tid,
//	}
//	webSocket.send(); //获取消息记录，绑定fd
//}

//function loadData(data) {
//	for (var i = 0; i < data.length; i++) {
//		var html = '<p>' + data[i].fid + '>' + data[i].tid + ':' + data[i].content + '</p>';
//		$("#history").append(html);
//	}
//}


    function  openData(fd){
        var url = '';
        var uid = $("#user_id").val();
        var data = { uid: uid, fd: fd };
//        $.post(url,data,function(){
//
//        });
    }

</script>
{/literal}
</body>
</html>