<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>站点管理员添加</title>
        <!-- Tell the browser to be responsive to screen width -->
        {include file="public/header.html"}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

            {include file="public/title.html"}
            <!-- Left side column. contains the logo and sidebar -->
            {include file="public/menu.html"}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                {include file="public/headtab.html"}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        站点管理员添加
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="?app=default&act=index&lang_id={$lang_id}"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li><a href="#">区域管理员</a></li>
                        <li class="active">站点管理员添加</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- right column -->
                        <div class="col-xs-12">
                            <!-- Horizontal Form -->
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"></h3>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal" action="?app=storeUser&act=doAdd" data-type="ajax">
                                    <div class="box-body">
                                        <input type="hidden" name = "lang_id" value="{$lang_id}">
                                        <input type="hidden" name = "p" value="{$p}">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red">*</span> 管理角色：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <select class="form-control" name="storeuseradmin_id">
                                                    <option value="0">请选择管理角色</option>
                                                    {foreach from=$storeInfo item=v}
                                                    <option value="{$v.id}">{$v.name}</option>
                                                    {/foreach}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red">*</span> 管理员名称：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="text" class="form-control"  placeholder="" name="username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red"></span> 手机：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="text" class="form-control"  placeholder="" name="mobile">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red"></span> 邮箱：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="email" class="form-control"  placeholder="" name="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red"></span> QQ：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="text" class="form-control"  placeholder="" name="QQ">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red">*</span> 商城登录账号：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="text" class="form-control"  placeholder="" name="login_name">
                                            </div>
                                            <!--<label class="col-xs-2 control-label" style="font-weight: normal;" >-QZ001@711home</label>-->
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-2  col-lg-3 control-label"><span class="text-red">*</span> 商城登录密码：</label>
                                            <div class="col-sm-7 col-md-6 col-lg-5">
                                                <input type="password" class="form-control"  placeholder="" name="password">
                                            </div>
                                            <!--<label class="col-xs-2 control-label" style="font-weight: normal;" >-QZ001@711home</label>-->
                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                    <div class="box-footer" style="border-top: none;margin: 30px 0 50px 0;">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                                <a href="?app=storeUser&act=index&lang_id={$lang_id}&p={$p}" class="btn btn-default"><i class="fa fa-times-circle"></i> 关 闭</a>
                                                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> 保 存</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- /.box -->
                                <!-- general form elements disabled -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            {include file="public/footer.html"}
        </div>
        <script type="text/javascript">
            $(function () {
                $("[name='my-checkbox1']").bootstrapSwitch({
                    // onText:"是",
                    // offText:"否",
                    size: "mini",
                    onSwitchChange: function (event, state) {
                        if (state == true) {
                            $(this).val("1");
                        } else {
                            $(this).val("2");
                        }
                    }
                });
            })
        </script>
    </body>
</html>
