<form class="form-horizontal" id="form1"  action="store.php?app=guestList&act=editOrderState">
    <br>
    <input type="hidden" name = "order_sn" value="{$list['order_sn']}_confirm">
    <input type="hidden" name = "lang_id" value="{$lang_id}">
    <input type="hidden" name = "source" value="{$source}">
    <input type="hidden" name = "zhaoling" value="">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red"></span> 当前金额 </label>
        <div class="col-sm-7 col-md-7">
            <p style="color:#ff0000;margin:0 10px;line-height:2.5;" ><span>{$symbol}</span><span class="allPrice">{$list.order_amount}</span></p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> 支付金额 </label>
        <div class="col-sm-7 col-md-7 youhuijine" id="youhuijine">
            <input type="text" class="form-control youhuidiscount"  placeholder="请输入支付金额"  name="youhuidiscount" value="">
        </div>
    </div> 
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label">找零</label>
        <div class="col-sm-7 col-md-7">
            <p style="color:#ff0000;margin:0 10px;line-height:2.5;"><span>{$symbol}</span><span class="youhuilessprice">0.00</span></p>
        </div>
    </div>
</form>
{literal}
<script type="text/javascript">
    //手动优惠 失去焦点，单独计算
    $('.youhuijine').on('blur', '.youhuidiscount', function () {
        var that = $(this);
        var pattern = /^[0-9]+([.]{1}[0-9]{1,2})?$/;
        if ($(this).val().length == 0 || $(this).val() == '0.00' || !pattern.test($(this).val())) {
            $.confirm({
                title: '',
                closeIcon: true,
                content: "<i class='fa fa-warning text-yellow' style='font-size:38px'></i>&nbsp;&nbsp; 付款金额格式错误 !",
                type: 'blue',
                buttons: {
                    confirm: {
                        btnClass: 'btn-blue',
                        text: '确认',
                        action: function () {
                            $(this).val('');
                        }
                    }
                }
            });
            $(this).val('');
            return false;
        }
        var yprices = $('.allPrice').html();

        if (parseFloat($(this).val()) < parseFloat(yprices)) {
            $.confirm({
                title: '',
                closeIcon: true,
                content: "<i class='fa fa-warning text-yellow' style='font-size:38px'></i>&nbsp;&nbsp; 付款金额要大于当前订单金额 !",
                type: 'blue',
                buttons: {
                    confirm: {
                        btnClass: 'btn-blue',
                        text: '确认',
                        action: function () {
                            $(this).val('');
                        }
                    }
                }
            });
            $(this).val('');
            return false;
        }
        if (parseFloat($(this).val()) < 0) {
            $.confirm({
                title: '',
                closeIcon: true,
                content: "<i class='fa fa-warning text-yellow' style='font-size:38px'></i>&nbsp;&nbsp; 付款金额不能小于O !",
                type: 'blue',
                buttons: {
                    confirm: {
                        btnClass: 'btn-blue',
                        text: '确认',
                        action: function () {
                            that.val(' ');
                        }
                    }
                }
            });
            //alert('折扣不得小于1！');
            return false;
        } else {
            var value = +$(this).val();
            $(this).val(value.toFixed(2));
            var yprice = $('.allPrice').html();
            var zprice = $(this).parents('div').find('.youhuidiscount');
            var youhuilessprice = $(this).parents('div').find('.youhuilessprice');
            var zhaoling = $('input[name=zhaoling]');
            youhuilessprice.html((zprice.val() - yprice).toFixed(2));
            zhaoling.val((zprice.val() - yprice).toFixed(2))
        }
    });
</script>
{/literal}