{if $lang_id==1}
<div class="height">
    <div class="new-table-responsive">
        <div class="box-body table-responsive no-padding ">
            <div class="box-header">
                <div class="form-inline col-sm-10 col-md-11 no-padding">
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="gname"  placeholder="Please enter a user nickname">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="phone"  placeholder="Please enter the phone number">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="mailbox"  placeholder="Please enter a mailbox account">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <button type="button" class="btn btn-default btn-sm" id="submit1">
                            Search <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden"  name="totalpage"  value="{$totalpage}" >
            <table class="table tc-box" id="content">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nickname</th>
                        <th>Phone number</th>
                        <th>Mail</th> 
                        <th>Registering area</th>
                    </tr>
                </thead>
                <tbody >
                    {foreach from=$list item=item}
                    <tr>
                        <td><input type="radio" name="check-name" data-name="{$item.username}" data-id="{$item.id}" /></td>
                        <td>{$item.username}</td>
                        <td>{$item.phone}</td>
                        <td>{$item.email}</td>
                        <td>{$item.store_name}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div class="page-box">
                <ul id="page" class="pagination" >
                </ul>
            </div>
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    // active样式选择
    $(function () {
        $('.tc-box').on('click', '.ncbtn', function () {
            $(this).toggleClass('active');
        })
    })


    /*分页*/
    $(function () {

        var is_firsttime = true;
        var totalpage = $('input[name="totalpage"]').val();
        totalpage = parseInt(totalpage);
        $('#page').jqPaginator({
            totalPages: totalpage,
            visiblePages: 7,
            currentPage: 1,
            first: '<li class="prev"><a href="javascript:;">Home</a></li>',
            prev: '<li class="prev"><a href="javascript:;">Previous page</a></li>',
            next: '<li class="next"><a href="javascript:;">Next page</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            last: '<li class="prev"><a href="javascript:;">Tail page</a></li>',
            onPageChange: function (num, type) {
                if (is_firsttime) {
                    is_firsttime = false;
                } else {
                    //ajax获取
                    var url = '?app=guestList&act=getGoodsUser&p=' + num + '&lang_id=1';
                    $.get(url, function (res) {
                        $('#content').html(res);
                    });
                }
            }
        });
        /*搜索*/
        $('#submit1').click(function () {
            var gname = $.trim($('input[name="gname"]').val());
            var phone = $.trim($('input[name="phone"]').val());
            var mailbox = $.trim($('input[name="mailbox"]').val());
            totalPage(gname, phone, mailbox);
        });
        function totalPage(gname, phone, mailbox) {
            //ajax
            var url = '?app=guestList&act=totalUser&gname=' + gname + '&phone=' + phone + '&mailbox=' + mailbox;
            $.get(url, function (res) {
                var obj = jQuery.parseJSON(res);
                var r = obj.total;
                $('#page').jqPaginator({
                    totalPages: r,
                    visiblePages: 7,
                    currentPage: 1,
                    first: '<li class="prev"><a href="javascript:;">Home</a></li>',
                    prev: '<li class="prev"><a href="javascript:;">Previous page</a></li>',
                    next: '<li class="next"><a href="javascript:;">Next page</a></li>',
                    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                    last: '<li class="prev"><a href="javascript:;">Tail page</a></li>',
                    onPageChange: function (num, type) {
                        //ajax
                        var url = '?app=guestList&act=getGoodsUser&p=' + num + '&gname=' + gname + '&phone=' + phone + '&mailbox=' + mailbox + '&lang_id=1';
                        $.get(url, function (res) {
                            $('#content').html(res);
                        });
                    }

                });

            })

        }
    })
</script>
{/literal}

{else}
<div class="height">
    <div class="new-table-responsive">
        <div class="box-body table-responsive no-padding ">
            <div class="box-header">
                <div class="form-inline col-sm-10 col-md-11 no-padding">
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="gname"  placeholder="请输入用户昵称">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="phone"  placeholder="请输入手机号码">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <input type="text" class="form-control"  value=""  name="mailbox"  placeholder="请输入邮箱账号">
                    </div>
                    <div class="form-group form-group-sm form-mar">
                        <button type="button" class="btn btn-default btn-sm" id="submit1">
                            搜索 <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <input type="hidden"  name="totalpage"  value="{$totalpage}" >
            <table class="table tc-box" id="content">
                <thead>
                    <tr>
                        <th></th>
                        <th>用户昵称</th>
                        <th>手机号码</th>
                        <th>邮件</th> 
                        <th>注册区域</th>
                    </tr>
                </thead>
                <tbody >
                    {foreach from=$list item=item}
                    <tr>
                        <td><input type="radio" name="check-name" data-name="{$item.username}" data-id="{$item.id}" /></td>
                        <td>{$item.username}</td>
                        <td>{$item.phone}</td>
                        <td>{$item.email}</td>
                        <td>{$item.store_name}</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <div class="page-box">
                <ul id="page" class="pagination" >
                </ul>
            </div>
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    // active样式选择
    $(function () {
        $('.tc-box').on('click', '.ncbtn', function () {
            $(this).toggleClass('active');
        })
    })


    /*分页*/
    $(function () {

        var is_firsttime = true;
        var totalpage = $('input[name="totalpage"]').val();
        totalpage = parseInt(totalpage);
        $('#page').jqPaginator({
            totalPages: totalpage,
            visiblePages: 7,
            currentPage: 1,
            first: '<li class="prev"><a href="javascript:;">首页</a></li>',
            prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
            next: '<li class="next"><a href="javascript:;">下一页</a></li>',
            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
            last: '<li class="prev"><a href="javascript:;">尾页</a></li>',
            onPageChange: function (num, type) {
                if (is_firsttime) {
                    is_firsttime = false;
                } else {
                    //ajax获取
                    var url = '?app=guestList&act=getGoodsUser&p=' + num;
                    $.get(url, function (res) {
                        $('#content').html(res);
                    });
                }
            }
        });
        /*搜索*/
        $('#submit1').click(function () {
            var gname = $.trim($('input[name="gname"]').val());
            var phone = $.trim($('input[name="phone"]').val());
            var mailbox = $.trim($('input[name="mailbox"]').val());
            totalPage(gname, phone, mailbox);
        });
        function totalPage(gname, phone, mailbox) {
            //ajax
            var url = '?app=guestList&act=totalUser&gname=' + gname + '&phone=' + phone + '&mailbox=' + mailbox;
            $.get(url, function (res) {
                var obj = jQuery.parseJSON(res);
                var r = obj.total;
                $('#page').jqPaginator({
                    totalPages: r,
                    visiblePages: 7,
                    currentPage: 1,
                    first: '<li class="prev"><a href="javascript:;">首页</a></li>',
                    prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                    next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                    page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                    last: '<li class="prev"><a href="javascript:;">尾页</a></li>',
                    onPageChange: function (num, type) {
                        //ajax
                        var url = '?app=guestList&act=getGoodsUser&p=' + num + '&gname=' + gname + '&phone=' + phone + '&mailbox=' + mailbox;
                        $.get(url, function (res) {
                            $('#content').html(res);
                        });
                    }

                });

            })

        }
    })
</script>
{/literal}

{/if}
