<!DOCTYPE html>
<html>
<head>

    {include file="public/header.html"}

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->edit_deduction_coupon}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i>  {$language1->index}</a></li>
                <li class="active">{$language1->electronic_coupon}</li>
                <li class="active">{$language1->edit_deduction_coupon}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- right column -->
                <div class="col-xs-12">
                    <!-- Horizontal Form -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language2->start_time}：</label>
                                    <div class="col-sm-7 col-md-6 col-lg-5">
                                        <input type="text" class="form-control w174 inblock"  value="{$couponData.start_time}"  placeholder="" id="datepicker1" name="start_time" readonly/>
                                        <label class="">{$language2->end_time}：</label>
                                        <input type="text" class="form-control w174 inblock" value="{$couponData.end_time}" placeholder="" id="datepicker2" name="end_time" readonly/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2 col-lg-2 control-label"><span class="text-red">*</span>{$language1->condition_amount}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="money"  value="{$couponData.money}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2 col-lg-2 control-label"><span class="text-red">*</span>{$language1->deduction_amount}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="text" class="form-control" name="discount" value="{$couponData.discount}" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2 col-lg-2 control-label">{$language1->total_usage}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="number" class="form-control" name="total_times" value="{$couponData.total_times}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2 col-lg-2 control-label">{$language1->usage_day}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <input type="number" class="form-control" name="day_times" value="{$couponData.day_times}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 col-md-2 col-lg-2 control-label">{$language1->recharge_rule}：</label>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <select class="form-control" name="rule_id" id="rule_id">
                                            <option value="0">{$language2->please_select}{$language1->recharge_rule}</option>
                                            {foreach from=$ruleData item=item}
                                            <option value="{$item.id}"  {if $item.id == $couponData.recharge_id} selected {/if}>{$item.ruleStr}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                                <label class="col-sm-4 col-md-2  col-lg-2 control-label"><span class="text-red">*</span> {$language1->select_shop}：</label>
                                <div class="col-sm-6 col-md-5 col-lg-4">
                                    <input type="radio"  name="storeValue"  value="1" {if $couponData.store_value == 1}  checked {/if} onclick="choose(this);" > {$language1->all_store}
                                    <input type="radio"  name="storeValue" value="2"  {if $couponData.store_value == 2}  checked {/if}   onclick="choose(this);" > {$language1->designated_store}
                                </div>
                            </div>
                            <div class="form-group display3" style="display: none">
                                <label class="col-sm-4 col-md-2 col-lg-2 control-label"><span class="text-red">*</span>{$language1->store_list}：</label>
                                <div class="col-sm-6 col-md-5 col-lg-4">
                                    <input type="text" class="form-control" name="storeName" readonly value="{$storeNameStr}">
                                    <input type="hidden" name="storeIds" value="{$couponData.store_id}">
                                </div>
                                <div class="col-xs-1"><span class="btn btn-primary" id="store">{$language1->store_list}</span></div>
                            </div>
                            </div>
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-4 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-2">
                                        <a href="admin.php?app=coupon&act=index" class="btn btn-default"><i class="fa fa-times-circle"></i> {$language2->close}</a>
                                        <button class="btn btn-primary pull-right" type="button" id="submit"><i class="fa fa-save"></i> {$language2->save}</button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="store_value" value="{$couponData.store_value}">
                            <input type="hidden"  name="p" value="{$p}" />
                            <input type="hidden" name="id" value="{$couponData.id}">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {include file="public/footer.html"}
</div>
{literal}
<script type="text/javascript">
    $(function(){
        var store_value=$('input[name=store_value]').val();
        if(store_value==2){
            $('.display3').show();
            $('.display2').hide();
        }
    })

    //选择店铺
    $('#store').click(function() {
        setTimeout(function() {
            dialog_form_radio('admin.php?app=coupon&act=getStore', '店铺列表');
        }, 100);
    });
    function dialog_form_radio(file_url,title) {
        $.get(file_url,function (data) {
            $.confirm({
                boxWidth:'80%',
                useBootstrap:false,
                title:title,
                content:data,
                animationBounce:1.5,
                type:'blue',
                buttons:{
                    confirm:{
                        btnClass:'btn-blue',
                        text:'保存',
                        action:function () {
                            var storeIdsArr=new Array();
                            var storeNameArr = new Array();
                            $('.radio-name:checked').each(function (i,v) {
                                storeIdsArr.push($(this).attr('data-id'));
                                storeNameArr.push($(this).attr('data-name'));
                            });
                            var storeIdsStr=storeIdsArr.join(',');
                            var storeNameStr=storeNameArr.join(',');
                            $('input[name=storeName]').val(storeNameStr);
                            $('input[name=storeIds]').val(storeIdsStr);
                        }
                    },
                    cancel:{
                        btnClass:'btn-default',
                        text:'取消'
                    }
                }
            })
        })
    }
    //类别的选择
    function choose(obj) {
        var value = parseInt(obj.value);
        if (value == 1) {
            $('.display2').show();
            $('.display3').hide();
        } else if (value == 2) {
            $('.display3').show();
            $('.display2').hide();
        }
    }
    //时间插件
    var newDate = new Date();
    var t = newDate.toJSON();
    $('#datepicker1').datetimepicker({
        minView: "month",
        autoclose: true,
        language: 'ch',
        format: "yyyy-mm-dd",
        clearBtn: true,
        startDate: new Date(t),
        timepicker:false,

    });
    $('#datepicker2').datetimepicker({
        minView: "month",
        autoclose: true,
        language: 'ch',
        format: "yyyy-mm-dd",
        clearBtn: true,
        startDate: new Date(t),
        timepicker:false,

    });
    function dateTotime(fromDate) {
        var stringTime = fromDate;
        var timestamp2 = Date.parse(new Date(stringTime));
        timestamp2 = timestamp2 / 1000;
        return timestamp2;
    }
    function isNumber(oNum)
    {

        var t=/^\d+(\.\d+)?$/;
        if(t.test(oNum))
        {
            return 1;
        }
        else
        {
            //alert("非法字符");
            return 0;
        }
    }

    function isNumbers(oNum)
    {

        var t=/^([1-9]\d*(\.\d*[1-9])?)|(0\.\d*[1-9])$/;
        if(t.test(oNum))
        {
            return 1;
        }
        else
        {
            //alert("非法字符");
            return 0;
        }
    }
    $('body').on('click','#submit',function () {
        var id = $("input[name=id]").val();
        var start_time = $('input[name=start_time]').val();
        start_time=dateTotime(start_time);
        var end_time = $('input[name=end_time]').val();
        end_time=dateTotime(end_time);
        var store_value = $('input:radio:checked').val();
        var day_times = $('input[name=day_times]').val();
        var total_times = $('input[name=total_times]').val();
        var money=$('input[name=money]').val();
        var discount=$('input[name=discount]').val();
        var store_ids=$('input[name=storeIds]').val();
        var rule_id =$('#rule_id option:selected').val();
        if (!start_time || !end_time) {
            dialog('请填写时间区间！');
            return;
        }
        if (start_time > end_time) {
            dialog('请填写开始时间不能大于结束时间！');
            return;
        }
        if(!discount){
            dialog('请填写抵扣金额');
            return;
        }
        if(!money){
            dialog('请填写条件金额');
            return;
        }
        // if(money < 0){
        //     dialog('条件金额不能低于0');
        //     return;
        // }
        // if (discount < 0){
        //     dialog('抵扣金额不能低于0');
        //     return;
        // }
        if (isNumber(money) == 0){
            dialog('条件金额必须为大于等于0的数');
            return;
        }
        if (isNumbers(discount) == 0){
            dialog('抵扣金额必须为大于0的数');
            return;
        }
        if (money == 0 && discount == 0){
            dialog('抵扣金额和条件金额都不能同时为0');
            return;
        }
        if(total_times < 0){
            dialog('总使用次数不能低于0');
            return;
        }
        if (day_times < 0){
            dialog('每天使用次数不能低于0');
            return;
        }
        if(store_value==2 && !store_ids ){
            dialog('请选择店铺');
            return;
        }
            var data = {"id":id,'money':money,'discount':discount,'end_time':end_time,'start_time':start_time,'day_times':day_times,'total_times':total_times,'store_ids':store_ids,'store_value':store_value,'rule_id':rule_id};
            $.ajax({
                url:'?app=coupon&act=doEdit',
                type:'POST',
                data:data,
                dataType:'json',
                success:function (data) {
                    if (data.status == 1){
                        var d = $.dialog({
                            content: '<div class="text-center">' + data.message + '</div>',
                            title: false, // hides the title.
                            closeIcon: false, // hides the close icon.
                            columnClass: 'xsmall',
                            onOpen: function () {
                                setTimeout(function () {
                                    d.close();
                                }, 1000);
                                window.location.href = data.info.url;
                            }
                        });
                        return false;
                    }else{
                        var d = $.dialog({
                            content: '<div class="text-center">' + data.message + '</div>',
                            title: false, // hides the title.
                            closeIcon: false, // hides the close icon.
                            columnClass: 'xsmall',
                            onOpen: function () {
                                setTimeout(function () {
                                    d.close();
                                }, 1000);
                            }
                        });
                        return false;
                    }
                }
            })
    })
    function dialog(msg) {
        $.confirm({
            title: '',
            closeIcon: true,
            content: "<i class='fa fa-warning text-yellow' style='font-size:38px'></i>&nbsp;&nbsp; " + msg + "",
            type: 'blue',
            buttons: {
                confirm: {
                    btnClass: 'btn-blue',
                    text: '确认',
                    action: function () {

                    }
                }
            }
        });
        return;
    }
</script>
{/literal}
</body>
</html>


