{foreach from=$data item=item}
    <tr>
        <td><input class="radio-name" type="checkbox" name="radio" data-name="{$item.username}" data-id="{$item.id}" {if in_array($item.id, $userIdList)}checked{/if}/></td>
        <td>{$item.username}</td>
        <td>{$item.phone}</td>
        <td>{$item.add_time|date_format:"%Y-%m-%d"}</td>
    </tr>
{/foreach}
<script>
    $('.radio-name').click(function(){
        if ($('.radio-name').is(':checked')) {
            if ($.inArray($(this).attr('data-id'), user_id) < 0) {
                user_id.push($(this).attr('data-id'));
                user_name.push($(this).attr('data-name'));
            }
        } else {
            user_id.splice($.inArray($(this).attr('data-id'),user_id),1);
            user_name.splice($.inArray($(this).attr('data-name'),user_name),1);
        }
        $('#user_id').val(user_id);
        $('#user_name').val(user_name);
    })

</script>