{if $lang_id == 1}
<!--<link rel="stylesheet" href="{$STATIC_URL}/store/dist/css/main.css">-->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">Main navigation</li>

            <li class="treeview {if  'default' == $app} active {/if}"  >
                <a href="store.php?app=default&act=index&lang_id={$lang_id}">
                    <i class="fa fa-folder"></i>
                    <span>Home</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            {foreach from=$menuData item=m}
            <li class="treeview {if $m['app'] == $app} active {/if}"  >
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>{$m.english_title}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {foreach from=$m['son'] item=s}
                    <li {if $s.app == $curapp and $s.act == $act} class ="active" {/if}>
                        <a href="?app={$s.app}&act={$s.act}&lang_id={$lang_id}">
                            <i class="fa fa-circle-o"></i>
                            {$s.english_title}

                        </a>
                    </li>
                    {/foreach}
                </ul>
            </li>
            {/foreach}
        </ul>
    </section>
</aside>
{else}
<!--<link rel="stylesheet" href="{$STATIC_URL}/store/dist/css/main.css">-->
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">主 导 航</li>
            <li class="treeview {if  'default' == $app} active {/if}"  >
                <a href="store.php?app=default&act=index&lang_id={$lang_id}">
                    <i class="fa fa-folder"></i>
                    <span>首页</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            {foreach from=$menuData item=m}
            <li class="treeview {if $m['app'] == $app} active {/if}"  >
                <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>{$m.title}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    {foreach from=$m['son'] item=s}
                    {if $s.id != 70 }
                    <li {if $s.app == $curapp and $s.act == $act} class ="active" {/if}>
                        <a href="?app={$s.app}&act={$s.act}&lang_id={$lang_id}">
                            <i class="fa fa-circle-o"></i>
                            {$s.title}
                        </a>
                    </li>
                    {/if}
                    {/foreach}
                </ul>
            </li>
            {/foreach}
        </ul>
    </section>
</aside>
{/if}