<!DOCTYPE html>
<html style="font-size:50px">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="{$STATIC_URL}/phone/css/style.css"/>
    <script src="{$STATIC_URL}/phone/js/jquery-2.1.1.min.js"></script>
</head>
<body>
    <div class="couponTabs">
        <div style="padding: 10px;padding-bottom: 0;background-color: #fff;">
            <ul>
                <li class="active">
                    <div class="tabsTxt">
                        <span target="#d1">{$langdata.use_wgq}</span>
                        <span>{if $wtotal}({$wtotal}){else}(0){/if}</span>
                    </div>
                </li>
                <li>
                    <div class="tabsTxt tabsTxt1">
                        <span target="#d2">{$langdata.use_ygq}</span>
                        <span>{if $ctotal}({$ctotal}){else}(0){/if}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="couponContainer">
            <div id="d1" class="active">
            {foreach from=$wData item=item }
                <div class="yhq">
                    <div class="yhq-left">
                        <div class="yhq-left-top">
                            <b>{$symbol}{$item.discount}</b>
                            <span>{$langdata.use_yhq}</span>
                        </div>
                        <div class="yhq-left-bottom">
                            {$langdata.use_ddm} <span>{$item.money}</span>{$langdata.use_y}
                        </div>
                    </div>
                    <div class="yhq-right">
                        <div>{$langdata.use_yhq}</div>
                        <p>{$item.start_time|date_format:"%Y-%m-%d"}</p>
                        <p>{($item.end_time-85399)|date_format:"%Y-%m-%d"}</p>
                    </div>
                </div>
                {/foreach}
            </div>
            <div id="d2">
                {foreach from=$cData item=val }
                <div class="yhq">
                    <div class="yhq-left">
                        <div class="yhq-left-top">
                            <b>{$symbol}{$val.discount}</b>
                            <span>{$langdata.use_yhq}</span>
                        </div>
                        <div class="yhq-left-bottom">
                            {$langdata.use_ddm} <span>{$val.money}</span>{$langdata.use_y}
                        </div>
                    </div>
                    <div class="yhq-right">
                        <div>{$langdata.use_fq}</div>
                        <p>{$val.start_time|date_format:"%Y-%m-%d"}</p>
                        <p>{$val.end_time|date_format:"%Y-%m-%d"}</p>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
    <script>
        //tab页切换
        $("div.couponTabs li").click(function(){
            $(this).addClass("active").siblings("li.active").removeClass("active");
            var id=$(this).find("span").attr("target");
            $(id).addClass("active").siblings("div.active").removeClass("active");
        });
    </script>
</body>
</html>