{foreach from=$data  item=item}
<div class="reviewitem">
    <div class="showstar mb15">
        <div class="atar_Show">
            <p tip="20" style="width:{$item.goods_rank*22}px;"></p>
        </div>
        <!--<span>4.5</span>-->
    </div>
    <p><span class="date">{$item.add_time|date_format:"%Y - %m - %d - "}</span> – {$langdata.Buyers} – <span>{$item.username}</span></p>
    <p>{$item.content}</p>
    <div class="photobox mt20">
        {foreach from=$item['img'] item=img}
        {if $img == ''}
        {else}
        <a href="{$img}" target="_blank"><img src="{$img}" width="50" height="50"></a>
        {/if}
        {/foreach}
    </div>
    <div class="photobox mt20">
        {if $item.revert ==''}

        {else}
        <p>{$langdata.business}</p>
        <p>{$item.revert}</p>
        {/if}
    </div>
</div>
{/foreach}


