<!DOCTYPE html>
<html>
    <head>
       <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        <!-- header end -->

        <!-- navs-box -->
        {include file="public/daohang.html"}

        <!-- navs-box end -->
        <div class="border"></div>
        <div class="container present-record">
            <!-- bread-box -->
            <div class="bread-box">
                <a href="?app=userCenter&act=myCenter&storeid={$storeid}&lang={$langid}&auxiliary={$auxiliary}">{$langdata.Personal_Center}</a>
                <i>»</i>
                <span class="or"> {$langdata.Jl_Record}</span>
            </div>
            <h1 class="title mb20 mt20 font24 normal">{$langdata.Jl_Record}</h1>
            <div class="bg-white tc totalbox font24 red">
                <p>{$langdata.Jl_Cumulative}</p>
                <p>({$symbol}){if empty($sum_money.money)} 0.00 {else} {$sum_money.money} {/if}</p>
            </div>
            <h2 class="font18 mb20 mt20 normal">{$langdata.Jl_This_month}</h2>
            {if !empty($this_data)}
            {foreach from=$this_data item=v}
            <div class="itembox">
                <p class="name">
                    <span>{$langdata.Jl_Single}</span>
                    {if $v.status == 2}
                    <span class="fr green ml30">{$langdata.Jl_Success}</span>
                    {else}
                    <span class="fr red ml30">{$langdata.Jl_fail}</span>
                    {/if}
                    <span class="fr">+{$v.apply_money}({$symbol})</span>
                </p>
                <p class="time">{$v.add_time|date_format:"%Y-%m-%d %H:%M "}</p>
            </div>
            {/foreach}
            {else}
            <div class="itembox">{$langdata.Jl_No}</div>
            {/if}
            <h2 class="font18 mb20 mt20 normal">{$langdata.Jl_Last_month}</h2>
            {if !empty($last_data)}
            {foreach from=$last_data item=v}
            <div class="itembox">
                <p class="name">
                    <span>{$langdata.Jl_Single}</span>
                    {if $v.status == 2}
                    <span class="fr green ml30">{$langdata.Jl_Success}</span>
                    {else}
                    <span class="fr red ml30">{$langdata.Jl_fail}</span>
                    {/if}
                    <span class="fr">+{$v.apply_money}({$symbol})</span>
                </p>
                <p class="time">{$v.add_time|date_format:"%Y-%m-%d %H:%M "}</p>
            </div>
            {/foreach}
            {else}
            <div class="itembox">{$langdata.Jl_No}</div>
            {/if}
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.myacc_Payment}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>
        {include file="public/footer.html"}
        {literal}
        <script type="text/javascript">
        </script>
        {/literal}
    </body>
</html>