<!DOCTYPE html>
<html>
    <head>
        <title>{$langdata.Personal_Center}</title>
        <meta charset="utf-8" />
        {include file="public/header.html"}
    </head>
    <body>
        <!-- header -->
        <!-- header end -->

        <!-- navs-box -->
        {include file="public/daohang.html"}

        <!-- navs-box end -->
        <div class="border"></div>

        <div class="container distribution-yongtx">
            <!-- bread-box -->
            <div class="bread-box">
                <a href="##">{$langdata.Yj_Administration}</a>
                <i>»</i>
                <span class="or"> {$langdata.yh_change}</span>
            </div>
            <h1 class="font24 normal">{$langdata.yh_change}</h1>
            <form data-type="ajax" action="?app=userCenter&act=doFxdiscount">
                <input type="hidden"  name="storeid"  value="{$storeid}" >
                <input type="hidden"  name="lang"  value="{$langid}" >
                <input type="hidden"  name="user_id"  value="{$fx_info.user_id}" >
                <input type="hidden"  name="auxiliary"  value="{$auxiliary}" >
                <input type="hidden"  name="old_discount"  value="{$fx_info.fx_discount}" >
                <input type="hidden"  name="rule_prop"  value="{$fx_rule.r_id}" >
                <div class="m-ultable mt30">
                    <ul class="m-ullist">
                        {if empty($has_log)}
                        <li class="clearfix">
                            <div class="item">
                                {$langdata.yh_share}{if empty($fx_rule.lev3_prop)} 0% {else} {$fx_rule.lev3_prop}% {/if}:
                            </div>
                            <div class="item">
                                {$langdata.yh_Discount}{if empty($fx_info.fx_discount)} 0% {else} {$fx_info.fx_discount}% {/if}:
                            </div>
                            <div class="item">
                                {$langdata.yh_Proportion} <input type="text" name="fx_discount" /> %
                            </div>
                            <div class="item">
                                {$langdata.yh_notes} <span class="red">*</span>{$langdata.yh_Commission}
                            </div>
                        </li>
                        {else}
                        <li class="clearfix">{$langdata.yh_Appeal}</li>
                        {/if}
                    </ul>
                </div>
                {if empty($has_log)}
                <div class="mt80 tc">
                    <button type="submit" class="btn btn-o inblock" style="padding: 0;outline: none">{$langdata.yh_Apply}</button>
                </div>
                {/if}
            </form>
            <!-- paypal -->
            <div class="payoptions">
                <h2><span>{$langdata.myacc_Payment}</span></h2>
                <div class="img">
                    <img src="{$STATIC_URL}/front/images/zhifu.png">
                    <img src="{$STATIC_URL}/front/images/paypal.png">
                    <img src="{$STATIC_URL}/front/images/weixin.png">
                </div>
            </div>
        </div>
        {include file="public/footer.html"}
        {literal}
        <script type="text/javascript">

        </script>
        {/literal}
    </body>
</html>