<form class="form-horizontal" id="form1"  action="admin.php?app=systemCity&act=edit">
    <input type="hidden" name="id" value="{$data.id}">
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"> {$language1->parent}： </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control" disabled name="name" value="{if $parent_info['name']}{$parent_info['name']}{else}无{/if}" >
            <input type="hidden" name="parent_id" value="{$parent_info['id']}">
            <input type="hidden" name="level" value="{$parent_info['level']}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-md-3 control-label"><span class="text-red">*</span> {$language1->city_name}： </label>
        <div class="col-sm-7 col-md-7">
            <input type="text" class="form-control"  placeholder="{$language1->city_name}"  name="name" value="{$data.name}" >
        </div>
    </div>
</form>