<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {$language1->city_list}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active">{$language1->city_list}</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <form class="form-inline col-sm-9 col-md-9 no-padding">
                                <div class="form-group form-group-sm form-mar">
                                    <input type='hidden' name='app' value='systemCity'>
                                    <input type='hidden' name='act' value='index'>
                                    <input type="hidden" name="delAll" value="drop">
                                </div>
                            </form>
                            <div class="col-sm-2  col-md-1 no-padding">
                                <a class="btn btn-primary pull-right btn-sm" href="javascript:;" data-id="0" onclick="add($(this))" ><i class="fa fa-plus"></i> {$language1->add_province}</a>
                            </div>
                        </div>
                        <div class="new-table-responsive">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th style="text-align:center;width: 10%">{$language2->serial_number}</th>
                                        <th style="width: 80%">{$language1->city_name}</th>
                                        <th style="text-align:center;width: 20%">{$language2->control}</th>
                                    </tr>
                                    </thead>
                                    <input type="hidden" id="img-path" value="{$STATIC_URL}">
                                    {foreach from=$cityData item=item key=key}
                                    <tr id="tr_{$item.id}" class="tr_{$item.id}">
                                        <td style="text-align:center">{$item.id}</td>
                                        <td>
                                            <img id="expandable_{$key}" src="{$STATIC_URL}/admin/images/tv-expandable.gif" ectype="flex" status="open" fieldid="{$item.id}" onClick="getChildsCity($(this))">
                                            <span>&nbsp;&nbsp;{$item.name}</span>
                                        </td>
                                        <!--<td>{$item.sort}</td>-->
                                        <td>
                                            <a href="javascript:void(0)" data-toggle="tooltip" data-id="{$item.id}" class="btn btn-xs btn-primary" onclick="add($(this))"  data-original-title="添加"><i class="fa fa-plus"></i> </a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;" onclick="edit('{$item.id}','{$item.parent_id}');"  data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"  onclick="drop('{$item.id}');"  data-original-title="删除">
                                                <i class="fa fa-times"></i></a>
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            {$page_html}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    {include file="public/footer.html"}
</div>
</body>
</html>
<script type="text/javascript">
    var add = '{$language1->add_city}';
    var edit = '{$language1->edit_city}';
    {literal}
    $(document).ready(function(){
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true,
            clearBtn: true,
            format: 'yyyy-mm-dd'

        });
        $('#datepicker2').datepicker({
            autoclose: true,
            clearBtn: true,
            format: 'yyyy-mm-dd'

        });
    });

    /*添加*/
    function add(obj) {
        var pid = obj.attr('data-id');
        dialog_form('?app=systemCity&act=edit&pid='+pid, add);
    }
    /*编辑*/
    function edit(id, pid) {
        dialog_form('?app=systemCity&act=edit&id=' + id+'&pid='+pid, edit)
    }
    /*删除*/
    function drop(id) {
        deletes('?app=systemCity&act=drop&id=' + id);
    }
    //指定下级
    function getChildsCity(obj){
        var status = obj.attr('status');
        var id 	   = obj.attr('fieldid');
        var static_path = $('#img-path').val();
        var pid    = obj.parent('td').parent('tr').attr('class');
        var src    = $(obj).attr('src');
        var path   = static_path+"/admin/images/";
        if (status == 'open') {
            var pr 		= $(obj).parent('td').parent('tr');
            var selfurl = '?app=api&act=getChild&id=' + id;
            var sr  	= pr.clone();
            var td2 	= sr.find('td:eq(1)');
            td2.prepend('<img class="preimg" src="'+ path +'vertline.gif"/>')
                .find('img[ectype="flex"]')
                .remove()
                .end()
                .find('span').remove();

            var td2html   = td2.html();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: selfurl,
                data: 'id='+id,
                success: function (data) {
                    var table = '';
                    if (data) {
                        for (var i = 0; i < data.length; i++) {
                            var img = '';
                            var add_city = '';
                            if (data[i].level < 3) {
                                add_city = '<a href="javascript:void(0)" data-toggle="tooltip" data-id="'+ data[i].id +'" class="btn btn-xs btn-primary" onclick="add($(this))" data-original-title="添加"><i class="fa fa-plus"></i></a> ';
                                img = '<img id="expandable_'+ data[i].id +'" src="'+ path +'tv-expandable.gif" ectype="flex" status="open" fieldid="'+ data[i].id +'" onclick="getChildsCity($(this))">';
                            } else {
                                img = '<img src="'+ path +'tv-item.gif">';
                            }

                            img = img + '<span class="node_name">&nbsp;&nbsp;' + data[i].name + '</span>';
                            table += '<tr class="'+ pid +' row'+ id +'" id="tr_'+ data[i].id +'">' +
                                '<td style="text-align:center">'+ data[i].id +'</td>' +
                                '<td class="node">'+ td2html+img +'</td>' +
                                //                                    '<td>'+ data[i].sort +'</td>' +
                                '<td>' + add_city +
                                '<a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-success edit-table" style="overflow: hidden; position: relative;" onclick="edit('+data[i].id+','+data[i].parent_id+')"  data-original-title="编辑"><i class="fa fa-pencil"></i></a> ' +
                                '<a href="javascript:void(0)" data-toggle="tooltip" title="" class="btn btn-xs btn-danger delete-table" style="overflow: hidden; position: relative;"  onclick="drop('+data[i].id+')"  data-original-title="删除"><i class="fa fa-times"></i></a></td>'+
                                '</tr>';
                        }
                        pr.after(table);
                        $('img[ectype="inline_edit"]').unbind('click');
                    }
                },
            });
            obj.attr('src', src.replace('tv-expandable','tv-collapsable'));
            obj.attr('status', 'close');
        }

        if (status == 'close') {
            $('.row' + id).hide();
            obj.attr('src', src.replace('tv-collapsable','tv-expandable'));
            obj.attr('status', 'open');
        }
    }
    {/literal}
</script>