<!DOCTYPE html>
<html>
<head>
    {include file="public/header.html"}
    <style>
        #cashBox {
            width: 200px;
            padding: 10px 0;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {include file="public/title.html"}
    <!-- Left side column. contains the logo and sidebar -->
    {include file="public/menu.html"}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {include file="public/headtab.html"}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                &nbsp;&nbsp;{$language1->amount_record}
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin.php?app=default&act=index"><i class="fa fa-dashboard"></i> {$language1->index}</a></li>
                <li class="active"><a href="admin.php?app=user&act=index&p={$p}">{$language1->member_list}</a></li>
                <li class="active">{$language1->amount_record}</li>
            </ol>

        </section>
        <!-- Main content -->
        <section class="content">
            <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-primary">
                        <!-- /.box-body -->
                        <div id="cashBox">
                            <div class="cash">
                                <span>{$language1->balance}:</span>
                                <span style="color:#00a900;font-size:16px">{$balance.amount}{$language2->yuan}</span>
                            </div>
                            <div style="clear:both"></div>
                            <a href="javascript:;" class="btn btn-default btn-sm" id="exportOrder">{$language1->export_data}</a>
                        </div>
                        <!--表格-->
                        <table class="table table-striped" style="margin-top:20px">
                            <thead>
                            <tr>
                                <th>{$language2->serial_number}</th>
                                <th>{$language1->order_numb}</th>
                                <th>{$language1->change_amount}</th>
                                <th>{$language1->amount_before}</th>
                                <th>{$language1->amount_after}</th>
                                <th>{$language1->recharge_rule}</th>
                                <th>{$language2->type}</th>
                                <th>{$language2->status}</th>
                                <th >{$language1->resource}</th>
                                <th>{$language2->operate_time}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach from=$info item=item}
                            <tr>
                                <td>{$item.sort}</td>
                                <td>{if $item.order_id}<a href="?app=orderList&act=details&order_id={$item.order_id}">{$item.order_sn}</a>{else}{$item.order_sn}{/if}</td>
                                <td style="color:{if $item.type == 2}red{else}#00a900{/if};font-size:16px">&nbsp;{$item.recharge_amount}</td>
                                <td style="color:{if $item.type == 2}red{else}#00a900{/if};font-size:16px">&nbsp;{$item.amount_before}</td>
                                <td style="color:{if $item.type == 2}red{else}#00a900{/if};font-size:16px">&nbsp;{$item.amount_after}</td>
                                <td>{$item.recharge_rule}</td>
                                <td>{$item.recharge_type}</td>
                                <td><span style="color:{if $item.status == 1 || $item.status == 3}red{else}#00a900{/if}">{$item.recharge_status}</span></td>
                                <td>{$item.source}</td>
                                <td>{$item.add_time}</td>
                                {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" name="id" id="id" value="{$id}" />
                </div>
                <div class="box-footer clearfix">
                    {$page_html}
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {include file="public/footer.html"}
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<script type="text/javascript">
    $("#exportOrder").click(function () {
        var url = "?app=user&act=exportBalance";
        var id = $('#id').val();
        if (id) {
            url += "&id=" + id;
        }
        location.href = url;

    });
</script>
</body>
</html>